<!--<html>-->
<!--<body>-->

<!--<a href="http://{{site}}/accounts/activate/{{activation_key}}/">to click</a>-->
 <!--</body>-->
 <!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
 {% load static %}
  <title>Atlancer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

  .container {
    margin: 0 auto;
    width: 640px;
  }
  p {
    word-break: break-all;
  }

  @media (max-width: 640px) {
  .container{width:90% !important; padding: 0 5%;}
  .white-box {padding: 20px !important;}
  }

  </style>

</head>

  <body style="background:#f5f8f9; margin:0;">

<div class="container">
  <table style="margin:auto;">

    <!--logo-space-->
    <tr style="text-align:center; margin: 30px auto; text-align: center;  width: 100%;">
        <td style="padding: 30px 0;text-align: center;">
          <a href="#"><img src="{{site}}{% static 'images/atlancer-logo.svg' %}" alt=""  style="max-width:100%;"/></a>
        </td>
    </tr>

    <!--text-content-->
    <tr class="" style=" width:100%; max-width:520px; border:1px solid #c6dbe9;  background:#fff; -webkit-box-shadow: 0px 0px 5px #c0c8ca;-moz-box-shadow: 0px 0px 5px #c0c8ca;box-shadow: 0px 0px 5px #c0c8ca;">
        <td class="white-box" style="padding:60px;">

          <p style="color:#707070; font:16px/26px arial; text-align:justify; word-break: break-all;">
          Dear {{firstname}} ,<br />
          Welcome to Atlancer ! In order to get full access on your account in Atlancer
          we would like to click the link bellow to verify your email
          </p>

          <!--verify link-->
          <p style="text-align:center; word-break: break-all;"> <a href="http://{{site}}/companyactivate/{{token}}" style="margin:40px auto; text-decoration:none; font:600 16px/26px arial;color:#107bc7; border:2px solid #107bc7; display:inline-block; padding:10px 30px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;"> Verify your email address</a> </p>

          <p style="color:#707070; font:16px/26px arial; word-break: break-all;">
            You can also copy and paste below link to your browser if the above button does not works :</p>

            <p>
              <a href="http://{{site}}/companyactivate/{{token}}" style="color:#107bc7; display:inline-block; margin:25px 0; font:15px/22px arial; background:#ecf8fc; padding:10px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">http://{{site}}/companyactivate/{{token}}/</a>
            </p>

            <p style="color:#707070; font:16px/26px arial; word-break: break-all;">
            Thanks for joining Atlancer! You will enjoy working with us.<br /><br />

            Sincerely,<br />
            <span style="color:#107bc7; font:600 20px/26px arial;" >Atlancer</span><br />
            <span style="font:600 16px/26px arial;" >  www.atlancer.com </span>
            </p>
          </td>
          <!--text-content ends here-->
        </tr>

        <tr>
          <td>
          <p style="color: #494949; font: 600 16px/25px arial; margin: 35px 0 0; text-align: center;"> Need help? Contact us </p>

             <!--social- icons-->
          <table style="margin: 20px auto; padding: 0; text-align: center; list-style:none;">
            <tr>
            <td style="display:inline-block;">
              <a style="background: #4493cb url('http://{{site}} {% static 'images/twitter-icon.svg' %}') repeat scroll -2px 38px;border-radius: 50%;display: inline-block;height: 35px; margin: 0 5px; width: 35px;"> </a>
            </td>
            <td style="display:inline-block;">
              <a style="background: #4493cb url('http://{{site}}{% static 'images/instagram-icon.svg' %}') repeat scroll -2px 38px;border-radius: 50%;display: inline-block;height: 35px; margin: 0 5px; width: 35px;"> </a>
            </td>
            <td style="display:inline-block;">
              <a style="background: #4493cb url('http://{{site}}{% static 'images/pininterst-icon.svg' %}') repeat scroll -2px 38px;border-radius: 50%;display: inline-block;height: 35px; margin: 0 5px; width: 35px;"> </a>
            </td>
            <td style="display:inline-block;">
              <a style="background: #4493cb url('http://{{site}}{% static 'images/facebook-icon.svg' %}') repeat scroll -2px 38px;border-radius: 50%;display: inline-block;height: 35px; margin: 0 5px; width: 35px;"> </a>
            </td>
            <td style="display:inline-block;">
              <a style="background: #4493cb url('http://{{site}}{% static 'images/g-plus-icon.svg' %}') repeat scroll -2px 38px;border-radius: 50%;display: inline-block;height: 35px; margin: 0 5px; width: 35px;"> </a>
            </td>
          </tr>
          </table>

          <!--copyright-->
          <p style=" color: #777; font: 15px/25px arial;text-align: center;">
            © 2014 Atlancer, Inc. | 2505 santa monica. Los Angeles, CA 94043 <br /> Terms of Service | Privacy Policy | All Rights Reserved.
          </p>

          <p style="text-align: center; height: 25px; width: 100%; max-width: 320px; margin: 0px auto 50px;">
              <label style="text-align: left; background-image: url('http://{{site}}{% static 'images/phone-icon.svg' %}' ); background-repeat: no-repeat; float: left; padding: 0px 15px 0px 23px; color: rgb(73, 73, 73); font: 14px/15px arial; margin: 0px 10px 0px 0px;"> + (0471) 4013112
              </label>

              <label style="text-align: left; background-repeat: no-repeat; background-image: url('{{STATIC_URL}}images/mail-icon.svg'); color: rgb(73, 73, 73); font: 14px/15px arial; float: right; margin: 0px 0px 0px 10px; padding: 0px 0px 0px 30px;"> info@atlancer.com
              </label>
          </p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>