
{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}

   <link rel="stylesheet" href="{% static 'css/create-profile.css' %}">
{% endblock %}
 {% block content %}
 <!--login form-->
    <section class="login-cover full-strip" id="login-cover">
      <div class="login-form-cover activation-message-cover">
	  <div class=" form-cover">
	  	  	<span class="fail-icon"></span>
			<!--p>The activation key "{{ activation_key }}" is invalid and cannot be used to activate this account.</p-->
           <p>The account already activated.</p>
      </div>
	  </div>
    </section>
    <!--login form ends here-->
 {% endblock %}