

{% extends 'base.html' %}
{% block extra_html %}
<div class="search-strip">
          <div class="container">
            <div class="top-search-form">
              <input type="text" id="search-box" value="search freelancers" placeholder="" />
              <ul class="search-dropdown">
                <li class="search-freelancers">search freelancers</li>
                <li class="search-freelancers">search Jobs</li>
              </ul>
              <div class="search-buttons-cover">
              <span class="search-drop-button"></span>
             <input type="button" value="search">
            </div>
            </div>
          </div>
      </div>
{% endblock %}

{% load staticfiles%}
{% block content %}
{% block style %}

     <!--fonts cdns-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700,900|Sintony:400,700" rel="stylesheet">



{% endblock %}


<!--login form-->
    <section class="login-cover full-strip" id="login-cover">
      <div class="login-form-cover">
          <div class="form-cover">

          <div class="status-message "  >
          <p id="messageStatus"></p>
          <a href="#" onclick="HideDisplayMessage()" class="close"></a>
        </div>


          <h2 class="form-title">Reset Password</h2>
          <p class="form-description"> It's the simplest and safest way to get work done online.  </p>

          <form role="form" id="reset" novalidate action="" method="post">

              {% csrf_token %}
              <!--{{form}}-->
              <div class="field-row">

                    {{ form.new_password1 }}
                      <span class="errors_new_password1 error"></span>
                  <!--{{ form.new_password1.errors }}-->
                  <!--<input type="text" name="email" placeholder="Email"  />-->

              </div> <div class="field-row">

                    {{ form.new_password2 }}
                  <!--{{ form.new_password2.errors }}-->
               <span class="errors_new_password2 error"></span>
                  <!--<input type="text" name="email" placeholder="Email"  />-->

              </div>


              <button type="button" onclick="Reset()" class="light-blue-border-button loading" >Submit</button>
              <!--<input type="submit">-->
            </form>

            <p> Don't have an account?  <a href="{% url 'index:register' %}" class="sign-up-link"> SIGN UP </a> </p>
      </div>
        </div>
    </section>

<!--{% if messages %}-->
    <!--<ul class="messages">-->
        <!--{% for message in messages %}-->
        <!--<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
        <!--{% endfor %}-->
        <!--{% endif %}-->
    <!--</ul>-->

    <!--&lt;!&ndash; Form rendering code for template &ndash;&gt;-->
    <!--<form action="" method="post">-->

        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->

        <!--<input type="submit" value="Submit" />-->
    <!--</form>-->

<script>
function Reset(){
     $('.loading').addClass('has-loader has-input-loader');
     $('.loading').append('<div class="spinner-loader"></div><div class="loading-pulse-bg"></div>');

        $.ajax({
        url : ".", // the endpoint
        type : "POST", // http method
        data : $('#reset').serialize(), // data sent with the post request

        // handle a successful response
        success : function(data) {
           if(data.status=='failed'){
                if(data.data !=''){
                $(".error").hide();
                $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Submit');

                $.each(data.data, function( index, value ) {
                   $(".errors_"+index).show();
                  $(".errors_"+index).html('<ul class="errorlist"><li>'+value+'</li></ul>');
                  console.log("#errors_"+index);

                  //$(".errors_"+index).delay(5500).fadeOut('slow');

                });
                }else{
                $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Submit');

             //$("#success").html(data.message);
              localStorage.setItem('status_msg_company', 'true');
             var text =data.message;

              DisplayMessage('failed',text);
                }

           }else{
             $("#success").show();
              $(".error").hide();
             $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Submit');

             //$("#success").html(data.message);
              localStorage.setItem('status_msg_company', 'true');
             var text =data.message;

              DisplayMessage('success',text);



             $('#reset')[0].reset();
             //$("#success").delay(5500).fadeOut('slow');
           }
        }
    });
    }
    function DisplayMessage(classs,text){
 if(localStorage.getItem('status_msg') == 'true' || localStorage.getItem('status_msg_company') == 'true'){
  pos = $(".status-message").offset().top;
 $("html,body").animate({scrollTop:pos-300}, 1000);
        $(".status-message").removeClass('failed');
        $(".status-message").removeClass('success');
        $(".status-message").addClass(classs);
        $("#messageStatus").html(text);
        localStorage.setItem('status_msg', 'false');
         localStorage.setItem('status_msg_company', 'false');
        $(".status-message").fadeIn('fast');
        setTimeout(function(){
             $(".status-message").fadeOut();
            // location.reload();

        }, 3000);

        }
}
    </script>
 {% endblock %}