
{% extends 'base.html' %}

{% block extra_html %}
<div class="search-strip">
          <div class="container">
            <div class="top-search-form">
              <input type="text" id="search-box" value="search freelancers" placeholder="" />
              <ul class="search-dropdown">
                <li class="search-freelancers">search freelancers</li>
                <li class="search-freelancers">search Jobs</li>
              </ul>
              <div class="search-buttons-cover">
              <span class="search-drop-button"></span>
             <input type="button" value="search">
            </div>
            </div>
          </div>
      </div>
{% endblock %}

{% load staticfiles%}
{% block content %}
{% block style %}

        <!--fonts cdns-->
<style>
		.loader-input {
		  border: 2px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 2px solid #107bc7;
		  border-right: 2px solid #107bc7;
		  border-bottom: 2px solid #cccccc;
		  border-left: 2px solid #cccccc;
		  width: 17px;
		  height: 17px;
		  position: absolute;
		  top: 10px;
		  right: 10px;
		  -webkit-animation: spin 0.5s linear infinite;
		  animation: spin 0.5s linear infinite;
		  display: none;
		}
		.has-input-loader{
		    position: relative;
		}
		.has-input-loader .loader-input{
			display: block;

		}
		.has-loader.has-input-loader .loader-input{
			top: 12px;
			right: 50%;
			margin-right: -10px;
			z-index: 3;
		}
		.loader {
		  border: 3px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 3px solid #5cbc63;
		  border-bottom: 3px solid #5cbc63;
		  width: 31px;
		  height: 31px;
		  margin: 0 auto;
		  -webkit-animation: spin 2s linear infinite;
		  animation: spin 2s linear infinite;
		  margin-bottom: 5px;
		}

		.block_overflow{
			overflow: hidden;
		}
        .loading-pulse-bg{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(255,255,255, 0.85);
        }
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}
		.main-box.hide-x{
			overflow-x: hidden !important;
		}
		@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  position: absolute;
  left: 50%;
  top: 18px;

  z-index: 2;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 51, 0.05) 1.0em 0 0 0, rgba(0, 0, 51, 0.1) 0.71em 0.71em 0 0, rgba(0, 0, 51, 0.2) 0 1.0em 0 0, rgba(0, 0, 51, 0.3) -0.71em 0.71em 0 0, rgba(0, 0, 51, 0.35) -1.0em 0 0 0, rgba(0, 0, 51, 0.4) -0.71em -0.71em 0 0, rgba(0, 0, 51, 0.45) 0 -1.0em 0 0, rgba(0, 0, 51, 0.5) 0.71em -0.71em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 0.5em;
  height: 0.5em;
  margin-left: -3px;
  overflow: hidden;
  text-indent: 100%;
}
		</style>
    <link href="https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700,900|Sintony:400,700" rel="stylesheet">




{% endblock %}


<!--login form-->
    <section class="login-cover full-strip" id="login-cover">
      <div class="login-form-cover">
          <div class="form-cover">

          <div class="status-message "  >
             <p id="messageStatus">

             </p>
            <a href="#" onclick="HideDisplayMessage()" class="close"></a>
           </div>

          <h2 class="form-title">Forgot Password</h2>
          <p class="form-description"> It's the simplest and safest way to get work done online.  </p>
         <!--{% if messages %}-->
        <!--<ul class="messages">-->
            <!--{% for message in messages %}-->
            <!--<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
            <!--{% endfor %}-->

        <!--</ul>-->
      <!--{% endif %}-->
          <form role="form" id="reset" novalidate action="" method="post">

              {% csrf_token %}
              <!--{{form}}-->
              <div class="field-row">

                    {{ form.email_or_username }}
                  <!--{{ form.email_or_username.errors }}-->
                  <span class="errors_email_or_username error"></span>
                  <!--<input type="text" name="email" placeholder="Email"  />-->

              </div>


              <button type="button" onclick="Reset()" class="light-blue-border-button loading">Submit</button>
              <!--<input type="submit">-->
            </form>

            <p> Don't have an account?  <a href="{% url 'index:register' %}" class="sign-up-link"> SIGN UP </a> </p>
      </div>
        </div>
    </section>

    <!--login form ends here-->
   <!--{% if messages %}-->
    <!--<ul class="messages">-->
        <!--{% for message in messages %}-->
        <!--<li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
        <!--{% endfor %}-->
        <!--{% endif %}-->
    <!--</ul>-->

    <!--&lt;!&ndash; Form rendering code for template &ndash;&gt;-->
    <!--<form action="" method="post">-->

        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->

        <!--<input type="submit" value="Submit" />-->
    <!--</form>-->
<script>
function Reset(){
     $('.loading').addClass('has-loader has-input-loader');
     $('.loading').append('<div class="spinner-loader"></div><div class="loading-pulse-bg"></div>');

        $.ajax({
        url : "{% url 'index:reset_password' %}", // the endpoint
        type : "POST", // http method
        data : $('#reset').serialize(), // data sent with the post request

        // handle a successful response
        success : function(data) {
           if(data.status=='failed'){
                if(data.data !=''){
                $(".error").hide();
                $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Submit');

                $.each(data.data, function( index, value ) {
                   $(".errors_"+index).show();
                  $(".errors_"+index).html('<ul class="errorlist"><li>'+value+'</li></ul>');
                  console.log("#errors_"+index);

                  //$(".errors_"+index).delay(5500).fadeOut('slow');

                });
                }else{
                $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Submit');

             //$("#success").html(data.message);
              localStorage.setItem('status_msg_company', 'true');
             var text =data.message;

              DisplayMessage('failed',text);
                }

           }else{
             $("#success").show();
              $(".error").hide();
             $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Submit');

             //$("#success").html(data.message);
              localStorage.setItem('status_msg_company', 'true');
             var text =data.message;

              DisplayMessage('success',text);



             $('#reset')[0].reset();
             //$("#success").delay(5500).fadeOut('slow');
           }
        }
    });
    }
    function DisplayMessage(classs,text){
 if(localStorage.getItem('status_msg') == 'true' || localStorage.getItem('status_msg_company') == 'true'){
  pos = $(".status-message").offset().top;
 $("html,body").animate({scrollTop:pos-300}, 1000);
        $(".status-message").removeClass('failed');
        $(".status-message").removeClass('success');
        $(".status-message").addClass(classs);
        $("#messageStatus").html(text);
        localStorage.setItem('status_msg', 'false');
         localStorage.setItem('status_msg_company', 'false');
        $(".status-message").fadeIn('fast');
        setTimeout(function(){
             $(".status-message").fadeOut();
            // location.reload();

        }, 3000);

        }
}
    </script>
 {% endblock %}
