 {% extends 'base.html' %}
{% block extra_html %}
<div class="search-strip">
          <div class="container">
            <div class="top-search-form">
              <input type="text" id="search-box" value="search freelancers" placeholder="" />
              <ul class="search-dropdown">
                <li class="search-freelancers">search freelancers</li>
                <li class="search-freelancers">search Jobs</li>
              </ul>
              <div class="search-buttons-cover">
              <span class="search-drop-button"></span>
             <input type="button" value="search">
            </div>
            </div>
          </div>
      </div>
{% endblock %}

{% load staticfiles%}
{% block content %}
{% block style %}

     <!--fonts cdns-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700,900|Sintony:400,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/create-profile.css' %}">


{% endblock %}
 <!--login form-->
    <section class="login-cover full-strip" id="login-cover">
      <div class="login-form-cover">
	  <div class=" form-cover">
          <div class="status-message ">
            <p id="messageStatus">Success Message will goes here </p>
            <a href="#" onclick="HideDisplayMessage()" class="close"></a>
         </div>
          <h2 class="form-title">Activate Account</h2>
          <p class="form-description"> It's the simplest and safest way to get work done online. </p>

          <form id="UpdateSave">
              {% csrf_token %}
              <div class="field-row">
			  <div class="grid-50  padding-right-5">
                  <input type="hidden"  name="method" value="Update_Client_Company_User">
				   <h3 class="form-label-blue">First Name</h3>
                   <input type="text" class="name" data-name="First Name" placeholder="First Name"  name="first_name"/>
                  <span class="error_msg error errors_first_name"></span>
              </div>
			  <div class="grid-50  padding-left-5">
			  	  <h3 class="form-label-blue">Last Name</h3>
                  <input type="text" placeholder="Last Name"  class="name" data-name="Last Name" name="last_name" />
                  <span class="error_msg error errors_last_name"></span>
              </div>
			 </div>
			  <div class="field-row">
			  <div class="grid-50  padding-right-5">
				   <h3 class="form-label-blue">Password</h3>
                   <input type="password" placeholder="Password"  class="password passwords" data-name="Password" name="password1"  />
			       <span class="error_msg error errors_password1"></span>
              </div>
			  <div class="grid-50  padding-left-5">
			  	  <h3 class="form-label-blue">Confirm Password</h3>
                  <input type="password" placeholder="Confirm Password" name="password2" class="password cpasswords" data-name="Confirm Password" />
                   <span class="error_msg error errors_password2"></span>
              </div>
			 </div>


              <button type="button" onclick="Save()"class="light-blue-border-button">Save</button>
            </form>
      </div>
	  </div>
    </section>
    <!--login form ends here-->
<!--<form id="UpdateSave">-->
    <!--{% csrf_token %}-->
    <!--<span>First Name</span><br>-->
    <!--<input type="hidden"  name="method" value="Update_Client_Company_User">-->
    <!--<span class="error_msg"></span><br>-->
    <!--<input type="text"class="name" data-name="First Name" placeholder="First Name"  name="first_name"/>-->
    <!--<span class="error_msg"></span><br>-->
    <!--<span>Last Name</span><br>-->
    <!--<input type="text" placeholder="Last Name"  class="name" data-name="Last Name" name="last_name"/>-->
    <!--<span class="error_msg"></span><br>-->
    <!--<span>Password</span><br>-->
    <!--<input type="password" placeholder="Password"  class="password passwords" data-name="Password" name="password"/>-->
    <!--<span class="error_msg"></span><br>-->
    <!--<span>Confirm Password</span><br>-->
    <!--<input type="password" placeholder="Password" class="password cpasswords" data-name="Confirm Password" />-->
    <!--<span class="error_msg"></span><br>-->
    <!--<input type="button" value="Save" onclick="Save()">-->
<!--</form>-->
<script src="{% static 'scripts/jquery.js' %}"></script>
<script>
    $(document).ready(function(){
                 <!--$('.name').blur(function(){-->


                     <!--var letters = /^[a-zA-Z\s]+$/;-->
                     <!--var name =$(this).val();-->
                      <!--var field =$(this).data("name");-->
                      <!--$(this).next('.error_msg').text('');-->

                     <!--if(!name.match(/^[a-zA-Z\s]+$/) || $(this).val().length === 0  ){-->

                     <!--$(this).next('span.error_msg').addClass('check_error');-->
                     <!--$(this).next('span.error_msg').html('<ul class="errorlist"><li>Enter Valid '+$(this).data("name")+'</li></ul>');-->
                     <!--//$(this).focus();-->
                     <!--localStorage.setItem('status', 'true');-->
                     <!--}else{-->
                      <!--$(this).next('span.error_msg').removeClass('check_error');-->
                      <!--localStorage.setItem('status', 'false');-->
                     <!--}-->

                <!--});-->
                <!--$('.password').blur(function(){-->


                     <!--var letters = /^[a-zA-Z\s]+$/;-->
                     <!--var name =$(this).val();-->
                      <!--var field =$(this).data("name");-->
                      <!--$(this).next('.error_msg').text('');-->

                     <!--if( $(this).val().length === 0  ){-->

                     <!--$(this).next('span.error_msg').addClass('check_error');-->
                     <!--$(this).next('span.error_msg').html('<ul class="errorlist"><li>Enter Valid '+$(this).data("name")+'</li></ul>');-->
                     <!--//$(this).focus();-->
                     <!--localStorage.setItem('status', 'true');-->
                     <!--}else{-->
                      <!--$(this).next('span.error_msg').removeClass('check_error');-->
                      <!--localStorage.setItem('status', 'false');-->
                     <!--}-->

                <!--});-->
                <!--$('.cpasswords').blur(function(){-->


                     <!--var letters = /^[a-zA-Z\s]+$/;-->
                     <!--var name =$(this).val();-->
                      <!--var field =$(this).data("name");-->
                      <!--$(this).next('.error_msg').text('');-->

                     <!--if($(this).val() != $('.passwords').val() ){-->


                     <!--$(this).next('span.error_msg').addClass('check_error');-->
                     <!--$(this).next('span.error_msg').html('<ul class="errorlist"><li> Enter Correct Password</li></ul>');-->
                     <!--//$(this).focus();-->
                     <!--localStorage.setItem('status', 'true');-->
                     <!--}else{-->
                      <!--$(this).next('span.error_msg').removeClass('check_error');-->
                      <!--localStorage.setItem('status', 'false');-->
                     <!--}-->

                <!--});-->
    });
    function Save(){
        //$('.name').blur();
        //$('.password').blur();
        //$('.cpasswords').blur();
        localStorage.setItem('status', $("span.error_msg" ).hasClass( "check_error" ));
        if(localStorage.getItem('status') == 'false'){
       $.ajax({
                 url : "{% url 'index:companyactivate' token %}", // the endpoint
                 type : "POST", // http method
                 data : $('#UpdateSave').serialize(),

                 // handle a successful response
                 success : function(data) {
                    if(data.status=='failed'){
                    $(".error").hide();
                    if(data.type=='validation'){
                   $.each(data.data, function( index, value ) {
                       $(".errors_"+index).show();
                      $(".errors_"+index).html('<ul class="errorlist"><li>'+value+'</li></ul>');
                      console.log("#errors_"+index);

                      //$(".errors_"+index).delay(5500).fadeOut('slow');

                   });
                   }else{

                      var text ="Token Expired";
          localStorage.setItem('status_msg_company', 'true');
          DisplayMessage('failed',text);
          }

                    }else{

                    var text ="Successfully Updated";
          localStorage.setItem('status_msg_company', 'true');
          DisplayMessage('success',text);
          setTimeout(function(){
             $('#UpdateSave')[0].reset();

          }, 3000);

                   }
                 }
             });
             }
    }
    function DisplayMessage(classs,text){
 if(localStorage.getItem('status_msg') == 'true' || localStorage.getItem('status_msg_company') == 'true'){
  pos = $(".status-message").offset().top;
 $("html,body").animate({scrollTop:pos-300}, 1000);
        $(".status-message").removeClass('failed');
        $(".status-message").removeClass('success');
        $(".status-message").addClass(classs);
        $("#messageStatus").html(text);
        $(".status-message").fadeIn('fast');
        setTimeout(function(){
             $(".status-message").fadeOut();
            // location.reload();
            localStorage.setItem('status_msg', 'false');
            localStorage.setItem('status_msg_company', 'false');
        }, 3000);

        }
}
</script>
 {% endblock %}