<!-- loggined-person-covers -->
            {% if request.user.is_authenticated and request.user.user_type != 'Site_admin' and not request.user.is_superuser %}
          <div class="loggined-person-covers drop-down-cover">
            <div class="drop-menu-link">
            <a href="#" class="loggined-person">{{request.user.first_name}} {{request.user.last_name}}<i></i></a>
            <div class="loggined-view-cover drop-menu">

              <div class="ac-content">
                <h4>Client Account</h4>
                <div class="ac-row-cover">
                  <div class="ac-row-inner">
                  <div class="ac-row">

                      {% if  request.user.client_user_detail.get.profile %}
                      <div class="ac-row-image">
                    <img src="{{ request.user.client_user_detail.get.profile.url}}" />
                          </div>
                    {% else %}
                      <div class="ac-row-image add-image">
                    <!--<img src="{% static 'images/profile-image.jpg' %}" />-->
                      </div>
                     {% endif %}

                    <div class="ac-row-info">



                        {% if request.user.client_user_detail.all  %}
                    <a {% if request.user.client_user_detail.all and request.user.get_client_company_intance.user.invite_type == 'OWNER'%} onclick="ActivateFreelancer(this)"  data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}"  data-activate="client" data-urls="{% url 'client:clientprofile' %}" {% else %}href="{% url 'client:clientprofile' %}" {%endif %} >  <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                        <span>Client Account</span></a>
                        {% else %}
                        <div class="ac-row-info">

                            <a {% if   request.user.get_client_company_intance.logo or request.user.get_freelancer_company_intance.user.freelancer_company_user.get  %} {% if request.user.get_client_company_intance.user.invite_type == 'OWNER' or request.user.invite_type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-activate="client" data-role="freelancer" data-urls="{% url 'client:clientprofile' %}" {% endif  %}{% endif  %}class="add-profile">Add Client Account</a>
                          </div>

                        {% endif %}
                    </div>
                  </div>
                  <div class="ac-row">

                              {% if request.user.get_client_company_intance.logo %}
                       <div class="ac-row-image ">
                               <img src="{{ request.user.get_client_company_intance.logo.url}}" />
                                </div>
                              {% else %}
                              <div class="ac-row-image add-image"></div>

                              {% endif %}


                          <div class="ac-row-info">

                               {% if request.user.client_user_detail.all or  request.user.get_client_company_intance.logo %}
                              {% if request.user.get_client_company_intance  %}
                                <a  {% if request.user.get_client_company_intance.user.invite_type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all or request.user.user_type == 'FREELANCER'  %}freelancer{%else %}client{% endif %}" data-activate="client" data-urls="{% url 'client-company:clientcompanyview' %}"{% else %} href="{% url 'client-company:clientcompanyview' %}"{%endif %} ><p>{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% endif %}</p> </a>
                              {% else %}

                            <a {% if request.user.client_user_detail.get  and request.user.client_user_detail.get.user.invite_type == 'OWNER'  %} data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="client" data-urls="{% url 'client-company:clientcompany' %}" {% else %} {%endif %}  class="add-profile">Add Client Company</a>
                            {% endif %}
                              {% else %}
                               <a {% if   request.user.get_client_company_intance.logo or request.user.get_freelancer_company_intance.user.freelancer_company_user.get  %} {% if request.user.get_client_company_intance.user.invite_type == 'OWNER' or user.invite_type == 'OWNER'%} onclick="ActivateFreelancer(this)" data-activate="client" data-role="freelancer" data-urls="{% url 'client:clientprofile' %}" {% endif  %}{% endif  %}class="add-profile">Add Client Company</a>


                               {% endif %}

                          </div>
                        </div>
                  </div>
                </div>
              </div>

              <div class="ac-content">
                  <h4>Freelancers Account</h4>
                  <div class="ac-row-cover">
                    <div class="ac-row-inner">
                    <div class="ac-row">
                        {% if  request.user.user_detail.get.profile %}
                      <div class="ac-row-image">
                    <img src="{{ request.user.user_detail.get.profile.url}}" />
                          </div>
                    {% else %}
                      <div class="ac-row-image add-image">
                    <!--<img src="{% static 'images/profile-image.jpg' %}" />-->
                      </div>
                     {% endif %}

                        <div class="ac-row-info">
                        {%  if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all %}
                    <a {% if request.user.client_user_detail.get %}  data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer:freelancerprofileview' %}" {% else %} href="{% url 'freelancer:freelancerprofileview' %}" {%endif %}   >  <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                        <span>Freelancer Account</span></a>
                        {% else %}
                        <div class="ac-row-info">

                            <a {% if request.user.client_user_detail.get and request.user.client_user_detail.get.user.invite_type == 'OWNER' or   request.user.get_freelancer_company_intance.user.freelancer_company_user.get.user.invite_type == 'OWNER' %} data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer:freelancerprofile' %}" {%else %} {% if request.user.client_user_detail.get.user.invite_type == 'OWNER' %} href="{% url 'freelancer:freelancerprofile' %}"{%endif %} {%endif %}   class="add-profile">Add Freelancer Account</a>
                          </div>

                        {% endif %}
                    </div> </div>
                        <div class="ac-row">
                               {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo %}
                              <div class="ac-row-image ">
                               <img src="{{ request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo.url}}" />
                                </div>
                              {% else %}
                              <div class="ac-row-image add-image"></div>

                              {% endif %}
                            <div class="ac-row-info">
                                {%  if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all or request.user.get_freelancer_company_intance.user.freelancer_company_user.get %}
                                {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get or  request.user.get_client_company_intance.user.freelancer_company_user.get  or request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get or request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get %}
                                <a {% if request.user.client_user_detail.get or   request.user.get_freelancer_company_intance.user.freelancer_company_user.get.user.invite_type == 'OWNER'%} onclick="ActivateFreelancer(this)" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" data-activate="freelancer" data-urls="{% url 'freelancer-company:freelancercompanyview' %}" {% else %} href="{% url 'freelancer-company:freelancercompanyview' %}" {%endif %} ><p>{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name %} {{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name}}{% endif %}</p> </a>
                              {% else %}
                            <a {% if request.user.client_user_detail.get  %} onclick="ActivateFreelancer(this)" data-activate="freelancer" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" data-urls="{% url 'freelancer-company:freelancercompany' %}" {% else %} href="{% url 'freelancer-company:freelancercompany' %}" {%endif %}  class="add-profile">Add Freelancer Company</a>
                              {% endif %}
                                {% else %}


                            <a {% if request.user.client_user_detail.get and request.user.client_user_detail.get.user.invite_type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-activate="freelancer" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" data-urls="{% url 'freelancer:freelancerprofile' %}"  {%else %} {% if request.user.client_user_detail.get.user.invite_type == 'OWNER' %} href="{% url 'freelancer:freelancerprofile' %}"{% endif %}{% endif %}class="add-profile">Add Freelancer Company</a>

                                {% endif %}
                          </div>


                        </div>



                      <!--<div class="ac-row-image add-image">-->
                      <!--</div>-->
                      <!--<div class="ac-row-info">-->
                        <!--<a href="#" class="add-profile">Add Freelancers Account</a>-->
                      <!--</div>-->


                  </div>
                  </div>
              </div>
              <div class="action-cover">
                <a href="{% url 'logout' %}" class="logout">Logout</a>
                <a  class="settings">Settings</a>
              </div>
            </div>
          </div>
          </div>
             {% endif %}
          <!-- loggined-person-covers -->