{% extends 'base.html' %}
{% block extra_html %}
<div class="search-strip">
          <div class="container">
            <div class="top-search-form suggestCon">
              <input type="text" id="search-box"  value="Seach Freelancers" placeholder="" />
              <ul class="search-dropdown ">
                <li class="search-freelancers">search freelancers</li>
                <li class="search-freelancers">search Jobs</li>
              </ul>
              <div class="search-buttons-cover">
              <span class="search-drop-button"></span>
              <input type="button" value="search">
            </div>
            </div>
          </div>
      </div>
{% endblock %}
{% block content %}
{% load staticfiles%}
{% block style %}

     <!--fonts cdns-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700,900|Sintony:400,700" rel="stylesheet">



{% endblock %}

<main role="main" class="ng-scope">
  <section>
    <div class="slider">
          <div class="container">


            <div class="verified-seal"> </div>

            <div class="grid-50 pull-right">
              <h1>Atlancer</h1>
              <h2>The best people in their finest hour</h2>
              <p>
                Millions of small businesses use djangoteam.com to turn<br>
                their ideasinto reality. Need to get work done?
              </p>
              <a href="{% url 'index:login' %}" class="slider-action">HIRE NOW</a>
              <a href="{% url 'index:login' %}" class="slider-action">FOR WORK</a>
            </div>


          </div>

        </div>
  </section>

</main>

    <!--&lt;!&ndash;count-strip&ndash;&gt;-->
      <!--<section class="count-strip">-->
          <!--<div class="container">-->
        <!--<div class="grid-33 count-single-cover border">-->
        <!--<label>-->
              <!--<h4>450 +</h4>-->
              <!--<p>Users Online</p>-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="grid-33 count-single-cover border">-->
          <!--<label>-->
              <!--<h4>250 +</h4>-->
              <!--<p>Jobs</p>-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="grid-33 count-single-cover">-->
            <!--<label>-->
              <!--<h4>600 +</h4>-->
              <!--<p>Registered Developers</p>-->
        <!--</label>-->
        <!--</div>-->
      <!--</div>-->
   <!--</section>-->
<section class="count-strip">
    <div class="container">
        <div class="grid-33 count-single-cover border">
            <div class="count-single-cover-child">
                <h4>{{online}} +</h4>
                <p>Users Online</p>
            </div>
        </div>
        <div class="grid-33 count-single-cover border">
            <div class="count-single-cover-child">
                <h4>{{jobs}} +</h4>
                <p>Jobs</p>
            </div>
        </div>
        <div class="grid-33 count-single-cover">
            <div class="count-single-cover-child">
                <h4>{{users}} +</h4>

                <p>Registered Developers</p>
            </div>
        </div>
    </div>
</section>


  <section class="video-tour full-strip" id="video-tour-cover" >
    <div class="container">
      <div class="grid-row">
          <div class="grid-40">
            <h3>WORK STARTS WITH</h3>
            <h2>GREAT TALENTS</h2>
          </div>
          <div class="grid-60">
              <p>Post your project and receive competitive bids from freelancers within minutes.<br />
              Our reputation system will make it easy to find the perfect freelancer for your job.<br />
              It's the simplest and safest way to get work done online. </p>
          </div>
          </div>

          <div class="video-tour-inner full-strip">

            <div class="video-inner-cover full-strip">
              <iframe width="725" height="430" src="https://www.youtube.com/embed/504oNN51wmE" frameborder="0" allowfullscreen></iframe>
            </div>

                  <a href="{% url 'index:login' %}" class="blue-bordered-button">
                      Signup as a freelancer
                  </a>
            </div>



    </div>
  </section>



  <!--category-strip-->
  <section class="category-strip full-strip">
    <div class="container">

      <article>
        <h2 class="article-header">WORK WITH <span>PERFECT</span></h2>
        <p class="article-text">
          We work with the motive to help individuals and companies advertise their jobs and find <br />
          able developersto get your work done!
        </p>
      </article>


      <div class="category-cover">

          <div class="category-icon web-developer grid-25 grid-sm-25">
            <i></i>
            <p>
              Web Developers
            </p>
            <a href="" class="click-here">click here</a>
          </div>

          <div class="category-icon creative-designer grid-25 grid-sm-25">
            <i></i>
            <p>
              Creative Designers
            </p>
            <a href="" class="click-here">click here</a>
          </div>


          <div class="category-icon mobile-developer grid-25 grid-sm-25">
            <i></i>
            <p>
              Mobile Developer
            </p>
            <a href="" class="click-here">click here</a>
          </div>

          <div class="category-icon content-writer grid-25 grid-sm-25">
            <i></i>
            <p>
              Content Writers
            </p>
            <a href="" class="click-here">click here</a>
          </div>

          <div class="category-icon sales-n-marketing grid-25 grid-sm-25">
            <i></i>
            <p>
             Sales & Marketing Experts
            </p>
            <a href="" class="click-here">click here</a>
          </div>

          <div class="category-icon seo-analysts grid-25  grid-sm-25">
            <i></i>
            <p>
              SEO Analysts
            </p>
            <a href="" class="click-here">click here</a>
          </div>

          <div class="category-icon accountant-n-consulatnts grid-25 grid-sm-25">
            <i></i>
            <p>
           Accountant & Consultants
            </p>
            <a href="" class="click-here">click here</a>
          </div>

          <div class="category-icon voice-n-chats grid-25 grid-sm-25">
            <i></i>
            <p>
              Voice & Chat
            </p>
            <a href="" class="click-here">click here</a>
          </div>
        </div>
        <a href="" class="see-more blue-bordered-button"> See More  Categories</a>
        </div>
    </section>
    <section class="work-flow">
      <div class="work-flow-strip full-strip">
        <div class="container">
          <article>
            <h2 class="article-header">HOW IT<span> WORK</span></h2>
            <p class="article-text">
              We work with the motive to help individuals and companies advertise their jobs and find <br />
              able developersto get your work done!
            </p>
          </article>
          <div class="work-floe-icons-cover">
          <div class="grid-25 text-center"><figure><img src="{% static "images/select.png" %}"></figure><h3>post your job</h3><p>Atlancer.com compltes the work.<br/>you pay only when satisfied</p></div>
          <div class="grid-25 text-center"><figure><img src="{% static "images/work.png" %}"></figure><h3>select a bid</h3><p>Atlancer.com compltes the work.<br/>you pay only when satisfied</p></div>
          <div class="grid-25 text-center"><figure><img src="{% static "images/select.png" %}"></figure><h3>work</h3><p>Atlancer.com compltes the work.<br/>you pay only when satisfied</p></div>
          <div class="grid-25 text-center"><figure><img src="{% static "images/pay-icon.png" %}"></figure><h3>pay</h3><p>Atlancer.com compltes the work.<br/>you pay only when satisfied</p></div>
          </div>
        </div>
      </div>
    </section>
       <!--email-sign-up-strip-->
       <section class="email-sign-up-strip full-strip text-center">
         <div class="container">
             <div class="email-sign-up-cover">
               <h5> <span> Stay informed </span> and get inspired with our weekly newsletter</h5>
               <form class="" action="" method="">
                 <input type="text" placeholder="type your email" />
                 <button class="blue-button" type="button">SIGN UP</button>
               </form>
             </div>
         </div>
       </section>
{% endblock %}
