{% extends 'base.html' %}
{% block extra_html %}
<div class="search-strip">
          <div class="container">
            <div class="top-search-form">
              <input type="text" id="search-box" value="search freelancers" placeholder="" />
              <ul class="search-dropdown">
                <li class="search-freelancers">search freelancers</li>
                <li class="search-freelancers">search Jobs</li>
              </ul>
              <div class="search-buttons-cover">
              <span class="search-drop-button"></span>
             <input type="button" value="search">
            </div>
            </div>
          </div>
      </div>
{% endblock %}

{% load staticfiles%}
{% block content %}
{% block style %}

     <!--fonts cdns-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700,900|Sintony:400,700" rel="stylesheet">



{% endblock %}


<!--login form-->
    <section class="login-cover full-strip" id="login-cover">
      <div class="login-form-cover">
          <div class="form-cover">
          <!--<div class="status-message failed" {% if form.non_field_errors %} style="display:block;"{% endif%} >-->
      <!--<p id="messageStatus">{{ form.non_field_errors }} </p>-->
      <!--<a href="#" onclick="HideDisplayMessage()" class="close"></a>-->
    <!--</div>-->

          <h2 class="form-title">Log in and get to work</h2>
          <p class="form-description"> It's the simplest and safest way to get work done online.  </p>

          <form role="form" novalidate action="." method="post">

              {% csrf_token %}
              <!--{{form}}-->
              <div class="field-row">

                     {{form.username}}
                  <!--<input type="text" name="email" placeholder="Email"  />-->
                  {{form.username.errors}}
                  {{ form.non_field_errors }}
              </div>
              <div class="field-row">
                  {{form.password}}
                  <!--<input type="password" name="password" placeholder="Password"  />-->
                  {{form.password.errors}}
              </div>
              <div class="field-row">
                  <div class="grid-50">
                      <label class="checkbox inline-cover">
                          <input name="rememberme"  class="toggle" type="checkbox">
                          <span>Remember me</span>
                      </label>


                  </div>
                  <div class="grid-50">
                    <label class="text-right pull-right"><a href="{% url 'index:reset_password' %}" class="forgot-password">Forgot password?</a></label>
                  </div>
              </div>
              <button type="submit" class="light-blue-border-button">Log In</button>
              <!--<input type="submit">-->
            </form>
            <p> Don't have an account?  <a href="{% url 'index:register' %}" class="sign-up-link"> SIGN UP </a> </p>
      </div>
        </div>
    </section>
    <!--login form ends here-->
 {% endblock %}