{% extends 'base.html' %}
{% load staticfiles%}
{% block style %}

     <!--fonts cdns-->
<style>
		.loader-input {
		  border: 2px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 2px solid #107bc7;
		  border-right: 2px solid #107bc7;
		  border-bottom: 2px solid #cccccc;
		  border-left: 2px solid #cccccc;
		  width: 17px;
		  height: 17px;
		  position: absolute;
		  top: 10px;
		  right: 10px;
		  -webkit-animation: spin 0.5s linear infinite;
		  animation: spin 0.5s linear infinite;
		  display: none;
		}
		.has-input-loader{
		    position: relative;
		}
		.has-input-loader .loader-input{
			display: block;

		}
		.has-loader.has-input-loader .loader-input{
			top: 12px;
			right: 50%;
			margin-right: -10px;
			z-index: 3;
		}
		.loader {
		  border: 3px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 3px solid #5cbc63;
		  border-bottom: 3px solid #5cbc63;
		  width: 31px;
		  height: 31px;
		  margin: 0 auto;
		  -webkit-animation: spin 2s linear infinite;
		  animation: spin 2s linear infinite;
		  margin-bottom: 5px;
		}

		.block_overflow{
			overflow: hidden;
		}
        .loading-pulse-bg{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(255,255,255, 0.85);
        }
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}
		.main-box.hide-x{
			overflow-x: hidden !important;
		}
		@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  position: absolute;
  left: 50%;
  top: 18px;

  z-index: 2;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 51, 0.05) 1.0em 0 0 0, rgba(0, 0, 51, 0.1) 0.71em 0.71em 0 0, rgba(0, 0, 51, 0.2) 0 1.0em 0 0, rgba(0, 0, 51, 0.3) -0.71em 0.71em 0 0, rgba(0, 0, 51, 0.35) -1.0em 0 0 0, rgba(0, 0, 51, 0.4) -0.71em -0.71em 0 0, rgba(0, 0, 51, 0.45) 0 -1.0em 0 0, rgba(0, 0, 51, 0.5) 0.71em -0.71em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 0.5em;
  height: 0.5em;
  margin-left: -3px;
  overflow: hidden;
  text-indent: 100%;
}
		</style>
    <link href="https://fonts.googleapis.com/css?family=Rubik:100,300,400,500,700,900|Sintony:400,700" rel="stylesheet">



{% endblock %}

{% block extra_html %}
<div class="search-strip">
          <div class="container">
            <div class="top-search-form">
              <input type="text" id="search-box" value="search freelancers" placeholder="" />
              <ul class="search-dropdown">
                <li class="search-freelancers">search freelancers</li>
                <li class="search-freelancers">search Jobs</li>
              </ul>
              <div class="search-buttons-cover">
              <span class="search-drop-button"></span>
             <input type="button" value="search">
            </div>
            </div>
          </div>
      </div>
{% endblock %}
{% block content %}

    <!--lregister n form-->
    <section class="register-cover full-strip" id="register-cover">
      <div class="register-form-cover">
          <div class="form-cover">
           <div class="status-message ">
            <p id="messageStatus">Success Message will goes here </p>
            <a href="#" onclick="HideDisplayMessage()" class="close"></a>
         </div>
          <h2 class="form-title">Hire and Find Freelance Jobs Online </h2>
          <p class="form-description">It is a place for employers and freelancer to connect, <br />
collaborate and get work done.</p>

          <form method ='post' novalidate action="." id="registration">
              <div id="success"></div>
              {% csrf_token %}
              <div class="field-row">

                <div class="grid-50  padding-right-5">
                  <!--<input type="text" placeholder="First Name"  name="first_name"/>-->
                    {{form.first_name}}
                    <span class="errors_first_name error"></span>
                </div>
                <div class="grid-50 padding-left-5">
                  <!--<input type="text"  placeholder="Last Name"   name="last_name"/>-->
                    {{form.last_name}}
                    <span class="errors_last_name error"></span>
                </div>
              </div>

              <div class="field-row">
                <div class="grid-50 padding-right-5">
                  <!--<input type="password"  placeholder="Password" name="password" />-->
                    {{form.password1}}
                     <span class="errors_password1  error"></span>
                </div>
                <div class="grid-50 padding-left-5">
                  <!--<input type="password"  name="password2"   placeholder="Confirm Password" />-->
                      {{form.password2}}
                     <span class="errors_password2 error"></span>
                </div>
              </div>

              <!--<div class="field-row">-->
                <!--<div class="grid-50 padding-right-5">-->
                <!--&lt;!&ndash;<select name="country" >&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="Afghanistan">Select Coutry</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="Albania">Albania</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="Algeria">Algeria</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="American Samoa">American Samoa</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="Andorra">Andorra</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="Angola">Angola</option>&ndash;&gt;-->
                  <!--&lt;!&ndash;<option value="Anguilla">Anguilla</option>&ndash;&gt;-->
                <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--{{form.country}}-->
                <!--</div>-->
              <!--</div>-->
              <div class="field-row">
                <!--<input type="text" name="email" placeholder="Your Email Id"  />-->
                  {{form.email}}
                   <span class="errors_email error"></span>
              </div>


              <div class="field-row you-are-here-to">
                  <h4>You are here to</h4>
                  <div class="you-are-here-row">
                    <div class="grid-50">
                    <label class="radio inline-cover">
                    <input type="radio" name="user_type" value="FREELANCER">

                    <span> I want to work </span>
                    </label>
                    </div>
                    <div class="grid-50">
                    <label class="radio inline-cover">
                    <input type="radio" name="user_type" value="CLIENT" >
                    <span> I want to hire</span>
                    </label>
                    </div>
                  </div>
                  <span class="errors_user_type error"></span>

              </div>

              <div class="field-row">
              <div class="grid-33 padding-right-5">
                  <!--<input type="button" class="light-blue-border-button" name="imageField" id="registration"  value="Sign Up" />-->

                  <button type="button" class="light-grey-border-button loading"  onclick="Registration()">Sign Up</button>
              </div>
              <div class="grid-33 padding-left-5">
                <button type="button" class="light-grey-border-button" onclick="ResetForm()">Cancel</button>
              </div>

              </div>

            </form>


             <p> You are already a member ? <a href="{% url 'index:login' %}" class="sign-up-link"> LOGIN </a> </p>

            </div>
      </div>
    </section>
    <!--register form ends here-->
<script>
    function ResetForm(){
        $('#registration')[0].reset();
        $('.error').hide();
    }
    function Registration(){
     $('.loading').addClass('has-loader has-input-loader');
     $('.loading').append('<div class="spinner-loader"></div><div class="loading-pulse-bg"></div>');

        $.ajax({
        url : "{% url 'index:register' %}", // the endpoint
        type : "POST", // http method
        data : $('#registration').serialize(), // data sent with the post request

        // handle a successful response
        success : function(data) {
           if(data.status=='failed'){
                $(".error").hide();
                $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Sign Up');

                $.each(data.data, function( index, value ) {
                   $(".errors_"+index).show();
                  $(".errors_"+index).html('<ul class="errorlist"><li>'+value+'</li></ul>');
                  console.log("#errors_"+index);

                  //$(".errors_"+index).delay(5500).fadeOut('slow');

                });

           }else{
             $("#success").show();
              $(".error").hide();
             $('.loading').removeClass('has-loader has-input-loader');
                $('.loading').html('Sign Up');

             //$("#success").html(data.message);
            // var text =data.message;

             // DisplayMessage('success',text);

             window.location.href="{% url 'index:registersuccess' %}";

             $('#registration')[0].reset();
             //$("#success").delay(5500).fadeOut('slow');
           }
        }
    });
    }
      function DisplayMessage(classs,text){
$(".status-message").removeClass('failed');
$(".status-message").removeClass('success');
$(".status-message").addClass(classs);
pos = $(".status-message").offset().top;
 $("html,body").animate({scrollTop:pos-300}, 1000);

$("#messageStatus").html(text);
$(".status-message").fadeIn('fast');
           setTimeout(function(){
             $(".status-message").fadeOut();
             //location.reload();



           }, 3000);
}
function HideDisplayMessage(){
 $(".status-message").fadeOut('fast');
}
</script>
{% endblock %}