{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}

   <link rel="stylesheet" href="{% static 'css/create-profile.css' %}">
{% endblock %}
 {% block content %}
 <!--login form-->
    <section class="login-cover full-strip" id="login-cover">
      <div class="login-form-cover activation-message-cover">
	  <div class=" form-cover">
	  	  	<span class="succes-icon"></span>
			<h1>A verification email has been send to your email. Please check email</h1>
			<!--<a href="{% url 'index:login' %}" class="login-now">Login Now</a>-->
      </div>
	  </div>
    </section>
    <!--login form ends here-->
 {% endblock %}