{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}

{% block content %}

<div class="create-profile" id="create-profile">
   <div class="loader loaders">
   </div>
   <div class="container-fluid create-profile-cover">
      <div class="left-coll">
         <div class="grey-title-bar">
            <h4>Welcome to <span>Atlancer!</span></h4>
         </div>

         <!--profile image-->
                  {% include "common/freelancer_profile_image.html" %}
          <!--profile image-->
         <!--<div class="view-the-company">-->
            <!---->
                     <!--{% if request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_user.get or request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all %}-->
                     <!--<a  href="{% url 'freelancer-company:freelancercompanyview' %}" class="view-the-company-link">View the Company<i></i></a>-->
                     <!--{% else %}-->
                     <!--<a  href="{% url 'freelancer-company:freelancercompany' %}" class="view-the-company-link">Create Company<i></i></a>-->
                     <!--{% endif %}-->
                  <!--</div>-->
      </div>

      <div class="center-col" id="tabs">
         <div class="grey-title-bar">
            <ul class="create-profile-form-actions">
               <li> <a href="#tabs-1"> Introduce Yourself</a> </li>
               <li> <a href="#tabs-2"> Experience &amp; Education</a> </li>
               <li> <a href="#tabs-3"> Final Details</a> </li>
            </ul>
         </div>
          {% include "common/message.html" %}
         <div class="create-profile-form-cover">
            <div class="scroll-cover">
               <div id="tabs-1" class="form-step step-1">
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-buttons top-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <!--<input value="Skip" type="button"  data-id="ui-id-2" onclick="skip(this)">-->
                           <input value="Save &amp; Continue" type="button"  onclick="SaveProfile()">
                        </div>
                     </div>
                  </div>
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-inner-form-cover">
                     <div class="create-profile-form">
                        <form id="Profile" class="form-cloning-cover">
                           {% csrf_token %}
                           <input type="hidden" name="method" value="Save_freelancer_profile">
                           <div class="field-row">
                              <h3 class="form-label-blue">Title</h3>
                              {{introduceform.title}}
                              <span class="errors_title error"></span>
                              <!--{{introduceform.title.errors}}-->
                              <!--<input type="text" placeholder="What skills do you offer clients? " />-->
                           </div>
                           <div class="field-row">
                              <h3 class="form-label-blue">About Me</h3>
                              <!--{{introduceform.about}}-->
                              <!--{{introduceform.about.errors}}-->
                              <textarea placeholder="About Me" name="about" cols="7" rows="7"></textarea>
                              <span class="errors_about error"></span>
                           </div>
                           <div class="field-row">
                              <h3 class="form-label-blue">Type of Work</h3>
                              <!--{{introduceform.workcategory}}-->
                              {% if request.user.user_detail.get   %}
                              {% create_id request.user.user_detail.get as ids %}
                              {% else %}
                              {% create_id 0 as ids %}
                              {% endif %}
                              <select class="work_category" data-name="Work Category " data-type="1" data-id="{{ids}}" name="workcategory" onchange="Getsubcategory(this)">
                                 <option>Work Category1</option>
                                 <option>Work Category2</option>
                                 <option>Work Category3</option>
                                 <option>Work Category4</option>
                              </select>
                              <!--{{introduceform.workcategory.errors}}-->
                              <span class="errors_workcategory error"></span>
                           </div>
                           <div class="field-row">
                              {% create_an_array request.user.user_detail.get.subcategory.all as variable %}
                              <h3 class="form-label-blue">Sub Category</h3>
                              <select class="sub_category" data-name="Sub Category " data-type="1" multiple data-id="{{variable}}" name="subcategory" >
                                 <option>Work Category1</option>
                                 <option>Work Category2</option>
                                 <option>Work Category3</option>
                                 <option>Work Category4</option>
                              </select>
                              <!--{{introduceform.subcategory}}-->
                              <!--<input id="myAutocompletesub"  type="text" multiple="multiple" />-->
                              <!--<textarea id="myAutocompletesub"></textarea>-->
                              <!--{{introduceform.subcategory.errors}}-->
                           </div>
                           <div class="field-row">
                              <h3 class="form-label-blue">Skills</h3>
                              {% create_an_array request.user.user_detail.get.skills.all as variable %}
                              <div class="wrapper" style="margin-top:150px;">
                                 <select class="skillsoptions" data-name="Sub Category " data-type="1" multiple data-id="{{variable}}" name="skills" >
                                    <option>Work Category1</option>
                                    <option>Work Category2</option>
                                    <option>Work Category3</option>
                                    <option>Work Category4</option>
                                 </select>
                                 <!--{{introduceform.skills.errors}}-->
                              </div>
                           </div>
                     </div>
                     <!--create-profile-buttons-->
                     <div class="create-profile-buttons">
                     <div class="create-profile-form">
                     <div class="pull-right">
                     <!--<input type="button"  data-id="ui-id-2" value="Skip" onclick="skip(this)"/>-->
                     <input  type="button"  onclick="SaveProfile()" value="Save &#38; Continue" />
                     </div>
                     </div>
                     </div>
                     </form>
                     <!--create-profile-buttons-->
                  </div>
               </div>
               <div id="tabs-2" class="form-step step-2">
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-buttons top-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input value="Skip" type="button" data-id="ui-id-3" onclick="skip(this)">
                           <input value="Save &amp; Continue" type="button" onclick="SaveExperiance()">
                        </div>
                     </div>
                  </div>
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-form">
                     <!--experience-level starts-->
                     <h3 class="form-label-blue">Experience Level</h3>
                     <div class="field-row">
                        <div class="grid-20">
                           <label class="radio inline-cover">
                           <input name="Experience" value="Fresher" {% if request.user.experience_level.exp_level_type == 'Fresher' %}checked="checked" checked="checked" {% endif %} checked="checked" type="radio">
                           <span> Fresher </span>
                           </label>
                        </div>
                        <div class="grid-20">
                           <label class="radio inline-cover">
                           <input name="Experience" value="Mid level" {% if request.user.experience_level.exp_level_type == 'Mid level' %}checked="checked" {% endif %}type="radio">
                           <span>  Mid-  level </span>
                           </label>
                        </div>
                        <div class="grid-20">
                           <label class="radio inline-cover">

                           <input name="Experience" value="Experienced" type="radio" {% if request.user.experience_level.exp_level_type == 'Experienced' %} checked="checked" {% endif %}>
                           <span> Experienced </span>
                           </label>
                        </div>
                     </div>
                     <!--experience-level ends-->
                     <div class="form-section-row open">
                        <!--employement-history starts-->
                        <h3 class="form-label-blue">Employment History</h3>
                        <div class="form-section employment-fields">
                           <div class="clone-con">
                              <div class="grid-80 employment-fields-cover clone-here" data-clone-con="1">
                                 {% for employment in request.user.employment_history.all %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="1">
                                    <form class="saving" name="employment">
                                       <div class="clone-close"></div>
                                       <div class="field-row">
                                          <div class="grid-70  clone-filed">
                                             <input placeholder="Company Name" maxlength="50" name="company_name"  type="text" value="{{ employment.company_name}}" data-name="Company Name" name="company_name"  class="name">
                                             <span class="error_msg"></span>
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <input placeholder="Role" type="text"   maxlength="30" value="{{ employment.role}}" data-name='Role' class="namef description" name="role" >
                                             <span class="error_msg"></span>
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="Start Date" class="calander start-date"  value="{{ employment.start_date|date:'m/d/Y'}}"  name="start_date" type="text" readonly value="">
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="End Date" class="calander end-date" name="end_date"  value="{{ employment.end_date|date:'m/d/Y'}}" type="text" readonly>
                                          </div>
                                       </div>
                                       <div class="field-row clone-filed">
                                          <textarea placeholder="Description" class="description" name="description" > {{ employment.description}}</textarea>
                                       </div>
                                    </form>
                                 </div>
                                 {% empty %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="1">
                                    <form class="saving" name="employment">
                                       <div class="clone-close"></div>
                                       <div class="field-row">
                                          <div class="grid-70  clone-filed">
                                             <input placeholder="Company Name" maxlength="50" name="company_name" type="text" data-name="Company Name" name="company_name"  class="name">
                                             <span class="error_msg"></span>
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <input placeholder="Role" type="text" maxlength="30"  data-name='Role' class="namef description" name="role" >
                                             <span class="error_msg"></span>
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="Start Date" class="calander start-date description" name="start_date" type="text" readonly value="">
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="End Date" class="calander end-date description" name="end_date" type="text" readonly>
                                          </div>
                                       </div>
                                       <div class="field-row clone-filed">
                                          <textarea placeholder="Description" class="description" name="description"></textarea>
                                       </div>
                                    </form>
                                 </div>
                                 {% endfor %}
                              </div>
                              <div class="grid-20">
                                 <span href="#" class="add-another employemet-history-add clone-a" data-clone-tri="1">add another</span>
                              </div>
                           </div>
                        </div>
                        <!--employement-history ends-->
                     </div>
                     <div class="form-section-row open">
                        <!--portfolio starts-->
                        <h3 class="form-label-blue">Portfolio</h3>
                        <div class="form-section portfolio-fields">
                           <div class="clone-con">
                              <div class="grid-80 portfolio-fields-cover clone-here" data-clone-con="2">
                                 {% for portfolio in request.user.portfolio.all %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="2">
                                    <form></form>
                                    <form class="saving" name="portfolio">
                                       <div class="clone-close"></div>
                                       <div class="field-row clone-filed">
                                          <input placeholder="Project Name"  maxlength="50" type="text" value ="{{portfolio.project_name}}" data-name="Project Name" class="name" name="project_name" >
                                          <span class="error_msg"></span>
                                       </div>
                                       <div class="field-row clone-filed">
                                          <textarea placeholder="Description" class="description" name="description">{{portfolio.description}}</textarea>
                                       </div>
                                       <div class="field-row" data-clone='false'>
                                          <div class="grid-50 padding-right-10  clone-filed" >
                                             <select class="work_category description" data-name="Work Category " data-id="{{portfolio.work_category.pk}} " data-type="2" name="work_category" onchange="Getsubcategory(this)">
                                             </select>
                                             <span class="error_msg"></span>
                                          </div>
                                          {% create_an_array portfolio.sub_category.all as variable %}
                                          <div class="grid-50 padding-left-10 clone-filed" data-clone='false'>
                                             <select class="sub_category description" name="sub_category" data-type="2" multiple="multiple" data-id="{{variable}}" >
                                                <option value ="0">Select Sub Category</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="field-row" data-clone='false'>
                                          <div class="grid-50 padding-right-10 clone-filed" >
                                             {% create_an_array portfolio.skills.all as variable %}
                                             <select class="skillsoptions description" multiple="multiple" data-id="{{variable}}" name="skills">
                                                <option value="0">Select Skills</option>
                                             </select>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <input placeholder="Project Url"  value ="{{portfolio.project_url}}" data-name="Project Url" class="project_url" name="project_url" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                       </div>


                                       <div class="field-row " data-clone='false'>
                                         <div class="inputfile-cover">
                                       <input type="file" accept="image/*" data-number="{{portfolio.portfoilid_id.count}}" class="id_attachments inputfile" multiple="multiple" name="filess"   />
                                       <!--<label for="file">upload images</label>-->
                                       <!--<input type="file" name="files" class="s1" value="">-->
                                          <label for="file">upload images</label>
                                         </div>
                                            <div id="preview" class="upload-image-preview preview">
                                             {% for portfolio in portfolio.portfoilid_id.all %}
                                              <div>
                                                 {% create_base64 portfolio.portfolio_image as image %}
                                                 <img src="{{image}}" class="pip" height="200">
                                                 <span class="removePreviw">x</span>
                                              </div>
                                             {% endfor %}
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                                 {% empty %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="2">
                                 <form></form>
                                 <form class="saving" name="portfolio">
                                 <div class="clone-close"></div>
                                 <div class="field-row clone-filed">
                                 <input placeholder="Project Name"  maxlength="50" data-name="Project Name" class="name" name="project_name" type="text">
                                 <span class="error_msg"></span>
                                 </div>
                                 <div class="field-row clone-filed">
                                 <textarea placeholder="Description" class="description" name="description"></textarea>
                                 </div>
                                 <div class="field-row" data-clone="false">
                                 <div class="grid-50 padding-right-10  clone-filed">
                                 <select class="work_category description" data-name="Work Category " data-id="0" name="work_category" onchange="Getsubcategory(this)">
                                 </select>
                                 <span class="error_msg"></span>
                                 </div>
                                 <div class="grid-50 padding-left-10">
                                 <select class="sub_category description" name="sub_category" multiple="multiple"  data-id="0" >
                                 <option value ="0">Select Sub Category</option>
                                 </select>
                                 </div>
                                 </div>
                                 <div class="field-row" data-clone="false">
                                 <div class="grid-50 padding-right-10 clone-filed">
                                 <select class="skillsoptions description" multiple="multiple"  data-id="0" name="skills">
                                 <option value="0">Select Skills</option>
                                 </select>
                                 </div>
                                 <div class="grid-50 padding-left-10 ">
                                 <input placeholder="Project Url"  data-name="Project Url" class="project_url" name="project_url" type="text">
                                 <span class="error_msg"></span>
                                 </div>
                                 </div>
                                 <div class="field-row " data-clone='false'>
                                       <div class="inputfile-cover">
                                       <input type="file" accept="image/*"  data-number="0" class="id_attachments inputfile" multiple="multiple" name="filess"   />
                                       <!--<label for="file">upload images</label>-->
                                       <!--<input type="file" name="files" class="s1" value="">-->
                                        <label for="file">upload images</label>
                                         </div>
                                    <div  class="preview upload-image-preview"></div>
                                  </div>

                                 </form>
                                 </div>
                                 {% endfor %}
                              </div>
                              <div class="grid-20">
                                 <span class="add-another clone-a hasElements" data-clone-tri="2" data-get-ele="include1">add another</span>
                                 <!--add html-->
                                 <!--<div class="hiddenElements" data-inc-ele="include1" data-clone="false">-->
                                 <!--<div class="field-row">-->
                                 <!--<div class="grid-50 padding-right-10  clone-filed">-->
                                 <!--<select class="work_category" data-name="Work Category " data-id="0" name="work_category" onchange="Getsubcategory(this)">-->
                                 <!--</select>-->
                                 <!--<span class="error_msg"></span>-->
                                 <!--</div>-->
                                 <!--<div class="grid-50 padding-left-10 clone-filed">-->
                                 <!--<select class="sub_category" name="sub_category" multiple="multiple"  data-id="0">-->
                                 <!--<option value ="0">Select Sub Category</option>-->
                                 <!--</select>-->
                                 <!--</div>-->
                                 <!--</div>-->
                                 <!--<div class="field-row">-->
                                 <!--<div class="grid-50 padding-right-10 clone-filed">-->
                                 <!--<select class="skillsoptions" multiple="multiple"  data-id="0" name="skills">-->
                                 <!--<option value="0">Select Skills</option>-->
                                 <!--</select>-->
                                 <!--</div>-->
                                 <!--<div class="grid-50 padding-left-10 clone-filed">-->
                                 <!--<input placeholder="Project Url"  data-name="Project Url" class="project_url" name="project_url" type="text">-->
                                 <!--<span class="error_msg"></span>-->
                                 <!--</div>-->
                                 <!--</div>-->
                                 <!--</div>-->
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--portfolio ends-->
                     <div class="form-section-row open">
                        <!--certification-fields starts-->
                        <h3 class="form-label-blue">Certification Name</h3>
                        <div class="form-section certification-fields">
                           <div class="clone-con">
                              <div class="grid-80 clone-here" data-clone-con="3">
                                 {% for cerifications in request.user.cerifications.all %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="3">
                                    <form>
                                    </form>
                                    <form name="certification" style="">
                                       <div class="clone-close"></div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <input maxlength="50"  placeholder="Certification Name" value="{{cerifications.certificate_name}}" data-name="Certification Name" class="name" name="certificate_name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <input placeholder="Issued by" maxlength="30" type="text" class="description" name="issuedby" value="{{cerifications.issued_by}}">
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="Start Date" class="calander start-dates description" name="start_date" value="{{cerifications.valid_from |date:'m/d/Y'}}" type="text" readonly value="">
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="End Date" class="calander end-dates description" name="end_date" type="text" value="{{cerifications.end_to |date:'m/d/Y'}}" readonly>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                                 {% empty %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="3">
                                    <form>
                                    </form>
                                    <form class="saving"  name="certification">
                                       <div class="clone-close"></div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <input maxlength="50" placeholder="Certification Name" data-name="Certification Name" class="name" name="certificate_name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <input placeholder="Issued by" maxlength="30" type="text" value="" name="issuedby">
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="Start Date" class="calander start-date" name="start_date" type="text" readonly value="">
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="End Date" class="calander end-date" name="end_date" type="text" readonly>
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                                 {% endfor %}
                              </div>
                              <div class="grid-20">
                                 <span class="add-another clone-a" data-clone-tri="2">add another</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--certification-fields starts-->
                  </div>
                  <!--create-profile-buttons-->
                  <div class="create-profile-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input type="button"  value="Skip" data-id="ui-id-3" onclick="skip(this)"/>
                           <input type="button" value="Save &#38; Continue" onclick="SaveExperiance()"/>
                        </div>
                     </div>
                  </div>
                  <!--create-profile-buttons-->
               </div>
               <div id="tabs-3" class="form-step step-3">
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-buttons top-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input value="Save" onclick="SaveHourlyRate()"  type="button">
                           <!--<input value="Submit" onclick="SaveHourlyRate()"type="button">-->
                        </div>
                     </div>
                  </div>
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-form">
                     <!--hourly-rate-->
                     <div class="form-section hourly-rate form3">
                        <form name="hourly">
                           <h3 class="form-label-blue">Hourly Rate ($)</h3>
                           <div class="field-row">
                              <div class="grid-50 padding-right-10">
                                 <input type="text" class="number" maxlength="8" onkeyup="hourlrate(this)" name="hourly_rate" data-name="Hourly Rate" placeholder="Hourly Rate"
                                    value="{% if request.user.freelancer_hourly_user.get.hourly_rate %}{{request.user.freelancer_hourly_user.get.hourly_rate}}{% endif %}" />
                                 <span class="error_msgs"></span>
                              </div>
                              <div class="grid-50 padding-left-10">
                                 <input type="text" value="{% if request.user.freelancer_hourly_user.get.actual_rate %}{{request.user.freelancer_hourly_user.get.actual_rate}} {% endif %}"  disabled placeholder="Actual Rate"  class="actual_rate" name="actual_rate"/>
                              </div>
                           </div>
                        </form>
                     </div>
                     <!--hourly-rate ends-->
                     <!--location-details-->
                     <div class="form-section location-details form3">
                        <form name="location">
                           <h3 class="form-label-blue">Location Details</h3>
                           <div class="field-row">
                              <div class="grid-50 padding-right-10">
                                 <select name="country" class="country" data-id="{% if request.user.freelancer_location_user.get.country.pk %}{{request.user.freelancer_location_user.get.country.pk}}{% else %} 0 {% endif %}" onchange="GetState(this)">

                                 </select>
                              </div>
                              <div class="grid-50 padding-left-10">
                                 <select name="state" class="state" data-id="{% if request.user.freelancer_location_user.get.state.pk %}{{request.user.freelancer_location_user.get.state.pk}}{% else %} 0 {% endif %}" onchange="GetCity(this)">
                                    <option value="0">Select State</option>

                                 </select>
                              </div>
                           </div>
                           <div class="field-row">
                              <div class="grid-50 padding-right-10">
                                 <select name="city" class="city" data-id="{% if request.user.freelancer_location_user.get.city.pk %}{{request.user.freelancer_location_user.get.city.pk}}{% else %} 0 {% endif %}">
                                    <option value="0">Select State</option>

                                 </select>
                              </div>
                              <div class="grid-50 padding-left-10">
                                 <input type="text" value="{% if request.user.freelancer_location_user.get.zip_code %}{{request.user.freelancer_location_user.get.zip_code}} {% endif %}" maxlength="5" placeholder="ZIP Code" name="zip"/>
                              </div>
                           </div>
                           <div class="field-row">
                              <textarea placeholder="Address" name="address">{% if request.user.freelancer_location_user.get.address %}{{request.user.freelancer_location_user.get.address}} {% endif %}</textarea>
                           </div>
                        </form>
                     </div>
                     <!--location-details ends-->
                  </div>
                  <!--create-profile-buttons-->
                  <!--create-profile-buttons-->
                  <div class="create-profile-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input value="Save" onclick="SaveHourlyRate()" type="button">
                           <!--<input value="Submit" onclick="SaveHourlyRate()"  type="button">-->
                        </div>
                     </div>
                  </div>
                  <!--create-profile-buttons-->
               </div>
            </div>
         </div>
      </div>
      <div class="right-col">
         <div class="grey-title-bar"></div>
         <section class="help-section">
            <h2>Help Desk</h2>
            <h4>sample dummy text here</h4>
            <div class="help-accordion help-accordion">
               <h3>Simple to post your job and get </h3>
               <div>
                  <p>
                     Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                     ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                     amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                  </p>
               </div>
               <h3>Amazing talent ready to work </h3>
               <div>
                  <p>
                     Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                     purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                     suscipit faucibus urna.
                  </p>
               </div>
               <h3>Thousands of top-rated freelancers</h3>
               <div>
                  <p>
                     Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                     Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                  </p>
               </div>
               <h3>Simple to post your job and get </h3>
               <div>
                  <p>
                     Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                     et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                     mauris vel est.
                  </p>
               </div>
            </div>
         </section>
         <section class="email-sign-up-strip full-strip text-center">
            <div class="email-sign-up-cover">
               <h5> <span> Stay informed </span> and get inspired with our weekly newsletter</h5>
               <form>
                  <input placeholder="Email" type="text">
                  <button class="blue-button" type="button">SIGN UP</button>
               </form>
            </div>
         </section>
         <section class="suscribe-membership">
            <h2>Subscribe for</h2>
            <h4> Platinum Membership </h4>
            <p>
               Premium talent, pre-vetted and handpicked <br />
               for you. sample dummy text
            </p>
            <a href="" class="light-blue-border-button">Suscribe now</a>
         </section>
      </div>
   </div>
</div>
 <!-- skills-cover ends-->
                                    <div id="small-dialog_delete_image" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <div class="delete-confirmation delete-msg_image">
                                          <h3>Delete Section</h3>
                                          <p>Are you sure want to delete this image</p>

                                          <input type="hidden" id ="typeimage">
                                          <a onclick="Delete()" class="yes">Ok</a>
                                          <a onclick="Close()" class="cancel">Cancel</a>
                                       </div>
                                       <div id="delete-msg_image" class="delete-confirmation hide">
                                          <h3>Delete Section</h3>
                                          <p>Successfully Deleted</p>
                                       </div>
                                    </div>
                                    <!-- skills-cover ends-->

{% endblock %}

{% block extra_js %}
{% include "common/freelancer_profile_script.html" %}
<script>

    $(document).ready(function() {
        <!--//$(".get_images").each(function(){-->
        <!--var filesInput = $(".get_images");-->

        <!--filesInput.on("change", function(e) {-->
            <!--var files = e.target.files; //FileList object-->
            <!--var result = $(this);-->
            <!--alert(files.length);-->
            <!--if(files.length<=5){-->


               <!--$.each(files, function(i, file) {-->


                   <!--var pReader = new FileReader();-->

                   <!--pReader.addEventListener("load", function(e) {-->
                       <!--var pic = e.target;-->

                       <!--$(this).val(pic.result);-->



                   <!--});-->


                <!--pReader.readAsDataURL(file);-->

            <!--});-->
            <!--}-->




        <!--});-->
        <!--// });-->
        <!--setTimeout(function() { //calls click event after a certain time-->
            <!--$(".work_category").each(function() {-->
                <!--if ($(this).data('id') != 0) {-->
                    <!--//alert($(this).data('id'));-->
                    <!--&lt;!&ndash;#//  $(this).val($(this).data('id'));&ndash;&gt;-->


                <!--}-->
                <!--GetWorkcategory(this);-->
            <!--});-->
        <!--}, 1000);-->
GetWorkcategory(".work_category");

        $('.description').blur(function() {
            <!--if ($(this).val() || $(this).val() == '0') {-->
            if ($.trim($(this).val()).length > 1  ) {
            //alert($.trim($(this).val()).length );


             $(this).closest('.form-section-row form').find('.name').blur();


                //blurname(this);
            } else {

            }
        });

        $('.name').blur(function() {
        //alert("j");


            var name = $(this).val();
            var field = $(this).data("name");
            $(this).next('.error_msg').text('');

           // if ($(this).val()) {
                if (!name.match(/^^[a-z0-9 \\-]+$/i) || $.trim($(this).val()).length === 0 ) {

                    $(this).next('.error_msg').addClass('check_error');

                    $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                    //$(this).focus();
                    localStorage.setItem('status', 'true');
                } else {
                    $(this).next('.error_msg').removeClass('check_error');
                    localStorage.setItem('status', 'false');
                }
            //}
        });
        $('.project_url').blur(function() {
            $(this).next('.error_msg').text('');
            var urlregex = new RegExp(
                "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
            var url = $(this).val();
            if ($(this).val()) {
                if (urlregex.test(url) == false) {
                    $(this).next('.error_msg').addClass('check_error');
                    $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                    //  $(this).focus();
                    localStorage.setItem('status', 'true');

                } else {
                    $(this).next('.error_msg').removeClass('check_error');
                    localStorage.setItem('status', 'false');
                }
            }
        });
        $('#tabs').tabs({
            show: 'fade',
            hide: 'fade'
        });

        $(".help-accordion").accordion({
            heightStyle: "content",
            collapsible: true
        });

        <!--datepicker();-->
        <!--$( ".start-dates" ).datepicker();-->
        <!--$( ".end-dates" ).datepicker();-->

        $(".mobile-menu").click(function() {
            $(".header-elents-cover").slideToggle('fast');
        });

        $(".language-selector").click(function() {
            $(".languages").fadeToggle('fast');
        });

        $('.create-profile').ready(function() {
           // $(".loaders,.loader-overlay").fadeIn("slow");
        });

        $(".form-section-row .form-label-blue").click(function() {
            $(this).next().slideToggle("");
            $(this).toggleClass("open");
        });

        $(".clone-close").click(function() {
            $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
                $(this).remove();
            });

        });




        $('.image-editor').cropit();




        GetCountry('.country');
        numbers();

        $('.id_attachments').on("change", previewImages);
        RemoveImages();

    });


    function hourlrate(elm) {
        var regex = /^[0-9]*(?:\.\d{1,2})?$/;
        if ($(elm).val() == '') {
            $('.actual_rate').val('');
        }
        $(elm).focus();
        if (regex.test($(elm).val()) && $(elm).val() != '') {
            $.ajax({
                url: ".", // the endpoint
                 headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

                type: "POST", // http method
                data: {
                    method: "change_hourly_rate_freelancer",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    rate: $(elm).val()
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    $(elm).focus();
                    if (data.status == 'failed') {

                    } else {

                        $('.actual_rate').val(data.data);
                    }
                }
            });

        }
    }

    function GetCountry(elm) {
        $.ajax({
            url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
             headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: {
                method: "get_country",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select Country</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($(elm).data('id'));
                    if ($(elm).data('id') != 0) {
                        if (item.pk == $(elm).data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $(elm).html(newOption);
                GetState(elm);


            }
        });
    }

    function GetState(elm) {
        //if($(elm).val() !='0' && $(elm).val() !=''){
        $.ajax({
            url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
             headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: {
                method: "get_state",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                country: $(elm).val()
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select State</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($('.state').data('id') + "hhhh");
                    if ($('.state').data('id') != 0) {
                        if (item.pk == $('.state').data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $('.state').html(newOption);
                GetCity(elm);


            }
        });
        // }
    }

    function GetCity(elm) {
        //if($(elm).val() !='0' && $(elm).val() !=''){
        $.ajax({
            url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
             headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: {
                method: "get_city",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                state: $('.state').val()
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select City</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($('.city').data('id'));
                    if ($('.city').data('id') != 0) {
                        if (item.pk == $('.city').data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $('.city').html(newOption);



            }
        });
        //}
    }

    function SaveHourlyRate() {

        numbers();

        localStorage.setItem('status_3', $("span.error_msgs").hasClass("check_errors"));
        if (localStorage.getItem('status_3') == 'false') {
            $(".loaders").fadeIn("slow");


            var myArray = {};


            $("div.step-3 div.form3").each(function() {
                var m = {};

                $(this).find("form").each(function() {

                    var formname = $(this).attr('name');
                    //alert(myArray[formname]);
                    if (myArray[formname] == undefined) {

                        myArray[formname] = [];
                    } else {
                        myArray[formname] = myArray[formname];


                    }
                    // var array = myArray[formname] = [];
                    // alert(JSON.stringify(myArray));

                    $(this).find(':input').each(function() {
                        if ($(this).attr('type') == 'file' && $(this).attr('name') == 'file') {
                            var field = $(this).attr('name');


                            m[field] = $(this).val();
                        } else {
                            var field = $(this).attr('name');


                            m[field] = $(this).val();
                        }




                    });

                    myArray[formname].push(m);
                });

            });
            $.ajax({
                url: ".", // the endpoint
                 headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

                type: "POST", // http method
                data: {
                    method: "save_frelancer_hourly",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: JSON.stringify(myArray)
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    $(".loaders").fadeOut("slow");
                    if (data.status == 'failed') {

                    } else {
                        var text = "It's move to the next section";
                        localStorage.setItem('status_msg_company', 'true');
                        DisplayMessage('success', text);
                        setTimeout(function() {
                            window.location.href = "{% url 'freelancer:freelancerprofileview' %}";

                        }, 3000);


                    }
                }
            });
        }


    }

    function skip(elm) {
        var id = $(elm).data('id');
        $('#' + id).click();
    }

    function blurname(elm) {
        var name = $(elm).val();
        var field = $(elm).data("name");
        $(elm).next('.error_msg').text('');
        if (name) {
        alert(name);
        if (!name.match(/^^[a-z0-9 \\-]+$/i) || $.trim($(elm).val()).length === 0) {

            $(elm).next('.error_msg').addClass('check_error');

            $(elm).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
            //$(this).focus();
            localStorage.setItem('status', 'true');
        }
        }else {
            $(elm).next('.error_msg').removeClass('check_error');
            localStorage.setItem('status', 'false');
        }
    }



    function getsubcategory(elm) {

        $.ajax({
            url: ".", // the endpoint
             headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: {
                method: "get_workcategory",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                workid: $(elm).val()
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option disabled="disabled" value="0" >Select Work Category</option>';

                $.map(responses, function(item) {


                    newOption += '<option  value="' + item.pk + '">' + item.fields.category_title + '</option>';

                });
                // $(elm).html(newOption);
                //Getsubcategory(elm)


            }
        });

    }

    function GetWorkcategory(elm) {
       // $(".loaders").show();
        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: {
                method: "get_workcategory",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },

            dataType: 'json',
            success: function(responses) {
                if(responses.status=='success'){
                   //$(".loader").hide();
                   newOption = '<option value="" >Select Work Category</option>';

                   $.map(JSON.parse(responses.data), function(item) {
                       var select = '';
                       console.log($(elm).data('id'));
                       if ($(elm).data('id') != 0) {
                           if (item.pk == $(elm).data('id')) {
                               var select = 'selected="selected"';
                           } else {
                               var select = '';
                           }
                       }

                       newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.category_title + '</option>';

                   });

                   $(elm).html(newOption);
                   Getsubcategory(elm);
                   GetSkills(elm);
               }else{


                   showmessage(responses.message,'failed');

               }
            }
        });

    }

    function Getsubcategory(elm) {

       // $(".loaders,.loader-overlay").fadeIn("slow");
        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }

        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: {
                method: "get_worksubcategorys",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                workid: workid
            }, // data sent with the post request

            dataType: 'json',
            success: function(responses) {
                //$(".loader").hide();
                newOption = '<option disabled="disabled" value="0" >Select Sub Category</option>';
                if ($(elm).data('type') == '2') {
                    classs = 'clone-sec';
                } else {
                    classs = 'form-cloning-cover';
                }
                $.map(JSON.parse(responses.data), function(item) {


                    console.log($(elm).closest('.' + classs).find('.sub_category').data('id'));
                    if ($(elm).closest('.' + classs).find('.sub_category').data('id') != 0) {
                        if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.sub_category').data('id')) > -1) {


                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }


                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.sub_category_title + '</option>';

                });

                $(elm).closest('.' + classs).find('.sub_category').html(newOption);
                $(elm).closest('.' + classs).find('.sub_category').select2();
                GetSkills(elm);




            }
        });


    }

    function GetSkills(elm) {
        //$(".loader").show();
        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }

        if ($(elm).data('type') == '2') {
            classs = 'clone-sec';
        } else {
            classs = 'form-cloning-cover';
        }
        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: {
                method: "get_skillsoptions",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                subid: workid
            }, // data sent with the post request

            dataType: 'json',
            success: function(responses) {
                //$(".loaders,.loader-overlay").fadeOut("slow");
                newOption = '<option value="0" >Select skills</option>';
                if (JSON.parse(responses.data)) {
                    $.map(JSON.parse(responses.data), function(item) {



                        if ($(elm).closest('.' + classs).find('.skillsoptions').data('id') != 0) {
                            if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.skillsoptions').data('id')) > -1) {

                                var select = 'selected="selected"';
                            } else {
                                var select = '';
                            }
                        }

                        newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                    });
                }
                //alert();
                $(elm).closest('.' + classs).find('.skillsoptions').html(newOption);
                $(elm).closest('.' + classs).find('.skillsoptions').select2();

            }
        });

    }

    function SaveFinal() {
        saveHourly();
        saveLocation();
    }

    function SaveExperiance() {

        $("div.form-cloning-cover form").each(function() {
            //$('.name').blur();
            $('.project_url').blur();
            $('.description').blur();
            // $('.work_category').blur();

        });

        localStorage.setItem('status', $("span.error_msg").hasClass("check_error"));



        if (localStorage.getItem('status') == 'false') {

            $(".loaders").fadeIn("slow");
            $(".uploader__submit-button").click();

            var myArray = {};
            //localStorage.setItem('img','NULL');

            $("div.step-2 div.form-cloning-cover ").each(function() {
                var m = {};

                $(this).find("form").each(function() {

                    var formname = $(this).attr('name');
                    //alert(formname);
                    if (myArray[formname] == undefined) {

                        myArray[formname] = [];
                    } else {
                        myArray[formname] = myArray[formname];


                    }
                    // var array = myArray[formname] = [];
                    // alert(JSON.stringify(myArray));

                    $(this).find(':input').each(function() {
                        if ($(this).attr('name') == 'filess') {
                        var field = $(this).attr('name');
                          var option_all='';

                           var dd = {};
                            object = {};


                            var uploads = [];



$(this).parent().next('.preview').find('img').each(function()
{

    uploads.push($(this).attr('src'));
});

m["upload"] = uploads;


                        } else {
                            var field = $(this).attr('name');

  if(field !=undefined){
                            m[field] = $(this).val();
                            }
                        }




                    });
                    if(formname !=undefined){

                    myArray[formname].push(m);
                    }
                });

            });

            var str = JSON.stringify(myArray);




            $.ajax({
                url: ".", // the endpoint
                 headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

                type: "POST", // http method
                data: {
                    method: "save_experiances",
                    experiance: $('input[name=Experience]:checked').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: JSON.stringify(myArray)
                }, // data sent with the post request

               <!--cache: false,-->
               <!--contentType: false,-->
               <!--processData: false,-->
               <!--type: "POST",-->

                success: function(data) {
                    if (data.status == 'failed') {

                    } else {
                        $(".loaders").fadeOut("slow");

                        var text = "It's move to the next section";

                        showmessage(text,'success');
                        //setTimeout(function() {
                            $("#ui-id-3").click();

                       // }, 3000);

                    }
                }
            });

        }
    }

    function encodeImageFileAsURL(cb) {
        // return function(){
        if (window.FileReader) {
            var file = cb;
            var reader = new FileReader();

            reader.result;


            reader.readAsDataURL(file);
        }
    }

    function SaveProfile() {
        $(".loaders,.loader-overlay").fadeIn("slow");
        $.ajax({
            url: ".", // the endpoint
             headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: $('#Profile').serialize(), // data sent with the post request

            // handle a successful response
            success: function(data) {
                $(".loaders,.loader-overlay").fadeOut("slow");
                if (data.status == 'failed') {
                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {

                    $(".error").hide();
                    var text = "It's move to the next section";

                     showmessage(text,'success');

                        $("#ui-id-2").click();



                }
            }
        });
    }
    function numbers(){

 $('.number').blur(function() {

            var regex = /^[0-9]*(?:\.\d{1,2})?$/; // allow only numbers [0-9]
            $(this).next('span.error_msgs').text('');

            if( $(this).val() != ''){

            if (!regex.test($(this).val())  ) {
                $(this).next('span.error_msgs').addClass('check_errors');
                $(this).next('span.error_msgs').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                // $(this).focus();
                localStorage.setItem('status_3', 'true');
            } else {
                $(this).next('.error_msgs').removeClass('check_errors');
                localStorage.setItem('status_3', 'false');
            }
            }



        });
        }
function previewImages(){


  var $preview = $(this).parent().next('.preview');
  var number = $(this).parent().next('.preview').find('img').length;

  increased = parseInt(this.files.length) + parseInt(number);


  if ( increased <=8) {$.each(this.files, readAndPreview);}
  else {alert("Exceed the limit");}

  function readAndPreview(i, file) {

    if (!/\.(jpe?g|png|gif)$/i.test(file.name)){
      return alert(file.name +" is not an image");
    } // else...

    var reader = new FileReader();

    $(reader).on("load", function() {
      <!--$preview.append($("<img/>", {src:this.result, height:200 ,class:'pip'}));-->
      <!--$preview.append("<span class='removePreviw'>remove</span>");-->
      $preview.prepend("<div><img src="+this.result+" class='pip' height='200'><span class='removePreviw'>x</span></div>");

      RemoveImages();

    });

    reader.readAsDataURL(file);

  }
  }
  function RemoveImages(){
   $(".removePreviw").click(function(){

            $(this).prev(".pip").remove();
            $(this).remove();
          });
  }
  function names(){
  $('.name').blur(function() {


            var name = $(this).val();
            var field = $(this).data("name");
            $(this).next('.error_msg').text('');

           // if ($(this).val()) {
                if (!name.match(/^^[a-z0-9 \\-]+$/i) || $.trim($(this).val()).length === 0 ) {

                    $(this).next('.error_msg').addClass('check_error');

                    $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                    //$(this).focus();
                    localStorage.setItem('status', 'true');
                } else {
                    $(this).next('.error_msg').removeClass('check_error');
                    localStorage.setItem('status', 'false');
                }
            //}
        });
        }
</script>



{% endblock %}