{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<!--create-profile strats-->
<!--create-profile strats-->
<div class="create-profile" id="create-profile">
{% include "common/loader.html" %}
          <div class="container-fluid create-profile-cover view-profil-page-cover freelancer-my-jobs">
            <div class="left-coll job-filter-cover my-jobs-filter-cover">
		  {% include "common/profile.html" %}

            <div class="job-filter">
            <ul>
              <h4>Work Category</h4>
           {% for type in workcategory|slice:":4" %}
                <li>
                    <label class="checkbox inline-cover">
                        <input name="workcategory" onchange="GetSearching()" value="{{type.id}}" class="toggle" type="checkbox">
                        <span></span>
                    </label>
                    {{type.category_title}}
                </li>
                {% endfor %}
            </ul>
                {% if workcategory.count >= 5 %}
                <a class="popup-with-zoom-anim view-more-filter"  href="#small-dialog-workcategory">+ more</a>
                {% endif %}
            </ul>
          </div>

           <div class="job-filter hide">
            <ul>
              <h4>Job Status</h4>
                {% for job_statuss in job_status %}
            <li>
                <label class="checkbox inline-cover">
                <input name="Jobstatus" value="{{job_statuss.status}}" onchange="GetSearching()" class="toggle" type="checkbox">
                <span></span>
                </label>
                {{job_statuss.status}} </li>
                {% endfor %}


            </ul>
          </div>


          <div class="job-filter">
            <ul>
              <h4>Job Type</h4>
                {% for payments in payment %}
            <li>
                <label class="checkbox inline-cover">
                <input name="Jobtype" value="{{payments.type}}" onchange="GetSearching()" class="toggle" type="checkbox">
                <span></span>
                </label>
                {{payments.type}} </li>
                {% endfor %}

            </ul>
          </div>

          <div class="job-filter">
               <ul>
              <h4>Experience Level</h4>
            <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="FRESHER" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Fresher </li>
              <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="INTERMEDIATE" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Intermediate </li>
                   <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="EXPERT" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Expert </li>
            </ul>
          </div>
       <!-- Hourly Rate Filter -->
            <div class="job-filter">
                <h4>Hourly Rate</h4>
                <div class="min-max">
                    <div class="grid-40">
                        <input type="text" placeholder="Min" id="HourlyMin" onchange="GetSearching()"/>
                    </div>
                    <div class="grid-20">-</div>
                    <div class="grid-40">
                        <input type="text" placeholder="Max" id="HourlyMax" onchange="GetSearching()"/>
                    </div>
                </div>
            </div>

          </div>
           <div class="center-col">
			<div class="create-profile-form-cover">
                {% include "common/message.html" %}
						<div class="view-profile-cover">
						<div class="view-profile-cover-inner job-deatils-cover">
						<div class="scroll-cover">
						<div class="jobs-basic-info">
						<!--jobs-basic-info-->

						 <div class="freelancer-actions-list-cover" id="tabs">


								<ul class="freelancer-actions-list-tabs">
								<li> <a href="#tabs-1" onclick="GetJobtype(this)" data-id="Applied">Applied</a> </li>
								<li> <a href="#tabs-2" onclick="GetJobtype(this)" data-id="Invitation">Job Invitaion </a> </li>
								<li> <a href="#tabs-3"  onclick="GetJobtype(this)" data-id="Hired">Hired</a> </li>
								<input type="hidden" id="types" value="Applied">
                                </ul>

							    <div id="tabs-1" class="Applied">

									<div class="portfolio-single-cover post-job freelancer-actions-list-row">
										<div class="grid-80">
										<h3 class="sub-heading-arows job-heading">Branding and Social Media and Web content and strategy for HR Coach  </h3>
										<p class="rate-info"> Hourly - Intermediate ($$) - Est. Time: Less than 1 week, 10-30 hrs/week - Posted 1 minute ago </p>
										</div>
										<div class="actions-cover grid-20">
										<a href="" class="cancel-button">Cancel</a>
										<a href="" class="reply">Update</a>
										</div>
										<p class="description">
										I need someone to help me with branding and social media/marketing to move from employee to self
										employed Coach - I have a website basic framework and have registered my business name and
										have part time clients but still FT employed doing HR work .. <a href="">more</a>
										</p>
										<div class="skills-cover">
										<span class="skill">Photoshop</span>
										<span class="skill">Html</span>
										<span class="skill">illustrator</span>
										<span class="skill">Photoshop</span>
										<span class="skill">Html</span>
										<span class="skill">illustrator</span>
										<span class="skill">Photoshop</span>
										<span class="skill">Html</span>
										<span class="skill">illustrator</span>
										</div>
									</div>

									<div class="portfolio-single-cover post-job freelancer-actions-list-row">
										<div class="grid-80">
										<h3 class="sub-heading-arows job-heading">Branding and Social Media and Web content and strategy for HR Coach  </h3>
										<p class="rate-info"> Hourly - Intermediate ($$) - Est. Time: Less than 1 week, 10-30 hrs/week - Posted 1 minute ago </p>
										</div>
										<div class="actions-cover grid-20">
										<a href="" class="cancel-button">Cancel</a>
										<a href="" class="reply">Update</a>
										</div>
										<p class="description">
										I need someone to help me with branding and social media/marketing to move from employee to self
										employed Coach - I have a website basic framework and have registered my business name and
										have part time clients but still FT employed doing HR work .. <a href="">more</a>
										</p>
										<div class="skills-cover">
										<span class="skill">Photoshop</span>
										<span class="skill">Html</span>
										<span class="skill">illustrator</span>
										<span class="skill">Photoshop</span>
										<span class="skill">Html</span>
										<span class="skill">illustrator</span>
										<span class="skill">Photoshop</span>
										<span class="skill">Html</span>
										<span class="skill">illustrator</span>
										</div>
									</div>






								</div>


								<div id="tabs-2" class="Invitation">

								</div>

								<div id="tabs-3" class="Hired">

								</div>

						</div>
					 </div>
					  </div>
					</div>
					</div>

			</div></div>
			<!-- right-col for web -->
			<div class="right-col">
					<div class="top-rated-freelancer-side-cover">

						<h1>Top Rated Freelancers</h1>

						<div class="top-rated-row">
						<div class="top-rated-img"><img src="images/profile-image-2.jpg" alt=""></div>
						<div class="top-rated-info">
						<h2>Mary philip jhon Ezra <span class="designation">Developer/Data Miner</span></h2>
						<p><span class="price pull-left">$450</span> <span class="pull-left star-ratings"><img src="images/star-ratings.png" alt=""></span></p>
						</div>
						</div>

						<div class="top-rated-row">
						<div class="top-rated-img"><img src="images/profile-image-2.jpg" alt=""></div>
						<div class="top-rated-info">
						<h2>John Sam Ezra <span class="designation">Developer/Data Miner</span></h2>
						<p><span class="price pull-left">$450</span> <span class="pull-left star-ratings"><img src="images/star-ratings.png" alt=""></span></p>
						</div>
						</div>

						<div class="top-rated-row">
						<div class="top-rated-img"><img src="images/profile-image-3.jpg" alt=""></div>
						<div class="top-rated-info">
						<h2>John Sam Ezra <span class="designation">Developer/Data Miner</span></h2>
						<p><span class="price pull-left">$450</span> <span class="pull-left star-ratings"><img src="images/star-ratings.png" alt=""></span></p>
						</div>
						</div>

						<div class="top-rated-row">
						<div class="top-rated-img"><img src="images/profile-image-3.jpg" alt=""></div>
						<div class="top-rated-info">
						<h2>John Sam Ezra <span class="designation">Developer/Data Miner</span></h2>
						<p><span class="price pull-left">$450</span> <span class="pull-left star-ratings"><img src="images/star-ratings.png" alt=""></span></p>
						</div>
						</div>

						<div class="top-rated-row">
						<div class="top-rated-img"><img src="images/profile-image-2.jpg" alt=""></div>
						<div class="top-rated-info">
						<h2>John Sam Ezra <span class="designation">Developer/Data Miner</span></h2>
						<p><span class="price pull-left">$450</span> <span class="pull-left star-ratings"><img src="images/star-ratings.png" alt=""></span></p>
						</div>
						</div>

					</div>
			</div>
			<!-- right-col for web -->

    </div>
    <!--create-profile ends-->
    <div id="small-dialog_accept" class="zoom-anim-dialog mfp-hide small-dialog">
       <div class="delete-confirmation delete-msg">
           <h3><span class="jobaccept">Accept</span> Section</h3>
           <p>Are you sure want to <span class="jobaccept" >Accept </span> this job</p>
          <input type="hidden" id="id" >
          <input type="hidden" id ="title">
          <a onclick="Accepting()" class="yes">Ok</a>
          <a onclick="Close()" class="cancel">Cancel</a>
       </div>

    </div>
     <div id="small-dialog-workcategory" class="zoom-anim-dialog mfp-hide small-dialog">
                    <div class="more-filter-box">

                        <div class="job-filter">
                            <h4>main categories</h4>

                            <div class="search-categories">
                              <input placeholder="Search Categories" id="target_Workcategory" type="text">
                            </div>
                           <div id="Get_Work_Category">
                            <ul>
                                {% for type in workcategory %}
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="workcategory" value="{{type.id}}" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                {{type.category_title}}
                            </li>
                            {% endfor %}


                            </ul>
                            </div>
                             <div class="field-row">
                                <div class="grid-20 padding-right-5">
                                    <button type="button" onclick="GetSearching(),Close()" class="blue-button">Filter</button>
                                </div>
                                <div class="grid-20 padding-left-5">
                                    <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                </div>
                            </div>

                            <!--<div class="more-filter-action">-->
                              <!--<input value="Filter" type="button" onclick="GetSearching(),Close()">-->
                            <!--</div>-->

                        </div>

                    </div>
                </div>

    {% endblock %}
    {% block extra_js %}
<script>
 $(document).ready(function(){

   listJobs('1','','','','','','','','Applied');
   next();
 });
function listJobs(page_by,search,search_category,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax,type){
     $.ajax({
             url : "{% url 'freelancer:jobspaginationfreelancer' %}", // the endpoint
             type : "POST", // http method
             data : {method:"Search_job",page_by:page_by,search:search,search_category:search_category,search_status:search_status,search_type:search_type,search_experiance:search_experiance,search_hourlymin:search_hourlymin,search_hourlymax:search_hourlymax,type:type,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

             // handle a successful response
             success : function(data) {
                $(".body_loader").hide();

                $('.'+data.type).html(data.list_html);
                 next();
                paragraph();





             }
     });
}
 function next(){
       $(".paginate_by").click(function(){

          $(".body_loader").show();

          var page_by=$(this).data('attr');
          var option_all=getSearchTerm('workcategory');
          var search_type=getSearchTerm('Jobtype');
          var search_status=getSearchTerm('Jobstatus');
          var search_experiance=getSearchTerm('Experience');
          var search_hourlymin=$('#HourlyMin').val();
          var search_hourlymax=$('#HourlyMax').val();
          var type=$("#types").val();


          listJobs(page_by,'',option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax,type);





        });
 }
function GetJobtype(elm){
 var id = $(elm).data('id');
 $("#types").val(id);
 var option_all=getSearchTerm('workcategory');
  var search_type=getSearchTerm('Jobtype');
  var search_status=getSearchTerm('Jobstatus');
  var search_experiance=getSearchTerm('Experience');
  var search_hourlymin=$('#HourlyMin').val();
  var search_hourlymax=$('#HourlyMax').val();
  var type=$("#types").val();



 listJobs('1','',option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax,id);


}
function SetJobQuote(elm){

    localStorage.setItem('status_quote', $(elm).data('id'));

//window.location.href = $(elm).data('href');
}
function GetAccept(elm){

 var id =$(elm).data('inviteid');
 $("#id").val(id);

 var title= $(elm).data('title');
 $("#title").val(title);
 var list= $(elm).data('list');
var test = {"id":  id, "title":title,"html":$(elm).data('section'),"list":list};
localStorage.setItem("acceptvalues", JSON.stringify(test));

 $('.jobaccept').text(title);
 openPopup('small-dialog_accept');
}
function Accepting(){
   var test = JSON.parse(localStorage.getItem("acceptvalues"));



 $.ajax({
             url : ".", // the endpoint
             type : "POST", // http method
             data : {method:"Accept_or_reject",id:test.id,title:test.title,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

             // handle a successful response
             success : function(data) {
                if(data.status == 'success'){
                    if(test.title =='Accept'){
                        $('#'+test.html).siblings('.actions_status').html('<span class="job-status accepted">Accepted </span>');
                        $('#'+test.html).html('<a href="'+test.list+'" onclick="SetJobQuote(this)" data-id="tabs-3"  class="reply">Send Quote</a>');

                    }else{
                    $('#'+test.html).siblings('.actions_status').html('<span class="job-status rejected">Declined </span>');
                    $('#'+test.html).html('');


                    }
                    test={};
                        localStorage.setItem("acceptvalues", JSON.stringify(test));

                    Close();
                var text = "Successfully Updated";

                localStorage.setItem('status_msg_company', 'true');


                DisplayMessage('success', text);

                }




             }
     });

}
function GetSearching(){
             $(".body_loader").show();

              var option_all=getSearchTerm('workcategory');
              var search_type=getSearchTerm('Jobtype');
              var search_status=getSearchTerm('Jobstatus');
              var search_experiance=getSearchTerm('Experience');
              var search_hourlymin=$('#HourlyMin').val();
              var search_hourlymax=$('#HourlyMax').val();
              var type=$("#types").val();



             listJobs('1','',option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax,type);
          }
function getSearchTerm(term){
    var option_all='';
    if($('input[name='+term+']:checked').length >0){
        option_all += $('input[name='+term+']:checked').map(function () {
        return $(this).val()+",";
        }).get().join(',');

        return option_all;
    }else{
        return option_all;
    }

}
</script>
{% endblock %}