{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<div class="create-profile" id="create-profile">

          <div class="container-fluid two-grid-container create-profile-cover view-profil-page-cover">
		  <div class="two-grid-cover">
			<div class="left-coll">

			 {% include "common/profile.html" %}




			<!--proposal-info-cover-->
			<div class="proposal-info-cover">
				<div class="light-blue-cover proposal-data">
				<span>Notifications </span>
				<label>{{notificationcount}}</label>
				</div>
				<div class="light-blue-cover proposal-data">
				<span> Recent Contracts</span>
				<label>{{hiredetails.client_job.hire_jobs.count}}</label>
				</div>
				<div class="light-blue-cover proposal-data">
				<span>Contracts </span>
				<label>{{hiredetails.created_date}}</label>
				</div>
				<div class="light-blue-cover proposal-data">
				<span>Payouts </span>
				<label>456</label>
				</div>
				</div>
			<!--jproposal-info-cover-->


            </div>

           <div class="center-col">
			   {% include "common/message.html" %}
			<div class="create-profile-form-cover">
						<div class="view-profile-cover">
						<div class="view-profile-cover-inner job-deatils-cover">
						<div class="scroll-cover">
						<div class="jobs-basic-info">
						<!--jobs-basic-info-->
						<h1>{{hiredetails.job_title}}<span class="action-cover">
                               </span></h1>
							<p>
							<label class="grid-70 padding-right-10 job-category"><span class="blue-text">Job Category : </span> {{hiredetails.client_job.job_main_category.category_title}}  </label>
							{% if hiredetails.client_job.job_close_date %}<label class="grid-30 text-right closing-date"><span class="blue-text">Closing Date : </span>   {{hiredetails.client_job.job_close_date | date:'N  d Y' }}</label>{% endif %}
							</p>

						<!--description-->
						<div class="description">
						<h4>Details of the project</h4>
							<p class="more">

                                {{hiredetails.job_description}}
							</p>
						</div>
						<!--description-->


						<!--apply-for-this-job-cover--->


							<div class="apply-for-this-job-cover">
								<div class="">
									<div class="contract-person-details-cover">

										<div class="contract-person-photo"><img src="{% if hiredetails.client_profile.profile %} {{hiredetails.client_profile.profile.url }} {% else %} {% static 'images/no-image.svg'%}{% endif %}" alt=""></div>

										<div class="contract-person-details">
											<h4>{{hiredetails.client_profile.user.first_name}} {{hiredetails.client_profile.user.last_name}}</h4>
											<div class="star-rating"><img src="{% static 'images/star-ratings.png' %}" alt=""></img></div>
											<!--<a href="" class="solid-button-green">View Complete Profile</a>-->
										</div>

									</div>



									<div class="contract-actions-list-tabs-cover" id="tabss">

										<ul class="contract-actions-list-tabs">
											<input type="hidden" value="{{hiredetails.client_job.payment_type.id}}" id="paymnttype">
										<li {% if hiredetails.client_job.payment_type.id == 2 %} class="active"  {% endif %}> <a href="#tabs-1">Fixed </a> </li>
										<li {% if hiredetails.client_job.payment_type.id == 1 %} class="active"  {% endif %}> <a href="#tabs-2">Hourly</a> </li>
										</ul>
										<span class="job-coast">{% if hiredetails.budget %}${{hiredetails.budget}} {% else %} $0 {% endif %} {{hiredetails.client_job.payment_type.type}}</span>





											<div id="tabs-1" class="{% if hiredetails.client_job.payment_type.id == 2 %} {% else %} hide {% endif %}">

									<div class="milestone-table-cover">

									<!--milesonte-table-head-->
										<div class="milesonte-table-head">
											<h4>Milestones</h4>
										<div class="milesonte-table-head-action-cover">
											<!--<select>-->
											<!--<option>All Status</option>-->
											<!--</select>-->
											<!--<a class=" edit-button add-new" >Request Payout</a>-->
											<!--<a href="" class="positive-action table-action">Request Payout</a>-->
										</div>
										</div>
									<!--milesonte-table-head-->


								<!-- dailoge-box add milestone-->
            						<div id="small-dialog1" class="zoom-anim-dialog mfp-hide small-dialog title-edit">
										<form>
											<h3>Add Milestone</h3>


            								<div class="field-row">
            								<h3 class="form-label-blue">Title</h3>
            								<input placeholder="Enter the new project " type="text">
            								</div>
            								<div class="field-row">
            								<h3 class="form-label-blue">Details of the project</h3>
            								<textarea placeholder="About Me"></textarea>
            								</div>


											<div class="field-row">
												<div class="grid-20 padding-right-5">
													<button type="button" class="solid-button-green">Edit</button>
												</div>
            								</div>

            							</form>
            						</div>
								<!-- dailoge-box ends-->



								<!-- dailoge-box add milestone-->
            						<div id="small-dialog" class="zoom-anim-dialog mfp-hide small-dialog add-mile-stone-form">
										<form>
											<h3>Add Milestone to</h3>

											<div class="profile-photo-minimal-cover">
											<div class="profile-photo-minimal">
											<img src="images/profile-image.jpg" alt="">
											</div>
											<div class="profile-name">
											<h2>Praveen Kumar</h2>
											<p>Convention Center, Cultural Facilities 408 Almaden Blvd.</p>
											</div>
											</div>

            								<div class="field-row">

												<input placeholder="Milestone" type="text">
            								</div>

            								<div class="field-row">

												<textarea placeholder="Description"></textarea>
            								</div>

            								<div class="field-row">

            								<div class="grid-33 padding-right-5">
												<input placeholder="Start Date" class="calander start-date" type="text">
            								</div>

            								<div class="grid-33 padding-left-5">
												<input placeholder="End Date" class="calander end-date" type="text">
            								</div>

											<div class="grid-33 padding-left-5">
												<input placeholder="Rate" type="text">
            								</div>

            								</div>

											<div class="field-row">
												<div class="grid-25 padding-right-5">
													<button type="button" class="solid-button-green">Add Now</button>
												</div>
            								</div>

            							</form>
            						</div>
								<!-- dailoge-box ends-->




											<div class="" id="ListingMilestones">
												{% for milestone in hiredetails.milestone.all %}
												{% if milestone.status.status != 'Archive' and milestone.status.status != 'Draft' %}

												<div class="table-row" data-milestone ="{{milestone.id}}" >
													<div class="grid-5">
														<label class="checkbox inline-cover">
														<input name="Experience" value="Mid level" class="toggle" type="checkbox">
														<span></span>
													</label>
													</div>
													<div class="grid-50"><label>{{milestone.milestone_title}}</label></div>
													<div class="grid-10">
														{% if milestone.status.status == 'Draft'  %}
														<span class="mile-stone-status draft">{{milestone.status.status }}</span>
														{% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
														<span class="mile-stone-status pending">{% if milestone.status.status == 'Changed' %} Pending {% else %}{{milestone.status.status}} {% endif %}</span>
														{% elif milestone.status.status == 'Approved' %}
														<span class="mile-stone-status approved">{{milestone.status.status }}</span>
														{% elif milestone.status.status == 'Payed' %}
														<span class="mile-stone-status payed">{{milestone.status.status }}</span>

														{% endif %}
													</div>
													<div class="grid-10"><label class="rate">${{milestone.rate}}</label></div>
													<div class="grid-25">
														<div class="action-cover">
															{% if milestone.status.status == 'Draft' %}

															<a onclick="EditMilestone(this)" data-milestone ="{{milestone.id}}"  class="edit"></a>
															<a onclick="GetPopup(this)" class="delete" data-type ="delete"></a>
															<a onclick="GetPopup(this)" data-type ="send" class="positive-action table-action">Send</a>
													        <!--<a href="" class="delete"></a>-->
															{% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
                                                             <a onclick="GetPopup(this)" data-type ="approve" class="positive-action table-action">Approve</a>
															{% elif milestone.status.status == 'Approved' %}
															<a onclick="GetPopup(this)" data-type ="payout" class="positive-action table-action">Request Payout</a>


															{% endif %}
														</div>
													</div>
												</div>

												{% endif %}
												{% empty %}
													<div class="view-profile-single-section-nocontent">
													  <p>No Content to show ..</p>
													</div>
												{% endfor %}


												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
														<!--<label class="checkbox inline-cover">-->
														<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
														<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status approved">Approved</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
														<!--<div class="action-cover">-->
															<!--<a href="" class="positive-action table-action">Approve</a>-->
															<!--<a href="" class="negative-action table-action">Reject</a>-->
														<!--</div>-->
													<!--</div>-->
												<!--</div>-->

												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
														<!--<label class="checkbox inline-cover">-->
														<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
														<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status pending">Pending</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
														<!--<div class="action-cover">-->
															<!--<a href="" class="positive-action table-action">Pay</a>-->
															<!--<a href="" class="negative-action table-action">Reject</a>-->
														<!--</div>-->
													<!--</div>-->
												<!--</div>-->

												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
														<!--<label class="checkbox inline-cover">-->
														<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
														<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status payed">Payed</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
														<!--<div class="action-cover">-->
															<!--<a href="" class="positive-action table-action">Request Payout</a>-->
														<!--</div>-->
													<!--</div>-->
												<!--</div>-->

												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
													<!--<label class="checkbox inline-cover">-->
													<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
													<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status payed">Approved</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
													<!--<div class="action-cover">-->
													<!--<a href="" class="edit"></a>-->
													<!--<a href="" class="delete"></a>-->
													<!--</div>-->
													<!--</div>-->
												<!--</div>-->

											</div>
										</div>

									</div>

									<div id="tabs-2"  class="{% if hiredetails.client_job.payment_type.id == 1 %} contarct-page-table {% else %} hide contarct-page-table {% endif %}">
										<div class="milestone-table-cover tabs-2" id="weekly_contract">

									    </div>

									</div>

									</div>
									{% if hiredetails.status.status == 'Pending' %}
									<div class="field-row ContractApproved" >
                                       <div class="acceptance-cover">
                                          <label class="checkbox inline-cover">
                                             <input name="Terms" id="termscondn" class="toggle" type="checkbox">
                                             <span>I Accept  Terms and Condition</span>
                                             <div class="errors_termscondn error"></div>
                                          </label>
                                       </div>

                                    </div>
									{% endif %}

									<div class="contract-actions-bar text-center">
										{% if hiredetails.status.status == 'Pending' %}
										<!--<a   {% if hiredetails.status.status == 'Pending' %} href="#small-dialog_contract" {% endif %} class="solid-button-green {% if hiredetails.status.status == "Pending" %} popup-with-zoom-anim {% endif %} " id="ContractApproved">Approve Contract </a>-->
										<a   {% if hiredetails.status.status == 'Pending' %}  {% endif %} class="solid-button-green ContractApproved {% if hiredetails.status.status == "Pending" %}  {% endif %} " id="ContractApproved" onclick="CheckTerms()">Approve Contract </a>
									    {% elif  hiredetails.status.status == 'Approved' %}
										<!--<a  class="solid-button-green  " > Approved Contract</a>-->

										{% endif %}
										<!--<a  class="solid-button-green  hide" >Contract Send</a>-->
                                        <!--<a  class="solid-button-green hide" id="Contractsend">  Approved Contract</a>-->
									</div>




								</div>
							</div>


					<!--apply-for-this-job-cover ends--->
						</div>
						</div>
						</div>
						</div>

			</div>	</div>
			<!-- right-col for web -->
    </div>
	</div>
<div id="small-dialog_contract" class="zoom-anim-dialog mfp-hide small-dialog">
	<div class="delete-confirmation delete-msg">
	  <h3>Contract Section</h3>
	  <p>Are you sure  want to approve this contract</p>
	  <input type="hidden" id="conrctid" value="{{hiredetails.id}}" >

	  <a id="ContractApproveds" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
	</div>

</div>
<div id="small-dialog_milestoneapprove" class="zoom-anim-dialog mfp-hide small-dialog">
	<div class="delete-confirmation delete-msg">
	  <h3>Milestone Section</h3>
	  <p>Are you sure you want to approve this milestone</p>
	  <input type="hidden" id="milstoneid" >

	  <a id="MilestoneApproveds" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
	</div>

</div>
<div id="small-dialog_timesheetedit" class="zoom-anim-dialog mfp-hide small-dialog add-time-sheet-cover"></div>
<div id="small-dialog_send_milestone" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
	  <h3>Timesheet Section</h3>
	  <p>Are you sure you want to send this timesheet</p>
	  <input type="hidden" id="milstoneidsend"  >

	  <a id="SendTimeSheet" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
   </div>

</div>
	<input type="hidden" id="milstonetype"  >
	<div id="small-dialog_payout_milestone" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
	  <h3><span class="sectiontxt">Milestone</span> Section</h3>
	  <p>Are you sure to  request the payment?</p>


	  <a id="RequestPay" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
   </div>

</div>
    <!--create-profile ends-->
    {% endblock %}
	{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function() {

     SendContract();
     MilestoneApproveds();
     TimesheetSubmit();
     SendTimeSheet();
     RequestPay();

     if ($('#paymnttype').val() == '2'){
     ListingMilestones('1','MileStone_listing');
     }else{
     ListingMilestones('1','Creating_Timesheet');
     }


    });
    function SendContract(){
         $(document).on("click","#ContractApproveds",function() {
            $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Contract_approved',id:$('#conrctid').val(),csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                     Close();
                     var text = data.message
                   if (data.status == 'success'){
                       if(data.jobtype =='2'){
                        ListingMilestones('1','MileStone_listing');
                        }else{
                        ListingMilestones('1','Creating_Timesheet');
                        }
                        localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', text);
						$('.ContractApproved').hide();
						$('#Contractsend').removeClass('hide');

				   }else{

                        localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed', text);

					}


                 }
             });

        });
    }
    function GetPopup(elm){
       var milestoneid = $(elm).parents('.table-row').data('milestone');
       var milstonetype = $(elm).parents('.table-row').data('milestonetype');
       $("#milstonetype").val(milstonetype);

       if($(elm).data("type")=='approve'){

       $("#milstoneid").val(milestoneid);
       openPopup('small-dialog_milestoneapprove');
       }
       if($(elm).data("type")=='send'){
       $("#milstoneidsend").val(milestoneid);

        openPopup('small-dialog_send_milestone');
       }
       if($(elm).data("type")=='payout'){


       $("#milstoneidsend").val(milestoneid);

       if(milstonetype == 1){
       $('.sectiontxt').html("Milestone")

       }else{
       $('.sectiontxt').html("Time Sheet")
       }


       openPopup('small-dialog_payout_milestone');
       }

    }
    function MilestoneApproveds(){
    $(document).on("click","#MilestoneApproveds",function() {
            $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Milestone_approved',id:$('#milstoneid').val(),csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                     Close();
                     var text = data.message
                   if (data.status == 'success'){
                        ListingMilestones('1','MileStone_listing');
                        localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', text);
						$('#ContractApproved').hide();
						$('#Contractsend').show();
				   }else{
                        localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed', text);

					}


                 }
             });

        });

    }
    function ListingMilestones(page_by,method){
        $(".body_loader").show();
		$.ajax({
					 url : "{% url 'hire:listmilestone' %}", // the endpoint
					 type : "POST", // http method
					 data : {method:method,page_by:page_by,contractid:"{{hiredetails.id}}",csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

					 // handle a successful response
					 success : function(data) {
					 $(".body_loader").hide();

                        $("#"+data.class).html(data.paginator_html);
                        next_listing();
					 }
        });

    }
    function next_listing(){
       $(".paginate_by").click(function(){


          $(".body_loader").show();

          var page_by=$(this).data('attr');
          var method=$(this).data('method');



          ListingMilestones(page_by,method);




        });
 }
 <!--function Creating_timesheet(){-->
	 <!--$.ajax({-->
					 <!--url : ".", // the endpoint-->
					 <!--type : "POST", // http method-->
					 <!--data : {method:'Creating_Timesheet',id:"{{hiredetails.id}}",csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request-->

					 <!--// handle a successful response-->
					 <!--success : function(data) {-->
						 <!--Close();-->
						 <!--var text = data.message-->
					   <!--if (data.status == 'success'){-->
							<!--$('.tabs-2').html(data.html_content);-->
					   <!--}else{-->
							<!--localStorage.setItem('status_msg_company', 'true');-->
							<!--DisplayMessage('failed', text);-->

						<!--}-->


					 <!--}-->
	 <!--});-->

 <!--}-->
 function EditTimesheet(elm){
     var timesheetid = $(elm).parents('.table-row').data('milestone');

     $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Get_Timesheet',timesheetid:timesheetid,id:"{{hiredetails.id}}",csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                     Close();
                     var text = data.message
                   if (data.status == 'success'){

                   $("#small-dialog_timesheetedit").html(data.html_content);
                   openPopup('small-dialog_timesheetedit');
                   datepicker();
                   $('.add-time-input').timepicker({ timeFormat: 'H:mm:ss' });


                    }else{



						localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed', text);

					}


                 }
             });

    }
    function TimesheetSubmit(){

    $(document).on("click",".time_entry_submit",function() {

		$.ajax({
			 url : ".", // the endpoint
			 type : "POST", // http method
			 data : $(".weekly_time_form").serialize(), // data sent with the post request

			 // handle a successful response
			 success : function(data) {
			    Close();
				$(".body_loader").hide();

			    if(data.status == 'success'){

					localStorage.setItem('status_msg_company', 'true');
					DisplayMessage('success', data.message );

					$("#"+data.class).html(data.paginator_html);

				}else{
				    localStorage.setItem('status_msg_company', 'true');
					DisplayMessage('failed', data.message );

				}
				next_listing();
				ListingMilestones('1','Creating_Timesheet');
			 }
		});

    });
    }
    function SendTimeSheet(){
        $(document).on("click","#SendTimeSheet",function() {
           $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Send_Timesheet',weekid:$("#milstoneidsend").val(),id:{{hiredetails.id}},csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                   Close();
                   var text = data.message
                   if (data.status == 'success'){
                     ListingMilestones('1','Creating_Timesheet');
                     localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', data.message);




                    }else{
                       localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed',  data.message);

					}


                 }
           });

        });

    }
    function RequestPay(){
       $(document).on("click","#RequestPay",function() {
            $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Request_payout',id:$("#milstoneidsend").val(),type:$("#milstonetype").val(),csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                   Close();
                   var text = data.message
                   if (data.status == 'success'){
                   if($("#milstonetype").val() == 1){
                     ListingMilestones('1','MileStone_listing');
                     }else{
                       ListingMilestones('1','Creating_Timesheet');
                     }
                     localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', data.message);




                    }else{
                       localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed',  data.message);

					}


                 }
           });
        });

    }
     function CheckTerms() {
        if ($('#termscondn').prop("checked") == false) {

            $(".errors_termscondn").html('<ul class="errorlist"><li>Please accept the Terms & Conditions</li></ul>');

        } else {
            $(".error").hide();
             $('#ContractApproveds').click();

        }
    }
</script>
	 {% endblock %}
