{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}

 <div class="create-profile" id="create-profile">
            <div class="loader">
            </div>
            <div class="container-fluid create-profile-cover">
               <div class="left-coll">


                  <!--profile image-->
                  {% include "common/freelancer_profile_image.html" %}
                  <!--profile image-->
                <a class="popup-with-zoom-anim edit-button small-dialog_hourly_rate hide"    href="#small-dialog">Edit</a>

                  <div id="HourlyRate">
                  <div class="rate-info left-side-info-box">
                     <div class="action-cover">
                        <a class="edit-button ChangeHourlyPopup"   data-hidden="locationHide" >Edit</a>
                     </div>
                     <h3>Hourly Rate</h3>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>Hourly Rate</span>
                           <label>$ {% if request.user.freelancer_hourly_user.get.hourly_rate %}{{request.user.freelancer_hourly_user.get.hourly_rate}} {% else %} 0.00 {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>Actual Rate</span>
                           <label>$ {% if request.user.freelancer_hourly_user.get.actual_rate %}{{request.user.freelancer_hourly_user.get.actual_rate}}{% else %} 0.00 {% endif %}</label>
                        </div>
                     </div>
                  </div>
                  <div class="rate-info left-side-info-box">
                     <div class="action-cover">
                        <a class=" edit-button ChangeHourlyPopup" data-hidden="hourlyHide" >Edit</a>
                     </div>
                     <h3>Location Details</h3>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>Country</span>
                           <label>{% if request.user.freelancer_location_user.get.country.name %}{{request.user.freelancer_location_user.get.country.name}}{% else %} Not set {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>City</span>
                           <label>{% if request.user.freelancer_location_user.get.city.name %}{{request.user.freelancer_location_user.get.city.name}}{% else %} Not set {% endif %}</label>
                        </div>
                     </div>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>State</span>
                           <label>{% if request.user.freelancer_location_user.get.state.name %}{{request.user.freelancer_location_user.get.state.name}}{% else %} Not set {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>ZIP Code</span>
                           <label>{% if request.user.freelancer_location_user.get.zip_code %}{{request.user.freelancer_location_user.get.zip_code}}{% else %} Not set {% endif %}</label>
                        </div>
                     </div>
                     <div class="left-side-info-row address-block">
                        <p class="location">{% if request.user.freelancer_location_user.get.address %}{{request.user.freelancer_location_user.get.address}}{% else %}Not set{% endif %}.</p>
                     </div>
                  </div>
               </div>
                  <div class="view-the-company">

                     {% if request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_user.get or request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all %}
                     <a  href="{% url 'freelancer-company:freelancercompanyview' %}" class="view-the-company-link">View the Company<i></i></a>
                     {% else %}
                     <a  href="{% url 'freelancer-company:freelancercompany' %}" class="view-the-company-link">Create Company<i></i></a>
                     {% endif %}
                  </div>
               </div>
               <div class="center-col" id="tabs">

                   {% include "common/message.html" %}
                  <div class="create-profile-form-cover">
                     <div id="tabs-1" class="form-step step-1">
                        <div class="view-profile-cover">
                           <div class="view-profile-cover-inner">
                              <div class="scroll-cover">
                                 <section class="profile-introduction view-profile-single-section overview-cover" id="overview-cover" data-anchor="overview-cover">
                                    <a class="popup-with-zoom-anim edit-button Profile_edit hide" onclick="Getfunction()" href="#small-dialog_2">Edit</a>
                                    <div id="ProfileUser">
                                    <div class="freelancer-basic-info">

                                       <div class="grid-100">
                                          <h2>{{request.user.user_detail.get.title}}  <a class="edit-button" onclick="Get_freelancer_profile_popup()" >Edit</a>
                                       </h2>
                                          <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                          <h4><span class="designation t_c_d">{% if request.user.user_detail.get.workcategory.category_title %}{{ request.user.user_detail.get.workcategory.category_title}} {% endif %}</span> <span class="small_t">({% if request.user.experience_level.exp_level_type %}{{ request.user.experience_level.exp_level_type}}{% endif %})</span> <span class="rate">${% if request.user.freelancer_hourly_user.get.hourly_rate %}{{request.user.freelancer_hourly_user.get.hourly_rate}}{% else %}0.00{% endif %}/hr <a class="edit-button ChangeHourlyPopup"  data-hidden="locationHide" >Edit</a></span></h4>
                                          <p class="location">{% if request.user.freelancer_location_user.get.address %}{{request.user.freelancer_location_user.get.address}}{% else %}Not set{% endif %}.</p>
                                       </div>
                                    </div>
                                    <!--<div class="grid-20">-->
                                    <!--<span class="rate">$40.00/hr</span>-->
                                    <!--</div>-->
                                    <!-- skills-cover -->
                                    <div class="skills-cover ">

                                       {% for skills in request.user.user_detail.get.skills.all %}
                                       <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skills.name}}</span>
                                       {% endfor %}

                                       {% if request.user.user_detail.get.skills.all|length > 10 %}
                                        <a  onclick="Moreskills(this)" class="more">More</a>
                                        {% endif %}
                                       <!--<span class="skill">Html</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">Photoshop</span>-->
                                       <!--<span class="skill">Html</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">Development</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">xamp</span>-->
                                       <!--<span class="skill">Fireworks</span>-->
                                       <!--<span class="skill">Design</span>-->
                                       <!--<span class="skill">xamp</span>-->
                                       <!--<span class="skill">Fireworks</span>-->
                                       <!--<span class="skill">Design</span>-->
                                       <!--<span class="skill">Development</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">xamp</span>-->
                                       <!--<span class="skill">Fireworks</span>-->
                                       <!--<span class="skill">Design</span>-->
                                       <!--<a href="" class="more">more..</a>-->
                                    </div>
                                       <div class="description">
                                       <p class="more">
                                          {% if request.user.user_detail.get.about %}{{request.user.user_detail.get.about}}{% endif %}

                                       </p>

                                    </div>
                                    </div>
                                    <!-- dailoge-box -->
                                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <form name="hourly" id="hourlyHide" class="targetDiv">
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Hourly Rate ($)</h3>
                                                <input type="text" maxlength="8" class="number" onkeyup="hourlrate(this)" name="hourly_rate" data-name="Hourly Rate" placeholder="Hourly Rate"
                                                   value="{% if request.user.freelancer_hourly_user.get.hourly_rate %}{{request.user.freelancer_hourly_user.get.hourly_rate}}{% endif %}" />
                                                <span class="error_msgs"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Actual Rate ($)</h3>
                                                <input type="text" value="{% if request.user.freelancer_hourly_user.get.actual_rate %}{{request.user.freelancer_hourly_user.get.actual_rate}} {% endif %}"  disabled placeholder="Actual Rate"  class="actual_rate" name="actual_rate"/>
                                             </div>
                                          </div>
                                       </form>
                                       <form name="location" id="locationHide" class="targetDiv">
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Country</h3>
                                                <select name="country" class="country" data-id="{% if request.user.freelancer_location_user.get.country.pk %}{{request.user.freelancer_location_user.get.country.pk}}{% else %} 0 {% endif %}" onchange="GetState(this)">
                                                   <option value="0">Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                </select>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">State</h3>
                                                <select name="state" class="state" data-id="{% if request.user.freelancer_location_user.get.state.pk %}{{request.user.freelancer_location_user.get.state.pk}}{% else %} 0 {% endif %}" onchange="GetCity(this)">
                                                   <option value="0">Select State</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                </select>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">City</h3>
                                                <select name="city" class="city" data-id="{% if request.user.freelancer_location_user.get.city.pk %}{{request.user.freelancer_location_user.get.city.pk}}{% else %} 0 {% endif %}">
                                                   <option value="0">Select State</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                </select>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Zip Code</h3>
                                                <input type="text" value="{% if request.user.freelancer_location_user.get.zip_code %}{{request.user.freelancer_location_user.get.zip_code}} {% endif %}" placeholder="ZIP Code" maxlength="8" name="zip"/>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Address</h3>
                                             <textarea placeholder="Address" name="address">{% if request.user.freelancer_location_user.get.address %}{{request.user.freelancer_location_user.get.address}} {% endif %}</textarea>
                                          </div>

                                       </form>
                                       <div class="field-row">
                                             <div class="grid-20 padding-right-5">
                                                <button type="button" onclick="SaveHourlyRate()" class="blue-button">Save</button>
                                             </div>
                                             <div class="grid-20 padding-left-5">
                                                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                             </div>
                                          </div>
                                    </div>
                                    <!-- skills-cover ends--><!-- dailoge-box --><!-- dailoge-box -->

                                    <!-- skills-cover ends--><!-- dailoge-box -->
                                    <div id="small-dialog_2" class="zoom-anim-dialog mfp-hide small-dialog">

                                    </div>
                                    <!-- skills-cover ends-->
                                    <div id="small-dialog_addportfolio" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <form id="add_portfolio">
                                          {% csrf_token %}
                                          <input type="hidden" name="method" value="Save_freelancer_portfolio">
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Project Name</h3>
                                             <input placeholder="Project Name" maxlength="50" class="name names" data-name="Project Name"  name="project_name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Description</h3>
                                             <textarea placeholder="Description" name="description"></textarea>
                                          </div>
                                          <span class="errors_description error"></span>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Work Category</h3>
                                                <select class="work_category work_categorys" data-name="Work Category " data-id="0" data-type="2" name="work_category" onchange="Getsubcategory(this),GetSkills(this)">
                                                   <option>Work Category1</option>
                                                   <option>Work Category2</option>
                                                   <option>Work Category3</option>
                                                   <option>Work Category4</option>
                                                </select>
                                                <span class="error_msg"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Sub Category</h3>
                                                <select class="sub_category" name="sub_category" data-id="0" data-type="2" multiple="multiple">
                                                   <option value ="0">Select Sub Category</option>
                                                </select>
                                                <span class="errors_subcategory error"></span>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Skills</h3>
                                                <select class="skillsoptions" multiple="multiple" data-id="0" name="skills">
                                                   <option value="0">Select Skills</option>
                                                </select>
                                                <span class="errors_skills error"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Project Url</h3>
                                                <input placeholder="Project Url"  value ="" data-name="Project Url" class="project_url" name="project_url" type="text">
                                                <span class="error_msg"></span>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-20 padding-right-5">
                                                <button type="button" onclick="SavefreelancerPortfolio()" class="blue-button">Save</button>
                                             </div>
                                             <div class="grid-20 padding-left-5">
                                                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                    <!-- skills-cover ends-->
                                    <div id="small-dialog_editportfolios" class="zoom-anim-dialog mfp-hide small-dialog">
                                    </div>
                                    <!-- skills-cover ends-->
                                    <div id="box"></div>
                                    <!-- skills-cover ends-->
                                    <div id="small-dialog_addpemployment" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <form id="addpemployment">
                                          {% csrf_token %}
                                          <input type="hidden" name="method" value="Save_freelancer_employment">
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Company Name</h3>
                                             <input placeholder="Company Name" maxlength="50" name="company_name" type="text"  data-name="Company Name" class="namesd"><span class="error_msg"></span>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Role</h3>
                                             <input placeholder="Role" type="text" maxlength="30" data-name="Role" class="" name="role">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Start Date</h3>
                                                <input placeholder="Start Date" class="calander start-date"    name="start_date" type="text" readonly value="">
                                                <span class="error_msg"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">End Date</h3>
                                                <input placeholder="End Date" class="calander end-date" name="end_date"   type="text" readonly>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Description</h3>
                                             <textarea placeholder="Description" name="description" > </textarea>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-20 padding-right-5">
                                                <button type="button" onclick="SavefreelancerEmployment()" class="blue-button">Save</button>
                                             </div>
                                             <div class="grid-20 padding-left-5">
                                                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                    <!-- skills-cover ends-->
                                    <!-- description -->
                                    <!-- skills-cover ends-->

                                    <!-- skills-cover ends-->
                                     <!-- skills-cover ends-->
                                    <!-- skills-cover ends-->
                                    <div id="small-dialog_addcertification" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <form id="addpcertification">
                                          {% csrf_token %}
                                          <input type="hidden" name="method" value="Save_freelancer_certification">
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Certification Name</h3>
                                             <input maxlength="50" placeholder="Certification Name" data-name="Certification Name" class="namesc" name="certificate_name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Issued by</h3>
                                             <input maxlength="30" placeholder="Issued by" type="text" name="issuedby" value="">
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Start Date</h3>
                                                <input placeholder="Start Date" class="calander start-date"    name="start_date" type="text" readonly value="">
                                                <span class="error_msg"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">End Date</h3>
                                                <input placeholder="End Date" class="calander end-date" name="end_date"   type="text" readonly>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-20 padding-right-5">
                                                <button type="button" onclick="SavefreelancerCertification()" class="blue-button">Save</button>
                                             </div>
                                             <div class="grid-20 padding-left-5">
                                                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                    <!-- skills-cover ends-->
                                    <!-- description -->
                                    <style>

                                    </style>





                                    <!-- description -->
                                    <!-- clients-comments-cover -->
                                    <div class="clients-comments-cover hide">
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.<a href="" class="read-more"> [ ... ] </a></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for. <a href="" class="read-more"> [ ... ] </a></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="load-more-cover">
                                          <a href="">Load More</a>
                                       </div>
                                    </div>
                                    <!-- clients-comments-cover -->
                                 </section>
                                 <!-- portfolio-cover -->
                                 <section class="portfolio-cover view-profile-single-section" id="portfolio-cover" data-anchor="portfolio-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Portfolio <span class="PortfoiloList">({{request.user.portfolio.count}})</span></h2>
                                       
									   <!-- .btn_d -->
									   
									   <a class="btn_d btn_pre_plus pull-right popup-with-zoom-anim edit-button FormReset"  data-form="add_portfolio" href="#small-dialog_addportfolio"> <span class=" ">Add Portfolio</span></a>
									   
                                       <a class="hide popup-with-zoom-anim edit-button small-dialog_editportfolios" href="#small-dialog_editportfolios"> <span  class="add-another employemet-history-add " data-clone-tri="1">add portfolio</span></a>
									   
                                       <a class="hide popup-with-zoom-anim edit-button small-dialog_delete" href="#small-dialog_delete"> <span  class="add-another employemet-history-add " data-clone-tri="1">Delete</span></a>
                                    </div>
                                    <div id="PortfoiloList">
                                    {% for portfolio in request.user.portfolio.all %}
                                    <div class="portfolio-single-cover view-clone-cover">
                                       <div class="action-cover">
                                          <div class="delete-button deletevalues" onclick="DeleteSection(this)"  data-id="{{portfolio.pk}}" data-title="portfolio">Delete</div>
                                          <a class="edit-button" onclick="GetEditDetails(this)"  data-title="portfolio" data-id="{{portfolio.pk}}">Edit</a>
                                       </div>
                                       <h3 class="sub-heading-arows">{{portfolio.project_name}}</h3>
                                       <p class="skills ">
                                          {% for skills in  portfolio.skills.all %}
                                          {{skills.name}}
                                          {% if forloop.counter < portfolio.skills.all.count %}
                                          ,
                                          {% endif %}
                                          {% empty %}
                                          {% endfor %}
                                       </p>
                                       {% if portfolio.description %}
                                       <p class="description more">
                                          {{portfolio.description}}
                                       </p>
                                       {% endif %}
                                        <!--{% if portfolio.work_category %}-->
                                       <!--<p class="category">{{portfolio.work_category.category_title}} </p>-->
                                       <!--{% endif %}-->
                                        <!--{% if portfolio.sub_category %}-->
                                       <!--<p class="sub-category">{{portfolio.sub_category.sub_category_title}} </p>-->
                                       <!--{% endif %}-->
                                        {% if portfolio.project_url %}
                                       <a href="{{portfolio.project_url}}" target="_blank" class="portfolio-link">{{portfolio.project_url}}</a>
                                       {% endif %}
									   <p class="t_s">Portfolio Showcase</p>
									   
									   <div class="upload_p_box portfolio-image-cover Get_portfolios">

												  {% for portfolios in portfolio.portfoilid_id.all %}
													<div class="portfolio-image" data-id="{{portfolios.id}}">

														<img src="{{ portfolios.thumb_portfolio_image.url}}" alt="" class="pip"/>
														 <a href="{{ portfolios.thumb_portfolio_image.url}}"  title="{{ portfolio.thumb_portfolio_image}}">
														<span  class="view-action portfolio-actions"></span></a>
														<span  class="delete-action portfolio-actions removePreviws" onclick="DeleteProfiles(this)" data-id="{{portfolios.id}}" data-pid="{{portfolio.id}}" data-title="portfolioimage"></span>
														</a>
													</div>
												  {% endfor %}
												  
												  
												  
												  

												<div class="upload_p_con upload-img portfolio-image-add {% if portfolio.portfoilid_id.count >= 8 %}hide{% endif %}">
													<div  class="add-more" title="" onclick="selectimage(this)">
														<span class="btn_a">+</span>
													</div>
													
													<input type="file" multiple name="imagesupload" class="id_attachments" value="" onchange="triggerbtn(this)">
													
													<!-- <a class="upload_img" onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a> -->
													
												</div>
												
												
												<div class="img_selected"> <!-- Show selected images goes here -->
 													<div class="upload_img_con"> <!-- Upload/Save button goes here -->
														<a class="upload_img " onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a>
													</div>
												</div>
												
												
												
                                       </div>
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Portfolio to show ..  <a href="#small-dialog_addportfolio" class="popup-with-zoom-anim edit-button FormReset"  data-form="add_portfolio" >Add Portfolio</a></p>
                                    </div>
                                    {% endfor %}
                                       </div>

                                 </section>
                                 <!-- portfolio-cover ends-->
                                 <!-- employement-history -->
                                 <section class="employement-history-cover view-profile-single-section" id="employment-history-cover" data-anchor="employment-history-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Employment History <span class="EmploymentList">({{request.user.employment_history.count}})</span></h2>
                              
									   <a class="btn_d btn_pre_plus pull-right popup-with-zoom-anim edit-button FormReset"  data-form="addpemployment" href="#small-dialog_addpemployment"> <span class="" data-clone-tri="1">Add Employment</span></a>
                                    </div>
                                    <div id="EmploymentList">
                                    {% for employment in request.user.employment_history.all %}
                                    <div class="employement-history-single view-clone-cover">
                                       <div class="action-cover">
                                          <div class="delete-button deletevalues"  onclick="DeleteSection(this)" data-id="{{employment.pk}}" data-title="employment">Delete</div>
                                          <a class="edit-button"  onclick="GetEditDetails(this)"  data-title="employment" data-id="{{employment.pk}}">Edit</a>
                                       </div>
                                       <h3 class="sub-heading-arows">{{ employment.company_name}}</h3>
                                       <p class="role">{{ employment.role}}</p>
                                       <div class="duration-cover">
                                          {% if employment.start_date %}
                                          <span class="duration-start-date date">{{ employment.start_date|date:'d-m-Y'}} 10 November 2015 to 12 October 2016</span>
                                          {% endif %}
                                          {% if employment.end_date %}
                                          <span class="to">to</span>
                                          <span class="duration-end-date date">{{employment.end_date |date:'d-m-Y' }}</span>
                                          {% endif %}
                                       </div>
                                       <p class="description more">
                                          {{ employment.description}}
                                       </p>
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Employment History to show .. <a href="#small-dialog_addpemployment" class="popup-with-zoom-anim edit-button FormReset"  data-form="addpemployment">Add Employment</a></p>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <!--<div class="employement-history-single view-clone-cover">-->
                                    <!--<div class="action-cover">-->
                                    <!--<div class="delete-button">Delete</div>-->
                                    <!--<a class="popup-with-zoom-anim edit-button" href="#small-dialog">Edit</a>-->
                                    <!--</div>-->
                                    <!--<h3 class="sub-heading-arows">Techoforest Softwares</h3>-->
                                    <!--<p class="role">UI/UX Designer</p>-->
                                    <!--<div class="duration-cover">-->
                                    <!--<span class="duration-start-date date">21-02-2015</span>-->
                                    <!--<span class="to">to</span>-->
                                    <!--<span class="duration-end-date date">12-06-2017</span>-->
                                    <!--</div>-->
                                    <!--<p class="description">-->
                                    <!--Skills Highlight projects, accomplishments, and education Keep it short and make sure it is error-free  clients you-->
                                    <!--Use this space to show clients you have the skills and experience they're looking for.-->
                                    <!--</p>-->
                                    <!--</div>-->
                                 </section>
                                 <!-- employement-history end -->
                                 <!-- certifications-cover -->
                                 <section class="certifications-cover" id="certifications-cover" data-anchor="certifications-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Certifications <span class="CertificationList">({{request.user.cerifications.count}})</span></h2>
                                       <a class="popup-with-zoom-anim edit-button FormReset"  data-form="addpcertification"  href="#small-dialog_addcertification"><span  class="add-another employemet-history-add" data-clone-tri="1">Add Certifications</span></a>
                                    </div>
                                    <div id="CertificationList">
                                    {% for cerifications in request.user.cerifications.all %}
                                    <div class="certifications-cover-single view-clone-cover">
                                       <div class="action-cover">
                                          <div class="delete-button deletevalues"  onclick="DeleteSection(this)" data-id="{{cerifications.pk}}" data-title="cerifications">Delete</div>
                                          <a class="edit-button"  onclick="GetEditDetails(this)"  data-title="cerifications" data-id="{{cerifications.pk}}">Edit</a>
                                       </div>
                                       <h3 class="sub-heading-arows">{{cerifications.certificate_name}}</h3>
                                       <p>
                                          {% if cerifications.issued_by %}
                                          Issued by :{{cerifications.issued_by}}
                                          {% endif %}
                                       <div class="duration-cover">
                                          {% if cerifications.valid_from %}
                                          Issued from :
                                          <span class="duration-start-date date">{{cerifications.valid_from |date:'d-m-Y'}}</span>
                                          {% endif %}
                                          {% if cerifications.end_to %}
                                          <span class="to">to</span>
                                          <span class="duration-end-date date">{{cerifications.end_to |date:'d-m-Y'}}</span>
                                          {% endif %}
                                       </div>
                                       </p>
                                       <!--<div class="certifications-image-cover">-->
                                          <!--<div class="certification-image">-->
                                             <!--<a href="{% static 'images/cert-1.jpg' %}" title="Into The Blue">-->
                                             <!--<img src="{% static 'images/cert.jpg' %}" width="193" height="125" /></a>-->
                                          <!--</div>-->
                                       <!--</div>-->
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Certifications to show .. <a href="#small-dialog_addcertification" class="popup-with-zoom-anim edit-button FormReset"  data-form="addpcertification">Add Certifications</a></p>
                                    </div>
                                    {% endfor %}
                                       </div>
                                 </section>
                                 <!-- certifications-cover end -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- right-col for web -->
               <div class="right-col web-view-element">

                  <div class="view-profile-links">
                     <ul>
                        <li>
                           <a href="#overview-cover" data-scroll="overview-cover" class="overview" id="overview">Overview</a>
                        </li>
                        <li>
                           <a href="#portfolio-cover" data-scroll="portfolio-cover" class="portfolio">Portfolio</a>
                        </li>
                        <li>
                           <a href="#employment-history-cover" data-scroll="employment-history-cover" class="employement-history">Employment History</a>
                        </li>
                        <li>
                           <a href="#certifications-cover" data-scroll="certifications-cover" class="certifications">Certifications</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- right-col for web -->
            </div>
         </div>
<div id="small-dialog_delete" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
   <h3>Delete Section</h3>
   <p>Are you sure want to delete this section</p>
   <input type="hidden" id="id" >
   <input type="hidden" id ="title">
   <a onclick="GetDeletedDetails()" class="yes">Ok</a>
   <a onclick="Close()" class="cancel">Cancel</a>
   </div>
   <div id="delete-msg" class="delete-confirmation ">
   <h3>Delete Section</h3>
   <p>Successfully Deleted</p>
   </div>
   </div>
   <div id="small-remove_portfoilio" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
   <h3>Delete Image</h3>
   <p>Are you sure want to delete this section</p>
   <input type="hidden" id="ids" >
   <input type="hidden" id="pids" >
   <input type="hidden" id ="titles">
   <a onclick="GetDeletedDetailss()" class="yes">Ok</a>
   <a onclick="Close()" class="cancel">Cancel</a>
   </div>
   <div id="delete-msgs" class="delete-confirmation ">
   <h3>Delete Image</h3>
   <p>Successfully Deleted</p>
   </div>
</div>
                                    <!-- skills-cover ends-->
{% endblock %}

{% block extra_js %}
{% include "common/freelancer_profile_script.html" %}

<script>
    $(document).ready(function() {



        $(".help-accordion").accordion({
            heightStyle: "content",
            collapsible: true
        });
        RemoveImages();
        DisplayImages();



        $(".mobile-menu").click(function() {
            $(".header-elents-cover").slideToggle('fast');
        });

        $(".language-selector").click(function() {
            $(".languages").fadeToggle('fast');
        });

        $('.create-profile').ready(function() {
            $(".loader,.loader-overlay").fadeOut("slow");
        });

        $(".form-section-row .form-label-blue").click(function() {
            $(this).next().slideToggle("");
            $(this).toggleClass("open");
        });

        $(".clone-close").click(function() {
            $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
                $(this).remove();
            });
        });




        //Div navigation
        // 1 Go to section
        $('.view-profile-links a').click(function(e) {
            e.preventDefault();
            var path = $(this).attr("data-scroll");
            var anchor = $("#" + path);
            var position = anchor.position().top + $(".scroll-cover").scrollTop();
            if ($(window).width() > 767) {
                $(".scroll-cover").animate({
                    scrollTop: position
                }, 100);
                console.log(position);
            } else {
                console.log(position);
                $(".modal").animate({
                    scrollTop: position
                }, 100);
            }
            $(".pop-up-nav-for-small").slideUp();
        });

        //2 Make link active
        $('.scroll-cover').scroll(function() {
            var windscroll = $('.scroll-cover').scrollTop();
            if (windscroll >= 100) {
                $('.view-profile-cover section').each(function(i) {

                    //alert( $(this).position().top );

                    if ($(this).position().top <= 175) {

                        ($(this).position().top);
                        $('.view-profile-links ul li.active').removeClass('active');
                        $('.view-profile-links ul li').eq(i).addClass('active');

                    }
                });
            } else {
                $('.view-profile-links li.active').removeClass('active');
                $('.view-profile-links li:first').addClass('active');
            }
        }).scroll();




        GetCountry('.country');

        <!--$(".work_category").each(function() {-->

            <!--GetWorkcategory(this);-->
        <!--});-->
        Getfunction();

        workcategory_emply();
        $('.names').blur(function() {
            blurname(this);


        });
        $('.namesd').blur(function() {
            blurname(this);

        });
        names_emply();
        project_emply();
        $('.namesc').blur(function() {
            blurname(this);


        });
        $('.project_url').blur(function() {

            $(this).next('.error_msg').text('');
            var urlregex = new RegExp(
                "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
            var url = $(this).val();
            if ($(this).val()) {
                if (urlregex.test(url) == false) {
                    $(this).next('.error_msg').addClass('check_error');
                    $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                    //$(this).focus();
                    localStorage.setItem('status_savefreelancer', 'true');

                } else {
                    $(this).next('.error_msg').removeClass('check_error');
                    localStorage.setItem('status_savefreelancer', 'false');
                }
            }
        });
        $('.work_categorys').blur(function() {
            $(this).next('.error_msg').text('');
            if ($(this).val() == 0) {
                $(this).next('.error_msg').addClass('check_error');
                $(this).next('.error_msg').html('<ul class="errorlist"><li>' + $(this).data("name") + ' is required</li></ul>');
                //$(this).focus();
                localStorage.setItem('status_savefreelancer', 'true');

            } else {
                $(this).next('.error_msg').removeClass('check_error');
                localStorage.setItem('status_savefreelancer', 'false');
            }

        });

        $('.portfolio-image-cover, .certifications-image-cover').magnificPopup({
            delegate: 'a',
            type: 'image',
            closeOnContentClick: false,
            closeBtnInside: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            gallery: {
                enabled: true
            },
            zoom: {
                enabled: true,
                duration: 300, // don't foget to change the duration also in CSS
                opener: function(element) {
                    return element.find('img');
                }
            }

        });
        numbers();
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });


        ChangeHourlyPopup();
        FormReset();

    });

<!--function SaveFreelancerProfileImage() {-->
    <!--$("#imageField").click(function() {-->
        <!--var imageData = $('.image-editor').cropit('export');-->
        <!--$(".loader_logo").show();-->
        <!--$.ajax({-->
            <!--url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint-->
            <!--type: "POST", // http method-->
            <!--data: {-->
                <!--method: "freelancer_image_save",-->
                <!--freelancer_image: imageData,-->
                <!--csrfmiddlewaretoken: '{{ csrf_token }}'-->
            <!--}, // data sent with the post request-->

            <!--// handle a successful response-->
            <!--success: function(data) {-->
                <!--$(".loader_logo").hide();-->
                <!--if (data.status == 'failed') {-->

                <!--} else {-->
                    <!--var path = data.data;-->


                    <!--$("#profile-image").html(data.html);-->
                    <!--$('.image-editor').cropit();-->
                    <!--SaveFreelancerProfileImage();-->

                <!--}-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--}-->

function hourlrate(elm) {
    var regex = /^[0-9]*(?:\.\d{1,2})?$/;
    if ($(elm).val() == '') {
        $('.actual_rate').val('');
    }
    $(elm).focus();
    numbers();
    localStorage.setItem('status_3', $("span.error_msgs").hasClass("check_errors"));
    if (localStorage.getItem('status_3') == 'false') {

        if (regex.test($(elm).val()) && $(elm).val() != '') {
            $.ajax({
                url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
                headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
                type: "POST", // http method
                data: {
                    method: "change_hourly_rate_freelancer",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    rate: $(elm).val()
                }, // data sent with the post request
                dataType: 'json',

                // handle a successful response
                success: function(data) {
                    $(elm).focus();
                    if (data.status == 'failed') {

                    } else {
                        $('.actual_rate').val(data.data);

                    }
                }
            });

        }
    }
}

function GetCountry(elm) {
    $.ajax({
        url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
        type: "POST", // http method
        data: {
            method: "get_country",
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, // data sent with the post request

        // handle a successful response
        success: function(responses) {
            newOption = '<option value="0" >Select Country</option>';

            $.map(responses, function(item) {
                var select = '';
                console.log($(elm).data('id'));
                if ($(elm).data('id') != 0) {
                    if (item.pk == $(elm).data('id')) {
                        var select = 'selected="selected"';
                    } else {
                        var select = '';
                    }
                }

                newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

            });
            $(elm).html(newOption);
            GetState(elm);


        }
    });
}

function GetState(elm) {
    //if($(elm).val() !='0' && $(elm).val() !=''){
    $.ajax({
        url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
        type: "POST", // http method
        data: {
            method: "get_state",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            country: $(elm).val()
        }, // data sent with the post request

        // handle a successful response
        success: function(responses) {
            newOption = '<option value="0" >Select State</option>';

            $.map(responses, function(item) {

                if ($('.state').data('id') != 0) {
                    if (item.pk == $('.state').data('id')) {
                        var select = 'selected="selected"';
                    } else {
                        var select = '';
                    }
                }


                newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

            });
            $('.state').html(newOption);
            GetCity(elm);


        }
    });
    //}else{

    //}
}

function GetCity(elm) {
    //if($(elm).val() !='0' && $(elm).val() !=''){
    $.ajax({
        url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
        type: "POST", // http method
        data: {
            method: "get_city",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            state: $('.state').val()
        }, // data sent with the post request

        // handle a successful response
        success: function(responses) {
            newOption = '<option value="0" >Select City</option>';

            $.map(responses, function(item) {

                console.log($('.city').data('id'));
                if ($('.city').data('id') != 0) {
                    if (item.pk == $('.city').data('id')) {
                        var select = 'selected="selected"';
                    } else {
                        var select = '';
                    }
                }

                newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

            });
            $('.city').html(newOption);



        }
    });
    // }
}

function SaveHourlyRate() {

    numbers();

    localStorage.setItem('status_3', $("span.error_msgs").hasClass("check_errors"));
    if (localStorage.getItem('status_3') == 'false') {

        var myArray = {};


        $("div#small-dialog").each(function() {
            var m = {};

            $(this).find("form").each(function() {

                var formname = $(this).attr('name');
                //alert(myArray[formname]);
                if (myArray[formname] == undefined) {

                    myArray[formname] = [];
                } else {
                    myArray[formname] = myArray[formname];


                }
                // var array = myArray[formname] = [];
                // alert(JSON.stringify(myArray));

                $(this).find(':input').each(function() {
                    if ($(this).attr('type') == 'file' && $(this).attr('name') == 'file') {
                        var field = $(this).attr('name');


                        m[field] = $(this).val();
                    } else {
                        var field = $(this).attr('name');


                        m[field] = $(this).val();
                    }




                });

                myArray[formname].push(m);
            });

        });
        $.ajax({
            url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: {
                method: "save_frelancer_hourly",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                data: JSON.stringify(myArray)
            }, // data sent with the post request
            dataType: 'json',

            // handle a successful response
            success: function(data) {
                if (data.status == 'failed') {

                } else {
                    $("#HourlyRate").html(data.html);
                    $("#ProfileUser").html(data.profile_html);
                    //magnificPopUP();
                    ChangeHourlyPopup();



                    Close();


                    var text = "Successfully Updated";
                    showmessage(text,'success');



                }
            }
        });
    }


}

function GetWorkcategory(elm) {
    $.ajax({


        url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

        type: "POST", // http method
        data: {
            method: "get_workcategory",
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
         dataType: 'json',

        // handle a successful response
        success: function(responses) {
           if(responses.status=='success'){
            newOption = '<option  value="" >Select Work Category</option>';

            $.map(JSON.parse(responses.data), function(item) {
                var select = '';
                console.log($(elm).data('id'));
                if ($(elm).data('id') != 0) {
                    if (item.pk == $(elm).data('id')) {
                        var select = 'selected="selected"';
                    } else {
                        var select = '';
                    }
                }

                newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.category_title + '</option>';

            });
            $(elm).html(newOption);
            Getsubcategory(elm);
            GetSkills(elm);
            }else{

                showmessage(responses.message,'failed');

            }


        }
    });


}

function SavefreelancerProfile() {

    $.ajax({
        url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
        type: "POST", // http method
        data: $('#freelancerProfile').serialize(), // data sent with the post request

        dataType: 'json',
        success: function(data) {
            if (data.status == 'failed') {
                $(".error").hide();
                $.each(data.data, function(index, value) {
                    $(".errors_" + index).show();
                    $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                    console.log("#errors_" + index);

                    //$(".errors_"+index).delay(5500).fadeOut('slow');

                });

            } else {

                $("#ProfileUser").html(data.html);
               paragraph();


                Close();


                var text = "Successfully Updated";
                 showmessage(text,'success');





            }
        }
    });
}

function Getsubcategory(elm) {

    var workid = "0";
    if ($(elm).val() != '') {
        workid = $(elm).val()
    }
    //GetSkills(elm);

    $.ajax({
        url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
        type: "POST", // http method
        data: {
            method: "get_worksubcategorys",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            workid: workid
        }, // data sent with the post request
        dataType: 'json',

        // handle a successful response
        success: function(responses) {
            if(responses.status=='success'){
               newOption = '<option disabled="disabled" value="0" >Select Sub Category</option>';

               if ($(elm).data('type') == '3') {
                   classs = 'small-dialog_editportfolio';
               }
               if ($(elm).data('type') == '2') {
                   classs = 'small-dialog_addportfolio';
               }
               if ($(elm).data('type') == '1') {
                   classs = 'small-dialog_2';
               }
               $.map(JSON.parse(responses.data), function(item) {


                   console.log($(elm).closest('#' + classs).find('.sub_category').data('id'));
                   if ($(elm).closest('#' + classs).find('.sub_category').data('id') != 0) {
                       if ($.inArray(item.pk, $(elm).closest('#' + classs).find('.sub_category').data('id')) > -1) {
                           var select = 'selected="selected"';
                       } else {
                           var select = '';
                       }
                   }


                   newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.sub_category_title + '</option>';

               });

               $(elm).closest('#' + classs).find('.sub_category').html(newOption);
               $(elm).closest('#' + classs).find('.sub_category').select2({
                   dropdownParent: $("#box")
               });
              // GetSkills(elm);
            }else{
                    showmessage(responses.message,'failed');

            }
        }
    });


}

function GetSkills(elm) {
    var workid = "0";
    if ($(elm).val() != '') {
        workid = $(elm).val()
    }


    if ($(elm).data('type') == '3') {
        classs = 'small-dialog_editportfolio';
    }
    if ($(elm).data('type') == '2') {
        classs = 'small-dialog_addportfolio';
    }
    if ($(elm).data('type') == '1') {
        classs = 'small-dialog_2';
    }
    $.ajax({
        url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
        type: "POST", // http method
        data: {
            method: "get_skillsoptions",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            subid: workid
        }, // data sent with the post request
        dataType: 'json',

        // handle a successful response
        success: function(responses) {
            if(responses.status=='success'){
               newOption = '<option disabled="disabled" value="0" >Select skills</option>';
               if (JSON.parse(responses.data)) {
                   $.map(JSON.parse(responses.data), function(item) {


                       var select = '';
                       console.log(classs + $(elm).closest('#' + classs).find('.skillsoptions').data('id') + "gggggggggg");
                       if ($(elm).closest('#' + classs).find('.skillsoptions').data('id') != 0) {
                           if ($.inArray(item.pk, $(elm).closest('#' + classs).find('.skillsoptions').data('id')) > -1) {
                               var select = 'selected="selected"';
                           } else {
                               var select = '';
                           }
                       }

                       newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                   });
               }
               $(elm).closest('#' + classs).find('.skillsoptions').html(newOption);
               $(elm).closest('#' + classs).find('.skillsoptions').select2({
                   dropdownParent: $("#box")
               });
            }else{

                   showmessage(responses.message,'failed');

            }

        }
    });
}

function SavefreelancerPortfolio() {
    $('.names').blur();
    $('.project_url').blur();
    // $('.work_categorys').blur();

    localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));
    if (localStorage.getItem('status_savefreelancer') == 'false') {

        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: $('#add_portfolio').serialize(), // data sent with the post request

            dataType: 'json',
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {
                    $(".error").hide();
                    $('#add_portfolio')[0].reset();

                    $('#PortfoiloList').html(data.html);
                    $('.PortfoiloList').html("(" + data.count + ")");
                    magnificPopUP();
                    Close();
                    paragraph();


                    var text = "Successfully Updated";

                    showmessage(text,'success');




                }
            }
        });
    }
}

function SavefreelancerEmployment() {

    $('.namesd').blur();
    localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));

    if (localStorage.getItem('status_savefreelancer') == 'false') {
        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: $('#addpemployment').serialize(), // data sent with the post request
            dataType: 'json',
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();

                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {
                    $(".error").hide();
                    $('#addpemployment')[0].reset();
                    $('#EmploymentList').html(data.html);
                    $('.EmploymentList').html("(" + data.count + ")");
                    magnificPopUP();
                    paragraph();
                    Close();


                    var text = "Successfully Updated";

                   showmessage(text,'success');


                }
            }
        });
    }
}

function SavefreelancerCertification() {

    $('.namesc').blur();
    localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));

    if (localStorage.getItem('status_savefreelancer') == 'false') {
        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: $('#addpcertification').serialize(), // data sent with the post request
            dataType: 'json',
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {
                    $(".error").hide();
                    $('#addpcertification')[0].reset();
                    $('#CertificationList').html(data.html);
                    $('.CertificationList').html("(" + data.count + ")");
                    magnificPopUP();
                    Close();


                    var text = "Successfully Updated";

                    showmessage(text,'success');



                }
            }
        });
    }
}

function GetDeletedDetails() {

    $.ajax({
        url: ".", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
        type: "POST", // http method
        data: {
            method: "DeletedDetails",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataid: $("#id").val(),
            datatitle: $("#title").val()
        }, // data sent with the post request

        dataType: 'json',
        success: function(data) {
            if (data.status == 'failed') {

            } else {
                if ($("#title").val() == 'portfolio') {
                    $('#PortfoiloList').html(data.html);
                    $('.PortfoiloList').html("(" + data.count + ")");
                }
                if ($("#title").val() == 'employment') {
                    $('#EmploymentList').html(data.html);
                    $('.EmploymentList').html("(" + data.count + ")");
                }
                if ($("#title").val() == 'cerifications') {
                    $('#CertificationList').html(data.html);
                    $('.CertificationList').html("(" + data.count + ")");

                }
                magnificPopUP();
                Close();
                paragraph();
                var text = "Deleted Successfully ";
                showmessage(text,'success');



            }
        }
    });
}
function GetDeletedDetailss() {

    $.ajax({
        url: ".", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
        type: "POST", // http method
        data: {
            method: "DeletedDetails",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataid: $("#ids").val(),
            dataids: $("#pids").val(),
            datatitle: $("#titles").val()
        }, // data sent with the post request

        dataType: 'json',
        success: function(data) {
            if (data.status == 'failed') {

            } else {
                if ($("#title").val() == 'portfolio') {
                    $('#PortfoiloList').html(data.html);
                    $('.PortfoiloList').html("(" + data.count + ")");
                }
                if ($("#title").val() == 'employment') {
                    $('#EmploymentList').html(data.html);
                    $('.EmploymentList').html("(" + data.count + ")");
                }
                if ($("#title").val() == 'cerifications') {
                    $('#CertificationList').html(data.html);
                    $('.CertificationList').html("(" + data.count + ")");

                }
                $('#PortfoiloList').html(data.html);
                $('.PortfoiloList').html("(" + data.count + ")");
                magnificPopUP();
                Close();
                paragraph();
                DisplayImages();
                var text = "Deleted Successfully ";
                showmessage(text,'success');



            }
        }
    });
}

function GetEditDetails(elm) {
    var id = $(elm).data('id');
    var title = $(elm).data('title');
    $.ajax({
        url: ".", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
        type: "POST", // http method
        data: {
            method: "EditDetails",
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id: id,
            datatitle: title
        }, // data sent with the post request
        dataType: 'json',
        // handle a successful response
        success: function(data) {
            if (data.status == 'failed') {

            } else {
                $("#small-dialog_editportfolios").html(data.html);
                <!--$(".work_categorys_emply").each(function() {-->

                    <!--GetWorkcategory(this);-->
                <!--});-->
               GetWorkcategory('.work_categorys_emply');
                names_emply();
                workcategory_emply();
                project_emply();

                datepicker();

                $(".small-dialog_editportfolios").click();


            }
        }
    });
}

function UpdatefreelancerEmployment() {
    $(".names_emply").each(function() {

        blurname(this);
    });



    //$('.work_categorys').blur();

    localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));
    if (localStorage.getItem('status_savefreelancer') == 'false') {


        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: $('#edit_employment').serialize(), // data sent with the post request
            dataType: 'json',

            // handle a successful response
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {
                    $('#EmploymentList').html(data.html);
                    $('.EmploymentList').html("(" + data.count + ")");
                    magnificPopUP();
                    paragraph();
                    Close();
                    var text = "Successfully Updated";

                    showmessage(text,'success');

                }
            }
        });
    }
}

function UpdatefreelancerCertification() {
    blurname('.certificate_name');
    //workcategory('.certificate_name');
    //$('.work_categorys').blur();

    localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));
    if (localStorage.getItem('status_savefreelancer') == 'false') {


        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: $('#edit_certification').serialize(), // data sent with the post request

            // handle a successful response
            dataType: 'json',
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {
                    $('#CertificationList').html(data.html);
                    $('.CertificationList').html("(" + data.count + ")");
                    magnificPopUP();
                    Close();
                    var text = "Successfully Updated";

                    showmessage(text,'success');

                }
            }
        });
    }
}

function UpdatefreelancerPortfolio() {
    names_emply();
    workcategory_emply();
    project_emply();

    //$('.work_categorys').blur();

    localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));
    if (localStorage.getItem('status_savefreelancer') == 'false') {


        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST",
            data: $('#edit_portfolio').serialize(), // data sent with the post request

            // handle a successful response
            dataType: 'json',
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {
                    $('#PortfoiloList').html(data.html);
                    $('.PortfoiloList').html("(" + data.count + ")");
                    magnificPopUP();
                    paragraph();
                    Close();


                    var text = "Successfully Updated";
                    showmessage(text,'success');



                }
            }
        });
    }
}

function blurname(elm) {
    var letters = /^[a-zA-Z\s]+$/;
    var name = $(elm).val();
    var field = $(elm).data("name");
    $(elm).next('.error_msg').text('');
    // if($(this).val()){
    if (!name.match(/^^[a-z0-9 \\-]+$/i) || $(elm).val().length === 0) {

        $(elm).next('.error_msg').addClass('check_error');
        $(elm).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(elm).data("name") + '</li></ul>');
        // $(elm).focus();
        localStorage.setItem('status_savefreelancer', 'true');
    } else {
        $(elm).next('.error_msg').removeClass('check_error');
        localStorage.setItem('status_savefreelancer', 'false');
    }
}

function workcategory_elm(elm) {
    $(elm).next('.error_msg').text('');
    if ($(elm).val() == 0) {
        $(elm).next('.error_msg').addClass('check_error');
        $(elm).next('.error_msg').html("<p class=''>" + $(elm).data("name") + " error</p>");
        //$(elm).focus();
        localStorage.setItem('status_savefreelancer', 'true');

    } else {
        $(elm).next('.error_msg').removeClass('check_error');
        localStorage.setItem('status_savefreelancer', 'false');
    }

}

function workcategory_emply() {
    $('.work_categorys_emply').blur(function() {
        $(this).next('.error_msg').text('');
        if ($(this).val() == 0) {
            $(this).next('.error_msg').addClass('check_error');
            $(this).next('.error_msg').html('<ul class="errorlist"><li>' + $(this).data("name") + ' is required</li></ul>');
            //$(this).focus();
            localStorage.setItem('status_savefreelancer', 'true');

        } else {
            $(this).next('.error_msg').removeClass('check_error');
            localStorage.setItem('status_savefreelancer', 'false');
        }

    });
}

function names_emply() {
    $('.names_emply').blur(function() {
        blurname(this);
    });
}
function numbers(){

 $('.number').blur(function() {

            var regex = /^[0-9]*(?:\.\d{1,2})?$/; // allow only numbers [0-9]
            $(this).next('span.error_msgs').text('');

            if( $(this).val() != ''){

            if (!regex.test($(this).val())  ) {
                $(this).next('span.error_msgs').addClass('check_errors');
                $(this).next('span.error_msgs').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                // $(this).focus();
                localStorage.setItem('status_3', 'true');
            } else {
                $(this).next('.error_msgs').removeClass('check_errors');
                localStorage.setItem('status_3', 'false');
            }
            }



        });
        }
function project_emply() {
    $('.project_emply').blur(function() {
        $(this).next('.error_msg').text('');
        var urlregex = new RegExp(
            "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
        var url = $(this).val();
        $(this).next('.error_msg').removeClass('check_error');
        localStorage.setItem('status_savefreelancer', 'false');
        if ($(this).val()) {
            if (urlregex.test(url) == false) {
                $(this).next('.error_msg').addClass('check_error');
                $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                //$(this).focus();
                localStorage.setItem('status_savefreelancer', 'true');

            } else {
                $(this).next('.error_msg').removeClass('check_error');
                localStorage.setItem('status_savefreelancer', 'false');
            }
        }
    });
}

function DeleteSection(elm) {
    $('.delete-msg').show();
    $('#delete-msg').hide();
    var id = $(elm).data("id");
    var title = $(elm).data("title");
    $("#id").val(id);
    $("#title").val(title);
    $(".small-dialog_delete").click();

}

function Close() {
    $.magnificPopup.close();
}

function Getfunction() {
    <!--$(".work_category").each(function() {-->

        <!--GetWorkcategory(this);-->
    <!--});-->
    GetWorkcategory(".work_category");
}


function ChangeHourlyPopup() {

    $(document).on('click', '.ChangeHourlyPopup', function() {
        var divs = $(this).attr("data-hidden");

        $.ajax({
            url: ".", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST",
            data: {
                method: 'Get_freelancer_hourlypopup',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request

            dataType: 'json',
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();


                } else {


                    $("#small-dialog").html(data.html);
                    ChangeHourlyPopup();
                    numbers();
                    $(".small-dialog_hourly_rate").click();

                    jQuery('.targetDiv').hide();

                    if (divs == "locationHide") {
                        $("#hourlyHide").show();
                    } else {
                        $("#locationHide").show();
                    }

                    GetCountry('.country');

                }
            }
        });
    });


}

function Get_freelancer_profile_popup() {
    $.ajax({
        url: ".", // the endpoint
        headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
        type: "POST",
        data: {
            method: 'Get_freelancer_profile_popup',
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, // data sent with the post request

        dataType: 'json',
        success: function(data) {
            if (data.status == 'failed') {
                $(".error").hide();


            } else {


                $("#small-dialog_2").html(data.html);
                ChangeHourlyPopup();

                $(".Profile_edit").click();




            }
        }
    });


}
function FormReset(){
  $(document).on('click', '.FormReset', function() {
     var formname = $(this).attr('data-form');

     $("#"+formname)[0].reset();
  });

}
function previewImages(){



  var $preview = $(this).parents().closest('.portfolio-image-cover').find('.img_selected');

  var number =$(this).parents().closest('.portfolio-image-cover').find('img').length;


  increased = parseInt(this.files.length) + parseInt(number);

  if(increased == '8'){
 // alert(increased);
 // $(this).parents().find('.portfolio-image-add').addClass('hide');
  }

  if ( increased <=8) {$.each(this.files, readAndPreview);}
  else {alert("Exceed the limit");$(this).val('');}

  function readAndPreview(i, file) {

    if (!/\.(jpe?g|png|gif)$/i.test(file.name)){
      return alert(file.name +" is not an image");
    } // else...

    var reader = new FileReader();

    $(reader).on("load", function() {
      <!--$preview.append($("<img/>", {src:this.result,class:'pip'}));-->
      <!--$preview.append("<span class='removePreviw'>remove</span>");-->
      $preview.prepend("<div class='portfolio-image' data-id='0'><img src="+this.result+" class='pip' ><a href="+this.result+"  title="+this.result+"><span  class='view-action portfolio-actions'></span></a><span  class='delete-action portfolio-actions removePreviws'></span></a></div>");

      RemoveImages();

    });

    reader.readAsDataURL(file);

  }
  }
function RemoveImages(){
   $(".removePreviws").click(function(){
            <!--$(this).parent(".portfolio-image").siblings('.portfolio-image-add').removeClass("hide");-->

            <!--$(this).parent(".portfolio-image").remove();-->

          });
  }
  function SavePortfoilioImages(elm){

     var existing_images = [];

     var datas = new FormData();
     datas.append("portfolio_id",$(elm).data('id'));
     //alert($(elm).data('id'));
     $(elm).parents('.portfolio-image-cover').find('.portfolio-image').each(function(){
         if($(this).attr('data-id')!=0){
              existing_images.push($(this).attr('data-id'));
         }
    });


    datas.append("existing_files",JSON.stringify(existing_images));
    datas.append("method",'Update_portfolio_image');
    datas.append("csrfmiddlewaretoken",'{{ csrf_token }}');


   if($(elm).closest('.portfolio-image-cover').find('input[type=file]').val()){
         var files = $(elm).closest('.portfolio-image-cover').find('input[type=file]').get(0).files;

         for (var i = 0; i < files.length; i++) {
             datas.append("files" + i, files[i]);
      }
   }
  $.ajax({
            type: "POST",
            url:'.',
            data: datas,
            async:false,
            cache : false,
            contentType : false,
            processData : false,
            success: function(data) {
            if(data.status =='success'){
              $(elm).parents('.portfolio-image-cover').html(data.html);
              DisplayImages();


            }

            }
  });

  }
  function DisplayImages(){
     $('.id_attachments').on("change", previewImages);
  }
  function DeleteProfiles(elm){
    $('.delete-msgs').show();
    $('#delete-msgs').hide();
    var id = $(elm).data("id");
    var pid = $(elm).data("pid");
    var title = $(elm).data("title");
    $("#ids").val(id);
    $("#pids").val(pid);
    $("#titles").val(title);
    openPopup('small-remove_portfoilio');
  }
</script>
{% endblock %}