{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}

{% block content %}

<!--create-profile strats-->
<div class="create-profile" id="create-profile">
   <div class="loader loaders">
   </div>
   <div class="container-fluid create-profile-cover">
      <div class="left-coll">
         <div class="grey-title-bar">
            <h4>Welcome to <span>Atlancer!</span></h4>
         </div>

         <!--profile image-->
               {% include "common/freelancer_profile_image.html" %}
      </div>
      <div class="center-col" id="tabs">
         <div class="grey-title-bar">
            <ul class="create-profile-form-actions">
               <li> <a href="#tabs-1"> Company Registration </a> </li>
               <li> <a href="#tabs-2"> Company Profile </a> </li>
               <li> <a href="#tabs-3"> Final Details</a> </li>
            </ul>
         </div>
          {% include "common/message.html" %}
         <div class="create-profile-form-cover">
            <div class="scroll-cover">
               <div id="tabs-1" class="form-step step-1">
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-buttons top-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <!--<input value="Skip" type="button" data-id="ui-id-2" onclick="skip(this)">-->
                           <input value="Save &amp; Continue" type="button" onclick="SaveCompanyProfile()">
                        </div>
                     </div>
                  </div>
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-inner-form-cover">
                     <div class="create-profile-form">
                        <form id="companyProfile" class="form-cloning-cover">
                           {% csrf_token %}
                           <input type="hidden" name="method" value="Save_freelancer_company_profile">
                           <div class="field-row">
                              <h3 class="form-label-blue">Company Name</h3>
                              <input type="text" maxlength="25" placeholder="Company Name" name="company_name" value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name %} {{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name}}{% endif %}"/>
                              <span class="errors_company_name error"></span>
                           </div>
                           <div class="field-row">
                              <h3 class="form-label-blue">Description</h3>
                              <textarea placeholder="Description"  name="description">{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description %} {{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description}}{% endif %}</textarea>
                              <span class="errors_description error"></span>
                           </div>
                           <!--<div class="field-row">-->
                           <!--<h3 class="form-label-blue">Logo</h3>-->
                           <!--&lt;!&ndash;company logo image&ndash;&gt;-->
                           <!--<div class="profile-image-cover" id="profile-images">-->
                           <!--<div class="image-editors profile-image-cover">-->
                           <!--<div >-->
                           <!--{% if request.user.freelancer_company_user.get.logo %}-->
                           <!--<div class="cropit-preview profile-image" style="background: #eee url('{{request.user.freelancer_company_user.get.logo.url}}') repeat scroll 0 0; "></div>-->
                           <!--{% else %}-->
                           <!--<div class="cropit-preview profile-image" style="background: #eee url('{% static 'images/company-logo.jpg' %}') repeat scroll 0 0; background-size: 100%; "></div>-->
                           <!--{% endif %}-->
                           <!--<div class="cropit-image-zoom-input-cover">-->
                           <!--<input type="range" class="cropit-image-zoom-input">-->
                           <!--</div>-->
                           <!--</div>-->
                           <!--<div class="profile-image-actions">-->
                           <!--<span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>-->
                           <!--<span id="imageFields" class="actions delete-photo">Save Photo</span>-->
                           <!--</div>-->
                           <!--</div>-->
                           <!--</div>-->
                           <!--&lt;!&ndash;<div class="image-editors logo-image-upload">&ndash;&gt;-->
                           <!--&lt;!&ndash;<input type="file" name="logo" class="cropit-image-input">&ndash;&gt;-->
                           <!--&lt;!&ndash;<div class="cropit-preview">&ndash;&gt;-->
                           <!--&lt;!&ndash;{% if request.user.freelancer_company_user.get.logo %} <img id="companylogo" width="230px" height="100px" src="{{request.user.freelancer_company_user.get.logo.url}}">{% endif %}&ndash;&gt;-->
                           <!--&lt;!&ndash;</div>&ndash;&gt;-->
                           <!--&lt;!&ndash;<div class="image-size-label">Resize image</div>&ndash;&gt;-->
                           <!--&lt;!&ndash;<input type="range" class="cropit-image-zoom-input">&ndash;&gt;-->
                           <!--&lt;!&ndash;<input type="hidden" name="image-data" class="hidden-image-data " />&ndash;&gt;-->
                           <!--&lt;!&ndash;<button type="submit" id ="imageFields">Submit</button>&ndash;&gt;-->
                           <!--&lt;!&ndash;</div>&ndash;&gt;-->
                           <!--</div>-->
                           <div class="field-row">
                              <h3 class="form-label-blue">Logo</h3>
                              <!--profile image-->
                              <div class="profile-image-cover form-image-upload" id="profile-images">
                                 <div class="image-editors profile-image-cover">

                                       {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo %}
                                    <div class="cropit-preview profile-image" style="background: #eee url('{{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo.url}}') repeat scroll 0 0; "><div class="loader company_loader_logo" style="display: none;"></div></div>
                                       {% else %}
                                    <div class="cropit-preview profile-image" style="background: #eee url('{% static 'images/company-logo.jpg' %}') repeat scroll 0 0; background-size: 100%; "><div class="loader company_loader_logo" style="display: none;"></div></div>
                                       {% endif %}
                                      <div class="crop-actions">
                              <div class="cropit-image-zoom-input-cover">
                                <input type="range" class="cropit-image-zoom-input">
                              </div>
                            <div class="profile-image-actions">
                              <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>
                              {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo %}
                               <span  onclick="GetValues(this)" data-delete="logo" class="actions delete-photo">Delete Photo</span>
                              {% else %}
								<span  class=" actions delete-photo">Delete Photo</span>

								{% endif %}
                            </div>
                            <div class="profile-image-actions secondary-actions">
                               <span id ="imageFields" class="actions delete-photo">Save Photo</span>
                              <span onclick="Cancel(this)" data-loader="comapny_loader_logo" data-cancel="logo" class="actions delete-photo">Cancel Photo</span>

                            </div>
                            </div>
                                 </div>
                              </div>
                              <!--profile image-->
                           </div>
                           <div class="field-row">
                              <h3 class="form-label-blue">Type of Work</h3>
                              {% create_an_array request.user.get_freelancer_company_intance.user.freelancer_company_user.get.workcategory.all as variable %}


                              <select name="workcategory"  multiple="multiple" class="work_category" data-id="{{variable}}" data-type="1" onchange="Getsubcategory(this),GetSkills(this)">
                              </select>
                              <span class="errors_workcategory error"></span>
                           </div>
                           <div class="field-row">
                              <h3 class="form-label-blue">Sub Category</h3>
                              {% create_an_array request.user.get_freelancer_company_intance.user.freelancer_company_user.get.subcategory.all as variable %}
                              <select name="subcategory"  multiple="multiple" class="sub_category js-example-basic-multiple" data-id="{{variable}}"  data-type="1">
                              </select>
                              <span class="errors_subcategory error"></span>
                           </div>
                           <div class="field-row">
                              <h3 class="form-label-blue">Skills</h3>
                              {% create_an_array request.user.get_freelancer_company_intance.user.freelancer_company_user.get.skills.all as variable %}
                              <div class="wrapper"   style="margin-top:150px;">
                                 <select name="skills" multiple="multiple" class="skillsoptions js-example-basic-multiple" data-id="{{variable}}" data-type="1">
                                 </select>
                                 <span class="errors_skills error"></span>
                              </div>
                           </div>
                        </form>
                     </div>
                     <!--create-profile-buttons-->
                     <div class="create-profile-buttons">
                        <div class="create-profile-form">
                           <div class="pull-right">
                              <!--<input type="button"  value="Skip" data-id="ui-id-2" onclick="skip(this)"/>-->
                              <input type="button" value="Save &#38; Continue" onclick="SaveCompanyProfile()"/>
                           </div>
                        </div>
                     </div>
                     <!--create-profile-buttons-->
                  </div>
               </div>
               <div id="tabs-2" class="form-step step-2">
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-buttons top-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input value="Skip" data-id="ui-id-3" onclick="skip(this)" type="button">
                           <input value="Save &amp; Continue" type="button" onclick="SaveExperiance()">
                        </div>
                     </div>
                  </div>
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-form">
                     <!--&lt;!&ndash;experience-level starts&ndash;&gt;-->
                     <!--<h3 class="form-label-blue">Experience Level</h3>-->
                     <!--<div class="field-row">-->
                     <!--<div class="grid-20">-->
                     <!--<label class="radio inline-cover">-->
                     <!--<input name="Experience" value="Fresher" checked="" type="radio">-->
                     <!--<span> Fresher </span>-->
                     <!--</label>-->
                     <!--</div>-->
                     <!--<div class="grid-20">-->
                     <!--<label class="radio inline-cover">-->
                     <!--<input name="Experience" value="Mid level" type="radio">-->
                     <!--<span>  Mid-  level </span>-->
                     <!--</label>-->
                     <!--</div>-->
                     <!--<div class="grid-20">-->
                     <!--<label class="radio inline-cover">-->
                     <!--<input name="Experience" value="Experienceds" type="radio">-->
                     <!--<span> Experienced </span>-->
                     <!--</label>-->
                     <!--</div>-->
                     <!--</div>-->
                     <!--&lt;!&ndash;experience-level ends&ndash;&gt;-->
                     <div class="form-section-row open">
                        <!--portfolio starts-->
                        <h3 class="form-label-blue">Project Portfolio</h3>
                        <div class="form-section portfolio-fields">
                           <div class="clone-con">
                              <div class="grid-80 portfolio-fields-cover clone-here" data-clone-con="2">


                                 {% for portfolio in request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="2">
                                    <form class="saving" name="portfolio">
                                       <div class="clone-close"></div>
                                       <div class="field-row clone-filed">
                                          <input placeholder="Project Name"  maxlength="50" class ="name" data-name="Project Name" value="{{portfolio.project_name}}" name="project_name" type="text">
                                          <span class="error_msg"></span>
                                       </div>
                                       <div class="field-row clone-filed">
                                          <textarea placeholder="Description" class="description" name="description">{{portfolio.description}}</textarea>
                                       </div>
                                       <div class="field-row" data-clone='false'>
                                          <div class="grid-50 padding-right-10  clone-filed">
                                             <select class="description work_category  js-example-basic-multiple"  data-type="2" data-name="Work Category " data-id="{{portfolio.work_category.pk}}" name="work_category" onchange="Getsubcategory(this),GetSkills(this)">
                                                <option>Work Category1</option>
                                                <option>Work Category2</option>
                                                <option>Work Category3</option>
                                                <option>Work Category4</option>
                                             </select>
                                             <span class="error_msg"></span>
                                          </div>
                                          {% create_an_array portfolio.sub_category.all as variable %}
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <select class="description sub_category js-example-basic-multiple" name="sub_category" multiple="multiple" data-type="2" data-id="{{variable}}" >
                                                <option value ="0">Select Sub Category</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="field-row" data-clone='false'>
                                          {% create_an_array portfolio.skills.all as variable %}
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <select class="description skillsoptions js-example-basic-multiple" multiple="multiple"  data-id="{{variable}}" name="skills">
                                                <option value="0">Select Skills</option>
                                             </select>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <input placeholder="Project Url"   data-name="Project Url" class="project_url" name="project_url" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                       </div>
                                       <div class="field-row " data-clone='false'>
                                       <div class="inputfile-cover">
                                       <input type="file" accept="image/*"  data-number="0" class="id_attachments inputfile" multiple="multiple" name="filess"   />
                                       <!--<label for="file">upload images</label>-->
                                       <!--<input type="file" name="files" class="s1" value="">-->
                                        <label for="file">upload images</label>
                                         </div>
                                    <div  class="preview upload-image-preview">

                                        {% for portfolio in portfolio.freelancer_company_portfoilid_id.all %}
                                              <div>
                                                 {% create_base64 portfolio.portfolio_image as image %}
                                                 <img src="{{image}}" class="pip" height="200">
                                                 <span class="removePreviw">x</span>
                                              </div>
                                             {% endfor %}
                                    </div>
                                    </div>
                                       <!--<div class="field-row">-->
                                       <!--<div class="image-editor portfolio-image-upload">-->
                                       <!--<input type="file" class="cropit-image-input">-->
                                       <!--<div class="cropit-preview"></div>-->
                                       <!--<div class="image-size-label">Resize image</div>-->
                                       <!--<input type="range" class="cropit-image-zoom-input">-->
                                       <!--<input type="hidden" name="image-data" class="hidden-image-data" />-->
                                       <!--<button type="submit">Submit</button>-->
                                       <!--</div>-->
                                       <!--</div>-->
                                    </form>
                                 </div>
                                 {% empty %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="2">
                                    <form class="saving" name="portfolio">
                                       <div class="clone-close"></div>
                                       <div class="field-row clone-filed">
                                          <input placeholder="Project Name"  maxlength="50" class ="name" data-name="Project Name" value="" name="project_name" type="text">
                                          <span class="error_msg"></span>
                                       </div>
                                       <div class="field-row clone-filed">
                                          <textarea placeholder="Description" class ="description" name="description"></textarea>
                                       </div>
                                       <div class="field-row" data-clone='false'>
                                          <div class="grid-50 padding-right-10  clone-filed">
                                             <select class="description work_category  js-example-basic-multiple"  data-type="2" data-name="Work Category " data-id="0" name="work_category" onchange="Getsubcategory(this),GetSkills(this)">
                                                <option>Work Category1</option>
                                                <option>Work Category2</option>
                                                <option>Work Category3</option>
                                                <option>Work Category4</option>
                                             </select>
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <select class="description sub_category js-example-basic-multiple" name="sub_category" multiple="multiple" data-type="2" data-id="0" >
                                                <option value ="0">Select Sub Category</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="field-row" data-clone='false'>
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <select class="description skillsoptions js-example-basic-multiple" multiple="multiple"  data-id="0" name="skills">
                                                <option value="0">Select Skills</option>
                                             </select>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <input placeholder="Project Url"   data-name="Project Url" class="description project_url" name="project_url" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                       </div>
                                       <!--<div class="field-row">-->
                                          <!--<div class="image-editor portfolio-image-upload">-->
                                             <!--<input type="file" class="cropit-image-input">-->
                                             <!--<div class="cropit-preview"></div>-->
                                             <!--<div class="image-size-label">Resize image</div>-->
                                             <!--<input type="range" class="cropit-image-zoom-input">-->
                                             <!--<input type="hidden" name="image-data" class="hidden-image-data" />-->
                                             <!--<button type="submit">Submit</button>-->
                                          <!--</div>-->
                                       <!--</div>-->
                                    </form>
                                 </div>
                                 {% endfor %}
                              </div>
                              <div class="grid-20">
                                 <span class="add-another clone-a hasElements" data-clone-tri="2" data-get-ele="include1">add another</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--portfolio ends-->
                     <div class="form-section-row open">
                        <!--certification-fields starts-->
                        <h3 class="form-label-blue">Certification Name</h3>
                        <div class="form-section certification-fields">
                           <div class="clone-con">
                              <div class="grid-80 clone-here" data-clone-con="3">
                                 {% for cerifications in request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="3">
                                    <form class="saving" name="certification" >
                                       <div class="clone-close"></div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <input placeholder="Certification Name" maxlength="50" value="{{cerifications.certificate_name}}" name="certificate_name" data-name="Certification Name" class="name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <input placeholder="Issued by" maxlength="30" type="text" class="description" value="{{cerifications.issued_by}}" name="issuedby">
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="Valid From" class="calander start-date description"  value="{{cerifications.valid_from |date:'m/d/Y'}}" name="start_date" readonly type="text">
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="End To" class="calander end-date description" name="end_date" value="{{cerifications.end_to |date:'m/d/Y'}}" readonly type="text">
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                                 {% empty %}
                                 <div class="clone-sec form-cloning-cover" data-clone-sec="3">
                                    <form class="saving" name="certification" >
                                       <div class="clone-close"></div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed">
                                             <input placeholder="Certification Name" maxlength="50" value="" name="certificate_name" data-name="Certification Name" class="name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed">
                                             <input placeholder="Issued by" maxlength="30"  type="text"  name="issuedby">
                                          </div>
                                       </div>
                                       <div class="field-row">
                                          <div class="grid-50 padding-right-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="Valid From" class="calander start-date "  name="start_date" readonly type="text">
                                          </div>
                                          <div class="grid-50 padding-left-10 clone-filed calanderPos calanderCon">
                                             <input placeholder="End To" class="calander end-date " name="end_date" readonly type="text">
                                          </div>
                                       </div>
                                    </form>
                                 </div>
                                 {% endfor %}
                              </div>
                              <div class="grid-20">
                                 <span class="add-another clone-a" data-clone-tri="2">add another</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--certification-fields starts-->
                  </div>
                  <!--create-profile-buttons-->
                  <div class="create-profile-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input type="button"  value="Skip" data-id="ui-id-3" onclick="skip(this)"/>
                           <input type="button" value="Save &#38; Continue"  onclick="SaveExperiance()"/>
                        </div>
                     </div>
                  </div>
                  <!--create-profile-buttons-->
               </div>
               <div id="tabs-3" class="form-step step-3">
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-buttons top-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input value="Save" type="button" onclick="SaveHourlyRate()">
                           <!--<input value="Submit" type="button" onclick="SaveHourlyRate()">-->
                        </div>
                     </div>
                  </div>
                  <!-- top create-profile-buttons -->
                  <div class="create-profile-form">
                     <!--hourly-rate-->
                     <div class="form-section hourly-rate form3">
                        <form name="hourly">
                           <h3 class="form-label-blue">Hourly Rate ($)</h3>
                           <div class="field-row">
                              <div class="grid-50 padding-right-10">
                                 <input type="text" maxlength="8" class="number" onkeyup="hourlrate(this)" name="hourly_rate" data-name="Hourly Rate" placeholder="Hourly Rate"
                                    value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate}}{% endif %}" />
                                 <span class="error_msgs"></span>
                              </div>
                              <div class="grid-50 padding-left-10">
                                 <input type="text" value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate}} {% endif %}"  disabled placeholder="Actual Rate"  class="actual_rate" name="actual_rate"/>
                              </div>
                           </div>
                        </form>
                     </div>
                     <!--hourly-rate ends-->
                     <!--location-details-->
                     <div class="form-section location-details form3">
                        <form name="location">
                           <h3 class="form-label-blue">Location Details</h3>
                           <div class="field-row">
                              <div class="grid-50 padding-right-10">
                                 <select name="country" class="country" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.pk}}{% else %} 0 {% endif %}" onchange="GetState(this)">
                                    <option value="0">Country</option>

                                 </select>
                              </div>
                              <div class="grid-50 padding-left-10">
                                 <select name="state" class="state" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.pk}}{% else %} 0 {% endif %}" onchange="GetCity(this)">
                                    <option value="0">Select State</option>

                                 </select>
                              </div>
                           </div>
                           <div class="field-row">
                              <div class="grid-50 padding-right-10">
                                 <select name="city" class="city" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.pk}}{% else %} 0 {% endif %}">
                                    <option value="0">Select State</option>

                                 </select>
                              </div>
                              <div class="grid-50 padding-left-10">
                                 <input type="text" maxlength="5" value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code}} {% endif %}" placeholder="ZIP Code" name="zip"/>
                              </div>
                           </div>
                           <div class="field-row">
                              <textarea placeholder="Address" name="address">{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address}} {% endif %}</textarea>
                           </div>
                        </form>
                     </div>
                     <!--location-details ends-->
                  </div>
                  <!--create-profile-buttons-->
                  <!--create-profile-buttons-->
                  <div class="create-profile-buttons">
                     <div class="create-profile-form">
                        <div class="pull-right">
                           <input value="Save" type="button" onclick="SaveHourlyRate()">
                           <!--<input value="Submit" type="button" onclick="SaveHourlyRate()">-->
                        </div>
                     </div>
                  </div>
                  <!--create-profile-buttons-->
               </div>
            </div>
         </div>
      </div>
      <div class="right-col">
         <div class="grey-title-bar"></div>
         <section class="help-section">
            <h2>Help Desk</h2>
            <h4>sample dummy text here</h4>
            <div class="help-accordion help-accordion">
               <h3>Simple to post your job and get </h3>
               <div>
                  <p>
                     Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                     ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                     amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                  </p>
               </div>
               <h3>Amazing talent ready to work </h3>
               <div>
                  <p>
                     Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                     purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                     suscipit faucibus urna.
                  </p>
               </div>
               <h3>Thousands of top-rated freelancers</h3>
               <div>
                  <p>
                     Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                     Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                  </p>
               </div>
               <h3>Simple to post your job and get </h3>
               <div>
                  <p>
                     Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                     et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                     mauris vel est.
                  </p>
               </div>
            </div>
         </section>
         <section class="email-sign-up-strip full-strip text-center">
            <div class="email-sign-up-cover">
               <h5> <span> Stay informed </span> and get inspired with our weekly newsletter</h5>
               <form>
                  <input placeholder="Email" type="text">
                  <button class="blue-button" type="button">SIGN UP</button>
               </form>
            </div>
         </section>
         <section class="suscribe-membership">
            <h2>Subscribe for</h2>
            <h4> Platinum Membership </h4>
            <p>
               Premium talent, pre-vetted and handpicked <br />
               for you. sample dummy text
            </p>
            <a href="" class="light-blue-border-button">Suscribe now</a>
         </section>
      </div>
   </div>
</div>
<!--create-profile ends-->

{% endblock %}

{% block extra_js %}
{% include "common/freelancer_profile_script.html" %}
<!--J Query cdn-->
 <!--<script src="{% static 'scripts/jquery.js' %}"></script>-->
 <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

  <script>
    $(document).ready(function() {

       numbers();
       $('select').select2();
        $('.name').blur(function() {

            var letters = /^[a-zA-Z\s]+$/;
            var name = $(this).val();
            var field = $(this).data("name");
            $(this).next('.error_msg').text('');
            // if($(this).val()){
            if (!name.match(/^^[a-z0-9 \\-]+$/i) || $.trim($(this).val()).length === 0) {

                $(this).next('.error_msg').addClass('check_error');
                $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                //$(this).focus();
                localStorage.setItem('status', 'true');
            } else {
                $(this).next('.error_msg').removeClass('check_error');
                localStorage.setItem('status', 'false');
            }
            // }
        });
        $('.project_url').blur(function() {
            $(this).next('.error_msg').text('');
            var urlregex = new RegExp(
                "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
            var url = $(this).val();
            if ($(this).val()) {
                if (urlregex.test(url) == false) {
                    $(this).next('.error_msg').addClass('check_error');
                    $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter valid ' + $(this).data("name") + '</li></ul>');
                    // $(this).focus();
                    localStorage.setItem('status', 'true');

                } else {
                    $(this).next('.error_msg').removeClass('check_error');
                    localStorage.setItem('status', 'false');
                }
            }
        });
        <!--$('.work_category').blur(function(){-->
        <!--$(this).next('.error_msg').text('');-->
        <!--if($(this).val() == 0){-->
        <!--$(this).next('.error_msg').addClass('check_error');-->
        <!--$(this).next('.error_msg').html("<p class=''>"+$(this).data("name")+" error</p>");-->
        <!--$(this).focus();-->
        <!--localStorage.setItem('status', 'true');-->

        <!--}else{-->
        <!--$(this).next('.error_msg').removeClass('check_error');-->
        <!--localStorage.setItem('status', 'false');-->
        <!--}-->

        <!--});-->


        <!--$('#tabs').tabs({show: 'fade', hide: 'fade'});-->

        $(".help-accordion").accordion({
            heightStyle: "content",
            collapsible: true
        });



        $(".mobile-menu").click(function() {
            $(".header-elents-cover").slideToggle('fast');
        });

        $(".language-selector").click(function() {
            $(".languages").fadeToggle('fast');
        });

        $('.create-profile').ready(function() {
            $(".loader,.loader-overlay").fadeOut("slow");
        });

        $(".form-section-row .form-label-blue").click(function() {
            $(this).next().slideToggle("");
            $(this).toggleClass("open");
        });

        $(".clone-close").click(function() {
            $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
                $(this).remove();
            });

        });
        $('.id_attachments').on("change", previewImages);
        RemoveImages();

        <!--$('.image-editor').cropit();-->
        <!--$('.image-editors').cropit();-->
        <!--datepicker();-->
        $('.description').blur(function() {
            <!--if ($(this).val() || $(this).val() == '0') {-->
            if ($.trim($(this).val()).length > 1  ) {
                $(this).closest('.form-section-row form').find('.name').blur();

                //blurname(this);
            } else {

            }
        });

        <!--$('form').submit(function() {-->

        <!--// Move cropped image data to hidden input-->
        <!--var imageData = $('.image-editor').cropit('export');-->
        <!--$('.hidden-image-data').val(imageData);-->

        <!--// Print HTTP request params-->
        <!--var formValue = $(this).serialize();-->
        <!--$('#result-data').text(formValue);-->

        <!--// Prevent the form from actually submitting-->
        <!--return false;-->
        <!--});-->
        GetCountry('.country');
        <!--setTimeout(function() {-->
            <!--$(".work_category").each(function() {-->

                <!--GetWorkcategory(this);-->
            <!--});-->
        <!--});-->
          GetWorkcategory(".work_category");



    });


    function GetWorkcategory(elm) {
       // $(".loaders").show();
        $.ajax({
            url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: {
                method: "get_workcategory",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request
            dataType: 'json',

            // handle a successful response
            success: function(responses) {
               if(responses.status=='success'){
                   newOption = '<option value="" >Select Work Category</option>';

                   $.map(JSON.parse(responses.data), function(item) {
                       var select = '';
                       console.log($(elm).data('id'));
                       if ($(elm).data('id') != 0) {
                           if ($.inArray(item.pk, $(elm).data('id')) > -1) {
                               var select = 'selected="selected"';
                           } else {
                               var select = '';
                           }
                       }

                       newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.category_title + '</option>';

                   });
                   $(elm).html(newOption);

                   if ($(elm).data("type") == '1') {
                       $(elm).select2();
                   }
                   Getsubcategory(elm);


               }else{
                   localStorage.setItem('status_msg_company', 'true');
                   DisplayMessage('failed', responses.message);

               }


            }
        });


    }




    function Getsubcategory(elm) {
        //$(".loaders,.loader-overlay").fadeIn("slow");
        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }


        $.ajax({
            url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},

            type: "POST", // http method
            data: {
                method: "get_worksubcategorys",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                workid: workid
            }, // data sent with the post request
            dataType: 'json',

            // handle a successful response
            success: function(responses) {
                if(responses.status=='success'){
                   newOption = '<option disabled="disabled" value="0" >Select Sub Category</option>';
                   if ($(elm).data('type') == '2') {
                       classs = 'clone-sec';
                   } else {
                       classs = 'form-cloning-cover';
                   }
                   $.map(JSON.parse(responses.data), function(item) {


                       console.log($(elm).closest('.' + classs).find('.sub_category').data('id'));
                       if ($(elm).closest('.' + classs).find('.sub_category').data('id') != 0) {
                           if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.sub_category').data('id')) > -1) {
                               var select = 'selected="selected"';
                           } else {
                               var select = '';
                           }
                       }


                       newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.sub_category_title + '</option>';

                   });

                   $(elm).closest('.' + classs).find('.sub_category').html(newOption);
                   $(elm).closest('.' + classs).find('.sub_category').select2();
                }else{
                   localStorage.setItem('status_msg_company', 'true');
                   DisplayMessage('failed', responses.message);

                }
            }
        });


    }

    function GetSkills(elm) {
        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }
        if ($(elm).data('type') == '2') {
            classs = 'clone-sec';
        } else {
            classs = 'form-cloning-cover';
        }
        if(workid){
        $.ajax({
            url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: {
                method: "get_skillsoptions",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                subid: workid
            }, // data sent with the post request
            dataType: 'json',

            // handle a successful response
            success: function(responses) {
               if(responses.status=='success'){
                   newOption = '<option disabled="disabled" value="0" >Select skills</option>';
                   if (JSON.parse(responses.data)) {
                       $(".loaders,.loader-overlay").fadeOut("slow");
                       $.map(JSON.parse(responses.data), function(item) {


                           var select = '';
                           if ($(elm).closest('.' + classs).find('.skillsoptions').data('id') != 0) {
                               if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.skillsoptions').data('id')) > -1) {
                                   var select = 'selected="selected"';
                               } else {
                                   var select = '';
                               }
                           }

                           newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                       });
                   }
                   //alert();
                   $(elm).closest('.' + classs).find('.skillsoptions').html(newOption);
                   $(elm).closest('.' + classs).find('.skillsoptions').select2();
               }else{

                   showmessage(responses.message,'failed');

               }

            }
        });
        }
    }

    function SaveCompanyProfile() {
        $(".loaders").fadeIn("slow");

        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: $('#companyProfile').serialize(), // data sent with the post request

            // handle a successful response
            success: function(data) {
                $(".loaders").fadeOut("slow");
                if (data.status == 'failed') {

                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {

                    $(".error").hide();
                    $(".error").html('');
                    var text = "It's move to the next section";


                     showmessage(text,'success');
                    //setTimeout(function() {
                        // $(".loader,.loader-overlay").fadeOut("slow");
                        $('#ui-id-2').click();

                   // }, 500);
                }
            }
        });
    }

    function SaveExperiance() {

        $("div.form-cloning-cover form").each(function() {
            //$('.name').blur();
            $('.description').blur();
            $('.project_url').blur();
            // $('.work_category').blur();

        });
        // alert($("span.error_msg" ).hasClass( "check_error" ));
        localStorage.setItem('status', $("span.error_msg").hasClass("check_error"));


        if (localStorage.getItem('status') == 'false') {
            $(".loaders").fadeIn("slow");
            var myArray = {};


            $("div.step-2 div.form-cloning-cover ").each(function() {
                var m = {};

                $(this).find("form").each(function() {

                    var formname = $(this).attr('name');
                    //alert(myArray[formname]);
                    if (myArray[formname] == undefined) {

                        myArray[formname] = [];
                    } else {
                        myArray[formname] = myArray[formname];


                    }
                    // var array = myArray[formname] = [];
                    // alert(JSON.stringify(myArray));

                    $(this).find(':input').each(function() {
                        if ($(this).attr('type') == 'file' && $(this).attr('name') == 'filess') {
                             var field = $(this).attr('name');
                          var option_all='';

                           var dd = {};
                            object = {};


                            var uploads = [];



                              $(this).parent().next('.preview').find('img').each(function()
                              {

                                  uploads.push($(this).attr('src'));
                              });

                              m["upload"] = uploads;

                        } else {
                            var field = $(this).attr('name');


                            m[field] = $(this).val();
                        }




                    });

                    myArray[formname].push(m);
                });

            });

            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: {
                    method: "save_frelancer_company_portfolio",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: JSON.stringify(myArray)
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    $(".loaders").fadeOut("slow");
                    if (data.status == 'failed') {

                    } else {
                        var text = "It's move to the next section";

                        showmessage(text,'success');

                            $('#ui-id-3').click();

                       <!--//setTimeout(function() { }, 3000);-->


                    }
                }
            });

        }
    }

    function hourlrate(elm) {
        var regex = /^[0-9]*(?:\.\d{1,2})?$/;
        if ($(elm).val() == '') {
            $('.actual_rate').val('');
        }
        $(elm).focus();
        if (regex.test($(elm).val()) && $(elm).val() != '') {
            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: {
                    method: "change_hourly_rate_company",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    rate: $(elm).val()
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    $(elm).focus();
                    if (data.status == 'failed') {

                    } else {
                        $('.actual_rate').val(data.data);
                    }
                }
            });

        }
    }

    function GetCountry(elm) {
        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_country",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select Country</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($(elm).data('id'));
                    if ($(elm).data('id') != 0) {
                        if (item.pk == $(elm).data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $(elm).html(newOption);
                GetState(elm);


            }
        });
    }

    function GetState(elm) {
        //if($(elm).val() !='0' && $(elm).val() !=''){
        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_state",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                country: $(elm).val()
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select State</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($('.state').data('id'));
                    if ($('.state').data('id') != 0) {
                        if (item.pk == $('.state').data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $('.state').html(newOption);
                GetCity(elm);


            }
        });
        //}
    }

    function GetCity(elm) {
        //if($('.state').val() !='0' && $('.state').val() !=''){
        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_city",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                state: $('.state').val()
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select City</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($('.city').data('id'));
                    if ($('.city').data('id') != 0) {
                        if (item.pk == $('.city').data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $('.city').html(newOption);



            }
        });
        //}
    }

    function SaveHourlyRate() {

        numbers();

        localStorage.setItem('status_3', $("span.error_msgs").hasClass("check_errors"));
        if (localStorage.getItem('status_3') == 'false') {
            $(".loaders").fadeIn("slow");

            var myArray = {};


            $("div.step-3 div.form3").each(function() {
                var m = {};

                $(this).find("form").each(function() {

                    var formname = $(this).attr('name');
                    //alert(myArray[formname]);
                    if (myArray[formname] == undefined) {

                        myArray[formname] = [];
                    } else {
                        myArray[formname] = myArray[formname];


                    }
                    // var array = myArray[formname] = [];
                    // alert(JSON.stringify(myArray));

                    $(this).find(':input').each(function() {
                        if ($(this).attr('type') == 'file' && $(this).attr('name') == 'file') {
                            var field = $(this).attr('name');


                            m[field] = $(this).val();
                        } else {
                            var field = $(this).attr('name');


                            m[field] = $(this).val();
                        }




                    });

                    myArray[formname].push(m);
                });

            });
            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: {
                    method: "save_frelancer_company_hourly",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: JSON.stringify(myArray)
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {

                    } else {
                        $(".loaders").fadeOut("slow");
                        var text = "It's move to the next section";

                        showmessage(text,'success');

                        setTimeout(function() {
                            window.location.href = "{% url 'freelancer-company:freelancercompanyview' %}";

                        }, 3000);

                    }
                }
            });
        }


    }

    function skip(elm) {
        var id = $(elm).data('id');
        $('#' + id).click();
    }


    function numbers(){

 $('.number').blur(function() {

            var regex = /^[0-9]*(?:\.\d{1,2})?$/; // allow only numbers [0-9]
            $(this).next('span.error_msgs').text('');

            if( $(this).val() != ''){

            if (!regex.test($(this).val())  ) {
                $(this).next('span.error_msgs').addClass('check_errors');
                $(this).next('span.error_msgs').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                // $(this).focus();
                localStorage.setItem('status_3', 'true');
            } else {
                $(this).next('.error_msgs').removeClass('check_errors');
                localStorage.setItem('status_3', 'false');
            }
            }



        });
        }
        function previewImages(){


  var $preview = $(this).parent().next('.preview');
  var number = $(this).parent().next('.preview').find('img').length;

  increased = parseInt(this.files.length) + parseInt(number);


  if ( increased <=8) {$.each(this.files, readAndPreview);}
  else {alert("Exceed the limit");}

  function readAndPreview(i, file) {

    if (!/\.(jpe?g|png|gif)$/i.test(file.name)){
      return alert(file.name +" is not an image");
    } // else...

    var reader = new FileReader();

    $(reader).on("load", function() {
      <!--$preview.append($("<img/>", {src:this.result, height:200 ,class:'pip'}));-->
      <!--$preview.append("<span class='removePreviw'>remove</span>");-->
      $preview.prepend("<div><img src="+this.result+" class='pip' height='200'><span class='removePreviw'>x</span></div>");

      RemoveImages();

    });

    reader.readAsDataURL(file);

  }
  }
  function RemoveImages(){
   $(".removePreviw").click(function(){

            $(this).prev(".pip").remove();
            $(this).remove();
          });
  }
</script>

{% endblock %}