{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block style %}

{% endblock %}
{% block content %}

<style>
   .morecontent span {
          display: none;
      }
      .morelink {
          display: block;
      }
</style>

<!--create-profile strats-->
         <div class="create-profile" id="create-profile">
            <div class="loader">
            </div>
            <div class="container-fluid create-profile-cover">
               <div class="left-coll">

                  <!--profile image-->
                {% include "common/freelancer_profile_image.html" %}
                  <!--profile image-->
                  <a class="popup-with-zoom-anim edit-button small-dialog_hourly_rate hide"    href="#small-dialog">Edit</a>
                  <div id="HourlyRate">
                  <div class="rate-info left-side-info-box">
                     <div class="action-cover">
                        <a class="edit-button ChangeHourlyPopup"   data-hidden="locationHide" >Edit</a>
                     </div>
                     <h3>Hourly Rate</h3>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>Hourly Rate</span>
                           <label>$ {% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate}} {% else %} 0.00 {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>Actual Rate</span>
                           <label>$ {% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate}}{% else %} 0.00 {% endif %}</label>
                        </div>
                     </div>
                  </div>
                  <div class="rate-info left-side-info-box">
                     <div class="action-cover">
                        <a class="edit-button ChangeHourlyPopup"   data-hidden="hourlyHide" >Edit</a>
                     </div>
                     <h3>Location Details</h3>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>Country</span>
                           <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.name}}{% else %} Not set {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>City</span>
                           <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.name}}{% else %} Not set {% endif %}</label>
                        </div>
                     </div>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>State</span>
                           <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.name}}{% else %} Not set {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>ZIP Code</span>
                           <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code}}{% else %} Not set {% endif %}</label>
                        </div>
                     </div>
                     <div class="left-side-info-row address-block">
                        <p class="location">{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address}}{% else %}Not set{% endif %}.</p>
                     </div>
                  </div>
                  </div>
                  <div class="view-the-company">

                     {% if request.user.employment_history.all or  request.user.experience_level.all or request.user.user_detail.get or request.user.portfolio.all or request.user.cerifications.all or request.user.freelancer_hourly_user.all or request.user.freelancer_location_user.all %}
                     <a  href="{% url 'freelancer:freelancerprofileview' %}" class="view-the-company-link">View  Freelancer Account<i></i></a>
                     {% else %}
                     <a  href="{% url 'freelancer:freelancerprofile' %}" class="view-the-company-link">Add Freelancer Account<i></i></a>
                     {% endif %}
                  </div>
               </div>
               <div class="center-col" id="tabs">

                  {% include "common/message.html" %}
                  <div class="create-profile-form-cover">
                     <div id="tabs-1" class="form-step step-1">
                        <div class="view-profile-cover">
                           <div class="view-profile-cover-inner">
                              <div class="scroll-cover">
                                 <section class="profile-introduction view-profile-company view-profile-single-section overview-cover" id="overview-cover" data-anchor="overview-cover">
                                    <a class="popup-with-zoom-anim edit-button Profile_edit hide" onclick="Getfunction()" href="#small-dialog_2">Edit</a>

                                    <div id="ProfileUser">
                                    <div class="profile-introduction-cover">
                                       <div class="company-logo-cover">
                                          {% include "common/freelancer_company_image.html" %}

                                          </div>
                                       <div class="company-info-cover">
                                          <div class="company-info-cover-inner">
                                             <div class="grid-100 relative-cover">
                                                <div class="introduction-info">
                                                   <h2>{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name}}{% else %} Company Name{% endif %}  <a class="edit-button" onclick="Get_freelancer_profile_popup()" >Edit</a></h2>
                                                   <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                                   <h4><span class="designation blue-color">
                                                      {% for workcategory in request.user.get_freelancer_company_intance.user.freelancer_company_user.get.workcategory.all %}
                                                      {{workcategory.category_title}}
                                                      {% if forloop.counter < request.user.get_freelancer_company_intance.user.freelancer_company_user.get.workcategory.count %}
                                                      ,
                                                      {% endif %}
                                                      {% empty %}
                                                      Work Category
                                                      {% endfor %}
                                                     </span><span class="rate">${% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate}}{% else %}0.00{% endif %}/hr  <a class="edit-button ChangeHourlyPopup "  data-hidden="locationHide"  >Edit</a></span></h4>
                                                   </h4>
                                                   <p class="location">{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address}}{% else %}Not set{% endif %}.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!--<div class="grid-20">-->
                                    <!--<span class="rate">$40.00/hr</span>-->
                                    <!--</div>-->
                                    <!-- skills-cover -->
                                    <div class="skills-cover">
                                       {% for skills in request.user.get_freelancer_company_intance.user.freelancer_company_user.get.skills.all %}
                                       <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skills.name}}</span>
                                       {% endfor %}
                                       {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.skills.all|length > 10 %}
                                     <a  onclick="Moreskills(this)" class="more">more..</a>
                                     {% endif %}

                                    </div>
                                    <div class="description">
                                       <p class="more">
                                          {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description %}{{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description}}{% endif %}
                                       </p>
                                    </div>
                                 </div>
                                    <!-- dailoge-box -->
                                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <form name="hourly" class="targetDiv" id="hourlyHide">
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Hourly Rate ($)</h3>
                                                <input type="text" maxlength="8" class="number" onkeyup="hourlrate(this)" name="hourly_rate" data-name="Hourly Rate" placeholder="Hourly Rate"
                                                   value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate}}{% endif %}" />
                                                <span class="error_msgs"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Actual Rate ($)</h3>
                                                <input type="text" value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate}} {% endif %}"  disabled placeholder="Actual Rate"  class="actual_rate" name="actual_rate"/>
                                             </div>
                                          </div>
                                       </form>
                                       <form name="location" class="targetDiv" id="locationHide">
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Country</h3>
                                                <select name="country" class="country" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.pk}}{% else %} 0 {% endif %}" onchange="GetState(this)">
                                                   <option value="0">Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                </select>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">State</h3>
                                                <select name="state" class="state" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.pk}}{% else %} 0 {% endif %}" onchange="GetCity(this)">
                                                   <option value="0">Select State</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                </select>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">City</h3>
                                                <select name="city" class="city" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.pk}}{% else %} 0 {% endif %}">
                                                   <option value="0">Select State</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                   <option>Country</option>
                                                </select>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Zip Code</h3>
                                                <input type="text" maxlength="5" value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code}} {% endif %}" placeholder="ZIP Code" name="zip"/>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Address</h3>
                                             <textarea placeholder="Address" name="address">{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address}} {% endif %}</textarea>
                                          </div>

                                       </form>
                                        <div class="field-row">
                                             <div class="grid-20 padding-right-5">
                                                <button type="button" onclick="SaveHourlyRate()" class="blue-button">Save</button>
                                             </div>
                                             <div class="grid-20 padding-left-5">
                                                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                             </div>
                                          </div>
                                    </div>
                                    <!-- skills-cover ends-->
                                    <!-- skills-cover ends--><!-- dailoge-box -->
                                    <div id="small-dialog_2" class="zoom-anim-dialog mfp-hide small-dialog">

                                    </div>
                                    <!-- skills-cover ends-->
                                    <div id="small-dialog_addportfolio" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <form id="add_portfolio">
                                          {% csrf_token %}
                                          <input type="hidden" name="method" value="Save_freelancer_company_portfolio">
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Project Name</h3>
                                             <input placeholder="Project Name" maxlength="50" class="name names" data-name="Project Name"  name="project_name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Description</h3>
                                             <textarea placeholder="Description" name="description"></textarea>
                                          </div>
                                          <span class="errors_description error"></span>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Work Category</h3>
                                                <select class="work_category work_categorys" data-name="Work Category " data-id="0" data-type="2" name="work_category" onchange="Getsubcategory(this),GetSkills(this)">
                                                   <option>Work Category1</option>
                                                   <option>Work Category2</option>
                                                   <option>Work Category3</option>
                                                   <option>Work Category4</option>
                                                </select>
                                                <span class="error_msg"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Sub Category</h3>
                                                <select class="sub_category" name="sub_category" data-id="0" data-type="2" multiple="multiple">
                                                   <option value ="0">Select Sub Category</option>
                                                </select>
                                                <span class="errors_subcategory error"></span>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Skills</h3>
                                                <select class="skillsoptions" multiple="multiple" data-id="0" name="skills">
                                                   <option value="0">Select Skills</option>
                                                </select>
                                                <span class="errors_skills error"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">Project Url</h3>
                                                <input placeholder="Project Url"  value ="" data-name="Project Url" class="project_url" name="project_url" type="text">
                                                <span class="error_msg"></span>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-20 padding-right-5">
                                                <button type="button" onclick="SavefreelancerPortfolio()" class="blue-button">Save</button>
                                             </div>
                                             <div class="grid-20 padding-left-5">
                                                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                    <!-- skills-cover ends-->
                                    <!-- skills-cover ends-->
                                    <div id="small-dialog_addcertification" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <form id="addpcertification">
                                          {% csrf_token %}
                                          <input type="hidden" name="method" value="Save_freelancer_company_certification">
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Certification Name</h3>
                                             <input maxlength="50" placeholder="Certification Name" data-name="Certification Name" class="namesc" name="certificate_name" type="text">
                                             <span class="error_msg"></span>
                                          </div>
                                          <div class="field-row">
                                             <h3 class="form-label-blue">Issued by</h3>
                                             <input maxlength="30" placeholder="Issued by" type="text" name="issuedby" value="">
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-50 padding-right-5">
                                                <h3 class="form-label-blue">Start Date</h3>
                                                <input placeholder="Start Date" class="calander start-date"    name="start_date" type="text" readonly value="">
                                                <span class="error_msg"></span>
                                             </div>
                                             <div class="grid-50 padding-left-5">
                                                <h3 class="form-label-blue">End Date</h3>
                                                <input placeholder="End Date" class="calander end-date" name="end_date"   type="text" readonly>
                                             </div>
                                          </div>
                                          <div class="field-row">
                                             <div class="grid-20 padding-right-5">
                                                <button type="button" onclick="SavefreelancerCertification()" class="blue-button">Save</button>
                                             </div>
                                             <div class="grid-20 padding-left-5">
                                                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                    <!-- skills-cover ends-->
                                    <!-- skills-cover ends-->

                                     <a class="popup-with-zoom-anim edit-button account_activations hide"    href="#small-dialog_activation">Edit</a>

                                    <!-- skills-cover ends--> <!-- skills-cover ends-->
                                    <div id="small-dialog_activation" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <div class="delete-confirmation delete-msg">
                                          <h3 id="activation">Activate Section</h3>
                                          <p>Are you sure want to <span id="activation_text">activate</span> this user </p>
                                          <input type="hidden" id="roleids" >
                                          <input type="hidden" id ="textids">
                                          <input type="hidden" id ="rolestatus">
                                          <a  class="yes UpdateActivation">Ok</a>
                                          <a onclick="Close()" class="cancel">Cancel</a>
                                       </div>

                                    </div>
                                    <!-- skills-cover ends-->
                                    <!-- skills-cover ends-->
                                    <div id="small-dialog_editportfolios" class="zoom-anim-dialog mfp-hide small-dialog">
                                    </div>
                                    <!-- skills-cover ends-->
                                    <!-- description -->

                                    <!-- description -->
                                    <!-- clients-comments-cover -->
                                    <div class="clients-comments-cover hide">
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.<a href="" class="read-more"> [ ... ] </a></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for. <a href="" class="read-more"> [ ... ] </a></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="load-more-cover">
                                          <a href="">Load More</a>
                                       </div>
                                    </div>
                                    <!-- clients-comments-cover -->
                                 </section>
                                 <!-- portfolio-cover -->
                                 <section class="portfolio-cover view-profile-single-section" id="portfolio-cover" data-anchor="portfolio-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Portfolio <span class="PortfoiloList">({{request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.count}})</span></h2>
                                       <a class="popup-with-zoom-anim edit-button FormReset"  data-form="add_portfolio" href="#small-dialog_addportfolio"><span  class="add-another employemet-history-add " data-clone-tri="1">Add Portfolio</span></a>
                                       <a class="hide popup-with-zoom-anim edit-button small-dialog_editportfolios" href="#small-dialog_editportfolios"> <span  class="add-another employemet-history-add " data-clone-tri="1">add another</span></a>
                                       <a class="hide popup-with-zoom-anim edit-button small-dialog_delete" href="#small-dialog_delete"> <span  class="add-another employemet-history-add " data-clone-tri="1">Delete</span></a>
                                    </div>
                                    <div id="PortfoiloList">
                                    {% for portfolio in request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all %}
                                    <div class="portfolio-single-cover view-clone-cover">
                                       <div class="action-cover">
                                          <div class="delete-button deletevalues"  onclick="DeleteSection(this)"  data-id="{{portfolio.pk}}" data-title="portfolio">Delete</div>
                                          <a class="edit-button"  onclick="GetEditDetails(this)"  data-title="portfolio" data-id="{{portfolio.pk}}">Edit</a>
                                       </div>
                                       <h3 class="sub-heading-arows">{{portfolio.project_name}}</h3>
                                       <p class="skills">
                                          {% for skills in  portfolio.skills.all %}
                                          {{skills.name}}
                                          {% if forloop.counter < portfolio.skills.all.count %}
                                          ,
                                          {% endif %}
                                          {% empty %}
                                          {% endfor %}
                                       </p>
                                       <p class="description more">
                                          {{portfolio.description}}
                                       </p>
                                       <p class="category"> </p>
                                       <p class="sub-category"> </p>
                                       <a href="{{portfolio.project_url}}" target="_blank" class="portfolio-link">{{portfolio.project_url}}</a>
                                       <div class="portfolio-image-cover">
                                          <div class="portfolio-image">
                                             <a href="{% static 'images/prt-4.png' %}"  title="Light Sabre">
                                             <img src="{% static 'images/prt3.png' %}" alt="" />
                                             </a>
                                          </div>
                                          <div class="portfolio-image">
                                             <a href="{% static 'images/prt-2.png' %}"  title="Light Sabre">
                                             <img src="{% static 'images/prt.png' %}" alt="" />
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Portfolio to show .. <a href="#small-dialog_addportfolio" class="popup-with-zoom-anim edit-button FormReset"  data-form="add_portfolio">Add Portfolio</a></p>
                                    </div>
                                    {% endfor %}
                                       </div>

                                 </section>
                                 <!-- portfolio-cover ends-->
                                 <!-- employement-history -->
                                 <!--<section class="employement-history-cover" id="employment-history-cover" data-anchor="employment-history-cover">-->
                                 <!--<div class="view-profile-single-section-header">-->
                                 <!--<h2>Employement History</h2>-->
                                 <!--<span href="#" class="add-another employemet-history-add " data-clone-tri="1">add another</span>-->
                                 <!--</div>-->
                                 <!--{% for employment in request.user.employment_history.all %}-->
                                 <!--<div class="employement-history-single view-clone-cover">-->
                                 <!--<div class="action-cover">-->
                                 <!--<div class="delete-button">Delete</div>-->
                                 <!--<a class="popup-with-zoom-anim edit-button" href="#small-dialog">Edit</a>-->
                                 <!--</div>-->
                                 <!--<h3 class="sub-heading-arows">Softone Infotech</h3>-->
                                 <!--<p class="role">UI/UX Designer</p>-->
                                 <!--<div class="duration-cover">-->
                                 <!--<span class="duration-start-date date">21-02-2015</span>-->
                                 <!--<span class="to">to</span>-->
                                 <!--<span class="duration-end-date date">12-06-2017</span>-->
                                 <!--</div>-->
                                 <!--<p class="description">-->
                                 <!--Skills Highlight projects, accomplishments, and education Keep it short and make sure it is error-free  clients you-->
                                 <!--Use this space to show clients you have the skills and experience they're looking for.-->
                                 <!--</p>-->
                                 <!--</div>-->
                                 <!--&lt;!&ndash;<div class="employement-history-single view-clone-cover">&ndash;&gt;-->
                                 <!--&lt;!&ndash;<div class="action-cover">&ndash;&gt;-->
                                 <!--&lt;!&ndash;<div class="delete-button">Delete</div>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<a class="popup-with-zoom-anim edit-button" href="#small-dialog">Edit</a>&ndash;&gt;-->
                                 <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<h3 class="sub-heading-arows">Techoforest Softwares</h3>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<p class="role">UI/UX Designer</p>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<div class="duration-cover">&ndash;&gt;-->
                                 <!--&lt;!&ndash;<span class="duration-start-date date">21-02-2015</span>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<span class="to">to</span>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<span class="duration-end-date date">12-06-2017</span>&ndash;&gt;-->
                                 <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<p class="description">&ndash;&gt;-->
                                 <!--&lt;!&ndash;Skills Highlight projects, accomplishments, and education Keep it short and make sure it is error-free  clients you&ndash;&gt;-->
                                 <!--&lt;!&ndash;Use this space to show clients you have the skills and experience they're looking for.&ndash;&gt;-->
                                 <!--&lt;!&ndash;</p>&ndash;&gt;-->
                                 <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                 <!--{% empty %}-->
                                 <!--<div class="view-profile-single-section-nocontent">-->
                                 <!--<p>No Content to show .. <a href="" class="add-content">add content</a></p>-->
                                 <!--</div>-->
                                 <!--{% endfor %}-->
                                 <!--</section>-->
                                 <!--&lt;!&ndash; employement-history end &ndash;&gt;-->
                                 <!-- certifications-cover -->
                                 <section class="certifications-cover" id="certifications-cover" data-anchor="certifications-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Certifications <span class="CertificationList">({{request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.count}})</span></h2>
                                       <a class="popup-with-zoom-anim edit-button FormReset"  data-form="addpcertification"  href="#small-dialog_addcertification"><span class="add-another employemet-history-add " data-clone-tri="1">Add Certifications</span></a>
                                    </div>
                                    <div id="CertificationList">
                                    {% for cerifications in request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all %}
                                    <div class="certifications-cover-single view-clone-cover">
                                       <div class="action-cover">
                                          <div class="delete-button  deletevalues"  onclick="DeleteSection(this)" data-id="{{cerifications.pk}}" data-title="cerifications">Delete</div>
                                          <a class="edit-button" onclick="GetEditDetails(this)"  data-title="cerifications" data-id="{{cerifications.pk}}">Edit</a>
                                       </div>
                                       <h3 class="sub-heading-arows">{{cerifications.certificate_name}}</h3>
                                       <p>
                                          <!--Issued by : ZebroZone Ltd-->
                                          <!--<div class="duration-cover">  Issued from :-->
                                          <!--<span class="duration-start-date date">21-02-2015</span>-->
                                          <!--<span class="to">to</span>-->
                                          <!--<span class="duration-end-date date">12-06-2017</span>-->
                                          <!--</div>-->
                                          {% if cerifications.issued_by %}
                                          Issued by :{{cerifications.issued_by}}
                                          {% endif %}
                                       <div class="duration-cover">
                                          {% if cerifications.valid_from %}
                                          Issued from :
                                          <span class="duration-start-date date">{{cerifications.valid_from |date:'d-m-Y'}}</span>
                                          {% endif %}
                                          {% if cerifications.end_to %}
                                          <span class="to">to</span>
                                          <span class="duration-end-date date">{{cerifications.end_to |date:'d-m-Y'}}</span>
                                          {% endif %}
                                       </div>
                                       </p>
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Certifications to show .. <a class="popup-with-zoom-anim edit-button add-content FormReset"  data-form="addpcertification"  href="#small-dialog_addcertification" >Add Certifications</a></p>
                                    </div>
                                    {% endfor %}
                                       </div>
                                    <!--<div class="certifications-cover-single view-clone-cover">-->
                                    <!--<div class="action-cover">-->
                                    <!--<div class="delete-button">Delete</div>-->
                                    <!--<a class="popup-with-zoom-anim edit-button" href="#small-dialog">Edit</a>-->
                                    <!--</div>-->
                                    <!--<h3 class="sub-heading-arows">Quality in UX Development Certification</h3>-->
                                    <!--<p>-->
                                    <!--Issued by : ZebroZone Ltd-->
                                    <!--<div class="duration-cover">  Issued from :-->
                                    <!--<span class="duration-start-date date">21-02-2015</span>-->
                                    <!--<span class="to">to</span>-->
                                    <!--<span class="duration-end-date date">12-06-2017</span>-->
                                    <!--</div>-->
                                    <!--</p>-->
                                    <!--<div class="certifications-image-cover">-->
                                    <!--<div class="certification-image">-->
                                    <!--<a href="{% static 'images/cert-1.jpg' %}" title="Into The Blue">-->
                                    <!--<img src="{% static 'images/cert.jpg' %}" width="193" height="125" /></a>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="certifications-cover-single view-clone-cover">-->
                                    <!--<div class="action-cover">-->
                                    <!--<div class="delete-button">Delete</div>-->
                                    <!--<a class="popup-with-zoom-anim edit-button" href="#small-dialog">Edit</a>-->
                                    <!--</div>-->
                                    <!--<h3 class="sub-heading-arows">Quality in UX Development Certification</h3>-->
                                    <!--<p>-->
                                    <!--Issued by : ZebroZone Ltd-->
                                    <!--<div class="duration-cover">  Issued from :-->
                                    <!--<span class="duration-start-date date">21-02-2015</span>-->
                                    <!--<span class="to">to</span>-->
                                    <!--<span class="duration-end-date date">12-06-2017</span>-->
                                    <!--</div>-->
                                    <!--</p>-->
                                    <!--<div class="certifications-image-cover">-->
                                    <!--<div class="certification-image">-->
                                    <!--<a href="{% static 'images/cert-1.jpg' %}" title="Into The Blue">-->
                                    <!--<img src="{% static 'images/cert.jpg' %}" width="193" height="125" /></a>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                 </section>
                                 <!-- certifications-cover end -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- right-col for web -->
            <div class="right-col ">
            <div class="view-profile-links">
              <ul>
                <li>
                  <a href="#overview-cover" data-scroll="overview-cover" class="overview" id="overview">Overview</a>
                </li>
                <li>
                  <a href="#portfolio-cover" data-scroll="portfolio-cover" class="portfolio">Portfolio</a>
                </li>

                <li>
                  <a href="#certifications-cover" data-scroll="certifications-cover" class="certifications">Certifications</a>
                </li>
              </ul>
            </div>


                <div class="invite-freenlancers">
              <section id="demos">
              <div class="row">
                <div class="large-12 columns">
                <h2 id="teammembers">Team Members ({{request.user.get_freelancer_company_intance.invited_freelancer_company_id.count}})</h2>
                <input type="text" id="target" class="team-member-serach" placeholder="Search Here..">
                <input type="button" class="team-member-serach-button">
                <div id="invitedUser"></div>
                </div>
              </div>
              </section>
                   {% if request.user.get_freelancer_company_intance.user %}
              <div class="view-the-company">
                <a class="view-the-company-link popup-with-zoom-anim " href="#small-dialog_invite">Invite Team Members<i></i></a>
              </div>
                   {% endif %}

          </div>
          <!-- right-col for web -->
          </div>
          <!-- right-col for web -->
            </div>
         </div>
         <!--create-profile ends-->

<!-- dailoge-box ends-->
         <div id="small-dialog_invite" class="invite-popup zoom-anim-dialog mfp-hide small-dialog">
            <form method="post" id="invite_users">
               {% csrf_token %}
            <div class="field-row">
               <h3 class="form-label-blue">Email</h3>
               <input id="email" data-name="Email" name="email" placeholder="Email" type="text">

               <span class="error_msgs"></span>
               <input type="hidden" value="invite_user" name="method">
            </div>
            <div class="field-row">
               <h3 class="form-label-blue">Role</h3>
               <div class="grid-20">
                  <label class="radio inline-cover">
                  <input  name="role_type" class="role_type" data-name="Role Type" value="Admin" type="radio">

                  <span>Admin</span>
                  </label>
                  <span class="error_msgs"></span>
               </div>
               <div class="grid-20">
                  <label class="radio inline-cover">
                  <input name="role_type"  class="role_type" value="Staff" type="radio">
                  <span>Staff</span>
                  </label>
               </div>
            </div>
            <div class="field-row form-button-field">
                <div class="grid-20 padding-right-5">
               <button  id="InviteUser"  type="button" class="blue-button">Invite</button>
                </div>
                <div class="grid-20 padding-right-5">
               <button type="button" onclick="Close()" class="blue-button-bordererd">Cancel</button>
            </div>
            </div>
               </form>
         </div>
<div id="box"></div>
<a class="popup-with-zoom-anim edit-button small-dialog_invite_update hide "  href="#small-dialog_invite_update">Edit</a>
 <div id="small-dialog_invite_update" class="invite-popup zoom-anim-dialog mfp-hide small-dialog">

 </div>
 <!-- skills-cover ends-->
                                    <div id="small-dialog_delete" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <div class="delete-confirmation delete-msg">
                                          <h3>Delete Section</h3>
                                          <p>Are you sure want to delete this section</p>
                                          <input type="hidden" id="id" >
                                          <input type="hidden" id ="title">
                                          <a onclick="GetDeletedDetails()" class="yes">Ok</a>
                                          <a onclick="Close()" class="cancel">Cancel</a>
                                       </div>
                                       <div id="delete-msg" class="delete-confirmation " >
                                          <h3>Delete Section</h3>
                                          <p>Successfully Deleted</p>
                                       </div>
                                    </div>
<!--create-profile ends-->
<!-- skills-cover ends-->

{% endblock %}
{% block extra_js %}
{% include "common/freelancer_profile_script.html" %}
<script>
    $(document).ready(function() {
        project_emply();

        GetCountry('.country');
        <!--$(".work_category").each(function() {-->

            <!--GetWorkcategory(this);-->
        <!--});-->
        Getfunction();

        $(".help-accordion").accordion({
            heightStyle: "content",
            collapsible: true
        });
        $('#email').blur(function() {
            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!ValidateEmail($(this).val()) || $(this).val() == '') {

                $(this).next('span.error_msgs').addClass('check_errors');
                $(this).next('span.error_msgs').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');

            } else {
                $(this).next('span.error_msgs').html('');
                $(this).next('.error_msgs').removeClass('check_errors');

            }

        });

        datepicker();
        ChangeHourlyPopup();
        $(".mobile-menu").click(function() {
            $(".header-elents-cover").slideToggle('fast');
        });
        $(window).keydown(function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        $(".language-selector").click(function() {
            $(".languages").fadeToggle('fast');
        });

        $('.create-profile').ready(function() {
            $(".loader,.loader-overlay").fadeOut("slow");
        });

        $(".form-section-row .form-label-blue").click(function() {
            $(this).next().slideToggle("");
            $(this).toggleClass("open");
        });

        $(".clone-close").click(function() {
            $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
                $(this).remove();
            });
        });




        //Div navigation
        // 1 Go to section
        $('.view-profile-links a').click(function(e) {
            e.preventDefault();
            var path = $(this).attr("data-scroll");
            var anchor = $("#" + path);
            var position = anchor.position().top + $(".scroll-cover").scrollTop();
            if ($(window).width() > 767) {
                $(".scroll-cover").animate({
                    scrollTop: position
                }, 100);
                console.log(position);
            } else {
                console.log(position);
                $(".modal").animate({
                    scrollTop: position
                }, 100);
            }
            $(".pop-up-nav-for-small").slideUp();
        });

        //2 Make link active
        $('.scroll-cover').scroll(function() {
            var windscroll = $('.scroll-cover').scrollTop();
            if (windscroll >= 100) {
                $('.view-profile-cover section').each(function(i) {

                    //alert( $(this).position().top );

                    if ($(this).position().top <= 175) {

                        ($(this).position().top);
                        $('.view-profile-links ul li.active').removeClass('active');
                        $('.view-profile-links ul li').eq(i).addClass('active');

                    }
                });
            } else {
                $('.view-profile-links li.active').removeClass('active');
                $('.view-profile-links li:first').addClass('active');
            }
        }).scroll();



        $('.names').blur(function() {
            blurname(this);


        });
        $('#InviteUser').click(function() {

            InviteUser();


        });
        $("#target").on('keyup change', function() {
            var search = $(this).val();

            GetInvitedMembers('1', search);

        });
        GetInvitedMembers('1', $("#target").val());
        NextPrevious();
        ChangeActive();
        UpdateActivation();

        numbers();
        names_emply();
        $('.project_url').blur(function() {

            $(this).next('.error_msg').text('');
            $(this).next('.error_msg').removeClass('check_error');
            var urlregex = new RegExp(
                "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
            var url = $(this).val();
            if ($(this).val()) {
                if (urlregex.test(url) == false) {
                    $(this).next('.error_msg').addClass('check_error');
                    $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter valid ' + $(this).data("name") + ' </li></ul>');
                    //$(this).focus();
                    localStorage.setItem('status_savefreelancer', 'true');

                } else {
                    $(this).next('.error_msg').removeClass('check_error');
                    localStorage.setItem('status_savefreelancer', 'false');
                }
            }
        });
        $('.work_categorys').blur(function() {
            $(this).next('.error_msg').text('');
            if ($(this).val() == 0) {
                $(this).next('.error_msg').addClass('check_error');
                $(this).next('.error_msg').html('<ul class="errorlist"><li>Select ' + $(this).data("name") + ' </li></ul>');
                $(this).focus();
                localStorage.setItem('status_savefreelancer', 'true');

            } else {
                $(this).next('.error_msg').removeClass('check_error');
                localStorage.setItem('status_savefreelancer', 'false');
            }

        });
        $('.namesc').blur(function() {
            blurname(this);

        });
        $('.portfolio-image-cover, .certifications-image-cover').magnificPopup({
            delegate: 'a',
            type: 'image',
            closeOnContentClick: false,
            closeBtnInside: false,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            gallery: {
                enabled: true
            },
            zoom: {
                enabled: true,
                duration: 300, // don't foget to change the duration also in CSS
                opener: function(element) {
                    return element.find('img');
                }
            }

        });

        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });



        ChangeRole();
        FormReset();
        UpdateInviteUser();
        // Configure/customize these variables.

    });





    function hourlrate(elm) {
        $(elm).focus();
        if ($(elm).val() == '') {
            $('.actual_rate').val('');
        }
        var regex = /^[0-9]*(?:\.\d{1,2})?$/;

        if (regex.test($(elm).val()) && $(elm).val() != '') {
            $.ajax({
                url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
                type: "POST", // http method
                data: {
                    method: "change_hourly_rate_company",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    rate: $(elm).val()
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    $(elm).focus();
                    if (data.status == 'failed') {

                    } else {
                        $('.actual_rate').val(data.data);

                    }
                }
            });

        }
    }

    function GetCountry(elm) {
        $.ajax({
            url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_country",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select Country</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($(elm).data('id'));
                    if ($(elm).data('id') != 0) {
                        if (item.pk == $(elm).data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $(elm).html(newOption);
                GetState(elm);


            }
        });
    }

    function GetState(elm) {
        //if($(elm).val() !='0' && $(elm).val() !=''){
        $.ajax({
            url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_state",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                country: $(elm).val()
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select State</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($('.state').data('id'));
                    if ($('.state').data('id') != 0) {
                        if (item.pk == $('.state').data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $('.state').html(newOption);
                GetCity(elm);


            }
        });
        //}
    }

    function GetCity(elm) {
        //if($('.state').val() !='0' && $('.state').val() !=''){
        $.ajax({
            url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_city",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                state: $('.state').val()
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option  value="0" >Select City</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($('.city').data('id'));
                    if ($('.city').data('id') != 0) {
                        if (item.pk == $('.city').data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                });
                $('.city').html(newOption);



            }
        });
        //}
    }

    function SaveHourlyRate() {

        numbers();

        localStorage.setItem('status_3', $("span.error_msgs").hasClass("check_errors"));
        if (localStorage.getItem('status_3') == 'false') {

            var myArray = {};


            $("div#small-dialog").each(function() {
                var m = {};

                $(this).find("form").each(function() {

                    var formname = $(this).attr('name');
                    //alert(myArray[formname]);
                    if (myArray[formname] == undefined) {

                        myArray[formname] = [];
                    } else {
                        myArray[formname] = myArray[formname];


                    }
                    // var array = myArray[formname] = [];
                    // alert(JSON.stringify(myArray));

                    $(this).find(':input').each(function() {
                        if ($(this).attr('type') == 'file' && $(this).attr('name') == 'file') {
                            var field = $(this).attr('name');


                            m[field] = $(this).val();
                        } else {
                            var field = $(this).attr('name');


                            m[field] = $(this).val();
                        }




                    });

                    myArray[formname].push(m);
                });

            });
            $.ajax({
                url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
                type: "POST", // http method
                data: {
                    method: "save_frelancer_company_hourly",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: JSON.stringify(myArray)
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {
                        alert("Failure");

                    } else {
                        $("#HourlyRate").html(data.html);
                        $("#ProfileUser").html(data.profile_html);
                        //magnificPopUP();
                        ChangeHourlyPopup();
                        Close();


                        var text = "Successfully Updated";

                        localStorage.setItem('status_msg_company', 'true');


                        DisplayMessage('success', text);
                    }
                }
            });
        }


    }

    function SavefreelancerProfile() {


        $.ajax({
            url: "{% url 'freelancer-company:freelancercompany' %}", // the endpoint
            type: "POST", // http method
            data: $('#freelancerProfile').serialize(), // data sent with the post request

            // handle a successful response
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);

                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });

                } else {
                    $(".error").hide();
                    <!--$("#HourlyRate").html(data.html);-->
                    $("#ProfileUser").html(data.html);
                    paragraph();
                    magnificPopUP();
                    Close();


                    var text = "Successfully Updated";

                    localStorage.setItem('status_msg_company', 'true');


                    DisplayMessage('success', text);
                }
            }
        });
    }

    function GetWorkcategory(elm) {
        $.ajax({
            url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST",
            data: {
                method: "get_workcategory",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(responses) {
                 if(responses.status=='success'){
                      newOption = '<option  value="" >Select Work Category</option>';

                      $.map(JSON.parse(responses.data), function(item) {
                          var select = '';
                          console.log($(elm).data('id'));
                          if ($(elm).data('id') != 0) {
                              if ($.inArray(item.pk, $(elm).data('id')) > -1) {
                                  var select = 'selected="selected"';
                              } else {
                                  var select = '';
                              }
                          }

                          newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.category_title + '</option>';

                      });



                      $(elm).html(newOption);
                      if ($(elm).data("type") == '1') {
                          $(elm).select2({
                        dropdownParent: $("#box")
                      });
                      }
                      Getsubcategory(elm);
                      GetSkills(elm);
                 }else{
                     localStorage.setItem('status_msg_company', 'true');
                     DisplayMessage('failed', responses.message);
                 }


            }
        });


    }

    function Getsubcategory(elm) {

        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }
        //GetSkills(elm);


        $.ajax({
            url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST", // http method
            data: {
                method: "get_worksubcategorys",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                workid: workid
            }, // data sent with the post request
            dataType: 'json',

            // handle a successful response
            success: function(responses) {
                if(responses.status=='success'){
                   newOption = '<option disabled="disabled" value="0" >Select Sub Category</option>';
                   <!--if($(elm).data('type') == '2'){-->
                   <!--classs ='small-dialog_addportfolio';-->
                   <!--}else{-->
                   <!--classs ='small-dialog_2';-->
                   <!--}-->
                   if ($(elm).data('type') == '3') {
                       classs = 'small-dialog_editportfolio';
                   }
                   if ($(elm).data('type') == '2') {
                       classs = 'small-dialog_addportfolio';
                   }
                   if ($(elm).data('type') == '1') {
                       classs = 'small-dialog_2';
                   }

                   $.map(JSON.parse(responses.data), function(item) {


                       console.log($(elm).closest('#' + classs).find('.sub_category').data('id'));
                       if ($(elm).closest('#' + classs).find('.sub_category').data('id') != 0) {
                           if ($.inArray(item.pk, $(elm).closest('#' + classs).find('.sub_category').data('id')) > -1) {
                               var select = 'selected="selected"';
                           } else {
                               var select = '';
                           }
                       }


                       newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.sub_category_title + '</option>';

                   });


                   $(elm).closest('#' + classs).find('.sub_category').html(newOption);
                   $(elm).closest('#' + classs).find('.sub_category').select2({
                       dropdownParent: $("#box")
                   });
                }else{
                      showmessage(responses.message,'failed');


                }

            }
        });


    }

    function GetSkills(elm) {
        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }
        <!--if($(elm).data('type') == '2'){-->
        <!--classs ='small-dialog_addportfolio';-->
        <!--}else{-->
        <!--classs ='small-dialog_2';-->
        <!--}-->
        if ($(elm).data('type') == '3') {
            classs = 'small-dialog_editportfolio';
        }
        if ($(elm).data('type') == '2') {
            classs = 'small-dialog_addportfolio';
        }
        if ($(elm).data('type') == '1') {
            classs = 'small-dialog_2';
        }
        $.ajax({
            url: "{% url 'freelancer:freelancerprofile' %}", // the endpoint
            headers: { "Authorization": "{{request.user.token}}" ,"X-CSRFToken":"{{ csrf_token }}"},
            type: "POST",
            data: {
                method: "get_skillsoptions",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                subid: workid
            }, // data sent with the post request
            dataType: 'json',

            // handle a successful response
            success: function(responses) {
                if(responses.status=='success'){
                   newOption = '<option disabled="disabled" value="0" >Select skills</option>';
                   if (JSON.parse(responses.data)) {
                       $.map(JSON.parse(responses.data), function(item) {


                           var select = '';
                           console.log($(elm).closest('#' + classs).find('.skillsoptions').data('id'));
                           if ($(elm).closest('#' + classs).find('.skillsoptions').data('id') != 0) {
                               if ($.inArray(item.pk, $(elm).closest('#' + classs).find('.skillsoptions').data('id')) > -1) {
                                   var select = 'selected="selected"';
                               } else {
                                   var select = '';
                               }
                           }

                           newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                       });
                   }
                   $(elm).closest('#' + classs).find('.skillsoptions').html(newOption);
                   $(elm).closest('#' + classs).find('.skillsoptions').select2({
                        dropdownParent: $("#box")
                   });
                }else{

                      showmessage(responses.message,'failed');

                }

            }

        });
    }

    function SavefreelancerPortfolio() {
        $('.names').blur();
        $('.project_url').blur();
        //$('.work_categorys').blur();

        localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));
        if (localStorage.getItem('status_savefreelancer') == 'false') {

            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: $('#add_portfolio').serialize(), // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {
                        $(".error").hide();
                        $.each(data.data, function(index, value) {
                            $(".errors_" + index).show();
                            $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                            console.log("#errors_" + index);

                            //$(".errors_"+index).delay(5500).fadeOut('slow');

                        });

                    } else {
                        $(".error").hide();
                        $('#add_portfolio')[0].reset();
                        $('#PortfoiloList').html(data.html);
                        $('.PortfoiloList').html("(" + data.count + ")");
                        magnificPopUP();
                        paragraph();
                        Close();


                        var text = "Successfully Updated";
                         showmessage(text,'success');



                    }
                }
            });
        }
    }

    function blurname(elm) {
        var letters = /^[a-zA-Z\s]+$/;
        var name = $(elm).val();
        var field = $(elm).data("name");
        $(elm).next('.error_msg').text('');
        // if($(this).val()){
        if (!name.match(/^^[a-z0-9 \\-]+$/i) || $(elm).val().length === 0) {

            $(elm).next('.error_msg').addClass('check_error');
            $(elm).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(elm).data("name") + '</li></ul>');
            // $(elm).focus();
            localStorage.setItem('status_savefreelancer', 'true');
        } else {
            $(elm).next('.error_msg').removeClass('check_error');
            localStorage.setItem('status_savefreelancer', 'false');
        }
    }

    function SavefreelancerCertification() {

        $('.namesc').blur();
        localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));

        if (localStorage.getItem('status_savefreelancer') == 'false') {
            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: $('#addpcertification').serialize(), // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {
                        $(".error").hide();
                        $.each(data.data, function(index, value) {
                            $(".errors_" + index).show();
                            $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                            console.log("#errors_" + index);

                            //$(".errors_"+index).delay(5500).fadeOut('slow');

                        });

                    } else {
                        $(".error").hide();
                        $('#addpcertification')[0].reset();
                        $('#CertificationList').html(data.html);
                        $('.CertificationList').html("(" + data.count + ")");
                        magnificPopUP();
                        Close();


                        var text = "Successfully Updated";
                         showmessage(text,'success');



                    }
                }
            });
        }
    }

    function GetDeletedDetails() {

        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: {
                method: "DeletedDetails",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataid: $("#id").val(),
                datatitle: $("#title").val()
            }, // data sent with the post request

            // handle a successful response
            success: function(data) {
                if (data.status == 'failed') {

                } else {

                    if ($("#title").val() == 'portfolio') {
                        $('#PortfoiloList').html(data.html);
                        $('.PortfoiloList').html("(" + data.count + ")");
                    }

                    if ($("#title").val() == 'cerifications') {
                        $('#CertificationList').html(data.html);
                        $('.CertificationList').html("(" + data.count + ")");

                    }
                    magnificPopUP();
                    paragraph();
                    Close();
                    var text = "Deleted Successfully ";
                     showmessage(text,'success');



                }
            }
        });
    }



    function GetEditDetails(elm) {
        var id = $(elm).data('id');
        var title = $(elm).data('title');
        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: {
                method: "EditDetails",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: id,
                datatitle: title
            }, // data sent with the post request

            // handle a successful response
            success: function(data) {
                if (data.status == 'failed') {

                } else {
                    $("#small-dialog_editportfolios").html(data.html);
                    <!--$(".work_category").each(function() {-->

                        <!--GetWorkcategory(this);-->
                    <!--});-->
                    Getfunction();
                    names_emply();
                    datepicker();
                    project_emply();

                    $(".small-dialog_editportfolios").click();

                }
            }
        });
    }

    function names_emply() {
        $('.names_emply').blur(function() {
            blurname(this);
        });
    }

    function UpdatefreelancerPortfolio() {
        blurname('.names_emply');
        workcategory('.work_categorys_emply');
        //$('.work_categorys').blur();
        project_emply();

        localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));
        if (localStorage.getItem('status_savefreelancer') == 'false') {


            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: $('#edit_portfolio').serialize(), // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {
                        $(".error").hide();
                        $.each(data.data, function(index, value) {
                            $(".errors_" + index).show();
                            $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                            console.log("#errors_" + index);

                            //$(".errors_"+index).delay(5500).fadeOut('slow');

                        });

                    } else {
                        $('#PortfoiloList').html(data.html);
                        $('.PortfoiloList').html("(" + data.count + ")");
                        var text = "Successfully Updated";
                        magnificPopUP();
                        paragraph();
                        Close();
                         showmessage(text,'success');

                    }
                }
            });
        }
    }

    function workcategory(elm) {
        $(elm).next('.error_msg').text('');
        if ($(elm).val() == 0) {
            $(elm).next('.error_msg').addClass('check_error');
            $(elm).next('.error_msg').html('<ul class="errorlist"><li>Select ' + $(elm).data('name') + '</li></ul>');
            //$(elm).focus();
            localStorage.setItem('status_savefreelancer', 'true');

        } else {
            $(elm).next('.error_msg').removeClass('check_error');
            localStorage.setItem('status_savefreelancer', 'false');
        }

    }

    function UpdatefreelancerCertification() {
        blurname('.certificate_name');
        //workcategory('.certificate_name');
        //$('.work_categorys').blur();

        localStorage.setItem('status_savefreelancer', $("span.error_msg").hasClass("check_error"));
        if (localStorage.getItem('status_savefreelancer') == 'false') {


            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: $('#edit_certification').serialize(), // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {
                        $(".error").hide();
                        $.each(data.data, function(index, value) {
                            $(".errors_" + index).show();
                            $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                            console.log("#errors_" + index);

                            //$(".errors_"+index).delay(5500).fadeOut('slow');

                        });

                    } else {
                        $(".error").hide();
                        $('#CertificationList').html(data.html);
                        $('.CertificationList').html("(" + data.count + ")");
                        var text = "Successfully Updated";
                        magnificPopUP();
                        Close();
                         showmessage(text,'success');

                    }
                }
            });
        }
    }

    function Close() {
        $.magnificPopup.close();
    }

    function Getfunction() {
        <!--$(".work_category").each(function() {-->

            <!--GetWorkcategory(".work_category");-->
        <!--});-->
         GetWorkcategory(".work_category");
    }

    function InviteUser() {
        $('#email').blur();
        if (!$(".role_type").is(':checked')) {

            $(".role_type").parent().next('span.error_msgs').addClass('check_errors');
            $(".role_type").parent().next('span.error_msgs').html('<ul class="errorlist"><li>Select ' + $(".role_type").data("name") + ' </li></ul>');
        } else {
            $(".role_type").parent().next('span.error_msgs').html('');
            $(".role_type").parent().next('span.error_msgs').removeClass('check_errors');
        }


        localStorage.setItem('status_save', $("span.error_msgs").hasClass("check_errors"));
        if (localStorage.getItem('status_save') == 'false') {

            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: $('#invite_users').serialize(), // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {
                        $(".error").hide();
                        $.magnificPopup.close();
                        var text = data.message;
                        localStorage.setItem('status_msg_company', 'true');
                        DisplayMessage('failed', text);
                        $('#invite_users')[0].reset();


                    } else {
                        //alert("Sucess");
                        $(".error").hide();

                        //window.location.href = "{% url 'client-company:clientcompanyview' %}";
                        var text = "Invitation Mail Sent Successfully!";
                        Close();
                         showmessage(text,'success');




                    }
                }
            });
        }

    }

    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    }

        function GetInvitedMembers(page_by, search) {
        $.ajax({
            url: "{% url 'freelancer-company:invitedlist' %}", // the endpoint
            type: "POST", // http method
            data: {
                method: 'Get_Invited_Members',
                page_by: page_by,
                search: search,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request

            // handle a successful response
            success: function(data) {

                $('#invitedUser').html(data.paginator_html);
                $('#teammembers').html("Team Members (" + data.count + ")");
                NextPrevious();
            }
        });


    }

    function NextPrevious() {
        $(".paginate_bys").click(function() {

            var page_by = $(this).data('attr');


            GetInvitedMembers(page_by, $("#target").val());

        });
    }

    function project_emply() {
        $('.project_emply').blur(function() {
            $(this).next('.error_msg').text('');
            var urlregex = new RegExp(
                "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
            var url = $(this).val();
            $(this).next('.error_msg').removeClass('check_error');
            localStorage.setItem('status_savefreelancer', 'false');
            if ($(this).val()) {
                if (urlregex.test(url) == false) {
                    $(this).next('.error_msg').addClass('check_error');
                    $(this).next('.error_msg').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                    //$(this).focus();
                    localStorage.setItem('status_savefreelancer', 'true');

                } else {
                    $(this).next('.error_msg').removeClass('check_error');
                    localStorage.setItem('status_savefreelancer', 'false');
                }
            }
        });
    }

    function ChangeHourlyPopup() {

        $(document).on('click', '.ChangeHourlyPopup', function() {

            var divs = $(this).attr("data-hidden");

            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: {
                    method: 'Get_freelancer_company_hourlypopup',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {
                        $(".error").hide();


                    } else {


                        $("#small-dialog").html(data.html);
                        ChangeHourlyPopup();
                        numbers();
                        $(".small-dialog_hourly_rate").click();

                        jQuery('.targetDiv').hide();

                        if (divs == "locationHide") {
                            $("#hourlyHide").show();
                        } else {
                            $("#locationHide").show();
                        }

                        GetCountry('.country');

                    }
                }
            });

        });
    }

    function ChangeRole() {
        $(document).on('click', '.ChangeRole', function() {
            var roleid = $(this).attr('data-roleid');
            $.ajax({
                url: ".", // the endpoint
                type: "POST", // http method
                data: {
                    method: 'ChangeRole',
                    roleid: roleid,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {

                    $('#small-dialog_invite_update').html(data.html);
                    $('.small-dialog_invite_update').click();

                }
            });


        });
    }

    function UpdateInviteUser() {
        $(document).on('click', '#UpdateInviteUser', function() {
            $('#email').blur();
            if (!$(".role_type").is(':checked')) {

                $(".role_type").parent().next('span.error_msgs').addClass('check_errors');
                $(".role_type").parent().next('span.error_msgs').html('<ul class="errorlist"><li>Select ' + $(".role_type").data("name") + ' </li></ul>');
            } else {
                $(".role_type").parent().next('span.error_msgs').html('');
                $(".role_type").parent().next('span.error_msgs').removeClass('check_errors');
            }


            localStorage.setItem('status_save', $("span.error_msgs").hasClass("check_errors"));
            if (localStorage.getItem('status_save') == 'false') {

                $.ajax({
                    url: ".", // the endpoint
                    type: "POST", // http method
                    data: $('#update_invite_users').serialize(), // data sent with the post request

                    // handle a successful response
                    success: function(data) {
                        if (data.status == 'failed') {
                            $(".error").hide();
                            $.magnificPopup.close();
                            var text = "error";
                            localStorage.setItem('status_msg_company', 'true');
                            DisplayMessage('failed', text);



                        } else {
                            //alert("Sucess");
                            $(".error").hide();

                            //window.location.href = "{% url 'client-company:clientcompanyview' %}";
                            var text = "Role Changed Successfully";
                            Close();
                             showmessage(text,'success');




                        }
                    }
                });
            }
        });
    }

    function Get_freelancer_profile_popup() {
        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: {
                method: 'Get_freelancer_company_profile_popup',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request

            // handle a successful response
            success: function(data) {
                if (data.status == 'failed') {
                    $(".error").hide();


                } else {


                    $("#small-dialog_2").html(data.html);
                    ChangeHourlyPopup();
                    Getfunction();
                    $(".Profile_edit").click();




                }
            }
        });


    }

    function FormReset() {
        $(document).on('click', '.FormReset', function() {
            var formname = $(this).attr('data-form');

            $("#" + formname)[0].reset();
        });

    }
    function ChangeActive() {
        $(document).on('click', '.ChangeActive', function() {
            var roleid = $(this).attr('data-roleid');
            var textid = $(this).attr('data-textid');
            $("#roleids").val('0');
            $("#textids").val('0');
            $("#roleids").val(roleid);
            $("#textids").val(textid);
            $("#rolestatus").val($(this).attr('data-activation'));

            if($(this).attr('data-activation') == 'true' || $(this).attr('data-activation') == 'True'){
               $("#activation").html('Deactivate Section');
               $("#activation_text").html('deactivate');
            }if($(this).attr('data-activation') == 'false' || $(this).attr('data-activation') == 'False'){
               $("#activation").html('Activate Section');
               $("#activation_text").html('activate');
            }
            $(".account_activations").click();



        });
    }
    function UpdateActivation(){
        $(document).on('click', '.UpdateActivation', function() {
           $.ajax({
                   url: ".", // the endpoint
                   type: "POST", // http method
                   data: {
                       method: 'ChangeDectivation',
                       roleid: $("#roleids").val(),rolestatus: $("#rolestatus").val(),
                       csrfmiddlewaretoken: '{{ csrf_token }}'
                   }, // data sent with the post request

                   // handle a successful response
                   success: function(data) {

                        if (data.status == 'failed') {


                               var text = "error";
                               localStorage.setItem('status_msg_company', 'true');
                               DisplayMessage('failed', text);



                           } else {

                               $(".error").hide();
                               var textids =$("#textids").val();
                               $("#"+textids).attr("data-activation", data.data);
                               $("#"+textids).text(data.type);


                               var text = "Updated Successfully";
                               Close();
                               showmessage(text,'success');




                           }

                   }
           });
        });

    }


    function numbers(){

 $('.number').blur(function() {

            var regex = /^[0-9]*(?:\.\d{1,2})?$/; // allow only numbers [0-9]
            $(this).next('span.error_msgs').text('');

            if( $(this).val() != ''){

            if (!regex.test($(this).val())  ) {
                $(this).next('span.error_msgs').addClass('check_errors');
                $(this).next('span.error_msgs').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');
                // $(this).focus();
                localStorage.setItem('status_3', 'true');
            } else {
                $(this).next('.error_msgs').removeClass('check_errors');
                localStorage.setItem('status_3', 'false');
            }
            }



        });
        }
         function DeleteSection(elm) {
        $('.delete-msg').show();
        $('#delete-msg').hide();
        var id = $(elm).data("id");
        var title = $(elm).data("title");
        $("#id").val(id);
        $("#title").val(title);
        $(".small-dialog_delete").click();

    }
</script>
{% endblock %}