{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<!--create-profile strats-->
<!--create-profile strats-->
<div class="create-profile" id="create-profile">
{% include "common/loader.html" %}
<div class="container-fluid two-grid-container create-profile-cover view-profil-page-cover">
   <div class="two-grid-cover">
      <div class="left-coll">
         {% include "common/profile.html" %}
         <!--job-bascic-info-->
         <div class="job-budget-info">
            {% if jobdetails.payment_type.id == 2 and jobdetails.budget or jobdetails.hourly_min or jobdetails.hourly_max %}
            <div class="pull-left grid-100 budget-info budget-info-cover">
               <div class="icon-cover pull-left"><i></i></div>
               <div class="text-cover pull-left">
                  {% if jobdetails.payment_type.id == 2 and jobdetails.budget %}
                  <span>Budget</span>
                  <label>${{jobdetails.budget}}/{{jobdetails.payment_type.type}}</label>
                  {% else %}
                  {% if jobdetails.hourly_min or jobdetails.hourly_max %}
                  <span>Hourly Rate</span>
                  <label>$ {% if jobdetails.hourly_min %}{{jobdetails.hourly_min}}{% else %} 0 {% endif %} {% if jobdetails.hourly_max %} - ${{jobdetails.hourly_max}}{% else %} 0{% endif %}/{{jobdetails.payment_type.type}}</label>
                  {% endif %}
                  {% endif %}
               </div>
            </div>
            {% endif %}
            {% if jobdetails.duration %}
            <div class="pull-left grid-100 closing-date budget-info-cover">
               <div class="icon-cover pull-left"><i></i></div>
               <div class="pull-left text-cover">
                  <span>Duration</span>
                  <label>{{jobdetails.duration.date_range}}</label>
               </div>
            </div>
            {% endif %}
            {% if jobdetails.experiance_level %}
            <div class="pull-left grid-100 work-status budget-info-cover">
               <div class="icon-cover pull-left"><i></i></div>
               <div class="pull-left text-cover">
                  <span>Desired Experience Level</span>
                  <label>{{jobdetails.experiance_level}}</label>
               </div>
            </div>
            {% endif %}
            {% if jobdetails.no_of_hires %}
            <div class="pull-left grid-100 number-of-hire budget-info-cover">
               <div class="icon-cover pull-left"><i></i></div>
               <div class="pull-left text-cover">
                  <span>Number of Hires</span>
                  <label>{{jobdetails.no_of_hires}} Nos</label>
               </div>
            </div>
            {% endif %}
         </div>
         <!--job-bascic-info-->
         <!--proposal-info-cover-->
         <div class="proposal-info-cover">
            <div class="light-blue-cover proposal-data">
               <span>Proposal Submitted</span>
               <label>875</label>
            </div>
            <div class="light-blue-cover proposal-data">
               <span>Proposal Hired</span>
               <label>{{jobdetails.hire_jobs.count}}</label>
            </div>
            {% if jobdetails.last_view_date %}
            <div class="light-blue-cover proposal-data">
               <span>Client Last Visisted proposal on</span>
               <label>{{jobdetails.last_view_date}}</label>
            </div>
            {% else %}
            <div class="light-blue-cover proposal-data">
               <span>Poasted on</span>
               <label>{{jobdetails.created_date}}</label>
            </div>
            {% endif %}
            <!--<div class="light-blue-cover proposal-data">-->
               <!--<span>My Jobs</span>-->
               <!--<label>456</label>-->
            <!--</div>-->
         </div>
         <!--jproposal-info-cover-->
      </div>
      <div class="center-col">
         {% include "common/message.html" %}
         <div class="create-profile-form-cover">
            <div class="view-profile-cover">
               <div class="view-profile-cover-inner job-deatils-cover">
                  <div class="scroll-cover">
                     <div class="jobs-basic-info">
                        <!--jobs-basic-info-->
                        <h4>{{jobdetails.job_title}} </h4>
                        <p>
                           {% if jobdetails.job_main_category %}
                           <label class="grid-70 padding-right-10 job-category"><span class="blue-text">Job Category : </span> {{jobdetails.job_main_category}} </label>
                           {% endif %}
                           {% if jobdetails.job_close_date %}
                           <label class="grid-30 text-right closing-date"><span class="blue-text">Closing Date : </span> {{jobdetails.job_close_date |date:"M d Y"}}</label>
                           {% endif %}
                        </p>
                        <!--skills-cover-->
                        {% if jobdetails.job_skills.all %}
                        <div class="skills-cover">
                           {% for skils in jobdetails.job_skills.all %}
                           <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skils.name}}</span>
                           {% endfor %}
                           {% if jobdetails.job_skills.count > 10 %}
                           <a  onclick="Moreskills(this)" class="more">more..</a>
                           {% endif %}
                        </div>
                         {% endif %}
                        <!--skills-cover-->
                        <!--description-->
                        <div class="description">
                           <p class="more">
                              {{jobdetails.job_description}}
                           </p>
                        </div>
                        <!--description-->
                        <!--apply-for-this-job-cover--->
                        <div class="apply-for-this-job-cover ApplyQuote">

                           {% if job_cancel %}
                           <div class="cancel-messgae-preview">
                              <p>Quote Withdrawn You have withdrawn the quote submitted Your message for cancel the job is: <br> <span class="blue-text">
                                 {{job_cancel.cancel_message}}
                                 </span>
                              </p>
                           </div>
                           {% endif %}
                           {% if apply_jobdetails.job  and apply_jobdetails.status.status != 'Cancelled' %}
                           <!--{% if not job_cancel %}-->
                           <h2>Already applied for this job</h2>
                           <p>Cancel or edit applied quote?</p>
                           <!--{% endif %}-->
                           {% endif %}
                           <div class="freelancer-actions-list-cover {% if job_cancel %}hide {% endif %}" id="tabs">
                              <ul class="freelancer-actions-list-tabs">

                                 {% if apply_jobdetails.job  and apply_jobdetails.status.status != 'Cancelled'  %}
                                 <!--{% if not job_cancel %}-->
                                 <li> <a class="tabs-1s" href="#tabs-1">Update your  Quote</a> </li>
                                 <li> <a class="tabs-2s" href="#tabs-2">Cancel Quote </a> </li>
                                 <!--{% endif %}-->
                                 {% else %}
                                 <li> <a  class="tabs-3s"  href="#tabs-3">Apply your  Quote</a> </li>
                                 {% endif %}
                              </ul>
                              {% if apply_jobdetails.job and apply_jobdetails.status.status != 'Cancelled'  %}
                              <div id="tabs-1" class="">
                                 <form method="post" id="myForm" action="." enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="method" value="UpdateQuote">
                                    <input type="hidden" name="applyid" value="{{apply_jobdetails.id}}">
                                    <textarea name="description" placeholder="Enter the message here ..">{% if apply_jobdetails.description %}{{apply_jobdetails.description}}{% endif %}</textarea>
                                    <div class="field-row upload-row">
                                       <div class="grid-50 padding-right-10">
                                          <p>Estimated cost per hour($)</p>
                                          <input name="estimated_cost" value="{% if apply_jobdetails.estimated_cost %}{{apply_jobdetails.estimated_cost}}{% endif %}" placeholder="Enter the cost" type="text">
                                          <span class="errors_estimated_cost error"></span>
                                       </div>
                                       <div class="grid-50">
                                          <p>Document</p>
                                          <div class="grid-90">
                                             <input id="uploadFile" value="{% if apply_jobdetails.document %}{{apply_jobdetails.document}}{% endif %}"  onkeyup="ClearDocument()" placeholder="Choose File" type="text">
                                          </div>
                                          <div class="grid-10">
                                             <div class="upload-field-cover">
                                                <input class="upload" name="document" id="uploadBtn" type="file">
                                                <span class="upload-button"></span>
                                             </div>
                                          </div>
                                          <span class="errors_document error"></span>
                                       </div>
                                    </div>
                                    <div class="field-row">
                                       <div class="grid-10 padding-right-5"><input type="submit" onclick="ApplyJob()" value="Submit" class="submit"></div>
                                       <div class="grid-10">
                                          <input type="button" value="Cancel" class="cancel">
                                       </div>
                                    </div>
                                 </form>
                              </div>
                              <div id="tabs-2" class="">
                                 <div class="cancel-qoute">
                                    <form method="post" id="CancelForm" action="." enctype="multipart/form-data">
                                       {% csrf_token %}
                                       <input type="hidden" name="method" value="CancelQuote">
                                       <textarea name="cancel_message" placeholder="Enter the message here .."></textarea>
                                       <span class="errors_cancel_message error"></span>
                                       <div class="field-row">
                                          <div class="grid-10 padding-right-5"><input onclick="CancelForm()" type="button" value="Submit" class="submit"></div>
                                          <div class="grid-10"><input type="button" value="Cancel" class="cancel"></div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              {% else %}
                              <div id="tabs-3" class="">
                                 <form method="post" id="myForm" action="." enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <textarea name="description" placeholder="Enter the message here .."></textarea>
                                    <div class="field-row upload-row">
                                       <div class="grid-50 padding-right-10">
                                          <p>Estimated cost {{jobdetails.payment_type.type}} ($)</p>
                                          <input placeholder="Enter the cost" name="estimated_cost" type="text">
                                          <span class="errors_estimated_cost error"></span>
                                          <input type="hidden" name="method" value="ApplyJob">
                                       </div>
                                       <div class="grid-50">
                                          <p>Document</p>
                                          <div class="grid-90">
                                             <input id="uploadFile" onkeyup="ClearDocument()" placeholder="Choose File" type="text">
                                          </div>
                                          <div class="grid-10">
                                             <div class="upload-field-cover">
                                                <input class="upload" id="uploadBtn" name="document" type="file">
                                                <span class="upload-button"></span>
                                             </div>
                                          </div>
                                          <span class="errors_document error"></span>
                                       </div>
                                    </div>
                                    <div class="field-row">
                                       <div class="acceptance-cover">
                                          <label class="checkbox inline-cover">
                                             <input name="Terms" id="termscondn"  class="toggle" type="checkbox">
                                             <span>I Accept  Terms and Condition</span>
                                             <div class="errors_termscondn error"></div>
                                          </label>
                                       </div>
                                       <div class="grid-10 padding-right-5"><input onclick="ApplyJob()" id="SubmitApply" type="submit" value="Submit" class="submit hide"><input {% if request.user == jobdetails.user %} disabled {% endif %} type="button" onclick="CheckTerms()" value="Submit" class="submit"></div>
                                       <div class="grid-10">
                                          <input type="button" value="Cancel" class="cancel">
                                       </div>
                                    </div>
                                 </form>
                              </div>
                              {% endif %}
                           </div>
                        </div>
                        <!--apply-for-this-job-cover ends--->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- right-col for web -->
   </div>
</div>
<!--create-profile ends-->
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
        $("#tabs").tabs();
        document.getElementById("uploadBtn").onchange = function() {
            document.getElementById("uploadFile").value = this.value;
        };
        if(localStorage.getItem('status_quote')){
           var text =localStorage.getItem('status_quote');

           $('.'+text+'s').click();
           localStorage.setItem('status_quote','');
        }

    });

    function CheckTerms() {
        if ($('#termscondn').prop("checked") == false) {

            $(".errors_termscondn").html('<ul class="errorlist"><li>Please accept the Terms & Conditions</li></ul>');
        } else {
            $(".error").hide();
            $('#SubmitApply').click();
        }
    }

    function ApplyJob() {


        $('#myForm').ajaxForm(function(data) {
            if (data.status == 'success') {
               $(".error").hide();
                var text = data.message;
                localStorage.setItem('status_msg_company', 'true');
                DisplayMessage('success', text);
                if (data.type == '1') {
                    $(".ApplyQuote").html(data.html);
                    $("#tabs").tabs();
                }
                var messages = {
                                    created_by : "{{request.user.id}}",
                                    user_id :data.fid,
                                    title :"Applied a job "+data.data,
                                    description :"hj"
                }
                notifictaion(data.note);


            } else {
                $(".error").hide();
                if (data.type == "Validations") {
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');

                        console.log(value);
                    });
                } else {
                    var text = data.message;
                    localStorage.setItem('status_msg_company', 'true');
                    DisplayMessage('failed', text);

                }
            }
        });

    }

    function CancelForm() {
        $.ajax({
            url: ".", // the endpoint
            type: "POST", // http method
            data: $("#CancelForm").serialize(), // data sent with the post request

            // handle a successful response
            success: function(data) {

                if (data.status == 'failed') {
                    $(".error").hide();
                    if (data.type == "Validations") {
                        $.each(data.data, function(index, value) {
                            $(".errors_" + index).show();
                            $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');

                            console.log(value);
                        });
                    } else {
                        var text = data.message;
                        localStorage.setItem('status_msg_company', 'true');
                        DisplayMessage('failed', text);

                    }

                } else {
                     $(".error").hide();

                    $(".ApplyQuote").html(data.html);
                    var text = data.message;
                    localStorage.setItem('status_msg_company', 'true');
                    DisplayMessage('success', text);


                }
            }
        });
    }
    function ClearDocument(){
     var document = $("#uploadFile").val();
     alert(document);
     if(document ==''){
        $("#uploadBtn").val('');
     }
    }
</script>
{% endblock %}