{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}

 <div class="create-profile" id="create-profile">
            <div class="loader">
            </div>
            <div class="container-fluid create-profile-cover">
               <div class="left-coll">


                  <!--profile image-->
                  <div class="profile-image-cover" id="profile-image">
                   <div class="image-editor profile-image-cover" >
                      {% if user.user_detail.get.profile %}
                      <div class="cropit-preview profile-image" style="background: #eee url('{{user.user_detail.get.profile.url}}') no-repeat scroll 0 0; ">
                         <div class="loader loader_logo" style="display: none;"></div>
                      </div>
                      {% else %}
                      <div class="cropit-preview profile-image" style=" background: rgb(217, 227, 235) url('{% static 'images/no-image.svg'%}') no-repeat scroll center center / 182px auto;">
                         <div class="loader loader_logo" style="display: none;"></div>
                      </div>
                      {% endif %}

                   </div>
                      <div class="client-basic-info">
                        <h5> {{user.first_name}} {{user.last_name}} </h5>
                        <p>{{user.email}}</p>
                     </div>
                </div>
                  <!--profile image-->
                <!--<a class="popup-with-zoom-anim edit-button small-dialog_hourly_rate hide"    href="#small-dialog">Edit</a>-->

                  <div id="HourlyRate">
                  <div class="rate-info left-side-info-box">
                     <!--<div class="action-cover">-->
                        <!--<a class="edit-button ChangeHourlyPopup"   data-hidden="locationHide" >Edit</a>-->
                     <!--</div>-->
                     <h3>Hourly Rate</h3>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>Hourly Rate</span>
                           <label>$ {% if user.freelancer_hourly_user.get.hourly_rate %}{{user.freelancer_hourly_user.get.hourly_rate}} {% else %} 0.00 {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>Actual Rate</span>
                           <label>$ {% if user.freelancer_hourly_user.get.actual_rate %}{{user.freelancer_hourly_user.get.actual_rate}}{% else %} 0.00 {% endif %}</label>
                        </div>
                     </div>
                  </div>
                  <div class="rate-info left-side-info-box">
                     <!--<div class="action-cover">-->
                        <!--<a class=" edit-button ChangeHourlyPopup" data-hidden="hourlyHide" >Edit</a>-->
                     <!--</div>-->
                     <h3>Location Details</h3>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>Country</span>
                           <label>{% if user.freelancer_location_user.get.country.name %}{{user.freelancer_location_user.get.country.name}}{% else %} Not set {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>City</span>
                           <label>{% if user.freelancer_location_user.get.city.name %}{{user.freelancer_location_user.get.city.name}}{% else %} Not set {% endif %}</label>
                        </div>
                     </div>
                     <div class="left-side-info-row">
                        <div class="left-side-info-col">
                           <span>State</span>
                           <label>{% if user.freelancer_location_user.get.state.name %}{{user.freelancer_location_user.get.state.name}}{% else %} Not set {% endif %}</label>
                        </div>
                        <div class="left-side-info-col">
                           <span>ZIP Code</span>
                           <label>{% if user.freelancer_location_user.get.zip_code %}{{user.freelancer_location_user.get.zip_code}}{% else %} Not set {% endif %}</label>
                        </div>
                     </div>
                     <div class="left-side-info-row address-block">
                        <p class="location">{% if user.freelancer_location_user.get.address %}{{user.freelancer_location_user.get.address}}{% else %}Not set{% endif %}.</p>
                     </div>
                  </div>
               </div>
                  <!--<div class="view-the-company">-->

                     <!--{% if user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all or user.get_freelancer_company_intance.user.freelancer_company_user.get or user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all %}-->
                     <!--<a  href="{% url 'freelancer-company:freelancercompanyview' %}" class="view-the-company-link">View the Company<i></i></a>-->
                     <!--{% else %}-->
                     <!--<a  href="{% url 'freelancer-company:freelancercompany' %}" class="view-the-company-link">Create Company<i></i></a>-->
                     <!--{% endif %}-->
                  <!--</div>-->
               </div>
               <div class="center-col" id="tabs">

                   {% include "common/message.html" %}
                  <div class="create-profile-form-cover">
                     <div id="tabs-1" class="form-step step-1">
                        <div class="view-profile-cover">
                           <div class="view-profile-cover-inner">
                              <div class="scroll-cover">
                                 <section class="profile-introduction view-profile-single-section overview-cover" id="overview-cover" data-anchor="overview-cover">
                                    <!--<a class="popup-with-zoom-anim edit-button Profile_edit hide" onclick="Getfunction()" href="#small-dialog_2">Edit</a>-->
                                    <div id="ProfileUser">
                                    <div class="freelancer-basic-info">

                                       <div class="grid-100">
                                          <h2>{{user.user_detail.get.title}}
                                              <!--<a class="edit-button" onclick="Get_freelancer_profile_popup()" >Edit</a>-->
                                       </h2>
                                          <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                          <h4><span class="designation blue-color">{% if user.user_detail.get.workcategory.category_title %}{{ user.user_detail.get.workcategory.category_title}}, {% endif %}</span>{% if request.user.experience_level.exp_level_type %}{{ request.user.experience_level.exp_level_type}}{% endif %} <span class="rate">${% if request.user.freelancer_hourly_user.get.hourly_rate %}{{request.user.freelancer_hourly_user.get.hourly_rate}}{% else %}0.00{% endif %}/hr
                                              <!--<a class="popup-with-zoom-anim edit-button ChangeHourlyPopup"  data-hidden="locationHide" >Edit</a></span>-->
                                          </h4>
                                          <p class="location">{% if user.freelancer_location_user.get.address %}{{user.freelancer_location_user.get.address}}{% else %}Not set{% endif %}.</p>
                                       </div>
                                    </div>
                                    <!--<div class="grid-20">-->
                                    <!--<span class="rate">$40.00/hr</span>-->
                                    <!--</div>-->
                                    <!-- skills-cover -->
                                    <div class="skills-cover ">

                                       {% for skills in user.user_detail.get.skills.all %}
                                       <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skills.name}}</span>
                                       {% endfor %}
                                       {% if user.user_detail.get.skills.count > 10 %}
                                        <a  onclick="Moreskills(this)" class="more">more..</a>
                                        {% endif %}
                                       <!--<span class="skill">Html</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">Photoshop</span>-->
                                       <!--<span class="skill">Html</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">Development</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">xamp</span>-->
                                       <!--<span class="skill">Fireworks</span>-->
                                       <!--<span class="skill">Design</span>-->
                                       <!--<span class="skill">xamp</span>-->
                                       <!--<span class="skill">Fireworks</span>-->
                                       <!--<span class="skill">Design</span>-->
                                       <!--<span class="skill">Development</span>-->
                                       <!--<span class="skill">illustrator</span>-->
                                       <!--<span class="skill">xamp</span>-->
                                       <!--<span class="skill">Fireworks</span>-->
                                       <!--<span class="skill">Design</span>-->
                                       <!--<a href="" class="more">more..</a>-->
                                    </div>
                                       <div class="description">
                                       <p class="more">
                                          {% if user.user_detail.get.about %}{{user.user_detail.get.about}}{% endif %}

                                       </p>

                                    </div>
                                    </div>




                                    <!-- skills-cover ends-->
                                    <div id="box"></div>
                                    <!-- skills-cover ends-->

                                    <!-- skills-cover ends-->
                                    <!-- description -->
                                    <!-- skills-cover ends-->

                                    <!-- skills-cover ends-->
                                     <!-- skills-cover ends-->
                                    <!-- skills-cover ends-->

                                    <!-- description -->
                                    <style>

                                    </style>





                                    <!-- description -->
                                    <!-- clients-comments-cover -->
                                    <div class="clients-comments-cover">
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.<a href="" class="read-more"> [ ... ] </a></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for. <a href="" class="read-more"> [ ... ] </a></p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="grid-50">
                                          <div class="client-comment">
                                             <h3>BigOne, Mobile App design</h3>
                                             <div class="star-ratings">
                                                <img src="{% static 'images/star-ratings.png' %}" alt="" />
                                             </div>
                                             <div class="comments">
                                                <div class="comment-img">
                                                   <img src="{% static 'images/profile-image.jpg' %}" alt=""/>
                                                </div>
                                                <div class="comment-text">
                                                   <p>Use this space to show clients you have the skills and experience they're looking for.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="load-more-cover">
                                          <a href="">Load More</a>
                                       </div>
                                    </div>
                                    <!-- clients-comments-cover -->
                                 </section>
                                 <!-- portfolio-cover -->
                                 <section class="portfolio-cover view-profile-single-section" id="portfolio-cover" data-anchor="portfolio-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Portfolio <span class="PortfoiloList">({{user.portfolio.count}})</span></h2>
                                       <!--<a class="popup-with-zoom-anim edit-button FormReset"  data-form="add_portfolio" href="#small-dialog_addportfolio"> <span class="add-another employemet-history-add " data-clone-tri="1">Add Portfolio</span></a>-->
                                       <!--<a class="hide popup-with-zoom-anim edit-button small-dialog_editportfolios" href="#small-dialog_editportfolios"> <span  class="add-another employemet-history-add " data-clone-tri="1">add portfolio</span></a>-->
                                       <!--<a class="hide popup-with-zoom-anim edit-button small-dialog_delete" href="#small-dialog_delete"> <span  class="add-another employemet-history-add " data-clone-tri="1">Delete</span></a>-->
                                    </div>
                                    <div id="PortfoiloList">
                                    {% for portfolio in user.portfolio.all %}
                                    <div class="portfolio-single-cover view-clone-cover">
                                       <div class="action-cover">
                                          <!--<div class="delete-button deletevalues" onclick="DeleteSection(this)"  data-id="{{portfolio.pk}}" data-title="portfolio">Delete</div>-->
                                          <!--<a class="edit-button" onclick="GetEditDetails(this)"  data-title="portfolio" data-id="{{portfolio.pk}}">Edit</a>-->
                                       </div>
                                       <h3 class="sub-heading-arows">{{portfolio.project_name}}</h3>
                                       <p class="skills ">
                                          {% for skills in  portfolio.skills.all %}
                                          {{skills.name}}
                                          {% if forloop.counter < portfolio.skills.all.count %}
                                          ,
                                          {% endif %}
                                          {% empty %}
                                          {% endfor %}
                                       </p>
                                       <p class="description more">
                                          {{portfolio.description}}
                                       </p>
                                       <p class="category"> </p>
                                       <p class="sub-category"> </p>
                                       <a href="{{portfolio.project_url}}" target="_blank" class="portfolio-link">{{portfolio.project_url}}</a>
                                       <div class="portfolio-image-cover Get_portfolios">

                                          {% for portfolios in portfolio.portfoilid_id.all %}
                                          <div class="portfolio-image" data-id="{{portfolios.id}}">

											<img src="{{ portfolios.portfolio_image.url}}" alt="" class="pip"/>
                                             <!--<a href="{{ portfolios.portfolio_image.url}}"  title="{{ portfolio.portfolio_image}}">-->
											<!--<span  class="view-action portfolio-actions"></span></a>-->
											<!--<span  class="delete-action portfolio-actions removePreviws"></span>-->
                                            </a>
											</div>
                                          {% endfor %}

                                          <div class="upload-img portfolio-image-add {% if portfolio.portfoilid_id.count >= 8 %}hide{% endif %}">
            									<!--<span  class="add-more" title=""></span>-->
                                             <!--<input type="file" multiple name="imagesupload" class="id_attachments">-->
            								<!--<br><br><div onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">save</div>-->
                                          </div>


                                       </div>
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Portfolio to show ..
                                           <!--<a href="#small-dialog_addportfolio" class="popup-with-zoom-anim edit-button FormReset"  data-form="add_portfolio" >Add Portfolio</a>-->
                                       </p>
                                    </div>
                                    {% endfor %}
                                       </div>

                                 </section>
                                 <!-- portfolio-cover ends-->
                                 <!-- employement-history -->
                                 <section class="employement-history-cover" id="employment-history-cover" data-anchor="employment-history-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Employment History <span class="EmploymentList">({{user.employment_history.count}})</span></h2>
                                       <!--<a class="popup-with-zoom-anim edit-button FormReset"  data-form="addpemployment" href="#small-dialog_addpemployment"> <span class="add-another employemet-history-add" data-clone-tri="1">Add Employment</span></a>-->
                                    </div>
                                    <div id="EmploymentList">
                                    {% for employment in user.employment_history.all %}
                                    <div class="employement-history-single view-clone-cover">
                                       <!--<div class="action-cover">-->
                                          <!--&lt;!&ndash;<div class="delete-button deletevalues"  onclick="DeleteSection(this)" data-id="{{employment.pk}}" data-title="employment">Delete</div>&ndash;&gt;-->
                                          <!--&lt;!&ndash;<a class="edit-button"  onclick="GetEditDetails(this)"  data-title="employment" data-id="{{employment.pk}}">Edit</a>&ndash;&gt;-->
                                       <!--</div>-->
                                       <h3 class="sub-heading-arows">{{ employment.company_name}}</h3>
                                       <p class="role">{{ employment.role}}</p>
                                       <div class="duration-cover">
                                          {% if employment.start_date %}
                                          <span class="duration-start-date date">{{ employment.start_date|date:'d-m-Y'}}</span>
                                          {% endif %}
                                          {% if employment.end_date %}
                                          <span class="to">to</span>
                                          <span class="duration-end-date date">{{employment.end_date |date:'d-m-Y' }}</span>
                                          {% endif %}
                                       </div>
                                       <p class="description more">
                                          {{ employment.description}}
                                       </p>
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Employment History to show ..
                                           <!--<a href="#small-dialog_addpemployment" class="popup-with-zoom-anim edit-button FormReset"  data-form="addpemployment">Add Employment</a>-->
                                       </p>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <!--<div class="employement-history-single view-clone-cover">-->
                                    <!--<div class="action-cover">-->
                                    <!--<div class="delete-button">Delete</div>-->
                                    <!--<a class="popup-with-zoom-anim edit-button" href="#small-dialog">Edit</a>-->
                                    <!--</div>-->
                                    <!--<h3 class="sub-heading-arows">Techoforest Softwares</h3>-->
                                    <!--<p class="role">UI/UX Designer</p>-->
                                    <!--<div class="duration-cover">-->
                                    <!--<span class="duration-start-date date">21-02-2015</span>-->
                                    <!--<span class="to">to</span>-->
                                    <!--<span class="duration-end-date date">12-06-2017</span>-->
                                    <!--</div>-->
                                    <!--<p class="description">-->
                                    <!--Skills Highlight projects, accomplishments, and education Keep it short and make sure it is error-free  clients you-->
                                    <!--Use this space to show clients you have the skills and experience they're looking for.-->
                                    <!--</p>-->
                                    <!--</div>-->
                                 </section>
                                 <!-- employement-history end -->
                                 <!-- certifications-cover -->
                                 <section class="certifications-cover" id="certifications-cover" data-anchor="certifications-cover">
                                    <div class="view-profile-single-section-header">
                                       <h2>Certifications <span class="CertificationList">({{user.cerifications.count}})</span></h2>
                                       <!--<a class="popup-with-zoom-anim edit-button FormReset"  data-form="addpcertification"  href="#small-dialog_addcertification"><span  class="add-another employemet-history-add" data-clone-tri="1">Add Certifications</span></a>-->
                                    </div>
                                    <div id="CertificationList">
                                    {% for cerifications in user.cerifications.all %}
                                    <div class="certifications-cover-single view-clone-cover">
                                       <!--<div class="action-cover">-->
                                          <!--<div class="delete-button deletevalues"  onclick="DeleteSection(this)" data-id="{{cerifications.pk}}" data-title="cerifications">Delete</div>-->
                                          <!--<a class="edit-button"  onclick="GetEditDetails(this)"  data-title="cerifications" data-id="{{cerifications.pk}}">Edit</a>-->
                                       <!--</div>-->
                                       <h3 class="sub-heading-arows">{{cerifications.certificate_name}}</h3>
                                       <p>
                                          {% if cerifications.issued_by %}
                                          Issued by :{{cerifications.issued_by}}
                                          {% endif %}
                                       <div class="duration-cover">
                                          {% if cerifications.valid_from %}
                                          Issued from :
                                          <span class="duration-start-date date">{{cerifications.valid_from |date:'d-m-Y'}}</span>
                                          {% endif %}
                                          {% if cerifications.end_to %}
                                          <span class="to">to</span>
                                          <span class="duration-end-date date">{{cerifications.end_to |date:'d-m-Y'}}</span>
                                          {% endif %}
                                       </div>
                                       </p>
                                       <!--<div class="certifications-image-cover">-->
                                          <!--<div class="certification-image">-->
                                             <!--<a href="{% static 'images/cert-1.jpg' %}" title="Into The Blue">-->
                                             <!--<img src="{% static 'images/cert.jpg' %}" width="193" height="125" /></a>-->
                                          <!--</div>-->
                                       <!--</div>-->
                                    </div>
                                    {% empty %}
                                    <div class="view-profile-single-section-nocontent">
                                       <p>No Certifications to show ..
                                           <!--<a href="#small-dialog_addcertification" class="popup-with-zoom-anim edit-button FormReset"  data-form="addpcertification">Add Certifications</a>-->
                                       </p>
                                    </div>
                                    {% endfor %}
                                       </div>
                                 </section>
                                 <!-- certifications-cover end -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- right-col for web -->
               <div class="right-col web-view-element">

                  <div class="view-profile-links">
                     <ul>
                        <li>
                           <a href="#overview-cover" data-scroll="overview-cover" class="overview" id="overview">Overview</a>
                        </li>
                        <li>
                           <a href="#portfolio-cover" data-scroll="portfolio-cover" class="portfolio">Portfolio</a>
                        </li>
                        <li>
                           <a href="#employment-history-cover" data-scroll="employment-history-cover" class="employement-history">Employment History</a>
                        </li>
                        <li>
                           <a href="#certifications-cover" data-scroll="certifications-cover" class="certifications">Certifications</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- right-col for web -->
            </div>
         </div>

                                    <!-- skills-cover ends-->
{% endblock %}