<form id="MilestoneEdit">
    <h3>Edit Milestone </h3>


    <div class="field-row">

        <input placeholder="Milestone" name ="milestone_title" type="text" value="{{queryset.milestone_title}}">
        <span class="errors_milestone_title error"></span>
    </div>

    <div class="field-row">

        <textarea  name ="milestone_description" placeholder="Description">{{queryset.milestone_description}}</textarea>
        <span class="errors_milestone_description error"></span>
    </div>

    <div class="field-row">

    <div class="grid-33 padding-right-5">
        <input  name ="start_date"  placeholder="Start Date" class="calander start-dates" value="{{queryset.start_date | date:'m/d/Y'}}" type="text">
        <span class="errors_start_date error"></span>
    </div>

    <div class="grid-33 padding-left-5">
        <input name ="close_date" placeholder="End Date" class="calander end-dates"  value="{{queryset.close_date | date:'m/d/Y'}}" type="text">
        <span class="errors_close_date error"></span>
    </div>

    <div class="grid-33 padding-left-5">
        <input placeholder="Rate" name="rate" value="{{queryset.rate}}" type="text" >
        <span class="errors_rate error"></span>
        <input placeholder="Rate" name="method" value="Edit_Milestone" type="hidden">
        <input placeholder="Rate" name="milestoneid" value="{{queryset.id}}" type="hidden">
        <input placeholder="Rate" name="id" value="{{id}}" type="hidden">
        <input placeholder="Rate" name="csrfmiddlewaretoken" value="{{csrf_token_value}}" type="hidden">

    </div>

    </div>

    <div class="field-row">
        <div class="grid-25 padding-right-5">
            <button type="button" data-formid="MilestoneEdit" class="solid-button-green CreateMileStone">Edit Now</button>
        </div>
    </div>

</form>