{% if type == '0' %}
<h4>	Sub categories </h4>
<ul>
{% for type in subcategory|slice:":4" %}
<li>
    <label class="checkbox inline-cover">
        <input name="subcategory" onchange="GetSearching()" value="{{type.id}}" class="toggle" type="checkbox">
        <span></span>
    </label>
    {{type.sub_category_title}}
</li>
{% endfor %}
</ul>
{% if subcategory.count >= 5 %}
<a class="view-more-filter" onclick="openPopup('small-dialog-subcategory')" >+ more</a>
{% endif %}
{% else %}
<div class="more-filter-box">

    <div class="job-filter">
        <h4>Sub Categories</h4>

        <div class="search-categories">
          <input placeholder="Search Sub Categories" id="target_Worksubcategory" type="text">
        </div>
        <div id="Get_Work_SubCategory">
        <ul>
            {% for type in subcategory %}
        <li>
            <label class="checkbox inline-cover">
                <input name="subcategory" value="{{type.id}}" class="toggle" type="checkbox">
                <span></span>
            </label>
            {{type.sub_category_title}}
        </li>
        {% endfor %}


        </ul>
        </div>

        <div class="more-filter-action">
          <input value="Filter"   type="button" onclick="GetSearching(),Close()">
        </div>

    </div>

</div>

{% endif %}