
{% load static %}
 {% load create_array %}
{% for freelancer in queryset %}
<div class="list-grid-single freelancer-list-single-cover">
   <a onclick="InviteFreelancer(this)" data-id="{{freelancer.id}}" class="invite-button">Invite</a>
   <div class="img-cover image-round">
      {% if freelancer.user.user_detail.get.profile %}
      <img src="{{freelancer.user.user_detail.get.profile.url}}" alt="">
      {% else %}
      <img src="{% static 'images/no-image.svg' %}" alt="">
      {% endif %}
   </div>
   <div class="list-info">
      <div class="info-inner-cover">
         <h2>{{freelancer.user.first_name}} {{freelancer.user.last_name}}</h2>
         <h4>{{freelancer.user.user_detail.get.workcategory.category_title}} </h4>{% if freelancer.user.freelancer_hourly_user.get.hourly_rate %} <p class="rate-info">${{freelancer.user.freelancer_hourly_user.get.hourly_rate}}/Hr</p>{% endif %}
         <div class="skills-cover">
            {% if freelancer.user.user_detail.get.skills.all %}
            {% for skills in freelancer.user.user_detail.get.skills.all|slice:":4" %}
            <span class="skill">{{skills.name}}</span>
            {% endfor %}
            <!--<span class="skill">Html</span>-->
            <!--<span class="skill">Design</span>-->
            {% endif %}
         </div>
      </div>
   </div>
   <div class="bottom-cover">
      <div class="grid-40">
         <div class="star-ratings">
            <img src="{% static 'images/star-ratings.png' %}" alt="">
         </div>
      </div>
      <div class="grid-60">
         <p class="location">{% if freelancer.user.freelancer_location_user.get.country.pk %}{{freelancer.user.freelancer_location_user.get.country.name}}{% endif %}</p>
      </div>
   </div>
</div>
{% empty %}
<div class="view-profile-single-section-nocontent">
  <p>No Content to show ..</p>
</div>
{% endfor %}
<!--{% if page_obj.has_previous or  page_obj.has_next %}-->
<!--<div class="pagination-cover">-->
   <!--<ul class="pagination">-->
      <!--{% if page_obj.has_previous %}-->
      <!--<li  data-attr="{{ page_obj.previous_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="prev paginate_by"> <a>Prev</a></li>-->
      <!--{% else %}-->
      <!--<li class="visited"><a>Prev</a></li>-->
      <!--{% endif %}-->
      <!--&lt;!&ndash;<li >&ndash;&gt;-->
      <!--&lt;!&ndash;<a href="#" class="dropdown-toggle pagination-drop paginate_num" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
      <!--&lt;!&ndash;{{ page_obj.number }}&ndash;&gt;-->
      <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--{% for page_number in page_obj.paginator.page_range %}-->
      <!--<li class="paginate_by {% if page_obj.number == page_number %} Active {% elif  page_obj.number < page_number %} {% else %} visited  {% endif %} " data-method="Search_autocomplete" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>-->
      <!--{% endfor %}-->
      <!--&lt;!&ndash;</li>&ndash;&gt;-->
      <!--{% if page_obj.has_next %}-->
      <!--<li  data-attr="{{ page_obj.next_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="nex paginate_by"><a>Next</a> </li>-->
      <!--{% else %}-->
      <!--<li class="visited"><a>Next</a></li>-->
      <!--{% endif %}-->
   <!--</ul>-->
<!--</div>-->
<!--{% endif %}-->
{% get_pagination 2 1 %}