{% load create_array %}
<form id="JobPosts" >
   <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
   <input type="hidden" name="errors_valid" data-classname="Joberrors_valid" id ="errors_valid" value="0">
   <!--<div class="field-row light-blue-box">-->
   <!--<h3 class="form-label-blue">Fetch data from previous job posted ?</h3>-->
   <!--<div class="grid-100"><select name="job_details"  class="button_container" id="job_details">-->
   <!--<option >Select a Job</option>-->
   <!--{% for data in get_previous_data %}-->
   <!--<option value="{{data.id}}">{{data.job_title}}</option>-->
   <!--{% endfor %}</select>-->
   <!--</div>-->
   <!--<div class="grid-10">-->
   <!--<i class="close-button"></i>-->
   <!--</div>-->
   <!--</div>-->
   <div class="field-row">
      <h3 class="form-label-blue">Job Title</h3>
      <input placeholder="Type Your Job" maxlength="50" data-classname="JobTitle" type="text" value="{{job.job_title}}" name="job_title">
      <input type="hidden" name="method" value="Post_job">
      <span class="error errors_job_title"></span>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Describe about job</h3>
      <textarea placeholder="Type Your Job"  name="job_description">{{job.job_description}}</textarea>
      <span class="error errors_job_description"></span>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Job Category</h3>
      <select class="work_category" name="job_main_category" data-classname="Joberrors_valid"  class="work_category" data-type="1" data-id="[{{job.job_main_category.id}}]" onchange="Getsubcategory(this)">
      </select>
      <span class="error errors_job_main_category"></span>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Sub Categories </h3>
      {% create_an_array job.job_sub_category.all as variable %}
      <select name="job_sub_category"  multiple="multiple" data-classname="Job_sub_category" class="sub_category " data-type="1" data-id="{{variable}}">
      </select>
      <span class="error errors_job_sub_category"></span>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Skills needed</h3>
      {% create_an_array job.job_skills.all as variable %}
      <select multiple="multiple" name="job_skills" data-classname="Job_skill" class="skillsoptions" data-type="1" data-id="{{variable}}">
      </select>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">How will you pay ? (Type)</h3>
      <div class="grid-50 padding-right-10">
         <select id="pay-type-selector" data-classname="Job_payment_type" name="payment_type">
            <option> Select value </option>
            {% for type in Payment_type %}
            <option {% if job.payment_type == type %}selected{% endif %} value="{{type.id}}">{{type.type}}</option>
            {% endfor %}
         </select>
      </div>
   </div>
   <div class="field-row">
      <div class="grid-50 padding-right-10 amount-type-fields budget2 hidefilds" {% if  job.payment_type.id == 1 %} style="display:none;"{%else %}"g" {% endif %}>
      <h3 class="form-label-blue">Budget</h3>
      <input placeholder="Enter Your Budget" class="number" value="{% if job.budget %}{{job.budget}}{% endif %}" data-names="Budget" data-classname="Job_budget" type="{% if job.payment_type.id == 2 %}text{% else %}hidden{% endif%}" name="budget">
      <span class="error errors_budget"></span>
   </div>
   <div class="grid-50 padding-right-10 amount-type-fields budget1 hidefilds" id="per hour" {% if  job.payment_type.id == 2 %}style="display:none;" {%else %} "g" {% endif %}>
   <h3 class="form-label-blue">Hourly Rate:</h3>
   <div class="min-max amount-value">
      <div class="grid-45">
         <input placeholder="Min" type="{% if job.payment_type.id == 1 %}text{% else %}hidden{% endif%}"  maxlength="8" value="{% if job.hourly_min %}{{job.hourly_min}}{% endif %}" class="number" data-names="hourly min" name="hourly_min" data-classname="Job_hourly_min" >
         <span class="error errors_hourly_min"></span>
      </div>
      <div class="grid-10"><span>-</span></div>
      <div class="grid-45">
         <input placeholder="Max" type="{% if job.payment_type.id == 1 %}text{% else %}hidden{% endif %}"  maxlength="8" class="number"  value="{% if job.hourly_max %}{{job.hourly_max}}{% endif %}" name="hourly_max" data-classname="Job_hourly_max" >
         <span class="error errors_hourly_min"></span>
      </div>
   </div>
   </div>
   <div class="grid-50 padding-left-0">
      <h3 class="form-label-blue">Duration Estimated</h3>
      <select  name="duration"  data-classname="Job_duration">
      {% for duration_date in duration %}
      <option {% if job.duration.id == duration_date.id %}selected{% endif %} value="{{duration_date.id}}">{{duration_date.date_range}}</option>
      {% endfor %}
      </select>
   </div>
   </div>
   <div class="field-row">
      <div class="grid-50 padding-right-10">
         <h3 class="form-label-blue">Experience Level</h3>
         <div class="field-row experience-level-cover">
            <div class="grid-33">
               <label class="radio inline-cover">
               <input  name="experiance_level" {% if job.experiance_level == 'FRESHER' %}checked{% endif %} value="FRESHER"  type="radio">
               <span> Fresher </span>
               </label>
            </div>
            <div class="grid-33">
               <label class="radio inline-cover">
               <input  name="experiance_level"  {% if job.experiance_level == 'INTERMEDIATE' %}checked{% endif %} value="INTERMEDIATE" type="radio">
               <span>  Intermediate</span>
               </label>
            </div>
            <div class="grid-33">
               <label class="radio inline-cover">
               <input name="experiance_level" {% if job.experiance_level == 'EXPERT' %}checked{% endif %} value="EXPERT" type="radio">
               <span> Expert </span>
               </label>
            </div>
         </div>
      </div>
      <div class="grid-50 padding-left-0">
         <h3 class="form-label-blue">Number of Hire</h3>
         <input placeholder="Number of Hire" type="text" maxlength="8" class="number"  name="no_of_hires" data-classname="Job_no_of_hires" value="{% if job.no_of_hires %}{{job.no_of_hires}}{% endif %}">
      <span class="error no_of_hires"></span>
      </div>
      <div class="field-row light-blue-box">
         <div class="grid-50 padding-right-5">
            <h3 class="form-label-blue"> Job status </h3>
            <select  name="job_status">
               {% for status in job_status %}
               <option value="{{status.id}}">{{status.status}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="grid-50 padding-left-5">
            <h3 class="form-label-blue"> Closing date </h3>
            <input placeholder="" type="text" class="start-dates" readonly data-classname="Job_job_close_date" name="job_close_date">
            <span class="error job_close_date"></span>
         </div>
      </div>
   </div>
</form>