<h1>{{hiredetails.job_title}}<span class="action-cover">
 <a class="popup-with-zoom-anim edit-button" href="#small-dialog1">Edit</a>
  </span></h1>
    <p>
    <label class="grid-70 padding-right-10 job-category"><span class="blue-text">Job Category : </span> {{hiredetails.client_job.job_main_category.category_title}}  </label>
    <label class="grid-30 text-right closing-date"><span class="blue-text">Closing Date : </span>   {{hiredetails.client_job.job_close_date | date:'N  d Y' }}</label>
    </p>

<!--description-->
<div class="description">
<h4>Details of the project</h4>
    <p class="more">

        {{hiredetails.job_description}}
    </p>
</div>