{% load static %}
<form id="InviteJob" method="post">
   <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}">
   <input type="hidden" name="method" value="Save_Invite_Job">
   <input type="hidden" name="freelancer_id" value="{{details.user}}">
   <div class="field-row freelancers-image-cover">
      <div class="img-cover image-round">
         {% if details.user.user_detail.get.profile %}
         <img src="{{details.user.user_detail.get.profile.url}}" alt="">
         {% else %}
         <img src="{% static 'images/no-image.svg' %}" alt="">
         {% endif %}
      </div>
      <div class="freelancer-info">
         <h2>{{details.user.first_name}} {{details.user.last_name}}</h2>
         <h4>{{details.user.user_detail.get.title}}  {% if details.user.freelancer_hourly_user.get.hourly_rate %}/ <span class="rate-info">${{details.user.freelancer_hourly_user.get.hourly_rate}}/Hr</span>{% endif %}</h4>
      </div>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Message</h3>
      <textarea placeholder="Message" name="message"></textarea>
      <span class="errors_message error"></span>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Choose a Job</h3>
      <select name="job">
         <option value="">Select Job</option>
         {% for jobs in jobdetails %}
         <option value="{{jobs.id}}">{{jobs.job_title}}</option>
         {% endfor %}
      </select>
      <span class="errors_job error"></span>
   </div>
   <div class="field-row">
      <div class="grid-20 padding-right-5">
         <button type="button" onclick="SaveInviteJob()" class="blue-button">Save</button>
      </div>
      <div class="grid-20 padding-left-5">
         <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
      </div>
   </div>
</form>