 {% load static %}
 {% load create_array %}
<!--<section class="profile-introduction view-profile-single-section overview-cover" id="overview-cover" data-anchor="overview-cover">-->

        <!--<div class="my-post-jobs-cover load-content">-->
        <!--<div class="view-profile-single-section-header">-->
        <!--<div class="grid-100"><h2>My Jobs ({{count}})</h2></div>-->
            <!--<div class="list-search-cover">-->
			<!--<input placeholder="Find Freelancer :" type="text"><span class="search-button"> </span>-->

            <!--&lt;!&ndash;{% if request.user.is_authenticated %}&ndash;&gt;-->
         <!--&lt;!&ndash;{% ifequal request.user.active_account.type 'CLIENT'%}&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="grid-50"><a href="{% url 'client:clientjobpost' %}" class="next-arrow-button pull-right">Post a New Job<i></i></a></div>&ndash;&gt;-->
        <!--&lt;!&ndash;{% endifequal %}&ndash;&gt;-->
            <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
        <!--</div>-->
        {% for job in queryset %}

        <div class="portfolio-single-cover post-job">
        <h3 class="sub-heading-arows job-heading">
               {% if request.user.is_authenticated %}
            {% ifequal request.user.active_account.type 'CLIENT'%}
       <a href="{% url 'client:jobdetails' job.slug %}">{{job.job_title}}</a>
         {% endifequal %}

        {% ifequal request.user.active_account.type 'FREELANCER'%}
       <a href="{% url 'freelancer:jobdetailsview' job.slug %}">{{job.job_title}}</a>
         {% endifequal %}
            {% else %}
            <a href="#">{{job.job_title}}</a>
            {% endif %}
        </h3>
        <p class="rate-info"> {% if job.payment_type.type %}{{job.payment_type.type}} {% if job.payment_type.id == 2 %}(${{job.budget}} ){% else %} ({% if job.hourly_min %}${{job.hourly_min}}{% else %}$0{%endif %} - {% if job.hourly_max %}${{job.hourly_max}}{% else %}$0{%endif %}){%endif %} -{%endif %}{{job.experiance_level}} {% if job.duration.date_range %}- Est. Time: {{job.duration.date_range}} {% endif %} {% if job.created_date %}- Posted: {{job.created_date}} {% endif %}</p>
        <p class="description more">
        {{job.job_description}}
        </p>
        <div class="skills-cover">
             {% for skils in job.job_skills.all %}

            <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skils.name}}</span>
            {% endfor %}
            {% if job.job_skills.count > 10 %}
             <a  onclick="Moreskills(this)" class="more">more..</a>
             {% endif %}



        </div>
        <div class="jobs-post-link">
        <a href="" class="hired-freelancers underlined-link">Hired Freelancers <span>({{job.hire_jobs.count}})</span></a>
        <a href="" class="applied-freelancers underlined-link">Applied Freelancers <span>({{job.applied_jobs.count}})</span></a>
        {% if request.user.is_authenticated %}
          {% ifequal request.user.active_account.type 'CLIENT'%}
            <a href="{% url 'client:clientjobpost' job.slug %}"  class="repost-job bordered-link">Repost Job</a>
            <!--<a href="" class="active-job bordered-link">Active</a>-->
            <!--<a href="" class="deactive-job bordered-link">Deactive</a>-->
        {% endifequal %}
            {% endif %}
        </div>
        </div>
             {% empty %}
            <div class="view-profile-single-section-nocontent">
              <p>No Content to show ..</p>
            </div>
             {% endfor %}
<!--{% if page_obj.has_previous or  page_obj.has_next %}-->
            <!--<div class="pagination-cover">-->
		<!--<ul class="pagination">-->
         <!--{% if page_obj.has_previous %}-->
        <!--<li  data-attr="{{ page_obj.previous_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="prev paginate_by"> <a>Prev</a></li>-->
        <!--{% else %}-->
         <!--<li class="visited"><a>Prev</a></li>-->
        <!--{% endif %}-->


        <!--&lt;!&ndash;<li >&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#" class="dropdown-toggle pagination-drop paginate_num" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
                <!--&lt;!&ndash;{{ page_obj.number }}&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->

               <!--{% create_range page_obj as page_range %}-->


                <!--{% for page_number in page_range %}-->

                                        <!--<li class="paginate_by {% if page_obj.number == page_number %} Active {% elif  page_obj.number < page_number %} {% else %} visited  {% endif %} " data-method="Search_autocomplete" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>-->

              <!--&lt;!&ndash;<li class="paginate_by  {% if  page_obj.number|add:'5' > page_number and page_obj.number <= page_number %}show{% else %}hide{% endif %} data-method="Search_autocomplete" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>&ndash;&gt;-->

               <!--{% endfor %}-->

        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--{% if page_obj.has_next %}-->
        <!--<li  data-attr="{{ page_obj.next_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="nex paginate_by"><a>Next</a> </li>-->
      <!--{% else %}-->
        <!--<li class="visited"><a>Next</a></li>-->
      <!--{% endif %}-->

    <!--</ul>-->
<!--</div>-->
 <!--{% endif %}-->
{% get_pagination 2 1 %}
        <!--</div>-->
        <!--</section>-->
