 {% load static %}
 {% load create_array %}

{% for invited in queryset%}
 {% if jobtype == 'Invitaion' %}

     <div class="freelancer-actions-list-row">
        <div class="freelancer-image grid-10">
        <div class="img-cover image-round">
       {% if invited.user.user.user_detail.get.profile %}
        <img src="{{invited.user.user.user_detail.get.profile.url}}" alt="">
        {% else %}
        <img src="{% static 'images/no-image.svg' %}" alt="">
            {% endif %}
            <div class="price-text">{% if invited.user.user.freelancer_hourly_user.get.hourly_rate %}{{invited.user.user.freelancer_hourly_user.get.hourly_rate}}{% endif %}</div>

        </div>
        </div>
        <div class="info-cover grid-90">
        <div class="grid-80">
        <h2>{{invited.user.user.first_name}} {{invited.user.user.last_name}}</h2>
        <p class="blue-text">{% if invited.user.user.freelancer_location_user.get.country.pk %}{{invited.user.user.freelancer_location_user.get.country.name}}{% endif %}  {% if invited.user.user.freelancer_location_user.get.state.pk %}| {{invited.user.user.freelancer_location_user.get.state.name}}{% endif %}  {% if invited.user.user.freelancer_location_user.get.city.pk %}| {{invited.user.user.freelancer_location_user.get.city.name}}{% endif %} </p>
        {% if invited.status.status == 'Cancelled' or invited.status.status == 'Declined' or invited.status.status == 'Withdrawn'  %}
           <div class="job-status rejected">{{invited.status.status}}</div>
        {% endif %}
        {% if invited.status.status == 'Accepted' %}
           <div class="job-status accepted">{{invited.status.status}}</div>
        {% endif %}
        </div>
        <div class="actions-cover grid-20">
        <a href="" class="cancel-button">Cancel</a>
        <a href="" class="reply">Reply</a>
        </div>
        <p class="more">
            {% if invited.user.user.user_detail.get.about %}{{invited.user.user.user_detail.get.about}}{% endif %}
        </p>
            {% if invited.status.status == 'Cancelled'  %}

         <span>Withdrawn by freelancer</span>
        {% endif %}
        {% if invited.status.status == 'Withdrawn'  %}

         <span>Withdrawn by client</span>
        {% endif %}
        {% if invited.status.status == 'Accepted'  %}

         <span>Invitation accepted by freelancer</span>
        {% endif %}
         </div>
     </div>
     {% elif jobtype == 'Applied' %}
        <div class="freelancer-actions-list-row">
        <div class="freelancer-image grid-10">
        <div class="img-cover image-round">
       {% if invited.user.user.user_detail.get.profile %}
        <img src="{{invited.user.user.user_detail.get.profile.url}}" alt="">
        {% else %}
        <img src="{% static 'images/no-image.svg' %}" alt="">
            {% endif %}
            <div class="price-text">{% if invited.estimated_cost %}${{invited.estimated_cost}}{% endif %}</div>
        </div>
        </div>
        <div class="info-cover grid-90">
        <div class="grid-80">
        <h2>{{invited.user.user.first_name}} {{invited.user.user.last_name}}</h2>
        <p class="blue-text">{% if invited.user.user.freelancer_location_user.get.country.pk %}{{invited.user.user.freelancer_location_user.get.country.name}}{% endif %}  {% if invited.user.user.freelancer_location_user.get.state.pk %}| {{invited.user.user.freelancer_location_user.get.state.name}}{% endif %}  {% if invited.user.user.freelancer_location_user.get.city.pk %}| {{invited.user.user.freelancer_location_user.get.city.name}}{% endif %} </p>
        {% if invited.status.status == 'Cancelled' or invited.status.status == 'Declined' or invited.status.status == 'Withdrawn'  %}
           <div class="job-status rejected">{{invited.status.status}}</div>
        {% endif %}
        </div>
        <div class="actions-cover grid-20">
        <a href="" class="cancel-button">Reply</a>
        {% if invited.status.status != 'Withdrawn' and invited.status.status != 'Cancelled' %}
            {% check_hired_or_not jobid invited.user as status %}
         {% if status == None %}
        <a class ="reply" onclick="GetHireDetails(this)"   data-freelancer="{{invited.user}}" class="reply">Hire</a>
        {% else %}
            <a class ="reply" href="{% url 'hire:hireviews' status.slug %}">Hired</a>
            {% endif %}
            {% endif %}
        </div>
        <p class="more">
            {% create_range page_obj as page_range %}
            {% if invited.status.status == 'Cancelled' and invited.cancel_message  %}
            {{invited.cancel_message}}
            {% else %}
            {{invited.description}}
            {% endif %}
            </p>

        {% if invited.status.status == 'Cancelled'  %}

         <span>Withdrawn by freelancer</span>
        {% endif %}
        {% if invited.status.status == 'Withdrawn'  %}

         <span>Withdrawn by client</span>
        {% endif %}
        </div>
        </div>
      {% elif jobtype == 'Hired' %}

     <div class="freelancer-actions-list-row">
        <div class="freelancer-image grid-10">
        <div class="img-cover image-round">

       {% if invited.freelancer_profile.profile %}
        <img src="{{invited.freelancer_profile.profile.url}}" alt="">
        {% else %}
        <img src="{% static 'images/no-image.svg' %}" alt="">
            {% endif %}
            <div class="price-text">{% if invited.budget %}${{invited.budget}}{% endif %}</div>
        </div>
        </div>
        <div class="info-cover grid-90">
        <div class="grid-80">
        <h2>{{invited.freelancer_profile.user.first_name}} {{invited.freelancer_profile.user.last_name}}</h2>
        <p class="blue-text">{% if freelancer_profile.user.freelancer_location_user.get.country.pk %}{{freelancer_profile.user.freelancer_location_user.get.country.name}}{% endif %}  {% if freelancer_profile.user.freelancer_location_user.get.state.pk %}| {{freelancer_profile.user.freelancer_location_user.get.state.name}}{% endif %}  {% if freelancer_profile.user.freelancer_location_user.get.city.pk %}| {{freelancer_profile.user.freelancer_location_user.get.city.name}}{% endif %} </p>
        {% if invited.status.status   %}
           <div class="job-status accepted">{{invited.status.status}}</div>
        {% endif %}
        </div>
        <div class="actions-cover grid-20">
        <a href="" class="cancel-button">Reply</a>

        <a  href="{% url 'hire:hireviews' invited.slug %}"  data-freelancer="{{invited.user}}" class="reply">Hired</a>

        </div>
        <p class="more">

            {% if invited.job_description  %}
            {{invited.job_description}}

            {% endif %}
            </p>


        </div>
        </div>

     {% endif %}
  {% empty %}
<div class="view-profile-single-section-nocontent">
  <p>No Content to show ..</p>
</div>
 {% endfor %}
 {% if page_obj.has_previous or  page_obj.has_next %}
 <div class="pagination-cover">
		<ul class="pagination">
         {% if page_obj.has_previous %}
        <li  data-attr="{{ page_obj.previous_page_number }}" data-method="Get_InvitedList" class="prev paginate_by"> <a>Prev</a></li>
        {% else %}
         <li class="visited"><a>Prev</a></li>
        {% endif %}


        <!--<li >-->
            <!--<a href="#" class="dropdown-toggle pagination-drop paginate_num" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                <!--{{ page_obj.number }}-->
            <!--</a>-->

                {% for page_number in page_obj.paginator.page_range %}
                                        <li class="paginate_by {% if page_obj.number == page_number %} Active {% elif  page_obj.number < page_number %} {% else %} visited  {% endif %} " data-method="Get_InvitedList"  data-attr="{{page_number}}"><a>0{{page_number}}</a></li>
                {% endfor %}

        <!--</li>-->
        {% if page_obj.has_next %}
        <li  data-attr="{{ page_obj.next_page_number }}" data-method="Get_InvitedList"  class="nex paginate_by"><a>Next</a> </li>
      {% else %}
        <li class="visited"><a>Next</a></li>
      {% endif %}

    </ul>
</div>
  {% endif %}