{% load static %}
<div class="">
   <ul>
      {% for type in queryset %}
      <li>
         <label class="checkbox inline-cover">
         <input name="workcategory" value="{{type.id}}" class="toggle" type="checkbox">
         <span></span>
         </label>
         {{type.category_title}}
      </li>
      {% empty %}
      <div class="view-profile-single-section-nocontent">
        <p>No Content to show ..</p>
      </div>
      {% endfor %}
   </ul>
   <div class="pagination-cover">
      <ul class="pagination">
         {% if page_obj.has_next %}
         <li><a data-attr="{{ page_obj.next_page_number }}" data-method="Get_Work_Category" data-search="target_Workcategory" class="nex paginate_bys ">Next </a> </li>
         {% endif %} {% if page_obj.has_previous %}
         <li><a data-attr="{{ page_obj.previous_page_number }}" data-method="Get_Work_Category" data-search="target_Workcategory" class="prev paginate_bys"> Prev</a> </li>
         {% endif %}
      </ul>
   </div>
</div>