{% load static %}
 {% load create_array %}


{% for milestone in queryset %}
    {% if milestone.status.status != 'Archive' %}


    {% if request.user.active_account.type == 'CLIENT' %}

        <div class="table-row" data-milestone ="{{milestone.id}}" data-milestonetype="1">
            <div class="grid-5">
                <label class="checkbox inline-cover">
                <input name="Experience" value="Mid level" class="toggle" type="checkbox">
                <span></span>
            </label>
            </div>
            <div class="grid-50"><label>{{milestone.milestone_title}} </label></div>
            <div class="grid-10">
                {% if milestone.status.status == 'Draft' %}
                <span class="mile-stone-status draft">{{milestone.status.status }}</span>
                {% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
                <span class="mile-stone-status pending">{% if milestone.status.status == 'Changed' %} Pending {% else %}{{milestone.status.status}} {% endif %}</span>
                {% elif milestone.status.status == 'Approved' %}
                <span class="mile-stone-status approved">{{milestone.status.status }} </span>
                {% elif milestone.status.status == 'Payout Requested' %}
                <span class="mile-stone-status payed" onclick="PayLoad()">{{milestone.status.status }}</span>
                {% elif milestone.status.status == 'Payed' %}
                <span class="mile-stone-status payed">{{milestone.status.status }}</span>

                {% endif %}
            </div>
            <div class="grid-10"><label class="rate">${{milestone.rate}}</label></div>
            <div class="grid-25">
                <div class="action-cover">
                    {% if milestone.status.status == 'Draft' %}

                    <a onclick="EditMilestone(this)" data-milestone ="{{milestone.id}}"  class="edit"></a>
                    <a onclick="GetPopup(this)" class="delete" data-type ="delete"></a>
                    <a onclick="GetPopup(this)" data-type ="send" class="positive-action table-action">Send</a>
                    <!--<a href="" class="delete"></a>-->
                    {% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
                     <a onclick="EditMilestone(this)" data-milestone ="{{milestone.id}}"  class="edit"></a>
                    {% elif milestone.status.status == 'Approved' %}
                    {% elif milestone.status.status == 'Payout Requested' %}
                    <a class="positive-action table-action" onclick="PayLoad()">Payout</a>


                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if request.user.active_account.type == 'FREELANCER' %}
    <div class="table-row" data-milestone ="{{milestone.id}}" data-milestonetype="1">
        <div class="grid-5">
            <label class="checkbox inline-cover">
            <input name="Experience" value="Mid level" class="toggle" type="checkbox">
            <span></span>
        </label>
        </div>
        <div class="grid-50"><label>{{milestone.milestone_title}}{% if milestone.status.status == 'Changed' %} <span class="edited">( Edited )</span>{% endif %}</label></div>
        <div class="grid-10">
            {% if milestone.status.status == 'Draft'  %}
            <span class="mile-stone-status draft">{{milestone.status.status }}</span>
            {% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
            <span class="mile-stone-status pending">{% if milestone.status.status == 'Changed' %} Pending {% else %}{{milestone.status.status}} {% endif %}</span>
            {% elif milestone.status.status == 'Approved' %}
            <span class="mile-stone-status approved">{{milestone.status.status }}</span>
            {% elif milestone.status.status == 'Payout Requested' %}
            <span class="mile-stone-status payed">{{milestone.status.status }}</span>
            {% elif milestone.status.status == 'Paid' %}
            <span class="mile-stone-status payed">{{milestone.status.status }}</span>

            {% endif %}
        </div>
        <div class="grid-10"><label class="rate">${{milestone.rate}}</label></div>
        <div class="grid-25">
            <div class="action-cover">
                {% if milestone.status.status == 'Draft' %}

                <a onclick="EditMilestone(this)" data-milestone ="{{milestone.id}}"  class="edit"></a>
                <a onclick="GetPopup(this)" class="delete" data-type ="delete"></a>
                <a onclick="GetPopup(this)" data-type ="send" class="positive-action table-action">Send</a>
                <!--<a href="" class="delete"></a>-->
                {% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
                 <a onclick="GetPopup(this)" data-type ="approve" class="positive-action table-action">Approve Milestone</a>
                {% elif milestone.status.status == 'Approved' %}
                <a onclick="GetPopup(this)" data-type ="payout" class="positive-action table-action">Request Payout</a>


                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% empty %}
        <!--<div class="view-profile-single-section-nocontent">-->
          <!--<p>No Content to show ..</p>-->
        <!--</div>-->
{% endfor %}
{% if page_obj.has_previous or  page_obj.has_next %}
            <div class="pagination-cover">
		<ul class="pagination">
         {% if page_obj.has_previous %}
        <li  data-attr="{{ page_obj.previous_page_number }}"  data-method="MileStone_listing" data-search="freelancer_search" class="prev paginate_by"> <a>Prev</a></li>
        {% else %}
         <li class="visited"><a>Prev</a></li>
        {% endif %}


        <!--<li >-->
            <!--<a href="#" class="dropdown-toggle pagination-drop paginate_num" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                <!--{{ page_obj.number }}-->
            <!--</a>-->



                {% for page_number in page_obj.paginator.page_range %}

                                        <li class="paginate_by {% if page_obj.number == page_number %} Active {% elif  page_obj.number < page_number %} {% else %} visited  {% endif %} "  data-method="MileStone_listing" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>

              <!--<li class="paginate_by  {% if  page_obj.number|add:'5' > page_number and page_obj.number <= page_number %}show{% else %}hide{% endif %} data-method="Search_autocomplete" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>-->

               {% endfor %}

        <!--</li>-->
        {% if page_obj.has_next %}
        <li  data-attr="{{ page_obj.next_page_number }}" data-method="MileStone_listing" data-search="freelancer_search" class="nex paginate_by"><a>Next</a> </li>
      {% else %}
        <li class="visited"><a>Next</a></li>
      {% endif %}

    </ul>
</div>
 {% endif %}
