
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <title> {% block title %} Atlancer {% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'admin/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css'  %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'admin/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static 'admin/vendors/animate.css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'admin/build/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post" action="." novalidate>
              <h1>Atlancer Login</h1>
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div>
                {{form.username}}
                <!--<input type="text" class="form-control" placeholder="Email" />-->
                {{form.username.errors}}
              </div>
              <div>
                {{form.password}}
                {{form.password.errors}}
              </div>
              <div>
                <button type="submit" id="login_btn" class="btn btn btn-primary submit" >LOGIN</button>

                <!--<a class="btn btn btn-primary submit" href="index.html">Log in</a>-->
                <!--<a class="reset_pass" href="#">Lost your password?</a>-->
              </div>

              <div class="clearfix"></div>

              <div class="separator">


                <div class="clearfix"></div>
                <br />

                <div>
                  <h1>Atlancer Admin</h1>
                  <p>©2016 All Rights Reserved. Atlancer. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>


      </div>
    </div>
  </body>
</html>