{% extends 'admin_base.html' %}
{% load staticfiles%}
{% block content %}

 <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Client List</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Client List</h2>
                    <!--<ul class="nav navbar-right panel_toolbox">-->
                      <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                      <!--</li>-->
                      <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                          <!--<li><a href="#">Settings 1</a>-->
                          <!--</li>-->
                          <!--<li><a href="#">Settings 2</a>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</li>-->
                      <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                      <!--</li>-->
                    <!--</ul>-->
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <!--<p>Add class to table for bulk actions options on row select</p>-->

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <!--th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th-->
                            <th class="column-title">First Name </th>
                            <th class="column-title">Last Name</th>
                            <th class="column-title">Email </th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>

                         {% for user in clientlist %}

                          <tr class="even pointer">
                            <!--td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td-->
                            <td class=" ">{{user.first_name}}</td>
                            <td class=" ">{{user.last_name}} </td>
                            <td class=" ">{{user.email}}  <i class="success fa fa-long-arrow-up"></i></td>
                            <td class=" last"><a href="#" class="btn btn-round btn-warning btn-sm">Edit</a><!--a href="#" class="btn btn-round btn-success btn-sm">View</a--><a href="" class="btn btn-round btn-danger btn-sm">Delete</a>
                            </td>
                          </tr>
                        {% empty %}
                         <tr ><td colspan="4">No Items yet.</td></tr>

                         {% endfor %}

                        </tbody>
                      </table>
                       {% if is_paginated %}
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                          <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="paginate_button previous disabled" id="datatable_previous"><a href="?page={{ page_obj.previous_page_number }}" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a></li>


                            {% else %}
                             <li class="paginate_button previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a></li>

                            {% endif %}
                            {% for page in paginator.page_range %}
                            <li class="paginate_button {% if page == page_obj.number %} active {% endif %}"><a href="?page={{ page }}" aria-controls="datatable" data-dt-idx="1" tabindex="0">{{ page }}</a></li>


                            {% endfor %}
                          {% if page_obj.has_next %}
                            <li class="paginate_button next" id="datatable_next"><a href="?page={{ page_obj.next_page_number }}" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a></li>

                          {% else %}
                            <li class="paginate_button next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a></li>

                          {% endif %}
                          </ul>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

{% endblock  %}