{% extends 'admin_base.html' %}
{% load staticfiles%}

{% block style %}

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap-duallistbox.css' %}">


{% endblock %}
{% block extra_js %}

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <script src="{% static 'admin/js/jquery.bootstrap-duallistbox.js' %}"></script>


{% endblock %}
{% block content %}
 <!-- page content -->
        <div class="right_col" role="main">
          <div class="change-group ">
            <div class="page-title">
              <div class="title_left">
                <h3>Edit Role <small></small></h3>
			  </div>
            </div>

				<div class="clearfix"></div>
			  <form method="post" action="." id="roles">
				  <div id ="success"></div>
				{% csrf_token %}



				<div class="row">
				<div class="x_panel">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
                            <label>Role Name</label>
                            {{form.role}}
							<!--<input placeholder="" type="text"  name="role" class="filter form-control">-->

							           <span class="errors_role error"></span>
						</div>
					</div>
				<br/>

				<div class="col-md-7">
					{{form.permission}}




					<span class="errors_permission error"></span>
				</div>
				</div>

				</div>
				<div class="x_panel main-buttons">

					<div class="pull-right">

					<a href="#" class="btn btn-primary" onclick="AddRole()" >Save and continue </a>

					</label>
				</div>

				</div>
				</div>
			  </form>
            </div>
          </div>
        </div>
        <!-- /page content -->

<script>
		var demo2 = $('.demo2').bootstrapDualListbox({
		nonSelectedListLabel: 'Non-selected',
		selectedListLabel: 'Selected',
		preserveSelectionOnMove: 'moved',
		moveOnSelect: false,
		nonSelectedFilter: ''
		});
	</script>

	<!-- selcet-box script content -->
	<script>
	$("#bootstrap-duallistbox-selected-list_duallistbox_demo2").attr('name', 'permission');
	<!--$.ajax({-->
        <!--url : ".", // the endpoint-->
        <!--type : "POST", // http method-->
        <!--data : {'method':'get','csrfmiddlewaretoken': '{{ csrf_token }}','rolename':'{{my_model.role}}'}, // data sent with the post request-->

        <!--// hancdle a successful response-->
        <!--success : function(data) {-->
             <!--//$('#bootstrap-duallistbox-selected-list_duallistbox_demo2')-->
               <!--//  .append(data.data);-->
               <!--//  $('.demo2')-->
                <!--// .append(data.data);-->

                 <!--&lt;!&ndash;$.getScript("{% static 'admin/js/jquery.bootstrap-duallistbox.js' %}", function() {&ndash;&gt;-->

                 <!--&lt;!&ndash;$('#bootstrap-duallistbox-selected-list_duallistbox_demo2').bootstrapDualListbox('refresh');&ndash;&gt;-->
<!--&lt;!&ndash;});&ndash;&gt;-->

             <!--}-->
             <!--});-->

		$("#demo2-add").click(function() {
		demo2.append('<option value="apples">Apples</option><option value="oranges" selected>Oranges</option>');
		demo2.bootstrapDualListbox('refresh');
		});

		$("#demo2-add-clear").click(function() {
		demo2.append('<option value="apples">Apples</option><option value="oranges" selected>Oranges</option>');
		demo2.bootstrapDualListbox('refresh', true);
		});
	</script>
<script>
    function AddRole(){
    console.log($('#roles').serialize());
        $.ajax({
        url : ".", // the endpoint
        type : "POST", // http method
        data : $('#roles').serialize(), // data sent with the post request

        // handle a successful response
        success : function(data) {
           if(data.status=='failed'){
                $.each(data.data, function( index, value ) {
                   $(".errors_"+index).show();
                  $(".errors_"+index).html("<p style='color:red'>"+value+"</p>");
                  console.log("#errors_"+index);
                  $(".errors_"+index).delay(5500).hide(500);

                });

           }else{
             $("#success").show();

             $("#success").html("<p style='color:green'>"+data.message+"</p>");
             $('#role')[0].reset();
             $("#success").delay(5500).hide(500);
           }
        }
    });
    }
</script>
{% endblock %}