
{% extends 'admin_base.html' %}
{% load staticfiles%}
{% block content %}


<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Role List</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title"
                    <h2>Role List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a href="{% url 'siteadmin:AdmincreateRole' %}">Add Role</a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <!--<p>Add class to table for bulk actions options on row select</p>-->

                    <div class="table-responsive" id="datatable_wrapper">
                      <table class="table table-striped jambo_table bulk_action" >
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Role Name</th>

                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for role in object_list %}
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">{{role.role}}</td>
                            <td class=" last"><a href="{% url 'siteadmin:editrole' role.slug %}" class="btn btn-round btn-warning btn-sm">Edit</a><a href="" class="btn btn-round btn-danger btn-sm">Delete</a>
                            </td>
                          </tr>
                        {% empty %}
                        <tr ><td colspan="3">No Items yet.</td></tr>

                         {% endfor %}

                        </tbody>
                      </table>
                      {% if is_paginated %}
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                          <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="paginate_button previous disabled" id="datatable_previous"><a href="?page={{ page_obj.previous_page_number }}" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a></li>


                            {% else %}
                             <li class="paginate_button previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a></li>

                            {% endif %}
                            {% for page in paginator.page_range %}
                            <li class="paginate_button {% if page == page_obj.number %} active {% endif %}"><a href="?page={{ page }}" aria-controls="datatable" data-dt-idx="1" tabindex="0">{{ page }}</a></li>


                            {% endfor %}
                          {% if page_obj.has_next %}
                            <li class="paginate_button next" id="datatable_next"><a href="?page={{ page_obj.next_page_number }}" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a></li>

                          {% else %}
                            <li class="paginate_button next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a></li>

                          {% endif %}
                          </ul>
                        </div>
                      {% endif %}

                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}
