{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
 <!--create-profile strats-->
    <div class="create-profile" id="create-profile">
    {% include "common/loader.html" %}
          <div class="container-fluid create-profile-cover view-profil-page-cover">
            <div class="left-coll">
              <!--profile image-->
                {% include "common/client_profile_image.html" %}

              <!--profile image-->

         <!--profile image-->
         <div class="client-basic-info">
            <h5>{{request.user.first_name}} {{request.user.last_name}} </h5>
            <p>{{request.user.email}}</p>
         </div>
            </div>

            <div class="center-col ui-tabs ui-corner-all ui-widget ui-widget-content" id="tabs">
                {% include "common/message.html" %}
              <div class="create-profile-form-cover">

              <div class="scroll-cover">


              <div class="create-profile-form" >
                  {% if get_previous_data %}
                  <div class="field-row light-blue-box top-light-box">
				 <h3 class="form-label-blue">Fetch data from previous job posted ?</h3>
					<div class="grid-100"><select name="job_details"  class="button_container" id="job_details">
					<option >Select a Job</option>
					 {% for data in get_previous_data %}
                        <option value="{{data.id}}" >{{data.job_title}}</option>
                        {% endfor %}</select>
                        <i class="close-button"></i>
					</div>

			  </div>
                  {% endif %}
                  <div id="previous_data">

			<form id="JobPosts" >
              {% csrf_token %}



              <div class="field-row">
                <h3 class="form-label-blue">Job Title</h3>
                <input placeholder="Type Your Job"  maxlength="50" data-classname="JobTitle" type="text"  name="job_title">
                  <input type="hidden" name="method" data-classname="Jobmethod" value="Post_job">
                  <input type="hidden" name="errors_valid" data-classname="Joberrors_valid" id ="errors_valid" value="0">
                  <span class="error errors_job_title"></span>
              </div>

              <div class="field-row">
                <h3 class="form-label-blue">Describe about job</h3>
                <textarea placeholder="Type Your Job" data-classname="Joberrors_valid" name="job_description"> </textarea>
                <span class="error errors_job_description"></span>
              </div>

              <div class="field-row">
                <h3 class="form-label-blue">Job Category</h3>
                <select class="work_category" name="job_main_category" data-classname="Joberrors_valid" data-type="1" data-id="0" onchange="Getsubcategory(this)">
                  <option> Select an option </option>
                  <option> Select an option </option>
                  <option> Select an option </option>
                </select>
                  <span class="error errors_job_main_category"></span>
              </div>

              <div class="field-row">
                <h3 class="form-label-blue">Sub Categories</h3>
                 <select name="job_sub_category"  multiple="multiple" data-classname="Job_sub_category" class="sub_category " data-type="1" data-id="0">

                </select>
                  <span class="error errors_job_sub_category"></span>
              </div>

              <div class="field-row">
                <h3 class="form-label-blue">Skills needed</h3>
                <select  multiple="multiple" name="job_skills" data-classname="Job_skill" class="skillsoptions" data-type="1" data-id="0">

                </select>
              </div>

              <div class="field-row">
              <h3 class="form-label-blue">How will you pay ? (Type)</h3>
              <div class="grid-50 padding-right-10">
                <select id="pay-type-selector" data-classname="Job_payment_type" name="payment_type">
				   <option value=""> Select Payment Type </option>
                  {% for type in Payment_type %}
                        <option value="{{type.id}}">{{type.type}}</option>
                        {% endfor %}
                </select>
              </div>
              </div>

				<div class="field-row">

				<div class="grid-50 padding-right-10 amount-type-fields budget2 hidefilds" style="display:none;">
					<h3 class="form-label-blue">Budget</h3>
					<input placeholder="Enter Your Budget" class="number" data-names="Budget" data-classname="Job_budget" type="hidden" name="budget">
				    <span class="error errors_budget"></span>
                </div>

				<div class="grid-50 padding-right-10 amount-type-fields budget1 hidefilds" id="per hour" style="display:none;">
					<h3 class="form-label-blue">Hourly Rate:</h3>
					<div class="min-max amount-value">
					<div class="grid-45">
					<input placeholder="Min" type="hidden" maxlength="8" class="number" data-names="hourly Min" name="hourly_min" data-classname="Job_hourly_min" >
					 <span class="error errors_hourly_min"></span>
                    </div>
					<div class="grid-10"><span>-</span></div>
					<div class="grid-45">
					<input placeholder="Max" type="hidden" maxlength="8" class="number"  name="hourly_max" data-classname="Job_hourly_max" >
					<span class="error errors_hourly_max"></span>
                    </div>
					</div>
				</div>

				<div class="grid-50 padding-left-0">
				<h3 class="form-label-blue">Duration Estimated</h3>
				<select  name="duration" data-classname="Job_duration" >
                     <option value=""> Select Duration </option>
				{% for duration_date in duration %}
                    <option value="{{duration_date.id}}">{{duration_date.date_range}}</option>
                {% endfor %}

				</select>
				</div>
				</div>

				<div class="field-row">
				<div class="grid-50 padding-right-10">
				<h3 class="form-label-blue">Experience Level</h3>
				<div class="field-row experience-level-cover">
				<div class="grid-33">
				<label class="radio inline-cover">
				<input name="experiance_level" value="FRESHER"  checked type="radio">
				<span> Fresher </span>
				</label>
				</div>
				<div class="grid-33">
				<label class="radio inline-cover">
				<input name="experiance_level" value="INTERMEDIATE" type="radio">
				<span>  Intermediate</span>
				</label>
				</div>
				<div class="grid-33">
				<label class="radio inline-cover">
				<input name="experiance_level"  value="EXPERT" type="radio">
				<span> Expert </span>
				</label>
				</div>
				</div>
				</div>

				<div class="grid-50 padding-left-0">
				<h3 class="form-label-blue">Number of Hire</h3>
				<input placeholder="Number of Hire" maxlength="8" class="number" type="text" name="no_of_hires" data-classname="Job_no_of_hires" >
				<span class="error errors_no_of_hires"></span>
                </div>

				<div class="field-row light-blue-box">
					<div class="grid-50 padding-right-5">
					<h3 class="form-label-blue"> Job status </h3>
					<select  name="job_status">
					{% for status in jobstatus %}
                    <option value="{{status.id}}">{{status.status}}</option>
                    {% endfor %}
					</select>
					</div>
					<div class="grid-50 padding-left-5">
					<h3 class="form-label-blue"> Closing date </h3>
					<input placeholder="" class="start-dates" type="text" readonly data-classname="Job_job_close_date" name="job_close_date">
                    <span class="error job_close_date"></span>
				</div>
				</div>
				</div>



		 	</form>
                  </div>
			</div>
              <div class="create-profile-buttons">
                <div class="create-profile-form">
                  <div class="pull-right">
					<a  class="preview">Preview </a>
					<a  onclick="JobPost()" href="#small-dialog">Post Job </a>
					<input value="Cancel" type="button">
                  </div>
                </div>
              </div>

			  			<!-- dailoge-box -->
						<div id="small-dialog-error" class="zoom-anim-dialog mfp-hide small-dialog you-want-continue">
						<form class="text-center">
						<h4>The following fields are not filled</h4>
						<div class="not-filled-list">
							<span id="Job_sub_category" class="errors_popup">Job Sub Category *</span>
                            <span id="Job_skill"  class="errors_popup">Skills *</span>
                            <span id="Job_payment_type"  class="errors_popup">Payment Type *</span>
                            <span id="Job_budget"  class="errors_popup hide" >Budget *</span>
                            <span id="Job_hourly_max"  class="errors_popup hide">Hourly Max *</span>
                            <span id="Job_hourly_min"  class="errors_popup hide">Hourly Min *</span>
                            <span id="Job_duration"  class="errors_popup">Duration Estimated *</span>
                            <span id="Job_no_of_hires"  class="errors_popup">Number of Hire *</span>
                            <span id="Job_job_close_date"  class="errors_popup">Closing date *</span>


						</div>
						<p>Still you want to continue ? </p>
						<div class="field-row">
						<div class="fileld-button">
						<button type="button" onclick="Continue()" class="light-grey-button">Continue</button>
						</div>
						<div class="fileld-button">
						<button type="button" onclick="Close()" class="blue-button">Edit</button>
						</div>
						</div>
						</form>
						</div>
						<!-- dailoge-box -->



              </div>
              </div>
            </div>
            <div class="right-col">
              <div class="view-profile-links">
                <ul>
                  <li class="active">
                    <a href="#overview-cover" data-scroll="overview-cover" class="overview" id="overview">Overview</a>
                  </li>
                  <li class="">
                    <a href="#portfolio-cover" data-scroll="portfolio-cover" class="portfolio">Portfolio</a>
                  </li>
                  <li class="">
                    <a href="#employment-history-cover" data-scroll="employment-history-cover" class="employement-history">Employement History</a>
                  </li>
                  <li class="">
                    <a href="#certifications-cover" data-scroll="certifications-cover" class="certifications">Certifications</a>
                  </li>
                </ul>
              </div>
            </div>
     </div>
    <!--create-profile ends-->
{% endblock %}
{% block extra_js %}
{% include "common/client_profile_script.html" %}
{% include "common/Job_posting_edit_script.html" %}

<script type="text/javascript">
    $(document).ready(function() {

        jobtitlechange();
        var jobdetails ="{% if jobdetails %}{{jobdetails.id}}{% endif %}";

        if(jobdetails){
           $("#job_details").val(jobdetails).change();
        }




        <!--$(".work_category").each(function() {-->

           <!--GetWorkcategory(this);-->
        <!--});-->

    });


    <!--function GetWorkcategory(elm) {-->

        <!--$.ajax({-->
            <!--url: "{% url 'client:clientprofile' %}", // the endpoint-->
            <!--type: "POST", // http method-->
            <!--data: {-->
                <!--method: "get_workcategory",-->
                <!--csrfmiddlewaretoken: '{{ csrf_token }}'-->
            <!--}, // data sent with the post request-->

            <!--// handle a successful response-->
            <!--success: function(responses) {-->
                <!--newOption = '<option value="" >Select Work Category</option>';-->

                <!--$.map(responses, function(item) {-->
                    <!--var select = '';-->
                    <!--console.log($(elm).data('id'));-->
                    <!--if ($(elm).data('id') != 0) {-->
                        <!--if (item.pk == $(elm).data('id')) {-->
                            <!--var select = 'selected="selected"';-->
                        <!--} else {-->
                            <!--var select = '';-->
                        <!--}-->
                    <!--}-->

                    <!--newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.category_title + '</option>';-->

                <!--});-->
                <!--console.log(elm);-->
                <!--$(elm).html(newOption);-->
                <!--Getsubcategory(elm);-->
                <!--GetSkills(elm);-->



            <!--}-->
        <!--});-->

    <!--}-->

    <!--function Getsubcategory(elm) {-->


        <!--var workid = "0";-->
        <!--if ($(elm).val() != '') {-->
            <!--workid = $(elm).val()-->
        <!--}-->

        <!--$.ajax({-->
            <!--url: "{% url 'client:clientprofile' %}", // the endpoint-->
            <!--type: "POST", // http method-->
            <!--data: {-->
                <!--method: "get_worksubcategorys",-->
                <!--csrfmiddlewaretoken: '{{ csrf_token }}',-->
                <!--workid: workid-->
            <!--}, // data sent with the post request-->

            <!--// handle a successful response-->
            <!--success: function(responses) {-->
                <!--newOption = '<option value="0" >Select Sub Category</option>';-->
                <!--if ($(elm).data('type') == '2') {-->
                    <!--classs = 'clone-sec';-->
                <!--} else {-->
                    <!--classs = 'create-profile-form';-->
                <!--}-->
                <!--$.map(responses, function(item) {-->


                    <!--console.log($(elm).closest('.' + classs).find('.sub_category').data('id'));-->
                    <!--if ($(elm).closest('.' + classs).find('.sub_category').data('id') != 0) {-->
                        <!--if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.sub_category').data('id')) > -1) {-->


                            <!--var select = 'selected="selected"';-->
                        <!--} else {-->
                            <!--var select = '';-->
                        <!--}-->
                    <!--}-->


                    <!--newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.sub_category_title + '</option>';-->

                <!--});-->

                <!--$(elm).closest('.' + classs).find('.sub_category').html(newOption);-->
                <!--$(elm).closest('.' + classs).find('.sub_category').select2();-->
                <!--GetSkills(elm);-->




            <!--}-->
        <!--});-->


    <!--}-->

    <!--function GetSkills(elm) {-->

        <!--var workid = "0";-->
        <!--if ($(elm).val() != '') {-->
            <!--workid = $(elm).val()-->
        <!--}-->

        <!--if ($(elm).data('type') == '2') {-->
            <!--classs = 'clone-sec';-->
        <!--} else {-->
            <!--classs = 'create-profile-form';-->
        <!--}-->
        <!--$.ajax({-->
            <!--url: "{% url 'client:clientprofile' %}", // the endpoint-->
            <!--type: "POST", // http method-->
            <!--data: {-->
                <!--method: "get_skillsoptions",-->
                <!--csrfmiddlewaretoken: '{{ csrf_token }}',-->
                <!--subid: workid-->
            <!--}, // data sent with the post request-->

            <!--// handle a successful response-->
            <!--success: function(responses) {-->
                <!--newOption = '<option value="0" >Select skills</option>';-->
                <!--if (responses) {-->
                    <!--$.map(responses, function(item) {-->



                        <!--if ($(elm).closest('.' + classs).find('.skillsoptions').data('id') != 0) {-->
                            <!--if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.skillsoptions').data('id')) > -1) {-->

                                <!--var select = 'selected="selected"';-->
                            <!--} else {-->
                                <!--var select = '';-->
                            <!--}-->
                        <!--}-->

                        <!--newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';-->

                    <!--});-->
                <!--}-->
                <!--$(elm).closest('.' + classs).find('.skillsoptions').html(newOption);-->
                <!--$(elm).closest('.' + classs).find('.skillsoptions').select2();-->

            <!--}-->
        <!--});-->

    <!--}-->

    function jobtitlechange() {

        $("#job_details").change(function() {
            var id = $(this).val();
             $(".body_loader").show();

            $.ajax({
                url: "{% url 'client:clientjobpost' %}", // the endpoint
                type: "POST", // http method
                data: {
                    method: "client_Get_Job",
                    jobid: id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, // data sent with the post request

                // handle a successful response
                success: function(data) {
                    if (data.status == 'failed') {

                    } else {

                        $("#previous_data").html(data.data);

                        $(".work_category").each(function() {



                            GetWorkcategory(this);
                        });
                        ClosingDate();
                        getBudgetTextBox();
                         $(".body_loader").hide();

                    }
                }
            });

        });

    }





</script>
 {% endblock %}