{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<!--create-profile strats-->
<!--create-profile strats-->
<div class="create-profile" id="create-profile">
   <div class="loader">
   </div>
   <div class="container-fluid create-profile-cover view-profil-page-cover">
      <div class="left-coll">
         <!--profile image-->

         {% include "common/client_profile_image.html" %}
         <!--profile image-->
         <div class="client-basic-info">
            <h5>{{request.user.first_name}} {{request.user.last_name}} </h5>
            <p>{{request.user.email}}</p>
         </div>
           <div class="view-the-company">

                     {% if request.user.get_client_company_intance.logo or  request.user.get_client_company_intance.company_name %}
                     <a  href="{% url 'client-company:clientcompanyview' %}" class="view-the-company-link">View the Company<i></i></a>
                     {% else %}
                     <a  href="{% url 'client-company:clientcompany' %}" class="view-the-company-link">Create Company<i></i></a>
                     {% endif %}
           </div>

      </div>
      <div class="center-col" id="tabs">
          {% include "common/message.html" %}
         <div class="create-profile-form-cover">
            <div id="tabs-1" class="form-step step-1">
               <div class="view-profile-cover">
                  <div class="view-profile-cover-inner">
                     <div class="scroll-cover">
                        <section class="profile-introduction view-profile-single-section overview-cover" id="overview-cover" data-anchor="overview-cover">
                        <div class="my-post-jobs-cover load-content">
                           <div class="">
                              <div class="view-profile-single-section-header">
                                 <div class="grid-50">
                                    <h2>My Recent Jobs ({{joblist|length }})</h2>
                                 </div>
                                 <div class="grid-50"><a href="{% url 'client:clientjobpost' %}" class="next-arrow-button pull-right">Post a New Job<i></i></a></div>
                              </div>
                           </div>
                           <!--<div class="portfolio-single-cover post-job">-->
                           <!--<h3 class="sub-heading-arows job-heading">Branding and Social Media and Web content and strategy for HR Coach  </h3>-->
                           <!--<p class="rate-info"> Hourly - Intermediate ($$) - Est. Time: Less than 1 week, 10-30 hrs/week - Posted 1 minute ago </p>-->
                           <!--<p class="description">-->
                           <!--I need someone to help me with branding and social media/marketing to move from employee to self-->
                           <!--employed Coach - I have a website basic framework and have registered my business name and-->
                           <!--have part time clients but still FT employed doing HR work .. <a href="">more</a>-->
                           <!--</p>-->
                           <!--<div class="skills-cover">-->
                           <!--<span class="skill">Photoshop</span>-->
                           <!--<span class="skill">Html</span>-->
                           <!--<span class="skill">illustrator</span>-->
                           <!--<span class="skill">Photoshop</span>-->
                           <!--<span class="skill">Html</span>-->
                           <!--<span class="skill">illustrator</span>-->
                           <!--<span class="skill">Photoshop</span>-->
                           <!--<span class="skill">Html</span>-->
                           <!--<span class="skill">illustrator</span>-->
                           <!--</div>-->
                           <!--<div class="jobs-post-link">-->
                           <!--<a href="" class="hired-freelancers underlined-link">Hired Freelancers <span>(25)</span></a>-->
                           <!--<a href="" class="applied-freelancers underlined-link">Applied Freelancers <span>(16)</span></a>-->
                           <!--<a href="" class="repost-job bordered-link">Repost Job</a>-->
                           <!--<a href="" class="active-job bordered-link">Active</a>-->
                           <!--<a href="" class="deactive-job bordered-link">Deactive</a>-->
                           <!--</div>-->
                           <!--</div>-->
                           <!--<div class="portfolio-single-cover post-job">-->
                           <!--<h3 class="sub-heading-arows job-heading">Branding and Social Media and Web content and strategy for HR Coach  </h3>-->
                           <!--<p class="rate-info"> Hourly - Intermediate ($$) - Est. Time: Less than 1 week, 10-30 hrs/week - Posted 1 minute ago </p>-->
                           <!--<p class="description">-->
                           <!--I need someone to help me with branding and social media/marketing to move from employee to self-->
                           <!--employed Coach - I have a website basic framework and have registered my business name and-->
                           <!--have part time clients but still FT employed doing HR work .. <a href="">more</a>-->
                           <!--</p>-->
                           <!--<div class="skills-cover">-->
                           <!--<span class="skill">Photoshop</span>-->
                           <!--<span class="skill">Html</span>-->
                           <!--<span class="skill">illustrator</span>-->
                           <!--<span class="skill">Photoshop</span>-->
                           <!--<span class="skill">Html</span>-->
                           <!--<span class="skill">illustrator</span>-->
                           <!--<span class="skill">Photoshop</span>-->
                           <!--<span class="skill">Html</span>-->
                           <!--<span class="skill">illustrator</span>-->
                           <!--</div>-->
                           <!--<div class="jobs-post-link">-->
                           <!--<a href="" class="hired-freelancers underlined-link">Hired Freelancers <span>(25)</span></a>-->
                           <!--<a href="" class="applied-freelancers underlined-link">Applied Freelancers <span>(16)</span></a>-->
                           <!--<a href="" class="repost-job bordered-link">Repost Job</a>-->
                           <!--<a href="" class="active-job bordered-link">Active</a>-->
                           <!--<a href="" class="deactive-job bordered-link">Deactive</a>-->
                           <!--</div>-->
                           <!--</div>-->
                           {% for job in joblist %}
                          <div class="portfolio-single-cover post-job">
                          <h3 class="sub-heading-arows job-heading"><a href="{% url 'jobdetails' job.slug %}">{{job.job_title}}</a></h3>
                          <p class="rate-info"> {% if job.payment_type.type %}{{job.payment_type.type}} {% if job.payment_type.id == 2 %}(${{job.budget}} ){% else %} ({% if job.hourly_min %}${{job.hourly_min}}{% else %}$0{%endif %} - {% if job.hourly_max %}${{job.hourly_max}}{% else %}$0{%endif %}){%endif %} -{%endif %}{{job.experiance_level}} {% if job.duration.date_range %}- Est. Time: {{job.duration.date_range}} {% endif %} {% if job.created_date %}- Posted: {{job.created_date}} {% endif %} </p>
                          <p class="description more">
                          {{job.job_description}}
                          </p>
                          <div class="skills-cover">
                               {% for skils in job.job_skills.all %}


                             <span class="skill  {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skils.name}}</span>

                             {% endfor %}
                             {% if job.job_skills.count > 10 %}
                              <a  onclick="Moreskills(this)" class="more">more..</a>
                             {% endif %}

        </div>
        <div class="jobs-post-link">
        <a href="" class="hired-freelancers underlined-link">Hired Freelancers <span>({{job.hire_jobs.count}})</span></a>
        <a href="" class="applied-freelancers underlined-link">Applied Freelancers <span>({{job.applied_jobs.count}})</span></a>
        <a href="{% url 'client:clientjobpost' job.slug %}" class="repost-job bordered-link">Repost Job</a>
        <!--<a href="" class="active-job bordered-link">Active</a>-->
        <!--<a href="" class="deactive-job bordered-link">Deactive</a>-->
        </div>
        </div>


                                 {% empty %}
                           <div class="no-record-cover">
                              <div class="no-record">
                                 <div class="no-record-cover-text">
                                    <p>No Record to show .. </p>
                                     <p><a  href="{% url 'client:clientjobpost' %}" ><span class="add-another add-content" data-clone-tri="1">Post Your First Job</span</a></p>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                           <!--<div class="load-more-cover"> <a href="">Load More</a> </div>-->
                        </div>
                        <section class="featured-freelancers-cover">
                           <div class="view-profile-single-section-header">
                              <div class="grid-50">
                                 <h2>Featured Freelancers (4)</h2>
                              </div>
                              <div class="grid-50"><a href="{% url 'client:searchfreelancer' %}" class="next-arrow-button pull-right">Search Freelancers <i></i></a></div>
                           </div>
                           <div class="clients-comments-cover featured-cover">
                              <div class="grid-50">
                                 <div class="client-comment">
                                    <div class="comments">
                                       <div class="comment-img">
                                          <img src="{% static 'images/profile-image.jpg' %}" alt="">
                                       </div>
                                       <div class="comment-text">
                                          <h3>John Sam Victor</h3>
                                          <span class="rate">$40.00/hr</span>
                                          <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
                                          <p class="location">Convention Center, Cultural Facilities 408 Almaden Blvd.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="grid-50">
                                 <div class="client-comment">
                                    <div class="comments">
                                       <div class="comment-img">
                                          <img src="{% static 'images/profile-image.jpg' %}" alt="">
                                       </div>
                                       <div class="comment-text">
                                          <h3>John Sam Victor</h3>
                                          <span class="rate">$40.00/hr</span>
                                          <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
                                          <p class="location">Convention Center, Cultural Facilities 408 Almaden Blvd.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="grid-50">
                                 <div class="client-comment">
                                    <div class="comments">
                                       <div class="comment-img">
                                          <img src="{% static 'images/profile-image.jpg' %}" alt="">
                                       </div>
                                       <div class="comment-text">
                                          <h3>John Sam Victor</h3>
                                          <span class="rate">$40.00/hr</span>
                                          <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
                                          <p class="location">Convention Center, Cultural Facilities 408 Almaden Blvd.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="grid-50">
                                 <div class="client-comment">
                                    <div class="comments">
                                       <div class="comment-img">
                                          <img src="{% static 'images/profile-image.jpg' %}" alt="">
                                       </div>
                                       <div class="comment-text">
                                          <h3>John Sam Victor</h3>
                                          <span class="rate">$40.00/hr</span>
                                          <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
                                          <p class="location">Convention Center, Cultural Facilities 408 Almaden Blvd.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="load-more-cover"><a href="">Load More</a></div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- right-col for web -->
      <div class="right-col web-view-element">
         <div class="view-profile-links">
            <ul>
               <li>
                  <a href="#overview-cover" class="overview" id="overview">Post Jobs</a>
               </li>
               <li>
                  <a href="#employment-history-cover" data-scroll="employment-history-cover" class="employement-history">Featured Freelancers</a>
               </li>
               <li>
                  <a href="#certifications-cover" data-scroll="certifications-cover" class="certifications">My Recent Jobs</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- right-col for web -->
   </div>
</div>
<!--create-profile ends-->
<!-- skills-cover ends-->

<!-- skills-cover ends-->
{% endblock %}
{% block extra_js %}
{% include "common/client_profile_script.html" %}
<script>
   $(document).ready(function() {

       $(".mobile-menu").click(function() {

           $(".header-elents-cover").slideToggle('fast');
       });

       $(".language-selector").click(function() {
           $(".languages").fadeToggle('fast');
       });

       $('.create-profile').ready(function() {
           $(".loader,.loader-overlay").fadeOut("slow");
       });




       $('.portfolio-image-cover, .certifications-image-cover').magnificPopup({
           delegate: 'a',
           type: 'image',
           closeOnContentClick: false,
           closeBtnInside: false,
           mainClass: 'mfp-with-zoom mfp-img-mobile',
           gallery: {
               enabled: true
           },
           zoom: {
               enabled: true,
               duration: 300, // don't foget to change the duration also in CSS
               opener: function(element) {
                   return element.find('img');
               }
           }

       });

       $('.popup-with-zoom-anim').magnificPopup({
           type: 'inline',

           fixedContentPos: false,
           fixedBgPos: true,

           overflowY: 'auto',

           closeBtnInside: true,
           preloader: false,

           midClick: true,
           removalDelay: 300,
           mainClass: 'my-mfp-zoom-in'
       });


       // Configure/customize these variables.

   });


   function Close() {
       $.magnificPopup.close();
   }


</script>
{% endblock %}