{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<div class="create-profile" id="create-profile">
            <div class="loader">
            </div>
            <div class="container-fluid create-profile-cover">
               <div class="left-coll">
                  <!--profile image-->
                  <form class="forms">
                  <div class="profile-image-cover" >
                    <div id="profile-image">
                     <div class="image-editor profile-image-cover">

                           {% if request.user.client_user_detail.get.profile %}
                           <div class="cropit-preview profile-image" style="background: #eee url('{{request.user.client_user_detail.get.profile.url}}') repeat scroll 0 0; "><div class="loader loader_logo" style="display: none;"></div></div>
                           {% else %}
                           <div class="cropit-preview profile-image" style=" background: rgb(217, 227, 235) url('{% static 'images/no-image.svg'%}') repeat scroll center center / 182px auto;"><div class="loader loader_logo" style="display: none;"></div></div>
                           {% endif %}
                          <div class="crop-actions">
                              <div class="cropit-image-zoom-input-cover">
                                <input type="range" class="cropit-image-zoom-input">
                              </div>
                            <div class="profile-image-actions">
                              <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>
                              {% if  request.user.client_user_detail.get.profile %}
                              <span  onclick="GetValues(this)" data-delete="profile" class="actions delete-photo">Delete Photo</span>
                              {% else %}
								<span  class=" actions delete-photo">Delete Photo</span>

								{% endif %}
                            </div>
                            <div class="profile-image-actions secondary-actions">
                                <span id ="imageField" class="actions delete-photo">Save Photo</span>
                              <span onclick="Cancel(this)" data-cancel="profile" class="actions delete-photo">Cancel Photo</span>

                            </div>
                            </div>
                     </div>
                  </div>
                  <!--profile image-->
                  </div>
                     </form>
                  <!--profile image-->
                  <div class="client-basic-info">
                     <h5>{{request.user.first_name}} {{request.user.last_name}}</h5>
                     <p>{{request.user.email}}</p>
                  </div>
               </div>
               <div class="center-col" id="tabs">
                   {% include "common/message.html" %}
                  <div class="create-profile-form-cover">
                     <div class="scroll-cover">
                        <div id="tabs-2" class="form-step step-2">
                           <!-- top create-profile-buttons -->
                           <div class="create-profile-buttons top-buttons">
                              <div class="create-profile-form">
                                 <div class="pull-right">
                                    <input type="button"  onclick="SaveCompanyDetails()" value="Save"/>
                                    <input type="button"  value="Cancel"/>
                                 </div>
                              </div>
                           </div>
                           <!-- top create-profile-buttons -->
                           <div class="create-profile-form">
                              <div class="">
                                 <form method="post" id="CompanyDetails">
                                    {% csrf_token %}
                                    <input type="hidden" name="method" value="Save_client_company_profile">
                                    <div class="field-row">
                                       <h3 class="form-label-blue">Company Name</h3>
                                       <input placeholder="Your Company Name " type="text" name="company_name" value="{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% endif %}">
                                       <span class="errors_company_name error"></span>
                                    </div>
                                    <div class="field-row">
                                       <h3 class="form-label-blue">Logo</h3>
                                       <!--profile image-->
                                       <div class="profile-image-cover form-image-upload" id="profile-images">
                                          <div class="image-editors profile-image-cover">


                                                {% if request.user.get_client_company_intance.logo %}
                                                <div class="cropit-preview profile-image" style="background: #eee url('{{request.user.get_client_company_intance.logo.url}}') no-repeat scroll 0 0; "><div class="loader company_loader_logo" style="display: none;"></div></div>
                                                {% else %}
                                                <div class="cropit-preview profile-image" style="background: #eee url('{% static 'images/company-logo.jpg' %}') no-repeat scroll 0 0; "><div class="loader company_loader_logo" style="display: none;"></div></div>
                                                {% endif %}
                                                  <div class="crop-actions">
                              <div class="cropit-image-zoom-input-cover">
                                <input type="range" class="cropit-image-zoom-input">
                              </div>
                            <div class="profile-image-actions">
                              <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>
                             {% if request.user.get_client_company_intance.logo %}
                               <span  onclick="GetValues(this)" data-delete="logo" class="actions delete-photo">Delete Photo</span>
                              {% else %}
								<span  class=" actions delete-photo">Delete Photo</span>

								{% endif %}
                            </div>
                            <div class="profile-image-actions secondary-actions">
                              <span onclick="Cancel(this)" data-cancel="logo" class="actions cancel-photo">Cancel Photo</span>
                              <span id ="imageFields" class="actions save-photo">Save Photo</span>
                            </div>
                            </div>
                                          </div>
                                       </div>
                                       <!--profile image-->
                                    </div>
                                    <div class="field-row">
                                       <h3 class="form-label-blue">Brief about the company</h3>
                                       <textarea placeholder="About the company" name="description">{% if request.user.get_client_company_intance.description %} {{request.user.get_client_company_intance.description}}{% endif %}</textarea>
                                    </div>
                                    <div class="field-row">
                                       <h3 class="form-label-blue">Address </h3>
                                       <textarea placeholder="Address" name="address">{% if request.user.get_client_company_intance.address %} {{request.user.get_client_company_intance.address}}{% endif %}</textarea>
                                    </div>
                                    <div class="field-row">
                                       <h3 class="form-label-blue">Phone Number</h3>
                                       <input type="text"  name="phone" placeholder="Phone Number" value="{% if request.user.get_client_company_intance.phone %} {{request.user.get_client_company_intance.phone}}{% endif %}"/>
                                    <span class="errors_phone error"></span>
                                    </div>
                                 </form>
                              </div>
                           </div>
                           <!--create-profile-buttons-->
                           <div class="create-profile-buttons">
                              <div class="create-profile-form">
                                 <div class="pull-right">
                                    <input type="button"  onclick="SaveCompanyDetails()" value="Save"/>
                                    <input type="button"  value="Cancel"/>
                                 </div>
                              </div>
                           </div>
                           <!--create-profile-buttons-->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="right-col">
                  <div class="invite-freenlancers">
                     <h2>Invited Associates</h2>
                     <div class="invited-row">
                        <div class="invited-freenlancers-image image-space">
                           <img src="{% static 'images/no-image.svg' %}" alt="">
                        </div>
                        <div class="invited-freenlancers-info">
                           <h5>Vinu John <span>Freenlancers</span></h5>
                           <p>vinu.jhnon@gmail.com</p>
                        </div>
                     </div>
                     <div class="invited-row">
                        <div class="invited-freenlancers-image image-space">
                           <img src="{% static 'images/no-image.svg' %}" alt="">
                        </div>
                        <div class="invited-freenlancers-info">
                           <h5>Vinu John <span>Freenlancers</span></h5>
                           <p>vinu.jhnon@gmail.com</p>
                        </div>
                     </div>
                     <div class="invited-row">
                        <div class="invited-freenlancers-image image-space">
                           <img src="{% static 'images/no-image.svg' %}" alt="">
                        </div>
                        <div class="invited-freenlancers-info">
                           <h5>Vinu John <span>Freenlancers</span></h5>
                           <p>vinu.jhnon@gmail.com</p>
                        </div>
                     </div>
                     <div class="invited-row">
                        <div class="invited-freenlancers-image image-space">
                           <img src="{% static 'images/no-image.svg' %}" alt="">
                        </div>
                        <div class="invited-freenlancers-info">
                           <h5>Vinu John <span>Freenlancers</span></h5>
                           <p>vinu.jhnon@gmail.com</p>
                        </div>
                     </div>
                     <div class="invited-row">
                        <div class="invited-freenlancers-image image-space">
                           <img src="{% static 'images/no-image.svg' %}" alt="">
                        </div>
                        <div class="invited-freenlancers-info">
                           <h5>Vinu John <span>Freenlancers</span></h5>
                           <p>vinu.jhnon@gmail.com</p>
                        </div>
                     </div>
                     <div class="invited-row">
                        <div class="invited-freenlancers-image image-space">
                           <img src="{% static 'images/no-image.svg' %}" alt="">
                        </div>
                        <div class="invited-freenlancers-info">
                           <h5>Vinu John <span>Freenlancers</span></h5>
                           <p>vinu.jhnon@gmail.com</p>
                        </div>
                     </div>
                     <div class="invited-row">
                        <div class="invited-freenlancers-image image-space">
                           <img src="{% static 'images/no-image.svg' %}" alt="">
                        </div>
                        <div class="invited-freenlancers-info">
                           <h5>Vinu John <span>Freenlancers</span></h5>
                           <p>vinu.jhnon@gmail.com</p>
                        </div>
                     </div>
                  </div>
                  <div class="view-the-company">
                     <a href="" class="view-the-company-link">Invite Freelance Associates<i></i></a>
                  </div>
               </div>
            </div>
    <div id="small-dialog_delete_image" class="zoom-anim-dialog mfp-hide small-dialog">
                                       <div class="delete-confirmation delete-msg_image">
                                          <h3>Delete Section</h3>
                                          <p>Are you sure want to delete this image</p>

                                          <input type="hidden" id ="typeimage">
                                          <a onclick="Delete()" class="yes">Ok</a>
                                          <a onclick="Close()" class="cancel">Cancel</a>
                                       </div>
                                       <div id="delete-msg_image" class="delete-confirmation hide">
                                          <h3>Delete Section</h3>
                                          <p>Successfully Deleted</p>
                                       </div>
                                    </div>
         </div>
{% endblock %}

{% block extra_js %}
{% include "common/client_profile_script.html" %}
<script>
         $(document).ready(function() {


       $(".help-accordion").accordion({
           heightStyle: "content",
           collapsible: true
       });



       $(".mobile-menu").click(function() {
           $(".header-elents-cover").slideToggle('fast');
       });

       $(".language-selector").click(function() {
           $(".languages").fadeToggle('fast');
       });

       $('.create-profile').ready(function() {
           $(".loader,.loader-overlay").fadeOut("slow");
       });

       $(".form-section-row .form-label-blue").click(function() {
           $(this).next().slideToggle("");
           $(this).toggleClass("open");
       });

       $(".clone-close").click(function() {
           $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
               $(this).remove();
           });

       });




       $('.forms').submit(function() {
           <!--// Move cropped image data to hidden input-->
           <!--var imageData = $('.image-editor').cropit('export');-->
           <!--$('.hidden-image-data').val(imageData);-->

           <!--// Print HTTP request params-->
           <!--var formValue = $(this).serialize();-->
           <!--$('#result-data').text(formValue);-->

           <!--// Prevent the form from actually submitting-->
           <!--return false;-->
           var imageData = $('.image-editor').cropit('export');
           $.ajax({
               url: "{% url 'client:clientprofile' %}", // the endpoint
               type: "POST", // http method
               data: {
                   method: "client_image_save",
                   freelancer_image: imageData,
                   csrfmiddlewaretoken: '{{ csrf_token }}'
               }, // data sent with the post request

               // handle a successful response
               success: function(data) {
                   if (data.status == 'failed') {

                   } else {
                       var path = data.data;


                       $("#profile-image").html(data.html);
                       $('.image-editor').cropit();
                       SaveClientProfile();


                   }
               }
           });

       });

       SaveCompanyLogo();
       SaveClientProfile();
   });

   function SaveClientProfile() {
       $("#imageField").click(function() {
          $(".loader_logo").show();
           var imageData = $('.image-editor').cropit('export');
           $.ajax({
               url: "{% url 'client:clientprofile' %}", // the endpoint
               type: "POST", // http method
               data: {
                   method: "client_image_save",
                   freelancer_image: imageData,
                   csrfmiddlewaretoken: '{{ csrf_token }}'
               }, // data sent with the post request

               // handle a successful response
               success: function(data) {
                    $(".loader_logo").hide();
                   if (data.status == 'failed') {

                   } else {
                       var path = data.data;


                       $("#profile-image").html(data.html);
                       $('.image-editor').cropit();
                       SaveClientProfile();


                   }
               }
           });
       });
   }

   function SaveCompanyLogo() {
       $("#imageFields").click(function() {
           $(".company_loader_logo").show();
           var imageData = $('.image-editors').cropit('export');
           $.ajax({
               url: ".", // the endpoint
               type: "POST", // http method
               data: {
                   method: "client_company_image_save",
                   freelancer_image: imageData,
                   csrfmiddlewaretoken: '{{ csrf_token }}'
               }, // data sent with the post request

               // handle a successful response
               success: function(data) {
                   $(".company_loader_logo").show();
                   if (data.status == 'failed') {

                   } else {
                       var path = data.data;


                       $("#profile-images").html(data.html);
                       <!--$('.profileupdated').css({'background': 'url("'+path+'")  0px 0px repeat scroll 0 0;'});-->

                       <!--&lt;!&ndash;$("#profile-images").html('<div class="cropit-preview profile-image  profileupdated" ><div class="cropit-preview-image-container" style="position: absolute; overflow: hidden; left: 0px; top: 0px; width: 100%; height: 100%;"><img class="cropit-preview-image" alt="" style="transform-origin: left top 0px; will-change: transform;"></div></div><div class="cropit-image-zoom-input-cover"><input type="range" class="cropit-image-zoom-input" min="0" max="1" step="0.01"></div>');&ndash;&gt;-->
                       <!--$('.profileupdated').css({'background': 'url("'+path+'")  0px 0px repeat scroll rgb(238, 238, 238)' ,'position': 'relative','width': '150px','height':'150px'});-->

                       $('.image-editors').cropit();
                       console.log("Crop")
                       SaveCompanyLogo();

                   }
               }
           });
       });
   }

   function SaveCompanyDetails() {

       $.ajax({
           url: ".", // the endpoint
           type: "POST", // http method
           data: $('#CompanyDetails').serialize(), // data sent with the post request

           // handle a successful response
           success: function(data) {
               if (data.status == 'failed') {
                   $(".error").hide();
                   $.each(data.data, function(index, value) {
                       $(".errors_" + index).show();
                       $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                       console.log("#errors_" + index);

                       //$(".errors_"+index).delay(5500).fadeOut('slow');

                   });

               } else {
                   $(".error").hide();
                   var text = "Successfully Updated";

                   localStorage.setItem('status_msg_company', 'true');
                   DisplayMessage('success', text);
                   setTimeout(function() {


                       window.location.href = "{% url 'client-company:clientcompanyview' %}";

                   }, 3000);


                   <!--$("#success").show();-->
                   <!--$('#ui-id-2').click();-->

                   <!--$("#success").html(data.message);-->

                   <!--$("#success").delay(5500).fadeOut('slow');-->
               }
           }
       });
   }

   function Cancel(elm) {

       $.ajax({
           url: "{% url 'client:clientprofile' %}", // the endpoint
           type: "POST", // http method
           data: {
               method: 'Cancel_image',
               type: $(elm).data('cancel'),
               csrfmiddlewaretoken: '{{ csrf_token }}'
           }, // data sent with the post request

           // handle a successful response
           success: function(data) {
               if (data.status == 'failed') {
                   $(".error").hide();


               } else {

                   if ($(elm).data('cancel') == 'profile') {
                       $("#profile-image").html(data.html);
                       $('.image-editor').cropit();
                       SaveClientProfile();
                   } else {
                       $("#profile-images").html(data.html);
                       $('.image-editors').cropit();
                       SaveCompanyLogo();
                   }




               }
           }
       });

   }

   function Delete() {
       $.ajax({
           url: "{% url 'client:clientprofile' %}", // the endpoint
           type: "POST", // http method
           data: {
               method: 'Delete_image',
               type: $("#typeimage").val(),
               csrfmiddlewaretoken: '{{ csrf_token }}'
           }, // data sent with the post request

           // handle a successful response
           success: function(data) {
               if (data.status == 'failed') {
                   $(".error").hide();


               } else {

                   $.magnificPopup.close();

                   if ($("#typeimage").val() == 'profile') {
                       $("#profile-image").html(data.html);
                       $('.image-editor').cropit();
                       SaveClientProfile();
                   } else {
                       $("#profile-images").html(data.html);
                       $('.image-editors').cropit();
                       SaveCompanyLogo();
                   }




               }
           }
       });


   }

   function GetValues(elm) {
       var title = $(elm).data("delete");
       $('#typeimage').val(title);
       $.magnificPopup.open({
           items: {
               src: '#small-dialog_delete_image'
           }
       });

   }
      </script>
{% endblock %}