{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<!--create-profile strats-->
         <div class="create-profile" id="create-profile">
            <div class="loader">
            </div>
            <div class="container-fluid create-profile-cover">
               <div class="left-coll">
                  <!--profile image-->
                   {% include "common/client_profile_image.html" %}
                  <!--profile image-->
                  <div class="client-basic-info">
                     <h5>{{request.user.first_name}} {{request.user.last_name}}</h5>
                     <p> {{request.user.email}}</p>
                  </div>
                    <div class="view-the-company">


                     <a  href="{% url 'client:clientprofile' %}" class="view-the-company-link">View Client Account<i></i></a>

                 </div>
               </div>
               <div class="center-col" id="tabs">
                   {% include "common/message.html" %}
                  <div class="create-profile-form-cover">
                     <div class="scroll-cover">
                        <div id="tabs-2" class="form-step step-2">
                           <div class="client-company-profile-view">
                              <div class="client-company-profile-cover">
                                 <div class="client-company-profile-inner-cover">
                                    <!--company logo image-->
                                     {% include "common/client_company_image.html" %}
                                    <!--company logo image-->
                                    <h1>{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% else %}Company Name{% endif %}</h1>
                                    <div class="action-cover">
                                          <a class="popup-with-zoom-anim edit-button" href="#small-dialog">Edit</a>
                                       </div>
                                     <div class="contact-address">
                                       <p> {% if request.user.get_client_company_intance.address %} +{{request.user.get_client_company_intance.address}}{% else %}Address{% endif %}
                                          .
                                       </p>
                                    </div>
                                    <div class="contact-number">
                                       <p> {% if request.user.get_client_company_intance.phone %} +{{request.user.get_client_company_intance.phone}}{% else %}Phone Number{% endif %}
                                       </p>
                                    </div>
                                    <div class="description">
                                       <p class="more">
                                          {% if request.user.get_client_company_intance.description %} {{request.user.get_client_company_intance.description}}{% else %}Brief about the company{% endif %}
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="right-col">
                  <!--<div class="invite-freenlancers">-->
                     <!--<h2> Invited Team Members</h2>-->

                     <!--{% for invite in request.user.get_client_company_intance.invited_client_company_id.all  %}-->
                  <!--{% if invite.user.is_active == True %}-->
                   <!--<div class="invited-row">-->
                     <!--<div class="invited-freenlancers-image image-space">-->
                       <!--<img src="{% static 'images/no-image.svg' %}" alt="">-->
                     <!--</div>-->
                     <!--<div class="invited-freenlancers-info">-->
                         <!--<h5>{{invite.user.first_name}} {{invite.user.last_name}} <span>Client</span></h5>-->
                         <!--<p>{{invite.user.email}}</p>-->
                     <!--</div>-->
                      <!--</div>-->
               <!--{% endif %}-->
                      <!--{% endfor %}-->

                     <!--<div class="action-bar">-->
    <!--<a href="" class="nex">Next &gt; </a>-->
    <!--<a href="" class="prev"> &lt; Prev</a>-->
<!--</div>-->
                  <!--</div>-->
                  <!--<div class="view-the-company">-->
                     <!--<a  class="view-the-company-link popup-with-zoom-anim " href="#small-dialog_invite">Invite Client Associates<i></i></a>-->
                  <!--</div>-->


                   <div class="invite-freenlancers">
              <section id="demos">
              <div class="row">
                <div class="large-12 columns">
                <h2 id="teammembers">Team Members ({{request.user.get_client_company_intance.invited_client_company_id.count}})</h2>
                <input type="text" id="target" class="team-member-serach" placeholder="Search Here..">
                <input type="button" class="team-member-serach-button">
                <div id="invitedUser"></div>
                </div>
              </div>
              </section>

              <div class="view-the-company">
                <a class="view-the-company-link popup-with-zoom-anim " onclick="HideErrors()" href="#small-dialog_invite">Invite Team Members<i></i></a>
              </div>


          </div>
               </div>



            </div>
         </div>
         <!--create-profile ends-->
         <!-- dailoge-box -->
         <div id="small-dialog" class="zoom-anim-dialog mfp-hide small-dialog">
            <form method="post" id="CompanyDetails">
               {% csrf_token %}
               <input type="hidden" name="method" value="Save_client_company_profile">
               <div class="field-row">
                  <h3 class="form-label-blue">Company Name</h3>
                  <input placeholder="Your Company Name " type="text" name="company_name" value="{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% endif %}">
                  <span class="errors_company_name error"></span>
               </div>
               <!--<div class="field-row">-->
               <!--<h3 class="form-label-blue">Logo</h3>-->
               <!--&lt;!&ndash;profile image&ndash;&gt;-->
               <!--<div class="profile-image-cover form-image-upload" id="profile-images">-->
               <!--<div class="image-editors profile-image-cover">-->
               <!--<div >-->
               <!--{% if request.user.get_client_company_intance.logo %}-->
               <!--<div class="cropit-preview profile-image" style="background: #eee url('{{request.user.get_client_company_intance.logo.url}}') repeat scroll 0 0; "></div>-->
               <!--{% else %}-->
               <!--<div class="cropit-preview profile-image" style="background: #eee url('{% static 'images/company-logo.jpg' %}') repeat scroll 0 0; background-size: 100%; "></div>-->
               <!--{% endif %}-->
               <!--<div class="cropit-image-zoom-input-cover">-->
               <!--<input type="range" class="cropit-image-zoom-input">-->
               <!--</div>-->
               <!--</div>-->
               <!--<div class="profile-image-actions">-->
               <!--<span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>-->
               <!--<span id="imageFields"  class="actions delete-photo">Save Photo</span>-->
               <!--</div>-->
               <!--</div>-->
               <!--</div>-->
               <!--&lt;!&ndash;profile image&ndash;&gt;-->
               <!--</div>-->
               <div class="field-row">
                  <h3 class="form-label-blue">Brief about the company</h3>
                  <textarea placeholder="About the company" name="description">{% if request.user.get_client_company_intance.description %} {{request.user.get_client_company_intance.description}}{% endif %}</textarea>
               </div>
               <div class="field-row">
                  <h3 class="form-label-blue">Address </h3>
                  <textarea placeholder="Address" name="address">{% if request.user.get_client_company_intance.address %} {{request.user.get_client_company_intance.address}}{% endif %}</textarea>
               </div>
               <div class="field-row">
                  <h3 class="form-label-blue">Phone Number</h3>
                  <input type="text"  name="phone" placeholder="Phone Number" value="{% if request.user.get_client_company_intance.phone %} {{request.user.get_client_company_intance.phone}}{% endif %}"/>
                 <span class="errors_phone error"></span>
                </div>
               <div class="field-row">
                  <div class="grid-20 padding-right-5">
                     <button type="button" class="blue-button"onclick="SaveCompanyDetails()">Save</button>
                  </div>
                  <div class="grid-20 padding-left-5">
                     <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                  </div>
               </div>
            </form>
         </div>
         <!-- dailoge-box ends-->
         <div id="small-dialog_invite" class="invite-popup zoom-anim-dialog mfp-hide small-dialog">
            <form method="post" id="invite_users">
               {% csrf_token %}
            <div class="field-row">
               <h3 class="form-label-blue">Email</h3>
               <input id="email" data-name="Email" name="email" placeholder="Email" type="text">

               <span class="error_msgs"></span>
               <input type="hidden" value="invite_user" name="method">
            </div>
            <div class="field-row">
               <h3 class="form-label-blue">Role</h3>
               <div class="grid-20">
                  <label class="radio inline-cover">
                  <input  name="role_type" class="role_type" data-name="Role Type" value="Admin" type="radio">

                  <span>Admin</span>
                  </label>
                  <span class="error_msgs"></span>
               </div>
               <div class="grid-20">
                  <label class="radio inline-cover">
                  <input name="role_type"  class="role_type" value="Staff" type="radio">
                  <span>Staff</span>
                  </label>
               </div>
            </div>
            <div class="field-row form-button-field">
                <div class="grid-20 padding-right-5">
               <button type="button" onclick="InviteUser()" class="blue-button">Invite</button>
                </div>
                <div class="grid-20 padding-right-5">
               <button type="button" onclick="Close()" class="blue-button-bordererd">Cancel</button>
                </div>
            </div>
               </form>



              </div>
<a class="popup-with-zoom-anim edit-button small-dialog_invite_update hide "  href="#small-dialog_invite_update">Edit</a>
 <div id="small-dialog_invite_update" class="invite-popup zoom-anim-dialog mfp-hide small-dialog">

 </div>
<a class="popup-with-zoom-anim edit-button account_activations hide"    href="#small-dialog_activation">Edit</a>

<!-- skills-cover ends--> <!-- skills-cover ends-->
<div id="small-dialog_activation" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
      <h3 id="activation">Activate Section</h3>
      <p>Are you sure want to <span id="activation_text">activate</span> this user </p>
      <input type="hidden" id="roleids" >
      <input type="hidden" id ="textids">
      <input type="hidden" id ="rolestatus">
      <a  class="yes UpdateActivation">Ok</a>
      <a onclick="Close()" class="cancel">Cancel</a>
   </div>

</div>
{% endblock %}

{% block extra_js %}
 {% include "common/client_profile_script.html" %}
<script>
         $(document).ready(function() {
     $(window).keydown(function(event) {
         if (event.keyCode == 13) {
             event.preventDefault();
             return false;
         }
     });
     $("#target").on('keyup change', function() {
         var search = $(this).val();

         GetInvitedMembers('1', search);

     });
     GetInvitedMembers('1', $("#target").val());
     NextPrevious();
     $('#email').blur(function() {
         var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
         if (!ValidateEmail($("#email").val()) || $(this).val() == '') {
             $(this).next('span.error_msgs').addClass('check_errors');
             $(this).next('span.error_msgs').html('<ul class="errorlist"><li>Enter Valid ' + $(this).data("name") + ' </li></ul>');

         } else {
             $(this).next('span.error_msgs').html('');
             $(this).next('.error_msgs').removeClass('check_errors');

         }

     });



     $('.portfolio-image-cover, .certifications-image-cover').magnificPopup({
         delegate: 'a',
         type: 'image',
         closeOnContentClick: false,
         closeBtnInside: false,
         mainClass: 'mfp-with-zoom mfp-img-mobile',
         gallery: {
             enabled: true
         },
         zoom: {
             enabled: true,
             duration: 300, // don't foget to change the duration also in CSS
             opener: function(element) {
                 return element.find('img');
             }
         }

     });

     $('.popup-with-zoom-anim').magnificPopup({
         type: 'inline',

         fixedContentPos: false,
         fixedBgPos: true,

         overflowY: 'auto',

         closeBtnInside: true,
         preloader: false,

         midClick: true,
         removalDelay: 300,
         mainClass: 'my-mfp-zoom-in'
     });

     $('.popup-with-move-anim').magnificPopup({
         type: 'inline',

         fixedContentPos: false,
         fixedBgPos: true,

         overflowY: 'auto',

         closeBtnInside: true,
         preloader: false,

         midClick: true,
         removalDelay: 300,
         mainClass: 'my-mfp-slide-bottom'
     });

     $(".help-accordion").accordion({
         heightStyle: "content",
         collapsible: true
     });



     $(".mobile-menu").click(function() {
         $(".header-elents-cover").slideToggle('fast');
     });

     $(".language-selector").click(function() {
         $(".languages").fadeToggle('fast');
     });

     $('.create-profile').ready(function() {
         $(".loader,.loader-overlay").fadeOut("slow");
     });

     $(".form-section-row .form-label-blue").click(function() {
         $(this).next().slideToggle("");
         $(this).toggleClass("open");
     });

     $(".clone-close").click(function() {
         $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
             $(this).remove();
         });

     });

     ChangeRole();
     UpdateInviteUser();
     ChangeActive();
     UpdateActivation();
 });


 function Close() {
     $.magnificPopup.close();
 }

 function SaveCompanyDetails() {

     $.ajax({
         url: "{% url 'client-company:clientcompany' %}", // the endpoint
         type: "POST", // http method
         data: $('#CompanyDetails').serialize(), // data sent with the post request

         // handle a successful response
         success: function(data) {
             if (data.status == 'failed') {
                 $(".error").hide();
                 $.each(data.data, function(index, value) {
                     $(".errors_" + index).show();
                     $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                     console.log("#errors_" + index);

                     //$(".errors_"+index).delay(5500).fadeOut('slow');

                 });

             } else {
                 <!--alert("Sucess");-->
                 $(".error").hide();

                 //window.location.href = "{% url 'client-company:clientcompanyview' %}";
                 var text = "Successfully Updated";
                 Close();
                 localStorage.setItem('status_msg', 'true');
                 location.reload();

             }
         }
     });
 }

 function InviteUser() {
     $('#email').blur();
     if (!$(".role_type").is(':checked')) {

         $(".role_type").parent().next('span.error_msgs').addClass('check_errors');
         $(".role_type").parent().next('span.error_msgs').html('<ul class="errorlist"><li>Select  ' + $(".role_type").data("name") + ' </li></ul>');
     } else {
         $(".role_type").parent().next('span.error_msgs').html('');
         $(".role_type").parent().next('span.error_msgs').removeClass('check_errors');
     }
     localStorage.setItem('status_save', $("span.error_msgs").hasClass("check_errors"));
     if (localStorage.getItem('status_save') == 'false') {
         $.ajax({
             url: ".", // the endpoint
             type: "POST", // http method
             data: $('#invite_users').serialize(), // data sent with the post request

             // handle a successful response
             success: function(data) {
                 if (data.status == 'failed') {

                     $(".error").hide();
                     $.magnificPopup.close();
                     var text = data.message;
                     localStorage.setItem('status_msg_company', 'true');
                     DisplayMessage('failed', text);
                     $('#invite_users')[0].reset();


                 } else {
                     // alert("Sucess");
                     $(".error").hide();

                     //window.location.href = "{% url 'client-company:clientcompanyview' %}";
                     var text = "Invitation Mail Sent Successfully!";
                     Close();
                     localStorage.setItem('status_msg_company', 'true');

                 }
             }
         });
     }

 }

 function ValidateEmail(email) {
     var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
     return expr.test(email);
 };



 function GetInvitedMembers(page_by, search) {
     $.ajax({
         url: "{% url 'client-company:invitedlist' %}", // the endpoint
         type: "POST", // http method
         data: {
             method: 'Get_Invited_Members',
             page_by: page_by,
             search: search,
             csrfmiddlewaretoken: '{{ csrf_token }}'
         }, // data sent with the post request

         // handle a successful response
         success: function(data) {

             $('#invitedUser').html(data.paginator_html);
             $('#teammembers').html("Team Members (" + data.count + ")");
             NextPrevious();
         }
     });


 }

 function NextPrevious() {
     $(".paginate_bys").click(function() {

         var page_by = $(this).data('attr');


         GetInvitedMembers(page_by, $("#target").val());

     });
 }

 function ChangeRole() {
     $(document).on('click', '.ChangeRole', function() {
         var roleid = $(this).attr('data-roleid');
         $.ajax({
             url: ".", // the endpoint
             type: "POST", // http method
             data: {
                 method: 'ChangeRole',
                 roleid: roleid,
                 csrfmiddlewaretoken: '{{ csrf_token }}'
             }, // data sent with the post request

             // handle a successful response
             success: function(data) {

                 $('#small-dialog_invite_update').html(data.html);
                 $('.small-dialog_invite_update').click();

             }
         });


     });
 }

 function UpdateInviteUser() {
     $(document).on('click', '#UpdateInviteUser', function() {
         $('#email').blur();
         if (!$(".role_type").is(':checked')) {

             $(".role_type").parent().next('span.error_msgs').addClass('check_errors');
             $(".role_type").parent().next('span.error_msgs').html('<ul class="errorlist"><li>Select ' + $(".role_type").data("name") + ' </li></ul>');
         } else {
             $(".role_type").parent().next('span.error_msgs').html('');
             $(".role_type").parent().next('span.error_msgs').removeClass('check_errors');
         }


         localStorage.setItem('status_save', $("span.error_msgs").hasClass("check_errors"));
         if (localStorage.getItem('status_save') == 'false') {

             $.ajax({
                 url: ".", // the endpoint
                 type: "POST", // http method
                 data: $('#update_invite_users').serialize(), // data sent with the post request

                 // handle a successful response
                 success: function(data) {
                     if (data.status == 'failed') {
                         $(".error").hide();
                         $.magnificPopup.close();
                         var text = "error";
                         localStorage.setItem('status_msg_company', 'true');
                         DisplayMessage('failed', text);



                     } else {
                         //alert("Sucess");
                         $(".error").hide();

                         //window.location.href = "{% url 'client-company:clientcompanyview' %}";
                         var text = "Role Changed Successfully";
                         Close();
                         localStorage.setItem('status_msg_company', 'true');
                         DisplayMessage('success', text);




                     }
                 }
             });
         }
     });
 }
     function ChangeActive() {
        $(document).on('click', '.ChangeActive', function() {
            var roleid = $(this).attr('data-roleid');
            var textid = $(this).attr('data-textid');
            $("#roleids").val('0');
            $("#textids").val('0');
            $("#roleids").val(roleid);
            $("#textids").val(textid);
            $("#rolestatus").val($(this).attr('data-activation'));

            if($(this).attr('data-activation') == 'true'|| $(this).attr('data-activation') == 'True'){
               $("#activation").html('Deactivate Section');
               $("#activation_text").html('deactivate');
            }if($(this).attr('data-activation') == 'false' || $(this).attr('data-activation') == 'False'){
               $("#activation").html('Activate Section');
               $("#activation_text").html('activate');
            }
            $(".account_activations").click();



        });
    }
    function UpdateActivation(){
        $(document).on('click', '.UpdateActivation', function() {
           $.ajax({
                   url: ".", // the endpoint
                   type: "POST", // http method
                   data: {
                       method: 'ChangeDectivation',
                       roleid: $("#roleids").val(),rolestatus: $("#rolestatus").val(),
                       csrfmiddlewaretoken: '{{ csrf_token }}'
                   }, // data sent with the post request

                   // handle a successful response
                   success: function(data) {

                        if (data.status == 'failed') {


                               var text = "error";
                               localStorage.setItem('status_msg_company', 'true');
                               DisplayMessage('failed', text);



                           } else {

                               $(".error").hide();
                               var textids =$("#textids").val();
                               $("#"+textids).attr("data-activation", data.data);
                               $("#"+textids).text(data.type);


                               var text = "Updated Successfully";
                               Close();
                               localStorage.setItem('status_msg_company', 'true');
                               DisplayMessage('success', text);




                           }

                   }
           });
        });

    }
</script>

{% endblock %}