{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
 <!--create-profile strats-->
    <div class="create-profile" id="create-profile">
    {% include "common/loader.html" %}
          <div class="container-fluid create-profile-cover view-profil-page-cover">
            <div class="left-coll">
              <!--profile image-->
                {% include "common/client_profile_image.html" %}

              <!--profile image-->

         <!--profile image-->
         <div class="client-basic-info">
            <h5>{{request.user.first_name}} {{request.user.last_name}} </h5>
            <p>{{request.user.email}}</p>
         </div>
            </div>

            <div class="center-col ui-tabs ui-corner-all ui-widget ui-widget-content" id="tabs">
                {% include "common/message.html" %}
              <div class="create-profile-form-cover">

              <div class="scroll-cover">


              <div class="create-profile-form" >


                  <div id="previous_data">

			<form id="JobPosts" >
              {% csrf_token %}



              <div class="field-row">
                <h3 class="form-label-blue">Job Title</h3>
                <input placeholder="Type Your Job"  maxlength="50" data-classname="JobTitle" type="text"  value="{% if jobdetails.job_title %}{{jobdetails.job_title}}{% endif %}" name="job_title">
                  <input type="hidden" name="method" data-classname="Jobmethod" value="Edit_job">
                  <input type="hidden" name="id"  value="{{jobdetails.id}}">
                  <input type="hidden" name="errors_valid" data-classname="Joberrors_valid" id ="errors_valid" value="0">
                  <span class="error errors_job_title"></span>
              </div>

              <div class="field-row">
                <h3 class="form-label-blue">Describe about job</h3>
                <textarea placeholder="Type Your Job" data-classname="Joberrors_valid" name="job_description"> {% if jobdetails.job_description %}{{jobdetails.job_description}}{% endif %}</textarea>
                <span class="error errors_job_description"></span>
              </div>

              <div class="field-row">

                <h3 class="form-label-blue">Job Category</h3>
                <select class="work_category" name="job_main_category" data-classname="Joberrors_valid" data-type="1" data-id="{% if jobdetails.job_main_category%}[{{jobdetails.job_main_category.id}}]{% else %}[0]{%endif%}" onchange="Getsubcategory(this)">
                  <option> Select an option </option>
                  <option> Select an option </option>
                  <option> Select an option </option>
                </select>
                  <span class="error errors_job_main_category"></span>
              </div>

              <div class="field-row">
                   {% create_an_array jobdetails.job_sub_category.all as variable %}

                <h3 class="form-label-blue">Sub Categories</h3>
                 <select name="job_sub_category"  multiple="multiple" data-classname="Job_sub_category" class="sub_category " data-type="1" data-id="{{variable}}">

                </select>
                  <span class="error errors_job_sub_category"></span>
              </div>

              <div class="field-row">
                   {% create_an_array jobdetails.job_skills.all as variable %}

                <h3 class="form-label-blue">Skills needed</h3>
                <select  multiple="multiple" name="job_skills" data-classname="Job_skill" class="skillsoptions" data-type="1" data-id="{{variable}}">

                </select>
              </div>

              <div class="field-row">
              <h3 class="form-label-blue">How will you pay ? (Type)</h3>
              <div class="grid-50 padding-right-10">
                <select id="pay-type-selector" data-classname="Job_payment_type" name="payment_type">
				   <option value=""> Select Payment Type </option>
                  {% for type in Payment_type %}
                        <option {% if jobdetails.payment_type == type %}selected{% endif %} value="{{type.id}}">{{type.type}}</option>
                        {% endfor %}
                </select>
              </div>
              </div>

				<div class="field-row">

				<div class="grid-50 padding-right-10 amount-type-fields budget2 hidefilds" {% if  jobdetails.payment_type.id == 1 %} style="display:none;"{%else %}"g" {% endif %}>
					<h3 class="form-label-blue">Budget</h3>
					<input placeholder="Enter Your Budget" class="number" data-names="Budget" data-classname="Job_budget" value="{% if jobdetails.budget %}{{jobdetails.budget}}{% endif %}" type="{% if jobdetails.payment_type.id == 2 %}text{% else %}hidden{% endif%}" name="budget">
				    <span class="error errors_budget"></span>
                </div>

				<div class="grid-50 padding-right-10 amount-type-fields budget1 hidefilds" id="per hour" {% if  jobdetails.payment_type.id == 2 %}style="display:none;" {%else %}"g" {% endif %}>
					<h3 class="form-label-blue">Hourly Rate:</h3>
					<div class="min-max amount-value">
					<div class="grid-45">
					<input placeholder="Min" type="{% if jobdetails.payment_type.id == 1 %}text{% else %}hidden{% endif%}"  maxlength="8" class="number" data-names="hourly min"  value="{% if jobdetails.hourly_min %}{{jobdetails.hourly_min}}{% endif %}" name="hourly_min" data-classname="Job_hourly_min" >
					 <span class="error errors_hourly_min"></span>
                    </div>
					<div class="grid-10"><span>-</span></div>
					<div class="grid-45">
					<input placeholder="Max" type="{% if jobdetails.payment_type.id == 1 %}text{% else %}hidden{% endif %}"  maxlength="8"  value="{% if jobdetails.hourly_max %}{{jobdetails.hourly_max}}{% endif %}" class="number"  name="hourly_max" data-classname="Job_hourly_max" >
					<span class="error errors_hourly_max"></span>
                    </div>
					</div>
				</div>

				<div class="grid-50 padding-left-0">
				<h3 class="form-label-blue">Duration Estimated</h3>
				<select  name="duration" data-classname="Job_duration" >
                     <option value=""> Select Duration </option>
				{% for duration_date in duration %}
                    <option {% if jobdetails.duration.id == duration_date.id %}selected{% endif %} value="{{duration_date.id}}">{{duration_date.date_range}}</option>
                {% endfor %}

				</select>
				</div>
				</div>

				<div class="field-row">
				<div class="grid-50 padding-right-10">
				<h3 class="form-label-blue">Experience Level</h3>
				<div class="field-row experience-level-cover">
				<div class="grid-33">
				<label class="radio inline-cover">
				<input name="experiance_level" {% if jobdetails.experiance_level == 'FRESHER' %}checked{% endif %}  value="FRESHER"  checked type="radio">
				<span> Fresher </span>
				</label>
				</div>
				<div class="grid-33">
				<label class="radio inline-cover">
				<input name="experiance_level" {% if jobdetails.experiance_level == 'INTERMEDIATE' %}checked{% endif %} value="INTERMEDIATE" type="radio">
				<span>  Intermediate</span>
				</label>
				</div>
				<div class="grid-33">
				<label class="radio inline-cover">
				<input name="experiance_level" {% if jobdetails.experiance_level == 'EXPERT' %}checked{% endif %} value="EXPERT" type="radio">
				<span> Expert </span>
				</label>
				</div>
				</div>
				</div>

				<div class="grid-50 padding-left-0">
				<h3 class="form-label-blue">Number of Hire</h3>
				<input placeholder="Number of Hire" maxlength="8" value="{% if jobdetails.no_of_hires %}{{jobdetails.no_of_hires}}{% endif %}" class="number" type="text" name="no_of_hires" data-classname="Job_no_of_hires" >
				<span class="error errors_no_of_hires"></span>
                </div>

				<div class="field-row light-blue-box">
					<div class="grid-50 padding-right-5">
					<h3 class="form-label-blue"> Job status </h3>

					<select  name="job_status">
					{% for status in job_status %}
                    <option {% if jobdetails.status.id == status.id %}selected{% endif %} value="{{status.id}}">{{status.status}}</option>
                    {% endfor %}
					</select>
					</div>
					<div class="grid-50 padding-left-5">
					<h3 class="form-label-blue"> Closing date </h3>
					<input placeholder="" value="{% if jobdetails.job_close_date %}{{jobdetails.job_close_date|date:'m/d/Y' }}{% endif %}" class="start-dates" type="text" readonly data-classname="Job_job_close_date" name="job_close_date">
                    <span class="error job_close_date"></span>
				</div>
				</div>
				</div>



		 	</form>
                  </div>
			</div>
              <div class="create-profile-buttons">
                <div class="create-profile-form">
                  <div class="pull-right">

					<a  onclick="JobPost()" href="#small-dialog">Update Job </a>
					<input value="Cancel" type="button">
                  </div>
                </div>
              </div>

			  			<!-- dailoge-box -->
						<div id="small-dialog-error" class="zoom-anim-dialog mfp-hide small-dialog you-want-continue">
						<form class="text-center">
						<h4>The following fields are not filled</h4>
						<div class="not-filled-list">
							<span id="Job_sub_category" class="errors_popup">Job Sub Category *</span>
                            <span id="Job_skill"  class="errors_popup">Skills *</span>
                            <span id="Job_payment_type"  class="errors_popup">Payment Type *</span>
                            <span id="Job_budget"  class="errors_popup hide" >Budget *</span>
                            <span id="Job_hourly_max"  class="errors_popup hide">Hourly Max *</span>
                            <span id="Job_hourly_min"  class="errors_popup hide">Hourly Min *</span>
                            <span id="Job_duration"  class="errors_popup">Duration Estimated *</span>
                            <span id="Job_no_of_hires"  class="errors_popup">Number of Hire *</span>
                            <span id="Job_job_close_date"  class="errors_popup">Closing date *</span>


						</div>
						<p>Still you want to continue ? </p>
						<div class="field-row">
						<div class="fileld-button">
						<button type="button" onclick="Continue()" class="light-grey-button">Continue</button>
						</div>
						<div class="fileld-button">
						<button type="button" onclick="Close()" class="blue-button">Edit</button>
						</div>
						</div>
						</form>
						</div>
						<!-- dailoge-box -->



              </div>
              </div>
            </div>
            <div class="right-col">
              <div class="view-profile-links">
                <ul>
                  <li class="active">
                    <a href="#overview-cover" data-scroll="overview-cover" class="overview" id="overview">Overview</a>
                  </li>
                  <li class="">
                    <a href="#portfolio-cover" data-scroll="portfolio-cover" class="portfolio">Portfolio</a>
                  </li>
                  <li class="">
                    <a href="#employment-history-cover" data-scroll="employment-history-cover" class="employement-history">Employement History</a>
                  </li>
                  <li class="">
                    <a href="#certifications-cover" data-scroll="certifications-cover" class="certifications">Certifications</a>
                  </li>
                </ul>
              </div>
            </div>
     </div>
{% endblock %}
 {% block extra_js %}

{% include "common/Job_posting_edit_script.html" %}
 {% endblock %}