{% extends 'inner_page_base.html' %}

{% load create_array %}
{% load staticfiles%}
{% block style %}


{% endblock %}
{% block content %}

<!--create-profile strats-->
    <div class="create-profile" id="create-profile">
    <div class="loader">
    </div>
          <div class="container-fluid create-profile-cover view-profil-page-cover">
          <div class="left-coll job-filter-cover light-blue-background">
            <div class="job-filter">
            <ul>
              <h4>main categories</h4>
             {% for type in workcategory|slice:":4" %}
                <li>
                    <label class="checkbox inline-cover">
                        <input name="workcategory" onchange="GetSearching()" value="{{type.id}}" class="toggle" type="checkbox">
                        <span></span>
                    </label>
                    {{type.category_title}}
                </li>
                {% endfor %}
            </ul>
                {% if workcategory.count >= 5 %}
                <a class="popup-with-zoom-anim view-more-filter"  href="#small-dialog-workcategory">+ more</a>
                {% endif %}
          </div>
         {% ifequal request.user.active_account.type 'CLIENT'%}
          <div class="job-filter">
            <ul>
              <h4>Job Status</h4>
                {% for job_statuss in job_status %}
            <li>
                <label class="checkbox inline-cover">
                <input name="Jobstatus" value="{{job_statuss.status}}" onchange="GetSearching()" class="toggle" type="checkbox">
                <span></span>
                </label>
                {{job_statuss.status}} </li>
                {% endfor %}


            </ul>
          </div>
              {% endifequal %}


          <div class="job-filter">
            <ul>
              <h4>Job Type</h4>
                {% for payments in payment %}
            <li>
                <label class="checkbox inline-cover">
                <input name="Jobtype" value="{{payments.type}}" onchange="GetSearching()" class="toggle" type="checkbox">
                <span></span>
                </label>
                {{payments.type}} </li>
                {% endfor %}

            </ul>
          </div>

          <div class="job-filter">
               <ul>
              <h4>Experience Level</h4>
            <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="FRESHER" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Fresher </li>
              <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="INTERMEDIATE" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Intermediate </li>
                   <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="EXPERT" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Expert </li>
            </ul>
          </div>
       <!-- Hourly Rate Filter -->
            <div class="job-filter">
                <h4>Hourly Rate</h4>
                <div class="min-max">
                    <div class="grid-40">
                        <input type="text" placeholder="Min" id="HourlyMin" onchange="GetSearching()"/>
                    </div>
                    <div class="grid-20">-</div>
                    <div class="grid-40">
                        <input type="text" placeholder="Max" id="HourlyMax" onchange="GetSearching()"/>
                    </div>
                </div>
            </div>
            <!-- Hourly Rate Filter -->

          <!--<div class="job-filter">-->
            <!--<ul>-->
              <!--<h4>Duration</h4>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--Hours or days (15)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--Weeks (54)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--Months (468)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--6 months (622)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
              <!--Not Specified (0)-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->

          </div>
        <div class="center-col" id="tabs">
         {% include "common/message.html" %}
        <div class="create-profile-form-cover">
        <div id="tabs-1" class="form-step step-1">
        <div class="view-profile-cover">
        <div class="view-profile-cover-inner">
        <div class="scroll-cover my-job-list" id="ListView">
       </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="right-col related-freelancers">
            <h2>Related Freelancers</h2>
          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="images/profile-image.jpg" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="images/star-ratings.png" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>
          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="images/profile-image.jpg" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="images/star-ratings.png" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>

          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="images/profile-image.jpg" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="images/star-ratings.png" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>

          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="images/profile-image.jpg" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="images/star-ratings.png" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>
          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="images/profile-image.jpg" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="images/star-ratings.png" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>
        </div>
        </div>


      </div>
    </div>
<!-- dailoge-box -->
                <div id="small-dialog-workcategory" class="zoom-anim-dialog mfp-hide small-dialog">
                    <div class="more-filter-box">

                        <div class="job-filter">
                            <h4>main categories</h4>

                            <div class="search-categories">
                              <input placeholder="Search Categories" id="target_Workcategory" type="text">
                            </div>
                           <div id="Get_Work_Category">
                            <ul>
                                {% for type in workcategory %}
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="workcategory" value="{{type.id}}" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                {{type.category_title}}{{type.category_title}}
                            </li>
                            {% endfor %}


                            </ul>
                            </div>

                            <div class="more-filter-action">
                              <input value="Filter" type="button" onclick="GetSearching(),Close()">
                            </div>

                        </div>

                    </div>
                </div>

                <!-- dailoge-box -->
        <!--create-profile ends-->
{% endblock %}
{% block extra_js %}

<script>
      $(document).ready(function(){
        workcategorylist();
        next();


      	$( "#tabs" ).tabs();

        $( ".help-accordion" ).accordion({
          heightStyle: "content",
          collapsible: true
        });

        $( ".start-date" ).datepicker();
        $( ".end-date" ).datepicker();

   			$(".mobile-menu").click(function(){
   			$(".header-elents-cover").slideToggle('fast');
        });

   			$(".language-selector").click(function(){
   			  $(".languages").fadeToggle('fast');
   		  });

        $('.create-profile').ready(function() {
                  $(".loader,.loader-overlay").fadeOut("slow");
        });

        $(".form-section-row .form-label-blue").click(function(){
          $(this).next().slideToggle("");
          $(this).toggleClass("open");
        });

        $(".clone-close").click(function() {
        $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
            $(this).remove();
        });
        });

		     $(".delete-button").click(function() {
        $(this).parents('.view-clone-cover').fadeOut("normal", function() {
            $(this).remove();
        });
        });

        $(".status-message a.close").click(function(){
   			  $(".status-message").fadeOut('fast');
   		  });

        $(".view-the-company-link").click(function(){
          $(".status-message").fadeIn('fast');
           setTimeout(function(){
             $(".status-message").fadeOut();
           }, 3000);
        });

        $(".delete-button").click(function() {
        $(this).parents('.view-profile-clone').fadeOut("normal", function() {
            $(this).remove();
        });
        });




  //Div navigation
   // 1 Go to section
   $('.view-profile-links a').click(function(e) {
    e.preventDefault();
    var path = $(this).attr("data-scroll");
    var anchor = $("#" + path);
    var position = anchor.position().top + $(".scroll-cover").scrollTop();
    if( $(window).width() > 767 )
     {
      $(".scroll-cover").animate({scrollTop: position}, 100);
      console.log(position);
     }
    else
    {
     console.log(position);
     $(".modal").animate({scrollTop: position}, 100);
    }
    $(".pop-up-nav-for-small").slideUp();
   });

   //2 Make link active
   $('.scroll-cover').scroll(function() {
    var windscroll = $('.scroll-cover').scrollTop();
    if (windscroll >= 100)
     {
      $('.view-profile-cover section').each(function(i) {

        //alert( $(this).position().top );

       if ($(this).position().top <= 175) {

        ($(this).position().top);
        $('.view-profile-links ul li.active').removeClass('active');
        $('.view-profile-links ul li').eq(i).addClass('active');

       }
      });
     }
    else
     {
      $('.view-profile-links li.active').removeClass('active');
      $('.view-profile-links li:first').addClass('active');
     }
   }).scroll();

        $('.portfolio-image-cover, .certifications-image-cover').magnificPopup({
          delegate: 'a',
          type: 'image',
          closeOnContentClick: false,
          closeBtnInside: false,
          mainClass: 'mfp-with-zoom mfp-img-mobile',
          gallery: {
            enabled: true
          },
          zoom: {
            enabled: true,
            duration: 300, // don't foget to change the duration also in CSS
            opener: function(element) {
              return element.find('img');
            }
          }

        });

		$('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        listJobs('1','','','','','','');

      });
      function GetPagination(page_by,search,method){
      //alert("ff");
          $.ajax({
                 url : "{% url 'client:paginationsearch' %}", // the endpoint
                 type : "POST", // http method
                 data : {method:method,page_by:page_by,search:search,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {

                    $('#'+method).html(data.paginator_html);
                    NextPrevious();

                 }
             });


         }
         function NextPrevious(){
          $(".paginate_bys").click(function(){

            var page_by=$(this).data('attr');
            var method=$(this).data('method');
            var search=$(this).data('search');


              GetPagination(page_by,$( "#"+search ).val(),method);

        });
         }
         function workcategorylist(){
           GetPagination('1',$( "#target_Workcategory" ).val(),'Get_Work_Category');
         }
         function worksubcategorylist(){
           GetPagination('1',$( "#target_Worksubcategory" ).val(),'Get_Work_SubCategory');
         }
         function listJobs(page_by,search_category,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax){
         $.ajax({
                 url : "{% url 'client:jobspagination' %}", // the endpoint
                 type : "POST", // http method
                 data : {method:"Search_job",page_by:page_by,search_category:search_category,search_status:search_status,search_type:search_type,search_experiance:search_experiance,search_hourlymin:search_hourlymin,search_hourlymax:search_hourlymax,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {

                    $('#ListView').html(data.list_html);
                    next();
                    moreless();


                 }
             });
         }
          function next(){
           $(".paginate_by").click(function(){

              var page_by=$(this).data('attr');
              var option_all=getSearchTerm('workcategory');
              var search_type=getSearchTerm('Jobtype');
              var search_status=getSearchTerm('Jobstatus');
              var search_experiance=getSearchTerm('Experience');
              var search_hourlymin=$('#HourlyMin').val();
              var search_hourlymax=$('#HourlyMax').val();


              listJobs(page_by,option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax);





            });
         }
         function moreless(){
            // Configure/customize these variables.
        var showChar = 250; // How many characters are shown by default
        var ellipsestext = "...";
        var moretext = "Show more ...";
        var lesstext = "Show less";


        $('.more').each(function() {
            var content = $(this).html();

            if (content.length > showChar) {


                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });

        $(".morelink").click(function() {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
         }
          function GetSearching(){

              var option_all=getSearchTerm('workcategory');
              var search_type=getSearchTerm('Jobtype');
              var search_status=getSearchTerm('Jobstatus');
              var search_experiance=getSearchTerm('Experience');
              var search_hourlymin=$('#HourlyMin').val();
              var search_hourlymax=$('#HourlyMax').val();



             listJobs('1',option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax);
          }
          function getSearchTerm(term){
            var option_all='';
            if($('input[name='+term+']:checked').length >0){
              option_all += $('input[name='+term+']:checked').map(function () {
                return $(this).val()+",";
            }).get().join(',');

            return option_all;
          }else{
           return option_all;
          }

          }
    </script>








{% endblock %}