{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<div class="create-profile" id="create-profile">
{% include "common/loader.html" %}
          <div class="container-fluid two-grid-container create-profile-cover view-profil-page-cover">
		  <div class="two-grid-cover">
			<div class="left-coll">

			 {% include "common/profile.html" %}




			<!--proposal-info-cover-->
			<div class="proposal-info-cover">
				<div class="light-blue-cover proposal-data">
				<span>Notifications </span>
				<label>{{notificationcount}}</label>
				</div>
				<div class="light-blue-cover proposal-data">
				<span> Recent Contracts</span>
				<label>{{hiredetails.client_job.hire_jobs.count}}</label>
				</div>
				<div class="light-blue-cover proposal-data">
				<span>Contracts </span>
				<label>{{hiredetails.created_date}}</label>
				</div>
				<div class="light-blue-cover proposal-data">
				<span>Payouts </span>
				<label>456</label>
				</div>
				</div>
			<!--jproposal-info-cover-->


            </div>

           <div class="center-col">
			   {% include "common/message.html" %}
			<div class="create-profile-form-cover">
						<div class="view-profile-cover">
						<div class="view-profile-cover-inner job-deatils-cover">
						<div class="scroll-cover">
						<div class="jobs-basic-info">
						<!--jobs-basic-info-->
						<div class="HireDetils">
						<h1>{{hiredetails.job_title}}<span class="action-cover">
                         <a class="popup-with-zoom-anim edit-button" href="#small-dialog1">Edit</a>
                          </span></h1>
							<p>
							<label class="grid-70 padding-right-10 job-category"><span class="blue-text">Job Category : </span> {{hiredetails.client_job.job_main_category.category_title}}  </label>
							{% if hiredetails.client_job.job_close_date %}<label class="grid-30 text-right closing-date"><span class="blue-text">Closing Date : </span>   {{hiredetails.client_job.job_close_date | date:'N  d Y' }}</label>{% endif %}
							</p>

						<!--description-->
						<div class="description">
						<h4>Details of the project</h4>
							<p class="more">

                                {{hiredetails.job_description}}
							</p>
						</div>
						</div>
						<!--description-->


						<!--apply-for-this-job-cover--->


							<div class="apply-for-this-job-cover">
								<div class="">
									<div class="contract-person-details-cover">

										<div class="contract-person-photo"><img src="{% if hiredetails.freelancer_profile.user.profile.url %} {{hiredetails.freelancer_profile.user.profile.url }} {% else %} {% static 'images/no-image.svg'%}{% endif %}" alt=""></div>

										<div class="contract-person-details">
											<h4>{{hiredetails.freelancer_profile.user.first_name}} {{hiredetails.freelancer_profile.user.last_name}}</h4>
											{% if hiredetails.freelancer_profile.user.freelancer_location_user.get.country.name %}<p>{{hiredetails.freelancer_profile.user.freelancer_location_user.get.country.name}} {{hiredetails.freelancer_profile.user.freelancer_location_user.get.state.name}} {{hiredetails.freelancer_profile.user.freelancer_location_user.get.city.name}}.</p>{% endif %}
											<div class="star-rating"><img src="{% static 'images/star-ratings.png' %}" alt=""></img></div>
											<a href="{% url 'freelancer:profileview' hiredetails.freelancer_profile.user.token %}" class="solid-button-green">View Complete Profile</a>
										</div>

									</div>



									<div class="contract-actions-list-tabs-cover" id="tabss" data-id="{{hiredetails.client_job.id}}">

										<ul class="contract-actions-list-tabs">
											<input type="hidden" value="{{hiredetails.client_job.payment_type.id}}" id="paymnttype">

										<li {% if hiredetails.client_job.payment_type.id == 2 %} class="active"  {% endif %}> <a {% if hiredetails.client_job.payment_type.id == 1 %}  {%  if hiredetails.status.status == 'Approved' and  hiredetails.repost_status == '0' %} data-type="New_contract" onclick="GetPopup(this)" {% endif %}  {% endif %} href="#tabs-1">Fixed </a> </li>
										<li {% if hiredetails.client_job.payment_type.id == 1 %} class="active"   {% endif %}> <a {% if hiredetails.client_job.payment_type.id == 2 %}  {%  if hiredetails.status.status == 'Approved' and  hiredetails.repost_status == '0' %} data-type="New_contract" onclick="GetPopup(this)" {% endif %}  {% endif %} href="#tabs-2">Hourly</a> </li>
										</ul>

                                        <div class="job-coast-cover">
											<label class="job-coast"><span> $ </span> <span class="job-value-cover enable">{% if hiredetails.budget %}{{hiredetails.budget}} {% else %} 0{% endif %} </span> <input type="text" placeholder="" class="budget_fixed"> <span> {{hiredetails.client_job.payment_type.type}} </span> </label>
											<!--<div class="action-cover">-->
												<!--{% if hiredetails.status.status == 'Draft' %}<span class="edit-button edit-content" href="">Edit</span>{% endif %}-->
												<!--<span class="edit-button save-content" href="">Save</span>-->

											<!--</div>-->
										</div>



											<div id="tabs-1" class="{% if hiredetails.client_job.payment_type.id == 2 %} {% else %} hide {% endif %}">

									<div class="milestone-table-cover">



								<!-- dailoge-box add milestone-->
            						<div id="small-dialog1" class="zoom-anim-dialog mfp-hide small-dialog title-edit">
										<form id="EditHire">
											<h3>Edit Hire Details</h3>


            								<div class="field-row">
            								<h3 class="form-label-blue">Title</h3>
            								<input placeholder="Enter the new project " name="job_title"  value='{{hiredetails.job_title}}' type="text">
            								<span class="errors_job_title error"></span>
											<input placeholder="Enter the new project " name="id"  value='{{hiredetails.id}}' type="hidden">
            								</div>
            								<div class="field-row">
            								<h3 class="form-label-blue">Details of the project</h3>
            								<textarea name="job_description" placeholder="About Me">{{hiredetails.job_description}}</textarea>
            								<span class="errors_job_description error"></span>
												<input placeholder="Rate" name="method" value="Edit_hire_details" type="hidden">
            								  {% csrf_token %}
											</div>


											<div class="field-row">
												<div class="grid-20 padding-right-5">
													<button type="button" class="solid-button-green CreateMileStone" data-formid="EditHire">Edit</button>
												</div>
            								</div>

            							</form>
            						</div>
								<!-- dailoge-box ends-->



								<!-- dailoge-box add milestone-->
            						<div id="small-dialog" class="zoom-anim-dialog mfp-hide small-dialog add-mile-stone-form">
										<form id="MilestoneAdd">
											<h3>Add Milestone to</h3>

											<div class="profile-photo-minimal-cover">
											<div class="profile-photo-minimal">
											<img src="{% if hiredetails.freelancer_profile.user.profile.url %} {{hiredetails.freelancer_profile.user.profile.url }} {% else %} {% static 'images/no-image.svg'%}{% endif %}" alt="">
											</div>
											<div class="profile-name">
											<h2>{{hiredetails.freelancer_profile.user.first_name}} {{hiredetails.freelancer_profile.user.last_name}}</h2>
											<p>{% if hiredetails.freelancer_profile.user.freelancer_location_user.get.country.name %}<p>{{hiredetails.freelancer_profile.user.freelancer_location_user.get.country.name}} {{hiredetails.freelancer_profile.user.freelancer_location_user.get.state.name}} {{hiredetails.freelancer_profile.user.freelancer_location_user.get.city.name}}.</p>{% endif %}
											</p>
											</div>
											</div>

            								<div class="field-row">

												<input placeholder="Milestone" name ="milestone_title" maxlength="20" type="text">
												<span class="errors_milestone_title error"></span>
            								</div>

            								<div class="field-row">

												<textarea  name ="milestone_description" placeholder="Description"></textarea>
												<span class="errors_milestone_description error"></span>
            								</div>

            								<div class="field-row">

            								<div class="grid-33 padding-right-5">
												<input  name ="start_date"  placeholder="Start Date" class="calander start-dates" type="text">
												<span class="errors_start_date error"></span>
            								</div>

            								<div class="grid-33 padding-left-5">
												<input name ="close_date" placeholder="End Date" class="calander end-dates" type="text">
												<span class="errors_close_date error"></span>
            								</div>

											<div class="grid-33 padding-left-5">
												<input placeholder="Rate" name="rate" type="text">
												<span class="errors_rate error"></span>
												<input placeholder="Rate" name="method" value="Add_Milestone" type="hidden">
            								    <input placeholder="Rate" name="id" value="{{hiredetails.id}}" type="hidden">

												{% csrf_token %}
											</div>

            								</div>

											<div class="field-row">
												<div class="grid-25 padding-right-5">
													<button type="button" id="CreateMileStone" data-formid="MilestoneAdd" class="solid-button-green CreateMileStone">Add Now</button>
												</div>
            								</div>

            							</form>
            						</div>
								<!-- dailoge-box ends-->
{% if hiredetails.status.status == 'Approved' %}
                                      <!--milesonte-table-head-->
										<div class="milesonte-table-head">
											<h4>Milestones</h4>
										<div class="milesonte-table-head-action-cover">
											<!--<select>-->
											<!--<option>All Status</option>-->
											<!--</select>-->
											<a class="popup-with-zoom-anim edit-button add-new" href="#small-dialog">Add New</a>
											<!--<a href="" class="positive-action table-action">Request Payout</a>-->
										</div>
										</div>
									<!--milesonte-table-head-->
										{% endif %}


											<div class="" id="ListingMilestones">
												{% for milestone in hiredetails.milestone.all %}
												{% if milestone.status.status != 'Archive' %}

												<div class="table-row" data-milestone ="{{milestone.id}}" >
													<div class="grid-5">
														<label class="checkbox inline-cover">
														<input name="Experience" value="Mid level" class="toggle" type="checkbox">
														<span></span>
													</label>
													</div>
													<div class="grid-50"><label>{{milestone.milestone_title}}</label></div>
													<div class="grid-10">
														{% if milestone.status.status == 'Draft' %}
														<span class="mile-stone-status draft">{{milestone.status.status }}</span>
														{% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
														<span class="mile-stone-status pending">{% if milestone.status.status == 'Changed' %} Pending {% else %}{{milestone.status.status}} {% endif %}</span>
														{% elif milestone.status.status == 'Approved' %}
														<span class="mile-stone-status approved">{{milestone.status.status }}</span>
														{% elif milestone.status.status == 'Payed' %}
														<span class="mile-stone-status payed" onclick="PayLoad()">{{milestone.status.status }}</span>

														{% endif %}
													</div>
													<div class="grid-10"><label class="rate">${{milestone.rate}}</label></div>
													<div class="grid-25">
														<div class="action-cover">
															{% if milestone.status.status == 'Draft' %}

															<a onclick="EditMilestone(this)" data-milestone ="{{milestone.id}}"  class="edit"></a>
															<a onclick="GetPopup(this)" class="delete" data-type ="delete"></a>
															<a onclick="GetPopup(this)" data-type ="send" class="positive-action table-action">Send</a>
													        <!--<a href="" class="delete"></a>-->
															{% elif milestone.status.status == 'Pending' or  milestone.status.status == 'Changed' %}
                                                             <a onclick="EditMilestone(this)" data-milestone ="{{milestone.id}}"  class="edit"></a>
															{% elif milestone.status.status == 'Approved' %}

															{% endif %}
														</div>
													</div>
												</div>
												{% endif %}
												{% empty %}
													<!--<div class="view-profile-single-section-nocontent">-->
													  <!--<p>No Content to show ..</p>-->
													<!--</div>-->
												{% endfor %}


												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
														<!--<label class="checkbox inline-cover">-->
														<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
														<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status approved">Approved</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
														<!--<div class="action-cover">-->
															<!--<a href="" class="positive-action table-action">Approve</a>-->
															<!--<a href="" class="negative-action table-action">Reject</a>-->
														<!--</div>-->
													<!--</div>-->
												<!--</div>-->

												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
														<!--<label class="checkbox inline-cover">-->
														<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
														<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status pending">Pending</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
														<!--<div class="action-cover">-->
															<!--<a href="" class="positive-action table-action">Pay</a>-->
															<!--<a href="" class="negative-action table-action">Reject</a>-->
														<!--</div>-->
													<!--</div>-->
												<!--</div>-->

												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
														<!--<label class="checkbox inline-cover">-->
														<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
														<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status payed">Payed</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
														<!--<div class="action-cover">-->
															<!--<a href="" class="positive-action table-action">Request Payout</a>-->
														<!--</div>-->
													<!--</div>-->
												<!--</div>-->

												<!--<div class="table-row">-->
													<!--<div class="grid-5">-->
													<!--<label class="checkbox inline-cover">-->
													<!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
													<!--<span></span>-->
													<!--</label>-->
													<!--</div>-->
													<!--<div class="grid-50"><label>Milestone one is going here</label></div>-->
													<!--<div class="grid-10"><span class="mile-stone-status payed">Approved</span></div>-->
													<!--<div class="grid-10"><label class="rate">$8500</label></div>-->
													<!--<div class="grid-25">-->
													<!--<div class="action-cover">-->
													<!--<a href="" class="edit"></a>-->
													<!--<a href="" class="delete"></a>-->
													<!--</div>-->
													<!--</div>-->
												<!--</div>-->

											</div>
										</div>

									</div>

									<div id="tabs-2"  class="{% if hiredetails.client_job.payment_type.id == 1 %} contarct-page-table {% else %} hide contarct-page-table {% endif %}" >
										<div class="milestone-table-cover tabs-2" id="weekly_contract">

									    </div>
									</div>

									</div>
										{% if hiredetails.status.status == 'Draft' %}
									<div class="field-row ContractApproved" >
                                       <div class="acceptance-cover">
                                          <label class="checkbox inline-cover">
                                             <input name="Terms" id="termscondn" class="toggle" type="checkbox">
                                             <span>I Accept  Terms and Condition</span>
                                             <div class="errors_termscondn error"></div>
                                          </label>
                                       </div>

                                    </div>
									{% endif %}

									<div class="contract-actions-bar text-center">
										{% if hiredetails.status.status == 'Draft' %}
										<a   {% if hiredetails.status.status == 'Draft' %} {% endif %} class="solid-button-green ContractApproved{% if hiredetails.status.status == "Draft" %} {% endif %} " id="ContractApproved" onclick="CheckTerms()">Send Contract</a>
									    {% elif  hiredetails.status.status == 'Pending' %}
										<a  class="solid-button-green  " >Contract Send</a>
										{% elif  hiredetails.status.status == 'Approved' %}
										<!--<a  class="solid-button-green  " >Approved Contract</a>-->

										{% endif %}
										<!--<a  class="solid-button-green  hide" id="Contractsend">Contract Send</a>-->
									</div>




								</div>
							</div>


					<!--apply-for-this-job-cover ends--->
						</div>
						</div>
						</div>
						</div>

			</div>	</div>
			<!-- right-col for web -->
    </div>
	</div>
<div id="small-dialog_contract" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
	  <h3>Contract Section</h3>
	  <p>Are you sure you want to send this contract</p>
	  <input type="hidden" id="conrctid" value="{{hiredetails.id}}" >

	  <a id="ContractApproveds" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
   </div>

</div>
<div id="small-dialog_milestonedelete" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
	  <h3>Milestone Section</h3>
	  <p>Are you sure  want to delete this milestone</p>
	  <input type="hidden" id="milstoneid" >

	  <a id="DeleteMilestone" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
   </div>

</div>
<div id="small-dialog_send_milestone" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
	  <h3>Milestone Section</h3>
	  <p>Are you sure  want to send this milestone</p>
	  <input type="hidden" id="milstoneidsend"  >

	  <a id="SendMilestones" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
   </div>

</div>
	<div id="small-dialog_milestoneedit" class="zoom-anim-dialog mfp-hide small-dialog">
	</div>
	<input type="hidden" id="timesheetid" >
		<input type="hidden" id="timesheettype" >
	<div id="small-dialog_timesheetapprove" class="zoom-anim-dialog mfp-hide small-dialog">
	<div class="delete-confirmation delete-msg">
	  <h3>Timesheet Section</h3>
	  <p>Are you sure  want to approve this Timesheet</p>


	  <a id="TimesheetApproveds" class="yes TimesheetApproveds">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
	</div>
	</div>
	<div id="small-dialog_timesheetadjust" class="zoom-anim-dialog mfp-hide small-dialog">
	<div class="delete-confirmation delete-msg">
	  <h3>Timesheet Section</h3>
	  <p>Are you sure  want to adjust this Timesheet</p>
	   <!--Hourly-->


	  <a id="" class="yes TimesheetApproveds">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
	</div>
	</div>

	<div id="small-dialog_createcontract" class="zoom-anim-dialog mfp-hide small-dialog">
	<div class="delete-confirmation delete-msg">
	  <h3>New Contract Section</h3>
	  <p>Are you sure you want to create new contract ?</p>
	   <!--Hourly-->


	  <a  class="yes " onclick="GetNewContract()">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
	</div>
	</div>

    <!--create-profile ends-->
    {% endblock %}
	{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function() {

     SendContract();
     AddMilestone();
     DeleteMilestone();
     SendMilestone();
     TimesheetApproveds();
     if ($('#paymnttype').val() == '2'){
     ListingMilestones('1','MileStone_listing');
     }else{
     ListingMilestones('1','Creating_Timesheet');
     }
     next_listing();
     <!--$(".edit-content").click(function(){-->
			<!--$(this).hide();-->
			<!--$(this).closest(".job-coast-cover").find(".save-content").show();-->
			<!--$(this).closest(".job-coast-cover").find(".job-coast span.job-value-cover").toggleClass('enable');-->
			<!--$(this).closest(".job-coast-cover").find(".job-coast input ").toggleClass('enable');-->
		<!--});-->

		<!--$(".save-content").click(function(){-->
			<!--$(this).hide();-->
			<!--$(this).closest(".job-coast-cover").find(".edit-content").show();-->
			<!--$(this).closest(".job-coast-cover").find(".job-coast span.job-value-cover").toggleClass('enable');-->
			<!--$(this).closest(".job-coast-cover").find(".job-coast input ").toggleClass('enable');-->
			<!--$.ajax({-->
                 <!--url : ".", // the endpoint-->
                 <!--type : "POST", // http method-->
                 <!--data : {method:"Updated_Hire_budget",id:{{hiredetails.id}},budget:$(".budget_fixed").val(),csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request-->

                 <!--// handle a successful response-->
                 <!--success : function(data) {-->

                     <!--var text = data.message-->
                   <!--if (data.status == 'success'){-->

                        <!--localStorage.setItem('status_msg_company', 'true');-->
						<!--DisplayMessage('success', text);-->
						<!--$('.job-value-cover').text($(".budget_fixed").val());-->

				   <!--}else{-->
                        <!--localStorage.setItem('status_msg_company', 'true');-->
						<!--DisplayMessage('failed', text);-->

					<!--}-->


                 <!--}-->
             <!--});-->
		<!--});-->


    });
    function AddMilestone(){
       $(document).on("click",".CreateMileStone",function() {
         var form = $(this).data("formid");
         var data = $("#"+form).serialize();
         $(".body_loader").show();
         $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : data, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                 $(".error").hide();
                 $(".body_loader").hide();

			   if (data.status == 'success'){
					Close();
					$('#'+form)[0].reset();
					if(data.html!=''){
					 $('.HireDetils').html(data.html);
					 magnificPopUP();
					}
					var text = data.message
					 ListingMilestones('1','MileStone_listing');
					localStorage.setItem('status_msg_company', 'true');
					DisplayMessage('success', text);
					paragraph();


			   }else{




					 if(data.type == '1'){
					$.each(data.data, function(index, value) {
						$(".errors_" + index).show();
						$(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
						console.log("#errors_" + index);



					});
					}else{
					   Close();
					var text = data.message
					localStorage.setItem('status_msg_company', 'true');
					DisplayMessage('failed', text);
					}

			   }


         }


       });
       });

    }
     function TimesheetApproveds(){
    $(document).on("click",".TimesheetApproveds",function() {
            $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:$('#timesheettype').val(),id:$('#timesheetid').val(),csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                     Close();
                     var text = data.message
                   if (data.status == 'success'){
                        ListingMilestones('1','Creating_Timesheet');
                        localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', text);
						$('#ContractApproved').hide();
						$('#Contractsend').show();
				   }else{
                        localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed', text);

					}


                 }
             });

        });

    }
    function SendContract(){
         $(document).on("click","#ContractApproveds",function() {

            $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Send_contract',id:$('#conrctid').val(),csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                     Close();
                     var text = data.message
                   if (data.status == 'success'){
                        localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', text);
						$('.ContractApproved').hide();
						$('#Contractsend').removeClass('hide');
						//$(".edit-content").hide();

				   }else{



						localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed', text);

					}


                 }
             });

        });
    }
    function EditMilestone(elm){
     var milestoneid = $(elm).parents('.table-row').data('milestone');

     $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Get_milestone',milestoneid:milestoneid,id:"{{hiredetails.id}}",csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                     Close();
                     var text = data.message
                   if (data.status == 'success'){

                   $("#small-dialog_milestoneedit").html(data.html);
                   openPopup('small-dialog_milestoneedit');
                   datepicker();


                    }else{



						localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed', text);

					}


                 }
             });

    }
    function GetPopup(elm){
       var milestoneid = $(elm).parents('.table-row').data('milestone');
       if($(elm).data("type")=='delete'){
       $("#milstoneid").val(milestoneid);
       openPopup('small-dialog_milestonedelete');
       }
       if($(elm).data("type")=='send'){
       $("#milstoneidsend").val(milestoneid);

       openPopup('small-dialog_send_milestone');
       }
       if($(elm).data("type")=='approve'){

       $("#timesheetid").val(milestoneid);
       $("#timesheettype").val('Timesheet_approved');
       openPopup('small-dialog_timesheetapprove');
       }
       if($(elm).data("type")=='adjust'){

       $("#timesheetid").val(milestoneid);
       $("#timesheettype").val('Timesheet_adjust');
       openPopup('small-dialog_timesheetadjust');
       }
       if($(elm).data("type")=='New_contract'){
       var id = $(elm).parents('#tabss').data('id');
        $("#timesheetid").val(id);

        openPopup('small-dialog_createcontract');
       }


    }
    function DeleteMilestone(){

      $(document).on("click","#DeleteMilestone",function() {
         var id = $("#milstoneid").val();
          $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Delete_milestone',milestoneid:id,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                   Close();
                   var text = data.message
                   if (data.status == 'success'){
                     ListingMilestones('1','MileStone_listing');
                     localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', data.message);





                    }else{
                       localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed',  data.message);

					}


                 }
             });
      });
    }
    function SendMilestone(){
        $(document).on("click","#SendMilestones",function() {
           $.ajax({
                 url : ".", // the endpoint
                 type : "POST", // http method
                 data : {method:'Send_milestone',milestoneid:$("#milstoneidsend").val(),id:{{hiredetails.id}},csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                   Close();
                   var text = data.message
                   if (data.status == 'success'){
                     if(data.jobtype == 2){
                        ListingMilestones('1','MileStone_listing');
                        }else{
                        ListingMilestones('1','Creating_Timesheet');
                        }
                     localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('success', data.message);




                    }else{
                       localStorage.setItem('status_msg_company', 'true');
						DisplayMessage('failed',  data.message);

					}


                 }
           });

        });

    }
    function ListingMilestones(page_by,method){
        $(".body_loader").show();
		$.ajax({
					 url : "{% url 'hire:listmilestone' %}", // the endpoint
					 type : "POST", // http method
					 data : {method:method,page_by:page_by,contractid:"{{hiredetails.id}}",csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

					 // handle a successful response
					 success : function(data) {
					 $(".body_loader").hide();

                        $("#"+data.class).html(data.paginator_html);
                        next_listing();
					 }
        });

    }
    function CheckTerms() {
        if ($('#termscondn').prop("checked") == false) {

            $(".errors_termscondn").html('<ul class="errorlist"><li>Please accept the Terms & Conditions</li></ul>');

        } else {
            $(".error").hide();
             $('#ContractApproveds').click();

        }
    }
    function next_listing(){
       $(".paginate_by").click(function(){


          $(".body_loader").show();

          var page_by=$(this).data('attr');



          ListingMilestones(page_by);




        });
 }
 function GetNewContract(){
	  $.ajax({
			 url : ".", // the endpoint
			 type : "POST", // http method
			 data : {method:'Create_new_contract',id:$("#timesheetid").val(),contractid:'{{hiredetails.id}}',csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

			 // handle a successful response
			 success : function(data) {

			   if (data.status == 'success'){
			   alert();
			     window.location.href = data.data;



			 }
	  }
	  });



 }
 function PayLoad(){
	 $.ajax({
				 url : ".", // the endpoint
				 type : "POST", // http method
				 data : {method:'Payout',id:$(this).parents('.table-row').data('milestone'),contractid:'{{hiredetails.id}}',csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

				 // handle a successful response
				 success : function(data) {

				   if (data.status == 'success'){
				   alert();
					 //window.location.href = data.data;



				 }
		  }
	 });
 }

</script>
	 {% endblock %}
