{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
<!--create-profile strats-->
    <div class="create-profile" id="create-profile">
   {% include "common/loader.html" %}
          <div class="container-fluid two-grid-container create-profile-cover view-profil-page-cover">
		  <div class="two-grid-cover">
			<div class="left-coll">
			
             {% include "common/profile.html" %}
			
			<!--job-bascic-info-->		
				<div class="job-budget-info">
					{% if jobdetails.payment_type.id == 2 and jobdetails.budget or jobdetails.hourly_min or jobdetails.hourly_max %}
					<div class="pull-left grid-100 budget-info budget-info-cover">
					   <div class="icon-cover pull-left"><i></i></div>
					   <div class="text-cover pull-left">
						  {% if jobdetails.payment_type.id == 2 and jobdetails.budget %}
						  <span>Budget</span>
						  <label>${{jobdetails.budget}}/{{jobdetails.payment_type.type}}</label>
						  {% else %}
						  {% if jobdetails.hourly_min or jobdetails.hourly_max %}
						  <span>Hourly Rate</span>
						  <label>$ {% if jobdetails.hourly_min %}{{jobdetails.hourly_min}}{% else %} 0 {% endif %} {% if jobdetails.hourly_max %} - ${{jobdetails.hourly_max}}{% else %} 0{% endif %}/{{jobdetails.payment_type.type}}</label>
						  {% endif %}
						  {% endif %}
					   </div>
					</div>
                    {% endif %}
					 {% if jobdetails.duration %}
					<div class="pull-left grid-100 closing-date budget-info-cover">
					   <div class="icon-cover pull-left"><i></i></div>
					   <div class="pull-left text-cover">
						  <span>Duration</span>
						  <label>{{jobdetails.duration.date_range}}</label>
					   </div>
					</div>
					{% endif %}
					{% if jobdetails.experiance_level %}
					<div class="pull-left grid-100 work-status budget-info-cover">
					   <div class="icon-cover pull-left"><i></i></div>
					   <div class="pull-left text-cover">
						  <span>Desired Experience Level</span>
						  <label>{{jobdetails.experiance_level}}</label>
					   </div>
					</div>
					{% endif %}

					{% if jobdetails.no_of_hires %}
					<div class="pull-left grid-100 number-of-hire budget-info-cover">
					   <div class="icon-cover pull-left"><i></i></div>
					   <div class="pull-left text-cover">
						  <span>Number of Hires</span>
						  <label>{{jobdetails.no_of_hires}} Nos</label>
					   </div>
					</div>
					{% endif %}
				</div>
			<!--job-bascic-info-->		
			
			
			<!--proposal-info-cover-->
			<div class="proposal-info-cover">				
				<div class="light-blue-cover proposal-data">
				<span>Proposal Submitted</span>
				<label>{{jobdetails.applied_jobs.count}}</label>
				</div>
				<div class="light-blue-cover proposal-data">
				<span>Proposal Hired</span>
				<label>{{jobdetails.hire_jobs.count}}</label>
				</div>
				{% if jobdetails.job_close_date %}
				<div class="light-blue-cover proposal-data">
				   <span>Closing on</span>
				   <label>{{jobdetails.job_close_date}}</label>
				</div>

				{% endif %}

				<!--<div class="light-blue-cover proposal-data">-->
				<!--<span>My Jobs</span>-->
				<!--<label>456</label>-->
				<!--</div>-->
				</div>
			<!--jproposal-info-cover-->
			
			
            </div>
  
           <div class="center-col">
			   {% include "common/message.html" %}
			<div class="create-profile-form-cover">
						<div class="view-profile-cover">
						<div class="view-profile-cover-inner job-deatils-cover">
						<div class="scroll-cover">						
						<div class="jobs-basic-info">						
						<!--jobs-basic-info-->
						<h1> {{jobdetails.job_title}} <span class="action-cover">
                         <a class="edit-button" href="{% url 'client:editjobpost' jobdetails.slug %}">Edit</a>
                          </span></h1>
							<p>

							<label class="grid-70 padding-right-10"><span class="blue-text">Job Category : </span> {{jobdetails.job_main_category}}  </label>
							<label class="grid-30 text-right"><span class="blue-text">Posted : </span> {{jobdetails.created_date}}</label>
							</p>	
							{% if jobdetails.job_skills.all %}
						<!--skills-cover-->
						<div class="skills-cover">
                         {% for skils in jobdetails.job_skills.all %}

							<span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skils.name}}</span>
							{% endfor %}
                          {% if jobdetails.job_skills.count > 10 %}
							 <a  onclick="Moreskills(this)" class="more">more..</a>
							 {% endif %}
                        </div>
							 {% endif %}
						<!--skills-cover-->
						
						<!--description-->
						<div class="description">
							<p class="more">
							{{jobdetails.job_description}}
							</p>
						</div>
						<!--description-->

						
						<!--apply-for-this-job-cover--->
						
						
						<div class="apply-for-this-job-cover">
				
					
					
					 <div class="freelancer-actions-list-cover" id="tabs">

							<ul class="freelancer-actions-list-tabs">
								<li> <a href="#tabs-1" onclick="GetJobtype(this)" data-id="Applied">Proposal</a> </li>
								<li> <a href="#tabs-2" onclick="GetJobtype(this)" data-id="Invitaion">Invited </a> </li>
								<li> <a href="#tabs-3" onclick="GetJobtype(this)" data-id="Hired">Hired</a> </li>
								</ul>	<input type="hidden" id="types" value="Applied">


						<div id="tabs-1" class="Applied">
					
									
					
							<!---->
							<!--<div class="freelancer-actions-list-row">-->
									<!--<div class="freelancer-image grid-10">-->
									<!--<div class="img-cover image-round">-->
									<!--<img src="{% static 'images/profile-image-2.jpg' %}" alt="">-->
									<!--</div>-->
									<!--</div>-->
									<!--<div class="info-cover grid-90">-->
									<!--<div class="grid-80">											-->
									<!--<h2>Freelancer01 dd</h2>-->
									<!--<p class="blue-text">Australia | Northern Territory | Palmerston </p>-->
									<!--<div class="price-text">$250</div> <div class="job-status rejected">Rejected</div>-->
									<!--</div>										-->
									<!--<div class="actions-cover grid-20">-->
									<!--<a href="" class="cancel-button">Cancel</a>-->
									<!--<a href="" class="reply">Reply</a>											-->
									<!--</div>		-->
									<!--<p>Web and Mobile Application Development When a Development When a payment is made on a record it becomes p 	 payment is made on a record it becomes pending from the payment is made on a record</p>   -->
									<!--</div>-->
								<!--</div>	-->
								<!---->
															<!---->
								<!--<div class="freelancer-actions-list-row">-->
									<!--<div class="freelancer-image grid-10">-->
									<!--<div class="img-cover image-round">-->
									<!--<img src="{% static 'images/profile-image-2.jpg' %}" alt="">-->
									<!--</div>-->
									<!--</div>-->
									<!--<div class="info-cover grid-90">-->
									<!--<div class="grid-80">											-->
									<!--<h2>Freelancer01 dd</h2>-->
									<!--<p class="blue-text">Australia | Northern Territory | Palmerston </p>-->
									<!--<div class="price-text">$250</div> <div class="job-status rejected">Rejected</div>-->
									<!--</div>										-->
									<!--<div class="actions-cover grid-20">-->
									<!--<a href="" class="cancel-button">Cancel</a>-->
									<!--<a href="" class="reply">Reply</a>											-->
									<!--</div>		-->
									<!--<p>Web and Mobile Application Development When a Development When a payment is made on a record it becomes p 	 payment is made on a record it becomes pending from the payment is made on a record</p>   -->
									<!--</div>-->
								<!--</div>	-->
								<!---->
								<!---->
								<!--<div class="freelancer-actions-list-row">-->
									<!--<div class="freelancer-image grid-10">-->
									<!--<div class="img-cover image-round">-->
									<!--<img src="{% static 'images/profile-image-2.jpg' %}" alt="">-->
									<!--</div>-->
									<!--</div>-->
									<!--<div class="info-cover grid-90">-->
									<!--<div class="grid-80">											-->
									<!--<h2>Freelancer01 dd</h2>-->
									<!--<p class="blue-text">Australia | Northern Territory | Palmerston </p>-->
									<!--<div class="price-text">$250</div> <div class="job-status rejected">Rejected</div>-->
									<!--</div>										-->
									<!--<div class="actions-cover grid-20">-->
									<!--<a href="" class="cancel-button">Cancel</a>-->
									<!--<a href="" class="reply">Reply</a>											-->
									<!--</div>		-->
									<!--<p>Web and Mobile Application Development When a Development When a payment is made on a record it becomes p 	 payment is made on a record it becomes pending from the payment is made on a record</p>   -->
									<!--</div>-->
								<!--</div>	-->
											
				
						</div>						
					<div id="tabs-2" class="Invitaion">
								
								<!--<div class="freelancer-actions-list-row">-->
									<!--<div class="freelancer-image grid-10">-->
									<!--<div class="img-cover image-round">-->
									<!--<img src="{% static 'images/profile-image-2.jpg' %}" alt="">-->
									<!--</div>-->
									<!--</div>-->
									<!--<div class="info-cover grid-90">-->
									<!--<div class="grid-80">											-->
									<!--<h2>Freelancer01 dd</h2>-->
									<!--<p class="blue-text">Australia | Northern Territory | Palmerston </p>-->
									<!--<div class="price-text">$250</div> <div class="job-status rejected">Rejected</div>-->
									<!--</div>										-->
									<!--<div class="actions-cover grid-20">-->
									<!--<a href="" class="cancel-button">Cancel</a>-->
									<!--<a href="" class="reply">Reply</a>											-->
									<!--</div>		-->
									<!--<p>Web and Mobile Application Development When a Development When a payment is made on a record it becomes p 	 payment is made on a record it becomes pending from the payment is made on a record</p>   -->
									<!--</div>-->
								<!--</div>								-->
						 <!---->
								<!--<div class="freelancer-actions-list-row">-->
									<!--<div class="freelancer-image grid-10">-->
									<!--<div class="img-cover image-round">-->
									<!--<img src="{% static 'images/profile-image-2.jpg' %}" alt="">-->
									<!--</div>-->
									<!--</div>-->
									<!--<div class="info-cover grid-90">-->
									<!--<div class="grid-80">											-->
									<!--<h2>Freelancer01 dd</h2>-->
									<!--<p class="blue-text">Australia | Northern Territory | Palmerston </p>-->
									<!--<div class="price-text">$250</div> <div class="job-status accepted">Accepted</div>-->
									<!--</div>										-->
									<!--<div class="actions-cover grid-20">-->
									<!--<a href="" class="cancel-button">Cancel</a>-->
									<!--<a href="" class="reply">Reply</a>											-->
									<!--</div>		-->
									<!--<p>Web and Mobile Application Development When a Development When a payment is made on a record it becomes p 	 payment is made on a record it becomes pending from the payment is made on a record</p>   -->
									<!--</div>-->
								<!--</div>	-->
								</div>	
								
								
								<div id="tabs-3" class="Hired">
								
								<div class="freelancer-actions-list-row">
									<div class="freelancer-image grid-10">
									<div class="img-cover image-round">
									<img src="{% static 'images/profile-image-2.jpg' %}" alt="">
									</div>
									</div>
									<div class="info-cover grid-90">
									<div class="grid-80">											
									<h2>Freelancer01 dd</h2>
									<p class="blue-text">Australia | Northern Territory | Palmerston </p>
									<div class="price-text">$250</div> <div class="job-status rejected">Rejected</div>
									</div>										
									<div class="actions-cover grid-20">
									<a href="" class="cancel-button">Cancel</a>
									<a href="" class="reply">Reply</a>											
									</div>		
									<p>Web and Mobile Application Development When a Development When a payment is made on a record it becomes p 	 payment is made on a record it becomes pending from the payment is made on a record</p>   
									</div>
								</div>								
						 
								<div class="freelancer-actions-list-row">
									<div class="freelancer-image grid-10">
									<div class="img-cover image-round">
									<img src="{% static 'images/profile-image-2.jpg' %}" alt="">
									</div>
									</div>
									<div class="info-cover grid-90">
									<div class="grid-80">											
									<h2>Freelancer01 dd</h2>
									<p class="blue-text">Australia | Northern Territory | Palmerston </p>
									<div class="price-text">$250</div> <div class="job-status accepted">Accepted</div>
									</div>										
									<div class="actions-cover grid-20">
									<a href="" class="cancel-button">Cancel</a>
									<a href="" class="reply">Reply</a>											
									</div>		
									<p>Web and Mobile Application Development When a Development When a payment is made on a record it becomes p 	 payment is made on a record it becomes pending from the payment is made on a record</p>   
									</div>
								</div>	
								</div>
			

						
					</div>
					</div>					
					
										
					<!--apply-for-this-job-cover ends--->											
						</div>						
						</div>
						</div>            
						</div>		
		
			</div>	</div>
			<!-- right-col for web -->       
    </div>	
	</div>
<div id="small-dialog_hire" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg">
	  <h3>Hire Section</h3>
	  <p>Are you sure want to hire this freelancer</p>
	  <input type="hidden" id="idfrncr" >

	  <a onclick="GetHireDetails()" class="yes">Yes</a>
	  <a onclick="Close()" class="cancel">No</a>
   </div>

</div>
	
    <!--create-profile ends-->
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function(){
        var jobid ="{{jobdetails.id}}";
        var type =$("#types").val();
        Get_InviteList("1","Get_InvitedList",jobid,type);
        nextView();
 });

function Get_InviteList(page_by,method,jobid,type){
	 $.ajax({
			 url : "{% url 'client:jobdetails-pagination' %}", // the endpoint
			 type : "POST", // http method
			 data : {method:"Get_InvitedList",page_by:page_by,jobid:jobid,type:type,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

			 // handle a successful response
			 success : function(data) {

				$('.'+type).html(data.list_html);
				nextView();
				paragraph();



			 }
	 });

}
function GetJobtype(elm){
 var id = $(elm).data('id');
 $("#types").val(id);
 var jobid ="{{jobdetails.id}}";

  var type=$("#types").val();



 Get_InviteList("1","Get_InvitedList",jobid,type);

}
function nextView(){
           $(".paginate_by").click(function(){

               var page_by=$(this).data('attr');
               var method=$(this).data('method');
               var jobid ="{{jobdetails.id}}";
               type = $("#types").val();

               Get_InviteList(page_by,method,jobid,type);



            });
         }
function Getdetails(elm){
   var id = $(elm).data('freelancer');
   $("#idfrncr").val(id);
   openPopup('small-dialog_hire');

}
function GetHireDetails(elm){
  var id = $(elm).data('freelancer');
  $.ajax({
			 url : ".", // the endpoint
			 type : "POST", // http method
			 data : {method:"Hire_freelancer",details:id,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

			 // handle a successful response
			 success : function(data) {

			    Close();

				var text = data.message;
				if(data.status == 'success'){

                localStorage.setItem('status_msg_company', 'true');
                DisplayMessage('success', text);
                setTimeout(function(){
					 $(location).attr('href',data.urlLink);

				}, 3000);
				}else{
				  localStorage.setItem('status_msg_company', 'true');
                DisplayMessage('failed', text);
				}





			 }
	 });


}

    </script>
{% endblock %}