
{% extends extended_template %}
{% load create_array %}
{% load staticfiles%}
{% block styles %}
 <link rel="stylesheet" href="{% static 'css/frame-work-styles.css' %}">
 <link rel="stylesheet" href="{% static 'css/create-profile.css' %}">
 <link href="https://fonts.googleapis.com/css?family=Sintony:400,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" media="all" />
 <link href="{% static 'css/select2.css'%}" rel="stylesheet">
 <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}

<!--create-profile strats-->
    <div class="create-profile" id="create-profile">
    {% include "common/loader.html" %}
          <div class="container-fluid create-profile-cover view-profil-page-cover">
          <div class="left-coll job-filter-cover my-jobs-filter-cover">
             {% include "common/profile.html" %}
            <div class="job-filter">
            <ul>
              <h4>main categories</h4>
             {% for type in workcategory|slice:":4" %}
                <li>
                    <label class="checkbox inline-cover">
                        <input name="workcategory" onchange="GetSearching()" value="{{type.id}}" class="toggle" type="checkbox">
                        <span></span>
                    </label>
                    {{type.category_title}}
                </li>
                {% endfor %}
            </ul>
                {% if workcategory.count >= 5 %}
                <a class="popup-with-zoom-anim view-more-filter"  href="#small-dialog-workcategory">+ more</a>
                {% endif %}
          </div>
           {% if request.user.is_authenticated %}
         {% ifequal request.user.active_account.type 'CLIENT'%}
          <div class="job-filter">
            <ul>
              <h4>Job Status</h4>
                {% for job_statuss in job_status %}
            <li>
                <label class="checkbox inline-cover">
                <input name="Jobstatus" value="{{job_statuss.status}}" onchange="GetSearching()" class="toggle" type="checkbox">
                <span></span>
                </label>
                {{job_statuss.status}} </li>
                {% endfor %}


            </ul>
          </div>
              {% endifequal %}
              {% endif %}


          <div class="job-filter">
            <ul>
              <h4>Job Type</h4>
                {% for payments in payment %}
            <li>
                <label class="checkbox inline-cover">
                <input name="Jobtype" value="{{payments.type}}" onchange="GetSearching()" class="toggle" type="checkbox">
                <span></span>
                </label>
                {{payments.type}} </li>
                {% endfor %}

            </ul>
          </div>

          <div class="job-filter">
               <ul>
              <h4>Experience Level</h4>
            <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="FRESHER" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Fresher </li>
              <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="INTERMEDIATE" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Intermediate </li>
                   <li>
                <label class="checkbox inline-cover">
                <input name="Experience" value="EXPERT" class="toggle" onchange="GetSearching()" type="checkbox">
                <span></span>
                </label>
                Expert </li>
            </ul>
          </div>
       <!-- Hourly Rate Filter -->
            <div class="job-filter">
                <h4>Hourly Rate</h4>
                <div class="min-max">
                    <div class="grid-40">
                        <input type="text" placeholder="Min" id="HourlyMin" onchange="GetSearching()"/>
                    </div>
                    <div class="grid-20">-</div>
                    <div class="grid-40">
                        <input type="text" placeholder="Max" id="HourlyMax" onchange="GetSearching()"/>
                    </div>
                </div>
            </div>
            <!-- Hourly Rate Filter -->

          <!--<div class="job-filter">-->
            <!--<ul>-->
              <!--<h4>Duration</h4>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--Hours or days (15)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--Weeks (54)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--Months (468)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
                <!--6 months (622)-->
              <!--</li>-->
              <!--<li>-->
                <!--<label class="checkbox inline-cover">-->
                <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                <!--<span></span>-->
                <!--</label>-->
              <!--Not Specified (0)-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->

          </div>
        <div class="center-col" id="tabs">
         {% include "common/message.html" %}
        <div class="create-profile-form-cover">
        <div id="tabs-1" class="form-step step-1">
        <div class="view-profile-cover">
        <div class="view-profile-cover-inner">
        <div class="scroll-cover my-job-list" >
        <section class="profile-introduction view-profile-single-section overview-cover" id="overview-cover" data-anchor="overview-cover">

        <div class="my-post-jobs-cover load-content">
        <div class="view-profile-single-section-header">
         {% if request.user.is_authenticated %}
         {% ifequal request.user.active_account.type 'CLIENT'%}
        <div class="grid-100"><h2>My Jobs (<span id="CountMyJobs">0</span>)</h2></div>
         {% endifequal%}
         {% endif %}
            <div class="list-search-cover suggestCon" >
			<input placeholder="Find Jobs :" id="search_type" type="text"><span class="search-button" onclick="SearchAll()" id="search-buttonc"> </span>

            <!--{% if request.user.is_authenticated %}-->
         <!--{% ifequal request.user.active_account.type 'CLIENT'%}-->
        <!--<div class="grid-50"><a href="{% url 'client:clientjobpost' %}" class="next-arrow-button pull-right">Post a New Job<i></i></a></div>-->
        <!--{% endifequal %}-->
            <!--{% endif %}-->
        </div>
        </div>
            <div id="ListView"></div>
        </div>
        </section>

       </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="right-col related-freelancers hide">
            <h2>Related Freelancers</h2>
          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="{% static 'images/profile-image.jpg' %}" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>
          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="{% static 'images/profile-image.jpg' %}" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>

          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="{% static 'images/profile-image.jpg' %}" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>

          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="{% static 'images/profile-image.jpg' %}" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>
          <div class="client-comment">
            <div class="comments">
              <div class="comment-img">
              <img src="{% static 'images/profile-image.jpg' %}" alt="">
              </div>
              <div class="comment-text">
              <h3>John Sam Victor</h3>
              <span class="rate">$40.00/hr</span>
              <div class="star-ratings"> <img src="{% static 'images/star-ratings.png' %}" alt=""></div>
              <div class="skills-cover">
              <span class="skill">Html</span>
              <span class="skill">illustrator</span>
              <span class="skill">Photoshop</span>
              <span class="skill">illustrator</span>
             </div>
              </div>
            </div>
          </div>
        </div>
        </div>


      </div>
    </div>
<!-- dailoge-box -->
                <div id="small-dialog-workcategory" class="zoom-anim-dialog mfp-hide small-dialog">
                    <div class="more-filter-box">

                        <div class="job-filter">
                            <h4>main categories</h4>

                            <div class="search-categories">
                              <input placeholder="Search Categories" id="target_Workcategory" type="text">
                            </div>
                           <div id="Get_Work_Category">
                            <ul>
                                {% for type in workcategory %}
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="workcategory" value="{{type.id}}" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                {{type.category_title}}
                            </li>
                            {% endfor %}


                            </ul>
                            </div>

                            <div class="field-row">
                                <div class="grid-20 padding-right-5">
                                    <button type="button" onclick="GetSearching(),Close()" class="blue-button">Filter</button>
                                </div>
                                <div class="grid-20 padding-left-5">
                                    <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
                                </div>
                            </div>
                            <!--<div class="more-filter-action">-->
                              <!--<input value="Filter" type="button" onclick="GetSearching(),Close()">-->
                              <!--<button type="button" onclick="Close()" class="light-grey-button">Cancel</button>-->

                            <!--</div>-->
                            <button title="Close()" type="button" class="mfp-close">×</button>

                        </div>

                    </div>
                </div>

                <!-- dailoge-box -->
        <!--create-profile ends-->
{% endblock %}
{% block extrajs %}
<script src="{% static 'scripts/jquery.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script src="{% static 'scripts/select2.js' %}"></script>

<script src="{% static 'scripts/jquery.magnific-popup.js' %}"></script>
{% endblock %}
{% block extra_js %}
<script>
      $(document).ready(function(){
        workcategorylist();
        next();





        $(".status-message a.close").click(function(){
   			  $(".status-message").fadeOut('fast');
   		  });

        $(".view-the-company-link").click(function(){
          $(".status-message").fadeIn('fast');
           setTimeout(function(){
             $(".status-message").fadeOut();
           }, 3000);
        });








        var availableTags = [
                  {% autoescape off %}
                  {% for key in key_words_search %}
                  "{{key}}",
                  {% endfor %}
                  {% endautoescape %}

                ];
            $( "#search_type" ).on( "keydown", function( event ) {
            count = 0;
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
              event.preventDefault();
            }
           })
           //appendTo: $("#input").next()
          .autocomplete({
            minLength: 0,
            appendTo: $(".suggestCon"),
            source: function( request, response ) {
              response( $.ui.autocomplete.filter(
                availableTags, extractLast( request.term ) ).slice(0,15) );
            },
            focus: function() {
              // prevent value inserted on focus
              return false;
            },
            select: function( event, ui ) {
              var terms = split( this.value );
              // remove the current input
              terms.pop();
              // add the selected item
              terms.push( ui.item.value );
              // add placeholder to get the comma-and-space at the end
              terms.push( "" );
              this.value = terms.join( "," );
              $(".search_clear").fadeIn(500);
              return false;
            }
          });


        listJobs('1','','','','','','','');

      });
      function extractLast( term ) {
               return split( term ).pop();
      }
      function split( val ) {
               return val.split( /,\s*/ );
      }
      function GetPagination(page_by,search,method){
          $.ajax({
                 url : "{% url 'client:paginationsearch' %}", // the endpoint
                 type : "POST", // http method
                 data : {method:method,page_by:page_by,search:search,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {

                    $('#'+method).html(data.paginator_html);
                    NextPrevious();

                 }
             });


         }
         function NextPrevious(){
          $(".paginate_bys").click(function(){

            var page_by=$(this).data('attr');
            var method=$(this).data('method');
            var search=$(this).data('search');


              GetPagination(page_by,$( "#"+search ).val(),method);

        });
         }
         function workcategorylist(){

           GetPagination('1',$( "#target_Workcategory" ).val(),'Get_Work_Category');
         }
         function worksubcategorylist(){
           GetPagination('1',$( "#target_Worksubcategory" ).val(),'Get_Work_SubCategory');
         }
         function listJobs(page_by,search,search_category,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax){
         $.ajax({
                 url : "{% url 'client:jobspagination' %}", // the endpoint
                 type : "POST", // http method
                 data : {method:"Search_job",page_by:page_by,search:search,search_category:search_category,search_status:search_status,search_type:search_type,search_experiance:search_experiance,search_hourlymin:search_hourlymin,search_hourlymax:search_hourlymax,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {
                    $(".body_loader").hide();

                    $('#ListView').html(data.list_html);
                    $('#CountMyJobs').html(data.count);
                    next();
                    moreless();


                 }
             });
         }
          function next(){
           $(".paginate_by").click(function(){
              $(".body_loader").show();
              var search='';
              var page_by=$(this).data('attr');
              var option_all=getSearchTerm('workcategory');
              var search_type=getSearchTerm('Jobtype');
              var search_status=getSearchTerm('Jobstatus');
              var search_experiance=getSearchTerm('Experience');
              var search_hourlymin=$('#HourlyMin').val();
              var search_hourlymax=$('#HourlyMax').val();


              listJobs(page_by,search,option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax);





            });
         }
         function moreless(){
            // Configure/customize these variables.
        var showChar = 250; // How many characters are shown by default
        var ellipsestext = "...";
        var moretext = "Show more ...";
        var lesstext = "Show less";


        $('.more').each(function() {
            var content = $(this).html();

            if (content.length > showChar) {


                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });

        $(".morelink").click(function() {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
         }
          function GetSearching(){
             $(".body_loader").show();

              var option_all=getSearchTerm('workcategory');
              var search_type=getSearchTerm('Jobtype');
              var search_status=getSearchTerm('Jobstatus');
              var search_experiance=getSearchTerm('Experience');
              var search_hourlymin=$('#HourlyMin').val();
              var search_hourlymax=$('#HourlyMax').val();



             listJobs('1','',option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax);
          }
          function getSearchTerm(term){
            var option_all='';
            if($('input[name='+term+']:checked').length >0){
              option_all += $('input[name='+term+']:checked').map(function () {
                return $(this).val()+",";
            }).get().join(',');

            return option_all;
          }else{
           return option_all;
          }

          }
          function SearchAll(){
              //if($("#search_type").val()){
              $(".body_loader").show();

              var search=$("#search_type").val();
              var option_all='';
              var search_type='';
              var search_status='';
              var search_experiance='';
              var search_hourlymin='';
              var search_hourlymax='';


              listJobs(1,search,option_all,search_status,search_type,search_experiance,search_hourlymin,search_hourlymax);

             //}

          }

    </script>








{% endblock %}