{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
 <!--create-profile strats-->
        <div class="create-profile" id="create-profile">
            {% include "common/loader.html" %}
            <div class="container-fluid create-profile-cover view-profil-page-cover freelancers-list-page">
                <div class="left-coll job-filter-cover">
                    <div class="job-filter">
                        <h4>main categories</h4>
                        <ul>
                            {% for type in workcategory|slice:":4" %}
                            <li>
                                <label class="checkbox inline-cover">
                                    <!--<input name="workcategory" onchange="GetSubcategory()"onchange="GetSearching()" value="{{type.category_title}}" class="toggle" type="checkbox">-->
                                     <input name="workcategory[]" data-id="{{type.id}}" onchange="GetSearching(),GetSubcategory()" value="{{type.id}}" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                {{type.category_title}}
                            </li>
                            {% endfor %}
                            <!--<li>-->
                                <!--<label class="checkbox inline-cover">-->
                                    <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                                    <!--<span></span>-->
                                <!--</label>-->
                                <!--Engineering-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<label class="checkbox inline-cover">-->
                                    <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                                    <!--<span></span>-->
                                <!--</label>-->
                                <!--IT & Networking </li>-->
                            <!--<li>-->
                                <!--<label class="checkbox inline-cover">-->
                                    <!--<input name="Experience" value="Mid level" class="toggle" type="checkbox">-->
                                    <!--<span></span>-->
                                <!--</label>-->
                                <!--Sales & Marketing </li>-->
                        </ul>
                        {% if workcategory.count >= 5 %}
                        <a class="popup-with-zoom-anim view-more-filter"  href="#small-dialog-workcategory">+ more</a>
                        {% endif %}
                    </div>
                    <div class="job-filter" id="SubCategory">
                        <h4>	Sub categories </h4>
                        <!--<ul>-->
                            <!--{% for type in subcategory|slice:":4" %}-->
                            <!--<li>-->
                                <!--<label class="checkbox inline-cover">-->
                                    <!--<input name="subcategory" onchange="GetSearching()" value="{{type.sub_category_title}}" class="toggle" type="checkbox">-->
                                    <!--<span></span>-->
                                <!--</label>-->
                                <!--{{type.sub_category_title}}-->
                            <!--</li>-->
                            <!--{% endfor %}-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="checkbox inline-cover">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input name="Experience" value="Mid level" class="toggle" type="checkbox">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;Photoshop&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="checkbox inline-cover">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input name="Experience" value="Mid level" class="toggle" type="checkbox">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;Illustartor&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<label class="checkbox inline-cover">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input name="Experience" value="Mid level" class="toggle" type="checkbox">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;Development&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--</ul>-->
                        <!--{% if subcategory.count >= 5 %}-->
                        <!--<a class="popup-with-zoom-anim view-more-filter"  href="#small-dialog-subcategory">+ more</a>-->
                        <!--{% endif %}-->
                    </div>

                    <!-- skills filter -->
                    <div class="job-filter">
                        <h4>Skills </h4>
                        <select id="Skills" onchange="GetSearching()" multiple>
                          <option disabled="disabled" >Select Skills</option>
                          {% for type in skills %}
                        <option value="{{type.name}}">{{type.name}}</option>
                        {% endfor %}
                      </select>
                        <!--<input type="text" placeholder="" class="search-skills" />-->

                    </div>
                    <!-- skills filter -->

                    <!-- countries filter -->
                    <div class="job-filter">
                      <h4>Countries </h4>
                      <select id="Countries" onchange="GetSearching()" multiple>
                          <option disabled="disabled" >Select Country</option>
                          {% for type in countries %}
                        <option value="{{type.name}}">{{type.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <!-- countries filter -->

                    <!-- Hourly Rate Filter -->
                    <div class="job-filter">
                        <h4>Hourly Rate</h4>
                        <div class="min-max">
                            <div class="grid-40">
                                <input type="text" placeholder="Min" id="HourlMin" onchange="GetSearching()"/>
                            </div>
                            <div class="grid-20">-</div>
                            <div class="grid-40">
                                <input type="text" placeholder="Max" id="HourlMax" onchange="GetSearching()"/>
                            </div>
                        </div>
                    </div>
                    <!-- Hourly Rate Filter -->

                    <div class="job-filter">
                        <h4>Ratings <a href="">(all)</a></h4>
                        <ul>
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="Experience" value="Mid level" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                Between 1 star - 2 star
                            </li>
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="Experience" value="Mid level" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                Between 2 star - 3 star
                            </li>
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="Experience" value="Mid level" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                Between 3 star - 4 star
                            </li>
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="Experience" value="Mid level" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                Between 4 star - 5 star
                            </li>
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="Experience" value="Mid level" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                Perfect 5 stars
                            </li>
                    </div>

                </div>
                <!-- dailoge-box -->
                <div id="small-dialog-workcategory" class="zoom-anim-dialog mfp-hide small-dialog">
                    <div class="more-filter-box">

                        <div class="job-filter">
                            <h4>main categories</h4>

                            <div class="search-categories">
                              <input placeholder="Search Categories" id="target_Workcategory" type="text">
                            </div>
                           <div id="Get_Work_Category">
                            <ul>
                                {% for type in workcategory %}
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="workcategory" data-id="{{type.id}}" onchange="GetSubcategory()" value="{{type.id}}" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                {{type.category_title}}
                            </li>
                            {% endfor %}


                            </ul>
                            </div>

                            <div class="more-filter-action">
                              <input value="Filter" type="button" onclick="GetSearching(),Close()">
                            </div>

                        </div>

                    </div>
                </div>
                <div id="box"></div>

                <!-- dailoge-box -->
                <!-- dailoge-box -->
                <div id="small-dialog-subcategory" class="zoom-anim-dialog mfp-hide small-dialog sub-category-more-cover">
                    <div class="more-filter-box">

                        <div class="job-filter">
                            <h4>Sub Categories</h4>

                            <div class="search-categories">
                              <input placeholder="Search Sub Categories" id="target_Worksubcategory" type="text">
                            </div>
                            <div id="Get_Work_SubCategory">
                            <ul>
                                {% for type in subcategory %}
                            <li>
                                <label class="checkbox inline-cover">
                                    <input name="subcategory" value="{{type.sub_category_title}}" class="toggle" type="checkbox">
                                    <span></span>
                                </label>
                                {{type.sub_category_title}}
                            </li>
                            {% endfor %}


                            </ul>
                            </div>

                            <div class="more-filter-action">
                              <input value="Filter"   type="button" onclick="GetSearching(),Close()">
                            </div>

                        </div>

                    </div>
                </div>

                <!-- dailoge-box -->

                <div class="center-col" id="tabs">
                     {% include "common/message.html" %}

                    <div class="view-profile-cover list-results-cover">
                        <div class="scroll-cover">
                            <div class="create-profile-form-cover search-result-cover">
                                <div class="list-search-cover ">
                                    <input type="hidden" placeholder="Find Freelancer :" id="search_type" /><span id ="search-button" class="search-button hide"> </span>
                                </div>
                                <div class="search-result-heading">
                                    <h2>Freelancers (<span id="FreelancerCount">{{freelancerlist.count}}</span>)</h2>
                                    <div class="view-actions">
                                        <a href="#" class="grid-view active"></a>
                                        <a href="#" class="list-view "></a>

                                        </ul>
                                    </div>
                                </div>
                                <div class="list-grid-cover grid-view">

                                    <div class="list-grid tile-view" id="ListView">
                                        {% for freelancer in freelancerlist %}
                                        <div class="list-grid-single freelancer-list-single-cover">
                                            <a href="" class="invite-button">Invite</a>
                                            <div class="img-cover image-round">
                                                
                                                {% if freelancer.user.user_detail.get.profile %}
                                                <img src="{{freelancer.user.user_detail.get.profile.url}}" alt="">
                                                {% else %}
                                                <img src="{% static 'images/no-image.svg' %}" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="list-info">
                                                <div class="info-inner-cover">
                                                    <h2>{{freelancer.user.first_name}} {{freelancer.user.last_name}}</h2>
                                                    <h4>{{freelancer.user.user_detail.get.title}} {% if freelancer.user.freelancer_hourly_user.get.hourly_rate %}/ <span class="rate-info">${{freelancer.user.freelancer_hourly_user.get.hourly_rate}}/Hr</span>{% endif %}</h4>
                                                    <div class="skills-cover">

                                                    {% if freelancer.user.user_detail.get.skills.all %}

                                                        {% for skills in freelancer.user.user_detail.get.skills.all|slice:":4" %}
                                                        <span class="skill">{{skills.name}}</span>
                                                        {% endfor %}
                                                        <!--<span class="skill">Html</span>-->
                                                        <!--<span class="skill">Design</span>-->

                                                    {% endif %}
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="bottom-cover">
                                                <div class="grid-40">
                                                    <div class="star-ratings">
                                                        <img src="{% static 'images/star-ratings.png' %}" alt="">
                                                    </div>
                                                </div>
                                                <div class="grid-60">
                                                    <p class="location">{% if freelancer.user.freelancer_location_user.get.country.pk %}{{freelancer.user.freelancer_location_user.get.country.name}}{% endif %}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}














                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--create-profile ends-->
<a class="popup-with-zoom-anim view-more-filter hide small-dialog_invite"  href="#small-dialog_invite">click</a>

<!-- dailoge-box -->
<div id="small-dialog_invite" class="zoom-anim-dialog mfp-hide small-dialog invite-box">

</div>
{% endblock %}
{% block extra_js %}
<script>
        $(document).ready(function() {

           $('#Skills').select2({
                dropdownParent: $("#box")
            });
            $('#Countries').select2({
                dropdownParent:  $("#box")
            });
           workcategorylist();
           worksubcategorylist();
           function split( val ) {
               return val.split( /,\s*/ );
           }
           function extractLast( term ) {
               return split( term ).pop();
           }
            next()
            $("#tabs").tabs();
            var count = 0;
                var availableTags = [
                   {% autoescape off %}
                  {% for key in key_words %}
                  "{{key}}",
                  {% endfor %}
                  {% endautoescape %}

                ];
            $( "#search_type" ).on( "keydown", function( event ) {
                        count = 0;
                        if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).autocomplete( "instance" ).menu.active ) {
                          event.preventDefault();
                        }
                      })
                      .autocomplete({
                        minLength: 0,
                        source: function( request, response ) {
                          response( $.ui.autocomplete.filter(
                            availableTags, extractLast( request.term ) ).slice(0,15) );
                        },
                        focus: function() {
                          // prevent value inserted on focus
                          return false;
                        },
                        select: function( event, ui ) {
                          var terms = split( this.value );
                          // remove the current input
                          terms.pop();
                          // add the selected item
                          terms.push( ui.item.value );
                          // add placeholder to get the comma-and-space at the end
                          terms.push( "" );
                          this.value = terms.join( "," );
                          $(".search_clear").fadeIn(500);
                          return false;
                        }
                      });

            <!--$(".help-accordion").accordion({-->
                <!--heightStyle: "content",-->
                <!--collapsible: true-->
            <!--});-->

            $(".start-date").datepicker();
            $(".end-date").datepicker();

            <!--$(".mobile-menu").click(function() {-->
                <!--$(".header-elents-cover").slideToggle('fast');-->
            <!--});-->

            $(".language-selector").click(function() {
                $(".languages").fadeToggle('fast');
            });

            $('.create-profile').ready(function() {
                $(".loader,.loader-overlay").fadeOut("slow");
            });

            $(".form-section-row .form-label-blue").click(function() {
                $(this).next().slideToggle("");
                $(this).toggleClass("open");
            });

            $(".clone-close").click(function() {
                $(this).parents('.form-cloning-cover').fadeOut("normal", function() {
                    $(this).remove();
                });
            });

            $(".delete-button").click(function() {
                $(this).parents('.view-clone-cover').fadeOut("normal", function() {
                    $(this).remove();
                });
            });
             var search = $("#search_type").val();
             var option_all=$("#search_type").val();
             var hourlymax=$('#HourlMax').val();
             var hourlymin=$('#HourlMin').val();
             var workcategory=$('input[name="workcategory[]"]:checked').map(function() {return this.value;}).get().join(',');

             var subcategory=getSearchTerm('subcategory');
             var skills=$("#Skills").val() ;
             var country=$("#Countries ").val();



            listFreelancer('1',option_all,hourlymax,hourlymin,workcategory,subcategory,skills,country);


            $("#search-button").click(function() {
             $(".body_loader").show();
            var option_all=$("#search_type").val();
            var hourlymax=$('#HourlMax').val();
            var hourlymin=$('#HourlMin').val();
            var workcategory=getSearchTerm('workcategory');
            var subcategory=getSearchTerm('subcategory');
            var skills=$("#Skills").val() ;
            var country=$("#Countries").val();




           listFreelancer('1',option_all,hourlymax,hourlymin,workcategory,subcategory,skills,country);

            });

            $(".status-message a.close").click(function() {
                $(".status-message").fadeOut('fast');
            });

            $(".view-the-company-link").click(function() {
                $(".status-message").fadeIn('fast');
                setTimeout(function() {
                    $(".status-message").fadeOut();
                }, 3000);
            });

            $(".delete-button").click(function() {
                $(this).parents('.view-profile-clone').fadeOut("normal", function() {
                    $(this).remove();
                });
            });

            $(".grid-view").click(function() {
                $(".list-grid-cover").addClass("grid-view");
                $(".list-view").removeClass("active");
                $(this).addClass("active");

            });

            $(".list-view").click(function() {
                $(".list-grid-cover").removeClass("grid-view");
                $(".grid-view").removeClass("active");
                $(this).addClass("active");
            });

        });
    </script>

    <script>
        $(function() {
            $('.image-editor').cropit();
            $('form').submit(function() {
                // Move cropped image data to hidden input
                var imageData = $('.image-editor').cropit('export');
                $('.hidden-image-data').val(imageData);
                // Print HTTP request params
                var formValue = $(this).serialize();
                $('#result-data').text(formValue);
                // Prevent the form from actually submitting
                return false;
            });
        });
    </script>

    <script>
        //Div navigation
        // 1 Go to section
        <!--$('.view-profile-links a').click(function(e) {-->
            <!--e.preventDefault();-->
            <!--var path = $(this).attr("data-scroll");-->
            <!--var anchor = $("#" + path);-->
            <!--var position = anchor.position().top + $(".scroll-cover").scrollTop();-->
            <!--if ($(window).width() > 767) {-->
                <!--$(".scroll-cover").animate({-->
                    <!--scrollTop: position-->
                <!--}, 100);-->
                <!--console.log(position);-->
            <!--} else {-->
                <!--console.log(position);-->
                <!--$(".modal").animate({-->
                    <!--scrollTop: position-->
                <!--}, 100);-->
            <!--}-->
            <!--$(".pop-up-nav-for-small").slideUp();-->
        <!--});-->

        //2 Make link active
        $('.scroll-cover').scroll(function() {
            var windscroll = $('.scroll-cover').scrollTop();
            if (windscroll >= 100) {
                $('.view-profile-cover section').each(function(i) {

                    //alert( $(this).position().top );

                    if ($(this).position().top <= 175) {

                        ($(this).position().top);
                        $('.view-profile-links ul li.active').removeClass('active');
                        $('.view-profile-links ul li').eq(i).addClass('active');

                    }
                });
            } else {
                $('.view-profile-links li.active').removeClass('active');
                $('.view-profile-links li:first').addClass('active');
            }
        }).scroll();
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
        GetPopupfilter();
        $("#SubCategory").html('');


        $( "#target_Workcategory" ).on('keyup change',function() {
                 var search = $(this).val();

                 GetPagination('1',search,'Get_Work_Category');

              });


               NextPrevious();
            $('.portfolio-image-cover, .certifications-image-cover').magnificPopup({
                delegate: 'a',
                type: 'image',
                closeOnContentClick: false,
                closeBtnInside: false,
                mainClass: 'mfp-with-zoom mfp-img-mobile',
                gallery: {
                    enabled: true
                },
                zoom: {
                    enabled: true,
                    duration: 300, // don't foget to change the duration also in CSS
                    opener: function(element) {
                        return element.find('img');
                    }
                }

            });

            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
        function GetPagination(page_by,search,method){
          $.ajax({
                 url : "{% url 'client:paginationsearch' %}", // the endpoint
                 type : "POST", // http method
                 data : {method:method,page_by:page_by,search:search,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {

                    $('#'+method).html(data.paginator_html);
                    NextPrevious();

                 }
             });


         }
         function NextPrevious(){
          $(".paginate_bys").click(function(){

            var page_by=$(this).data('attr');
            var method=$(this).data('method');
            var search=$(this).data('search');


              GetPagination(page_by,$( "#"+search ).val(),method);

        });
         }
         function workcategorylist(){
           GetPagination('1',$( "#target_Workcategory" ).val(),'Get_Work_Category');
         }
         function worksubcategorylist(){
           GetPagination('1',$( "#target_Worksubcategory" ).val(),'Get_Work_SubCategory');
         }
         function next(){
           $(".paginate_by").click(function(){
                $(".body_loader").show();
               var search = $("#search_type").val();
               var hourlymax=$('#HourlMax').val();
               var hourlymin=$('#HourlMin').val();
               var page_by=$(this).data('attr');
               var workcategory=getSearchTerm('workcategory');
               var subcategory=getSearchTerm('subcategory');
               var skills=$("#Skills").val() ;
               var country=$("#Countries ").val();
               listFreelancer(page_by,search,hourlymax,hourlymin,workcategory,subcategory,skills,country);



            });
         }
         function listFreelancer(page_by,search,hourlymax,hourlymin,workcategory,subcategory,skills,country){
             $.ajax({
                     url : "{% url 'client:freelancerpagination' %}", // the endpoint
                     type : "POST", // http method
                     data : {method:"Search_autocomplete",page_by:page_by,search:search,hourlymax:hourlymax,hourlymin:hourlymin,workcategory:workcategory,subcategory:subcategory,skills:skills,country:country,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                     // handle a successful response
                     success : function(data) {
                         $(".body_loader").hide();

                        $('#ListView').html(data.list_html);
                        $('#FreelancerCount').html(data.count);
                        next();


                     }
             });
         }
         function GetSearching(){
           $(".body_loader").show();


            var option_all=$("#search_type").val();
            var hourlymax=$('#HourlMax').val();
            var hourlymin=$('#HourlMin').val();
            var workcategory=$('input[name="workcategory[]"]:checked').map(function() {return this.value;}).get().join(',');

            var subcategory=getSearchTerm('subcategory');
            var skills=$("#Skills").val() ;
            var country=$("#Countries ").val();




           listFreelancer('1',option_all,hourlymax,hourlymin,workcategory,subcategory,skills,country);

         }
         function getSearchTerm(term){
             <!--var option_all=$("#search_type").val();-->


            <!--if (option_all!=''){-->
              <!--option_all = option_all+',';-->
              <!--option_all += $("#Countries ").val()+',';-->
              <!--option_all += skills+',';-->
              <!--}else{-->

                <!--if ($("#Skills ").val() !=''){-->
               <!--var skills = $("#Skills ").val();-->
               <!--option_all += skills+',';-->
             <!--}if ($("#Countries ").val() !=''){-->
               <!--var Countries = $("#Countries ").val();-->
               <!--option_all += Countries+',';-->
             <!--}-->
              <!--}-->

             <!--if($('input[name=workcategory]:checked').length >0){-->
              <!--option_all += $('input[name=workcategory]:checked').map(function () {-->
                <!--return $(this).val();-->
            <!--}).get().join(',');-->

            <!--}-->
            <!--if (option_all!=''){-->
              <!--option_all = option_all+',';-->
              <!--}-->
            <!--option_all += $('input[name=subcategory]:checked').map(function () {-->
                <!--return $(this).val();-->
            <!--}).get().join(',');-->

           var option_all='';
            if($('input[name='+term+']:checked').length >0){
              option_all += $('input[name='+term+']:checked').map(function () {
                return $(this).val()+",";
            }).get().join(',');

            return option_all;
          }else{
           return option_all;
          }
         }
         function InviteFreelancer(elm){
          var id =$(elm).data('id');
              $.ajax({
                         url : ".", // the endpoint
                         type : "POST", // http method
                         data : {method:"Invite_Freelancer",id:id,csrfmiddlewaretoken: '{{ csrf_token }}'},

                         // handle a successful response
                         success : function(data) {

                            $('#small-dialog_invite').html(data.html);
                            $('.small-dialog_invite').click();


                         }
              });
          }
          function SaveInviteJob(){
              var form =$('#InviteJob').serialize();

              $.ajax({
                             url : ".", // the endpoint
                             type : "POST", // http method
                             data : form, // data sent with the post request

                             // handle a successful response
                             success : function(data) {

                                if(data.status=='failed'){
                                  $(".error").hide();
                                  $.each(data.data, function( index, value ) {
                                  $(".errors_"+index).show();
                                  $(".errors_"+index).html('<ul class="errorlist"><li>'+value+'</li></ul>');


                                  //$(".errors_"+index).delay(5500).fadeOut('slow');

                                });

                                }else{
                                  $(".error").hide();
                               var text = "Invited Successfully";
                               Close();
                               localStorage.setItem('status_msg_company', 'true');
                               DisplayMessage('success', text);


                               var messages = {
                                    created_by : "{{request.user.id}}",
                                    user_id :data.fid,
                                    title :"{{request.user.first_name}} {{request.user.last_name}}"+" Invited a job "+data.data,
                                    url:"{% url 'freelancer:freelancerjoblist' %}",
                                    description :"hj"
                               }



                               notifictaion(data.note);


                                }


                             }
              });

          }
          function GetSubcategory(){
          if($('input[name="workcategory[]"]:checked').length >0){
             var id =$('input[name="workcategory[]"]:checked').map(function() {return this.getAttribute("data-id");}).get().join(',');
             $.ajax({
                             url : ".", // the endpoint
                             type : "POST", // http method
                             data : {workid:id,method:"Get_html_Subcategory",csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                             // handle a successful response
                             success : function(data) {

                                if(data.status=='success'){
                                 $("#SubCategory").html(data.sub_category_html);
                                $("#small-dialog-subcategory").html(data.sub_category_pophtml);
                                GetPopupfilter();



                                }


                             }
              });
              }else{
                $("#SubCategory").html('');
              }
          }
          function GetPopupfilter(){
            $( "#target_Worksubcategory" ).on('keyup change',function() {
                 var search = $(this).val();

                 GetPagination('1',search,'Get_Work_SubCategory');


              });
          }

    </script>

    <!--<script>-->
        <!--$(".drop-down-cover .drop-menu-link").click(function() {-->
            <!--$(this).find(".drop-menu").slideToggle('fast');-->
        <!--});-->
    <!--</script>-->

    <link rel="stylesheet" href="/resources/demos/style.css">

    <script>
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function(event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>

        {% endblock %}