{% load staticfiles %}
<div class="profile-image-cover" >
   <div id="profile-images">
      <div class="image-editors profile-image-cover">
         {% if request.user.get_client_company_intance.logo %}
         <div class="cropit-preview profile-image" style="background: #eee url('{{request.user.get_client_company_intance.logo.url}}') no-repeat scroll 0 0; ">
            <div class="loader company_loader_logo" style="display: none;"></div>
         </div>
         {% else %}
         <div class="cropit-preview profile-image" style="background: #eee url('{% static 'images/company-logo.jpg' %}') no-repeat scroll 0 0; ">
            <div class="loader company_loader_logo" style="display: none;"></div>
         </div>
         {% endif %}
         <div class="crop-actions">
            <div class="cropit-image-zoom-input-cover">
               <input type="range" class="cropit-image-zoom-input">
            </div>
            <div class="profile-image-actions">
               <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>
               {% if request.user.get_client_company_intance.logo %}
               <span  onclick="GetValues(this)" data-delete="logo" class="actions delete-photo">Delete Photo</span>
               {% else %}
               <span  class=" actions delete-photo">Delete Photo</span>
               {% endif %}
            </div>
            <div class="profile-image-actions secondary-actions">
               <span id ="imageFields" class="actions save-photo">Save Photo</span>
               <span onclick="Cancel(this)" data-cancel="logo" class="actions cancel-photo">Cancel Photo</span>
            </div>
         </div>
      </div>
   </div>
</div>