{% load staticfiles%}
<div class="profile-image-cover" id="profile-image">
   <div class="image-editor profile-image-cover" >
      {% if request.user.user_detail.get.profile %}
      <div class="cropit-preview profile-image" style="background: #eee url('{{request.user.user_detail.get.profile.url}}') no-repeat scroll 0 0; ">
         <div class="loader loader_logo" style="display: none;"></div>
      </div>
      {% else %}
      <div class="cropit-preview profile-image" style=" background: rgb(217, 227, 235) url('{% static 'images/no-image.svg'%}') no-repeat scroll center center / 182px auto;">
         <div class="loader loader_logo" style="display: none;"></div>
      </div>
      {% endif %}
      <div class="crop-actions">
         <div class="cropit-image-zoom-input-cover">
            <input type="range" class="cropit-image-zoom-input">
         </div>
         <div class="profile-image-actions">
            <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>
            {% if request.user.user_detail.get.profile %}
            <span  onclick="GetValues(this)" data-delete="profile" class="actions delete-photo">Delete Photo</span>
            {% else %}
            <span  class=" actions delete-photo">Delete Photo</span>
            {% endif %}
         </div>
         <div class="profile-image-actions secondary-actions">
            <span id ="imageField"class="actions save-photo">Save Photo </span>
            <span onclick="Cancel(this)" data-loader="loader_logo" data-cancel="profile" class="actions cancel-photo">Cancel Photo</span>
         </div>
      </div>
   </div>
</div>
<div id="small-dialog_delete_image" class="zoom-anim-dialog mfp-hide small-dialog">
   <div class="delete-confirmation delete-msg_image">
      <h3>Delete Section</h3>
      <p>Are you sure want to delete this image</p>
      <input type="hidden" id ="typeimage">
      <a onclick="Delete()" class="yes">Ok</a>
      <a onclick="Close()" class="cancel">Cancel</a>
   </div>
   <div id="delete-msg_image" class="delete-confirmation hide">
      <h3>Delete Section</h3>
      <p>Successfully Deleted</p>
   </div>
</div>