<script>
    $(document).ready(function() {
        getBudgetTextBox();
        ClosingDate();

        $(".work_category").each(function() {

            GetWorkcategory(this);
        });

});
function GetWorkcategory(elm) {

        $.ajax({
            url: "{% url 'client:clientprofile' %}", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_workcategory",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="" >Select Work Category</option>';

                $.map(responses, function(item) {
                    var select = '';
                    console.log($(elm).data('id'));
                    if ($(elm).data('id') != 0) {
                        if (item.pk == $(elm).data('id')) {
                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }

                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.category_title + '</option>';

                });

                $(elm).html(newOption);
                Getsubcategory(elm);
                GetSkills(elm);



            }
        });

    }

    function Getsubcategory(elm) {


        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }

        $.ajax({
            url: "{% url 'client:clientprofile' %}", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_worksubcategorys",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                workid: workid
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select Sub Category</option>';
                if ($(elm).data('type') == '2') {
                    classs = 'clone-sec';
                } else {
                    classs = 'create-profile-form';
                }
                $.map(responses, function(item) {


                   if ($(elm).closest('.' + classs).find('.sub_category').data('id') != 0) {
                        if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.sub_category').data('id')) > -1) {


                            var select = 'selected="selected"';
                        } else {
                            var select = '';
                        }
                    }


                    newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.sub_category_title + '</option>';

                });

                $(elm).closest('.' + classs).find('.sub_category').html(newOption);
                $(elm).closest('.' + classs).find('.sub_category').select2();
                GetSkills(elm);




            }
        });


    }

    function GetSkills(elm) {

        var workid = "0";
        if ($(elm).val() != '') {
            workid = $(elm).val()
        }

        if ($(elm).data('type') == '2') {
            classs = 'clone-sec';
        } else {
            classs = 'create-profile-form';
        }
        $.ajax({
            url: "{% url 'client:clientprofile' %}", // the endpoint
            type: "POST", // http method
            data: {
                method: "get_skillsoptions",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                subid: workid
            }, // data sent with the post request

            // handle a successful response
            success: function(responses) {
                newOption = '<option value="0" >Select skills</option>';
                if (responses) {
                    $.map(responses, function(item) {


 console.log($(elm).closest('.' + classs).find('.skillsoptions').data('id')+"gggggggggg");

                        if ($(elm).closest('.' + classs).find('.skillsoptions').data('id') != 0) {
                            if ($.inArray(item.pk, $(elm).closest('.' + classs).find('.skillsoptions').data('id')) > -1) {

                                var select = 'selected="selected"';
                            } else {
                                var select = '';
                            }
                        }

                        newOption += '<option ' + select + ' value="' + item.pk + '">' + item.fields.name + '</option>';

                    });
                }
                $(elm).closest('.' + classs).find('.skillsoptions').html(newOption);
                $(elm).closest('.' + classs).find('.skillsoptions').select2();

            }
        });

    }
     function getBudgetTextBox() {
        $(document).on('change', '#pay-type-selector', function() {
            $('.amount-type-fields').hide();
            $('.amount-type-fields').find('input[type=text]').attr('type', 'hidden');
            $('.amount-type-fields').find('input').attr('value', '');
            $('.amount-type-fields').addClass('hidefilds');

            $('.budget' + $(this).val()).show();
            $('.budget' + $(this).val()).find('input[type=hidden]').attr('type', 'text');
            $('.budget' + $(this).val()).find('input[type=hidden]').attr('value', '');
            $('.budget' + $(this).val()).removeClass('hidefilds');
        });
     }
     function ClosingDate() {
        $(".start-dates").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: new Date()
        });
    }



    function JobPost() {
        $(".body_loader").show();
        var cloneData = $("form#JobPosts input[type=text], form#JobPosts select");
        var values = {};
        cloneData.each(function(index, item) {


            if ($(this).val() == '' || $(this).val() == null) {
                values[this.name] = this.name;
                $('#' + $(this).data('classname')).removeClass('hide');
            } else {




                if (values[this.name]) {
                    values.slice($.inArray(this.name, JSON.stringify(values)), 1);
                }
                $('#' + $(this).data('classname')).addClass('hide');
            }
        });

        //alert(Object.keys(values).length);

        if (Object.keys(values).length == '0' || $('#errors_valid').val() == '1') {
            $('#errors_valid').val('1');
        } else {
            $('#errors_valid').val('0');
        }
        //alert($('#errors_valid').val());

        $.ajax({
            url: "{% url 'client:clientjobpost' %}", // the endpoint
            type: "POST", // http method
            data: $('#JobPosts').serialize(), // data sent with the post request

            // handle a successful response
            success: function(data) {
             $(".body_loader").hide();
                if (data.status == 'failed') {

                    $(".error").hide();

                   if(data.type == 0){
                    $.each(data.data, function(index, value) {
                        $(".errors_" + index).show();
                        if (value == 'Select a valid choice. That choice is not one of the available choices.') {
                            value = "Job Category is required";
                        }
                        $(".errors_" + index).html('<ul class="errorlist"><li>' + value + '</li></ul>');
                        console.log("#errors_" + index);


                        //$(".errors_"+index).delay(5500).fadeOut('slow');

                    });
                    pos = $(".errorlist").offset().top;
                     var anchor = $(".errorlist:first");
                     var position = anchor.position().top ;

                     $('html, body').animate({scrollTop:0},800);

                     $(".scroll-cover").animate({scrollTop:position}, 100);
                     }else{
                       var text = data.message;

                        localStorage.setItem('status_msg_company', 'true');
                        DisplayMessage('failed', text);
                     }

                } else {

                    $(".error").hide();

                    if (data.type == '1') {
                        var text = data.message;

                        localStorage.setItem('status_msg_company', 'true');
                        localStorage.setItem('status_msg_company_text', data.message);
                        //DisplayMessage('success', text);


                        $('#JobPosts')[0].reset();

                        //$("#job_details").val("0").change();
                        jobtitlechange();
                        window.location.href = "{% url 'client:clientjobs'%}";
                        var delay = 2000;
                        setTimeout(function(){  }, delay);

                    } else {
                        openPopup("small-dialog-error");

                    }


                }
            }
        });
    }
function Continue() {
        $('#errors_valid').val('1');
        Close();
        JobPost();
    }
</script>