{% extends 'inner_page_base.html' %}
{% load create_array %}
{% load staticfiles%}
{% block content %}
  <!--create-profile strats-->
    <div class="create-profile" id="create-profile">
{% include "common/loader.html" %}
          <div class="container-fluid two-grid-container create-profile-cover view-profil-page-cover" id="tabs">
		  <div class="two-grid-cover">
			<div class="left-coll">

			{% include "common/profile.html" %}

			<div class="mail-navigations">
				<ul>
					<li>
						<a href="#tabs-1"> Inbox <span class="notification_count">64</span> </a>
					</li>
					<li class="hide">
						<a href="#tabs-2">Send Items <span>64</span></a>
					</li>
					<li  class="hide">
						<a href="#tabs-3">Propsels <span>88</span></a>
					</li>
				</ul>
			</div>


            </div>

           <div class="center-col">
			<div class="create-profile-form-cover">
				<div class="view-profile-cover">
					<div class="view-profile-cover-inner notification-outer-cover job-deatils-cover">
						<div class="scroll-cover">

					<div id="tabs-1" class="notifications notification-inbox">

							<div class="view-profile-single-section-header">
                            <h2>Inbox (<span class="notification_count">64</span>)</h2>
                            </div>
                            <div class="ListingNot">

							<!--<div class="notification-cover unread">-->
								<!--<div class="notification-img-outer">-->
									<!--<div class="notification-img round-cover"><img src="images/client-photo.jpg" alt=""></div>-->
								<!--</div>-->
								<!--<div class="notification-text-cover">-->
									<!--<div class="drop-down-cover more-button-cover">-->
										<!--<div class="drop-menu-link">-->
											<!--<a href="#" class="loggined-person more-button">-->

											<!--</a>-->
											<!--<div class="loggined-view-cover drop-menu more-button-list">-->
												<!--<label><a href="">Edit</a></label>-->
												<!--<label><a href="">Delete</a></label>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->


									<!--<p><span>Praveen Kumar Aju Jhon</span> shared qoute to try it with shared qoute to youy you <span>Sam Alaxander</span> it with  shared qoute to try it with shared qoute to try it with will happening nothing important , we qoute JQuery shared qoute to youy </p>-->
									<!--<label class="notification-date"><i></i>15 September at 12:30</label>-->
								<!--</div>-->
							<!--</div>-->
                         <!--{% if notification %}-->
                        <!--{% for notifications in notification %}-->

							<!--<div class="notification-cover {% if notifications.status == '1' %} unread {% endif %}">-->
								<!--<div class="notification-img-outer">-->
									<!--<div class="notification-img round-cover">{% if request.user.user_type.type == 'FREELANCER' %}{% if  notifications.created_by.user_detail.get.profile %}<img src="{{notifications.created_by.user_detail.get.profile.url }}" alt="">{% else %} <img src="{% static 'images/no-image.svg'%}" alt="">{% endif %}{% else %} {% if notifications.created_by.client_user_detail.get.profile %}<img src="{{notifications.created_by.client_user_detail.get.profile.url }}" alt=""> {% else %} <img src="{% static 'images/no-image.svg'%}" alt="">{% endif %}{% endif %}</div>-->
								<!--</div>-->
								<!--<div class="notification-text-cover">-->
									<!--<a href="" class="more-button"></a>-->
									<!--<p><span>{{ notifications.created_by.first_name }} {{ notifications.created_by.last_name }}</span> {% if notifications.description %} {{ notifications.description}}{% else %}{{ notifications.title}}{% endif %}</p>-->
									<!--<label class="notification-date"><i></i>{{ notifications.created_date}}</label>-->
								<!--</div>-->
							<!--</div>-->
                        <!--{% endfor %}-->
                        <!--{% endif %}-->








						</div>



						<div id="tabs-2" class="notifications notification-send">
							<div class="view-profile-single-section-header">
                            <h2>Send Item (44)</h2>
                            </div>
							<div class="notification-cover">
								<div class="notification-img-outer">
									<div class="notification-img round-cover"><img src="images/client-photo.jpg" alt=""></div>
								</div>
								<div class="notification-text-cover">
									<a href="" class="more-button"></a>
									<p><span>Praveen Kumar Aju Jhon</span> shared qoute to try it with shared qoute to youy you <span>Sam Alaxander</span> it with  shared qoute to try it with shared qoute JQuery shared qoute to youy </p>
									<label class="notification-date"><i></i>15 September at 12:30</label>
								</div>
							</div>
							<div class="notification-cover unread">
								<div class="notification-img-outer">
									<div class="notification-img round-cover"><img src="images/client-photo.jpg" alt=""></div>
								</div>
								<div class="notification-text-cover">
									<a href="" class="more-button"></a>
									<p><span>Praveen Kumar Aju Jhon</span> shared qoute to try it with shared qoute to youy you <span>Sam Alaxander</span> it with  shared qoute to try it with shared qoute to try it with will happening nothing important , we qoute JQuery shared qoute to youy </p>
									<label class="notification-date"><i></i>15 September at 12:30</label>
								</div>
							</div>
						</div>

						<div id="tabs-3" class="notifications notification-propsels">
							<div class="view-profile-single-section-header">
                            <h2>Propsel (44)</h2>
                            </div>
							<div class="notification-cover">
								<div class="notification-img-outer">
									<div class="notification-img round-cover"><img src="images/client-photo.jpg" alt=""></div>
								</div>
								<div class="notification-text-cover">
									<a href="" class="more-button"></a>
									<p><span>Praveen Kumar Aju Jhon</span> shared qoute to try it with shared qoute to youy you <span>Sam Alaxander</span> it with  shared qoute to try it with shared qoute JQuery shared qoute to youy </p>
									<label class="notification-date"><i></i>15 September at 12:30</label>
								</div>
							</div>
							<div class="notification-cover unread">
								<div class="notification-img-outer">
									<div class="notification-img round-cover"><img src="images/client-photo.jpg" alt=""></div>
								</div>
								<div class="notification-text-cover">
									<a href="" class="more-button"></a>
									<p><span>Praveen Kumar Aju Jhon</span> shared qoute to try it with shared qoute to youy you <span>Sam Alaxander</span> it with  shared qoute to try it with shared qoute to try it with will happening nothing important , we qoute JQuery shared qoute to youy </p>
									<label class="notification-date"><i></i>15 September at 12:30</label>
								</div>
							</div>
						</div>



					</div>
				</div>
			</div>
			</div>
			<!-- right-col for web -->
			</div>
			</div>

    <!--create-profile endsNot-->


{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function(){
    ListingNotification("1");
    next();
    var lastScrollTop = 0;
    $(window).scroll(function(event){
       var st = $(this).scrollTop();
       if (st > lastScrollTop){
           if(!$(".paginate_by:last").hasClass('clicked')){
           console.log("uy");
              $(".paginate_by:last").click();
           }

       } else {

       }
       lastScrollTop = st;
    });
});
function ListingNotification(page_by){
      $.ajax({
         url : "{% url 'notifications:notificationlist' %}", // the endpoint
         type : "POST", // http method
         data : {method:"List_notifications",page_by:page_by,csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

         // handle a successful response
         success : function(data) {

            $('.ListingNot').append(data.paginator_html);
            $(".notification_count").html(data.count);
            next();



         }
     });
}
function next(){
       $(".paginate_by").click(function(){
          $(this).addClass('clicked');

          var page_by=$(this).data('attr');



          ListingNotification(page_by);





       });
}


</script>

{% endblock %}