{% if is_paginated %}
<div class="pagination-cover">
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a  class ="paginate_by"  data-attr="{{ page_obj.previous_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="prev paginate_by" href="#">Prev</a></li>
     {% else %}
         <li class="visited"><a>Prev</a></li>

    {% endif %}
    {% for page in page_numbers %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="disabled Active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li   ><a class ="paginate_by" data-search="freelancer_search" data-attr="{{page_number}}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
         <li class ="paginate_by"  data-attr="{{ page_obj.next_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="nex paginate_by"><a>Next</a> </li>
      {% else %}
        <li class="visited"><a>Next</a></li>

    {% endif %}
    </ul>
</div>
{% endif %}