{% load staticfiles %}
{% if request.user.is_authenticated %}
{% ifequal request.user.active_account.type 'FREELANCER'%}
              <div class="profile-photo-minimal-cover">
				<div class="profile-photo-minimal">
					 {% if request.user.user_detail.get.profile %}
					<img src="{{request.user.user_detail.get.profile.url}}" alt="">
					{% else %}
					<img src="{% static 'images/no-image.svg'%}" alt="">
					{% endif %}
				</div>
				<div class="profile-name">
					<h5>{{request.user.first_name}} {{request.user.last_name}} </h5>
                    <p>{{request.user.email}}</p>
				</div>
			</div>
{% endifequal %}
{% ifequal request.user.active_account.type 'CLIENT'%}
              <div class="profile-photo-minimal-cover">
				<div class="profile-photo-minimal">
					 {% if request.user.client_user_detail.get.profile %}
					<img src="{{request.user.client_user_detail.get.profile.url}}" alt="">
					{% else %}
					<img src="{% static 'images/no-image.svg'%}" alt="">
					{% endif %}
				</div>
				<div class="profile-name">
					<h5>{{request.user.first_name}} {{request.user.last_name}} </h5>
                    <p>{{request.user.email}}</p>
				</div>
			</div>
{% endifequal %}
{% endif %}