<form method="post" id="update_invite_users">
   <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}">
   <div class="field-row">
      <h3 class="form-label-blue">Email</h3>
      <input id="email" readonly disabled data-name="Email" name="email" placeholder="Email" value="{{object.user}}" type="text">
      <span class="error_msgs"></span>
      <input type="hidden" value="update_invite_user" name="method">
      <input type="hidden" value="{{object.id}}" name="roleid">
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Role</h3>
      <div class="grid-20">
         <label class="radio inline-cover">
         <input  name="role_type" class="role_type" data-name="Role Type" value="Admin" {% if object.role_type == 'Admin' %} checked {% endif %} type="radio">
         <span>Admin</span>
         </label>
         <span class="error_msgs"></span>
      </div>
      <div class="grid-20">
         <label class="radio inline-cover">
         <input name="role_type"  class="role_type" value="Staff" {% if object.role_type == 'Staff' %} checked {% endif %} type="radio">
         <span>Staff</span>
         </label>
      </div>
   </div>
   <div class="field-row form-button-field">
      <div class="grid-20 padding-right-5">
         <button  id="UpdateInviteUser"  type="button" class="blue-button">Save</button>
      </div>
      <div class="grid-20 padding-right-5">
         <button type="button" onclick="Close()" class="blue-button-bordererd">Cancel</button>
      </div>
   </div>
</form>