 {% load create_array %}
<div id="small-dialog_editemployment">
    <form id="edit_certification">
        {% csrf_token %}

        <input type="hidden" name="method" value="Update_freelancer_certification">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        <input type="hidden" name="id" value="{{object.pk}}">
        <div class="field-row">

            <h3 class="form-label-blue">Certification Name</h3>
            <input placeholder="Certification Name"  maxlength="50" data-name="Certification Name" value="{{object.certificate_name}}" class="certificate_name names_emply" name="certificate_name" type="text">
            <span class="error_msg"></span>
        </div>
        <div class="field-row">

            <h3 class="form-label-blue">Issued by</h3>
            <input placeholder="Issued by" type="text" maxlength="30" name="issuedby" value="{{object.issued_by}}">
        </div>

        <div class="field-row">
            <div class="grid-50 padding-right-5">
                <h3 class="form-label-blue">Start Date</h3>
                <input placeholder="Start Date" class="calander start-date" value="{{object.valid_from |date:'m/d/Y'}}" name="start_date" type="text" readonly value="">

                <span class="error_msg"></span>
            </div>

            <div class="grid-50 padding-left-5">
                <h3 class="form-label-blue">End Date</h3>
                <input placeholder="End Date" class="calander end-date" name="end_date" value="{{object.end_to |date:'m/d/Y'}}" type="text" readonly>
            </div>
        </div>

        <div class="field-row">
            <div class="grid-20 padding-right-5">
                <button type="button" onclick="UpdatefreelancerCertification()" class="blue-button">Save</button>
            </div>
            <div class="grid-20 padding-left-5">
                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
            </div>
        </div>
    </form>
</div>