 {% load create_array %}
<div id="small-dialog_editemployment">
    <form id="edit_employment">
        {% csrf_token %}

        <input type="hidden" name="method" value="Update_freelancer_employment">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        <input type="hidden" name="id" value="{{object.pk}}">
        <div class="field-row">

            <h3 class="form-label-blue">Company Name</h3>
            <input placeholder="Company Name" maxlength="50" value="{{object.company_name}}" name="company_name" type="text" data-name="Company Name" class="names_emply"><span class="error_msg"></span>
        </div>
        <div class="field-row">

            <h3 class="form-label-blue">Role</h3>
            <input placeholder="Role" type="text" maxlength="30" data-name="Role" value="{{object.role}}" class="" name="role">
            <span class="error_msg"></span>
        </div>

        <div class="field-row">
            <div class="grid-50 padding-right-5">
                <h3 class="form-label-blue">Start Date</h3>
                <input placeholder="Start Date" class="calander start-date" value="{{object.start_date |date:'m/d/Y' }}" name="start_date" type="text" readonly>

                <span class="error_msg"></span>
            </div>

            <div class="grid-50 padding-left-5">
                <h3 class="form-label-blue">End Date</h3>
                <input placeholder="End Date" class="calander end-date" name="end_date" value="{{object.end_date| date:'m/d/Y'}}" type="text" readonly>

            </div>
        </div>

        <div class="field-row">

            <h3 class="form-label-blue">Description</h3>
            <textarea placeholder="Description" name="description"> {{object.description}}</textarea>

        </div>

        <div class="field-row">
            <div class="grid-20 padding-right-5">
                <button type="button" onclick="UpdatefreelancerEmployment()" class="blue-button">Save</button>
            </div>
            <div class="grid-20 padding-left-5">
                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
            </div>
        </div>
    </form>
</div>