<!--{% load static %}-->
<!--<link href="{% static 'css/select2.css'%}" rel="stylesheet">-->
{% load create_array %}
<div id="small-dialog_editportfolio">
    <form id="edit_portfolio">
        {% csrf_token %}

        <input type="hidden" name="method" value="Update_freelancer_portfolio">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        <input type="hidden" name="id" value="{{object.pk}}">
        <div class="field-row">

            <h3 class="form-label-blue">Project Name</h3>
            <input placeholder="Project Name" maxlength="50" value="{{object.project_name}}" class="name names_emply" data-name="Project Name" name="project_name" type="text">
            <span class="error_msg"></span>
        </div>
        <div class="field-row">

            <h3 class="form-label-blue">Description</h3>
            <textarea placeholder="Description" name="description">{{object.description}}</textarea>
        </div>
        <span class="errors_description error"></span>

        <div class="field-row">
            <div class="grid-50 padding-right-5">
                <h3 class="form-label-blue">Work Category</h3>
                <select class="work_category work_categorys_emply" data-name="Work Category " data-id="[{% if object.work_category.pk %}{{object.work_category.pk}}{% else %}0{% endif %}]" data-type="3" name="work_category"  onchange="Getsubcategory(this),GetSkills(this)">
                    <option>Work Category1</option>
                    <option>Work Category2</option>
                    <option>Work Category3</option>
                    <option>Work Category4</option>
                </select>

                <span class="error_msg"></span>
            </div>

            <div class="grid-50 padding-left-5">
                <h3 class="form-label-blue">Sub Category</h3> {% create_an_array object.sub_category.all as variable %}
                <select class="sub_category" name="sub_category" data-id="{{variable}}" data-type="3" multiple="multiple">
                    <option value="0">Select Sub Category</option>

                </select>
                <span class="errors_subcategory error"></span>
            </div>
        </div>

        <div class="field-row">
            <div class="grid-50 padding-right-5">

                <h3 class="form-label-blue">Skills</h3> {% create_an_array object.skills.all as variable %}
                <select class="skillsoptions" multiple="multiple" data-id="{{variable}}" data-type="3" name="skills">
                    <option value="0">Select Skills</option>

                </select>
                <span class="errors_skills error"></span>
            </div>
            <div class="grid-50 padding-left-5">

                <h3 class="form-label-blue">Project Url</h3>

                <input placeholder="Project Url" value="{{object.project_url}}" data-name="Project Url" class="project_emply project_url" name="project_url" type="text">
                <span class="error_msg"></span>
            </div>
        </div>

        <div class="field-row">
            <div class="grid-20 padding-right-5">
                <button type="button" onclick="UpdatefreelancerPortfolio()" class="blue-button">Save</button>
            </div>
            <div class="grid-20 padding-left-5">
                <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
            </div>
        </div>
    </form>
</div>
<!--<script src="{% static 'scripts/jquery.js' %}"></script>-->
<!--<script src="{% static 'scripts/select2.js' %}"></script>-->
<!--<script>-->
<!--$(document).ready(function() {-->

<!--$(".work_category").each(function(){-->

<!--GetWorkcategory(this);-->
<!--});-->
<!--});-->

<!--function GetWorkcategory(elm){-->
<!--$.ajax({-->
<!--url : "{% url 'freelancer:freelancerprofile' %}", // the endpoint-->
<!--type : "POST", // http method-->
<!--data : {method:"get_workcategory",csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request-->

<!--// handle a successful response-->
<!--success : function(responses) {-->
<!--newOption = '<option value="" >Select Work Category</option>';-->

<!--$.map( responses, function( item ) {-->
<!--var select ='';-->
<!--console.log($(elm).data('id'));-->
<!--if($(elm).data('id')!=0){-->
<!--if(item.pk ==$(elm).data('id')){-->
<!--var select ='selected="selected"';-->
<!--}else{-->
<!--var select ='';-->
<!--}-->
<!--}-->

<!--newOption += '<option '+select+' value="' + item.pk + '">' + item.fields.category_title + '</option>';-->

<!--});-->
<!--$(elm).html(newOption);-->
<!--Getsubcategory(elm);-->

<!--}-->
<!--});-->

<!--}-->
<!--function Getsubcategory(elm){-->
<!--var workid  ="0";-->
<!--if($(elm).val() !='')-->
<!--{-->
<!--workid = $(elm).val()-->
<!--}-->

<!--$.ajax({-->
<!--url : "{% url 'freelancer:freelancerprofile' %}", // the endpoint-->
<!--type : "POST", // http method-->
<!--data : {method:"get_worksubcategorys",csrfmiddlewaretoken: '{{ csrf_token }}',workid:workid}, // data sent with the post request-->

<!--// handle a successful response-->
<!--success : function(responses) {-->
<!--newOption = '<option value="0" >Select Sub Category</option>';-->
<!--if($(elm).data('type') == '3'){-->
<!--classs ='small-dialog_editportfolio';-->
<!--}-->
<!--if($(elm).data('type') == '2'){-->
<!--classs ='small-dialog_addportfolio';-->
<!--}if($(elm).data('type') == '1'){-->
<!--classs ='small-dialog_2';-->
<!--}-->
<!--$.map( responses, function( item ) {-->

<!--console.log($(elm).closest('#'+classs).find('.sub_category').data('id'));-->
<!--if($(elm).closest('#'+classs).find('.sub_category').data('id')!=0){-->
<!--if($.inArray(item.pk,$(elm).closest('#'+classs).find('.sub_category').data('id')) > -1 ){-->
<!--var select ='selected="selected"';-->
<!--}else{-->
<!--var select ='';-->
<!--}-->
<!--}-->

<!--newOption += '<option '+select+' value="' + item.pk + '">' + item.fields.sub_category_title + '</option>';-->

<!--});-->

<!--$(elm).find('.sub_category').html(newOption);-->
<!--$(elm).find('.sub_category').select2();-->
<!--}-->
<!--});-->
<!--if($(elm).data('type') == '3'){-->
<!--classs ='small-dialog_editportfolio';-->
<!--}-->
<!--if($(elm).data('type') == '2'){-->
<!--classs ='small-dialog_addportfolio';-->
<!--}if($(elm).data('type') == '1'){-->
<!--classs ='small-dialog_2';-->
<!--}-->
<!--$.ajax({-->
<!--url : "{% url 'freelancer:freelancerprofile' %}", // the endpoint-->
<!--type : "POST", // http method-->
<!--data : {method:"get_skillsoptions",csrfmiddlewaretoken: '{{ csrf_token }}',subid:workid}, // data sent with the post request-->

<!--// handle a successful response-->
<!--success : function(responses) {-->
<!--newOption = '<option value="0" >Select skills</option>';-->
<!--if(responses){-->
<!--$.map( responses, function( item ) {-->

<!--var select ='';-->
<!--console.log($(elm).closest('#'+classs).find('.skillsoptions').data('id'));-->
<!--if($(elm).closest('#'+classs).find('.skillsoptions').data('id')!=0){-->
<!--if($.inArray(item.pk, $(elm).closest('#'+classs).find('.skillsoptions').data('id')) > -1 ){-->
<!--var select ='selected="selected"';-->
<!--}else{-->
<!--var select ='';-->
<!--}-->
<!--}-->

<!--newOption += '<option '+select+' value="' + item.pk + '">' + item.fields.name + '</option>';-->

<!--});-->
<!--}-->
<!--$(elm).find('.skillsoptions').html(newOption);-->
<!--$(elm).find('.skillsoptions').select2();-->

<!--}-->
<!--});-->

<!--}-->
<!--</script>-->