{% for portfolios in portfoilio %}
  <div class="portfolio-image" data-id="{{portfolios.id}}">

    <img src="{{ portfolios.thumb_portfolio_image.url}}" alt="" class="pip"/>
     <a href="{{ portfolios.thumb_portfolio_image.url}}"  title="{{ portfolio.thumb_portfolio_image}}">
    <span  class="view-action portfolio-actions"></span></a>
    <span  class="delete-action portfolio-actions removePreviws" onclick="DeleteProfiles(this)" data-id="{{portfolios.id}}" data-pid="{{portfolio.id}}" data-title="portfolioimage"></span>
    </a>
    </div>
  {% endfor %}

  <!--<div class="upload-img portfolio-image-add {% if portfoilio.count >= 8 %}hide{% endif %}">-->
        <!--<span  class="add-more" title=""></span>-->
     <!--<input type="file" multiple name="imagesupload" class="id_attachments">-->
    <!--<br><br><div onclick="SavePortfoilioImages(this)" data-id="{{id}}">save</div>-->
  <!--</div>-->
<div class="upload_p_con upload-img portfolio-image-add {% if portfoilio.count >= 8 %}hide{% endif %}">
		<div  class="add-more" title="" onclick="selectimage(this)">
			<span class="btn_a">+</span>
		</div>

		<input type="file" multiple name="imagesupload" class="id_attachments" value="" onchange="triggerbtn(this)">

		<!-- <a class="upload_img" onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a> -->

	</div>



    <div class="img_selected"> <!-- Show selected images goes here -->
        <div class="upload_img_con"> <!-- Upload/Save button goes here -->
            <a class="upload_img " onclick="SavePortfoilioImages(this)" data-id="{{id}}">Upload</a>
        </div>
    </div>
	<!--<div class="upload_img_con"> &lt;!&ndash; Upload/Save button goes here &ndash;&gt;-->
		<!--<a class="upload_img hide" onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a>-->
	<!--</div>-->