{% load static %}

<div class="image-editor profile-image-cover">
    {% if object %}
    <div class="cropit-preview profile-image" style="background: #eee url('{{object}}') no-repeat scroll 0 0; "><div class="loader loader_logo" style="display: none;"></div></div>
    {% else %}
    <div class="cropit-preview profile-image" style=" background: rgb(217, 227, 235) url('{% static 'images/no-image.svg'%}') no-repeat scroll center center / 182px auto;"><div class="loader loader_logo" style="display: none;"></div></div>

    {% endif %}
    <!--<div class="cropit-image-zoom-input-cover">-->
    <!--<input type="range" class="cropit-image-zoom-input">-->
    <!--</div>-->

    <!--<div class="profile-image-actions">-->
    <!--<span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>-->
    <!--<span id="imageField" class="actions delete-photo">Save Photo</span>-->
    <!--</div>-->
    <div class="crop-actions">
        <div class="cropit-image-zoom-input-cover">
            <input type="range" class="cropit-image-zoom-input">
        </div>
        <div class="profile-image-actions">
            <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span> {% if object %}
            <span onclick="GetValues(this)" data-delete="profile" class="actions delete-photo">Delete Photo</span> {% else %}
            <span class="actions delete-photo">Delete Photo</span> {% endif %}
        </div>
        <div class="profile-image-actions secondary-actions">
            <span id="imageField" class="actions save-photo">Save Photo</span>
            <span onclick="Cancel(this)" data-loader="loader_logo" data-cancel="profile" class="actions cancel-photo">Cancel Photo</span>

        </div>
    </div>
</div>