{% load static %}
{% for portfolio in request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all %}
<div class="portfolio-single-cover view-clone-cover">
   <div class="action-cover">
      <div class="delete-button deletevalues"  onclick="DeleteSection(this)"  data-id="{{portfolio.pk}}" data-title="portfolio">Delete</div>
      <a class="edit-button"  onclick="GetEditDetails(this)"  data-title="portfolio" data-id="{{portfolio.pk}}">Edit</a>
   </div>
   <h3 class="sub-heading-arows">{{portfolio.project_name}}</h3>
   <p class="skills">
      {% for skills in  portfolio.skills.all %}
      {{skills.name}}
      {% if forloop.counter < portfolio.skills.all.count %}
      ,
      {% endif %}
      {% empty %}
      {% endfor %}
   </p>
   <p class="description more">
      {{portfolio.description}}
   </p>
   <p class="category"> </p>
   <p class="sub-category"> </p>
   <a href="{{portfolio.project_url}}" target="_blank" class="portfolio-link">{{portfolio.project_url}}</a>
   <div class="portfolio-image-cover">
      <div class="portfolio-image">
         <a href="{% static 'images/prt-4.png' %}"  title="Light Sabre">
         <img src="{% static 'images/prt3.png' %}" alt="" />
         </a>
      </div>
      <div class="portfolio-image">
         <a href="{% static 'images/prt-2.png' %}"  title="Light Sabre">
         <img src="{% static 'images/prt.png' %}" alt="" />
         </a>
      </div>
   </div>
</div>
{% empty %}
<div class="view-profile-single-section-nocontent">
   <p>No Portfolio to show .. <a href="#small-dialog_addportfolio" class="popup-with-zoom-anim edit-button">Add Portfolio</a></p>
</div>
{% endfor %}