{% load static %}
<div class="image-editors profile-image-cover">

    {% if object %}
    <div class="cropit-preview profile-image" style="background: #eee url('{{object}}') no-repeat scroll 0 0; "><div class="loader company_loader_logo" style="display: none;"></div></div>
    {% else %}
    <div class="cropit-preview profile-image" style="background: #eee url('{% static 'images/company-logo.jpg' %}') no-repeat scroll 0 0; "><div class="loader company_loader_logo" style="display: none;"></div></div>

    {% endif %}

    <div class="crop-actions">
        <div class="cropit-image-zoom-input-cover">
            <input type="range" class="cropit-image-zoom-input">
        </div>
        <div class="profile-image-actions">
            <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span> {% if object %}
            <span onclick="GetValues(this)" data-delete="logo" class="actions delete-photo">Delete Photo</span> {% else %}
            <span class="actions delete-photo">Delete Photo</span> {% endif %}
        </div>
        <div class="profile-image-actions secondary-actions">

            <span onclick="Cancel(this)" data-loader="company_loader_logo" data-cancel="logo" class="actions cancel-photo">Cancel Photo</span>
             <span id="imageFields" class="actions save-photo">Save Photo</span>
        </div>
    </div>
</div>