{% load static %}
<div class="rate-info left-side-info-box">
   <div class="action-cover">
      <a class="popup-with-zoom-anim edit-button ChangeHourlyPopup"  data-hidden="locationHide" >Edit</a>
   </div>
   <h3>Hourly Rate</h3>
   <div class="left-side-info-row">
      <div class="left-side-info-col">
         <span>Hourly Rate</span>
         <label>$ {% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate}} {% else %} 0.00 {% endif %}</label>
      </div>
      <div class="left-side-info-col">
         <span>Actual Rate</span>
         <label>$ {% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate}}{% else %} 0.00 {% endif %}</label>
      </div>
   </div>
</div>
<div class="rate-info left-side-info-box">
   <div class="action-cover">
      <a class="popup-with-zoom-anim edit-button ChangeHourlyPopup"   data-hidden="hourlyHide" >Edit</a>
   </div>
   <h3>Location Details</h3>
   <div class="left-side-info-row">
      <div class="left-side-info-col">
         <span>Country</span>
         <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.name}}{% else %} Not set {% endif %}</label>
      </div>
      <div class="left-side-info-col">
         <span>City</span>
         <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.name}}{% else %} Not set {% endif %}</label>
      </div>
   </div>
   <div class="left-side-info-row">
      <div class="left-side-info-col">
         <span>State</span>
         <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.name}}{% else %} Not set {% endif %}</label>
      </div>
      <div class="left-side-info-col">
         <span>ZIP Code</span>
         <label>{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code}}{% else %} Not set {% endif %}</label>
      </div>
   </div>
   <div class="left-side-info-row address-block">
      <p class="location">{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address}}{% else %}Not set{% endif %}.</p>
   </div>
</div>