{% load static %}
<div class="freelancer-basic-info">
   <div class="grid-100">
      <h2>{{request.user.user_detail.get.title}}  <a class="edit-button" onclick="Get_freelancer_profile_popup()">Edit</a>
      </h2>
      <div class="star-ratings">
         <img src="{% static 'images/star-ratings.png' %}" alt="" />
      </div>
      <h4><span class="designation blue-color">{% if request.user.user_detail.get.workcategory.category_title %}{{ request.user.user_detail.get.workcategory.category_title}}, {% endif %}</span>{% if request.user.experience_level.exp_level_type %}{{ request.user.experience_level.exp_level_type}}{% endif %} <span class="rate">${% if request.user.freelancer_hourly_user.get.hourly_rate %}{{request.user.freelancer_hourly_user.get.hourly_rate}}{% else %}0.00{% endif %}/hr
         <a class="popup-with-zoom-anim edit-button ChangeHourlyPopup"  data-hidden="locationHide" href="#small-dialog">Edit</a></span>
      </h4>
      <p class="location">{% if request.user.freelancer_location_user.get.address %}{{request.user.freelancer_location_user.get.address}}{% else %}Not set{% endif %}.</p>
   </div>
</div>
<!--<div class="grid-20">-->
<!--<span class="rate">$40.00/hr</span>-->
<!--</div>-->
<!-- skills-cover -->
<div class="skills-cover ">
   {% for skills in request.user.user_detail.get.skills.all %}
   <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skills.name}}</span>
   {% endfor %}
   {% if request.user.user_detail.get.skills.count > 10 %}
   <a  onclick="Moreskills(this)" class="more">more..</a>
   {% endif %}
   <!--<span class="skill">Html</span>-->
   <!--<span class="skill">illustrator</span>-->
   <!--<span class="skill">Photoshop</span>-->
   <!--<span class="skill">Html</span>-->
   <!--<span class="skill">illustrator</span>-->
   <!--<span class="skill">Development</span>-->
   <!--<span class="skill">illustrator</span>-->
   <!--<span class="skill">xamp</span>-->
   <!--<span class="skill">Fireworks</span>-->
   <!--<span class="skill">Design</span>-->
   <!--<span class="skill">xamp</span>-->
   <!--<span class="skill">Fireworks</span>-->
   <!--<span class="skill">Design</span>-->
   <!--<span class="skill">Development</span>-->
   <!--<span class="skill">illustrator</span>-->
   <!--<span class="skill">xamp</span>-->
   <!--<span class="skill">Fireworks</span>-->
   <!--<span class="skill">Design</span>-->
   <!--<a href="" class="more">more..</a>-->
</div>
<div class="description">
   <p class="more">
      {% if request.user.user_detail.get.about %}{{request.user.user_detail.get.about}}{% endif %}
   </p>
</div>