{% load static %}
{% for employment in request.user.employment_history.all %}
<div class="employement-history-single view-clone-cover">
   <div class="action-cover">
      <div class="delete-button deletevalues"  onclick="DeleteSection(this)" data-id="{{employment.pk}}" data-title="employment">Delete</div>
      <a class="edit-button"  onclick="GetEditDetails(this)"  data-title="employment" data-id="{{employment.pk}}">Edit</a>
   </div>
   <h3 class="sub-heading-arows">{{ employment.company_name}}</h3>
   <p class="role">{{ employment.role}}</p>
   <div class="duration-cover">
      {% if employment.start_date %}
      <span class="duration-start-date date">{{ employment.start_date|date:'d-m-Y'}}</span>
      {% endif %}
      {% if employment.end_date %}
      <span class="to">to</span>
      <span class="duration-end-date date">{{employment.end_date |date:'d-m-Y' }}</span>
      {% endif %}
   </div>
   <p class="description more">
      {{ employment.description}}
   </p>
</div>
{% empty %}
<div class="view-profile-single-section-nocontent">
   <p>No Employment History to show .. <a href="#small-dialog_addpemployment" class="popup-with-zoom-anim edit-button">Add Employment</a></p>
</div>
{% endfor %}