{% load static %}
<div class="profile-introduction-cover">
   <div class="company-logo-cover">
      <div class="profile-image-cover " id="profile-images" >
         <div class="image-editors profile-image-cover">
            {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo %}
            <div class="cropit-preview profile-image" style="background: #eee url('{{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo.url}}') no-repeat scroll 0 0; ">
               <div class="loader company_loader_logo" style="display: none;"></div>
            </div>
            {% else %}
            <div class="cropit-preview profile-image" style="background: #eee url('{% static 'images/company-logo.jpg' %}') no-repeat scroll 0 0; background-size: 100%; ">
               <div class="loader company_loader_logo" style="display: none;"></div>
            </div>
            {% endif %}
            <div class="crop-actions">
               <div class="cropit-image-zoom-input-cover">
                  <input type="range" class="cropit-image-zoom-input">
               </div>
               <div class="profile-image-actions">
                  <span class="upload-photo-link"><input type="file" class="cropit-image-input"></span>
                  {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo %}
                  <span  onclick="GetValues(this)" data-delete="logo" class="actions delete-photo">Delete Photo</span>
                  {% else %}
                  <span  class=" actions delete-photo">Delete Photo</span>
                  {% endif %}
               </div>
               <div class="profile-image-actions secondary-actions">
                  <span id ="imageFields" class="actions save-photo">Save Photo</span>
                  <span onclick="Cancel(this)" data-loader="company_loader_logo" data-cancel="logo" class="actions cancel-photo">Cancel Photo</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="company-info-cover">
      <div class="company-info-cover-inner">
         <div class="grid-100 relative-cover">
            <div class="introduction-info">
               <h2>{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name}}{% else %} Company Name{% endif %} <a class="edit-button" onclick="Get_freelancer_profile_popup()" >Edit</a></h2>
               <div class="star-ratings">
                  <img src="{% static 'images/star-ratings.png' %}" alt="" />
               </div>
               <h4><span class="designation blue-color">
                  {% for workcategory in request.user.get_freelancer_company_intance.user.freelancer_company_user.get.workcategory.all %}
                  {{workcategory.category_title}}
                  {% if forloop.counter < request.user.get_freelancer_company_intance.user.freelancer_company_user.get.workcategory.count %}
                  ,
                  {% endif %}
                  {% empty %}
                  Work Category
                  {% endfor %}
                  </span><span class="rate">${% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate}}{% else %}0.00{% endif %}/hr <a class="popup-with-zoom-anim edit-button ChangeHourlyPopup "  data-hidden="locationHide" >Edit</a></span>
               </h4>
               </h4>
               <p class="location">{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address}}{% else %}Not set{% endif %}.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!--<div class="grid-20">-->
<!--<span class="rate">$40.00/hr</span>-->
<!--</div>-->
<!-- skills-cover -->
<div class="skills-cover">
   {% for skills in request.user.get_freelancer_company_intance.user.freelancer_company_user.get.skills.all %}
   <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skills.name}}</span>
   {% endfor %}
   {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.skills.count > 10 %}
   <a  onclick="Moreskills(this)" class="more">more..</a>
   {% endif %}
</div>
<div class="description">
   <p class="more">
      {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description %}{{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description}}{% endif %}
   </p>
</div>