{% load static %}
{% for cerifications in request.user.cerifications.all %}
<div class="certifications-cover-single view-clone-cover">
   <div class="action-cover">
      <div class="delete-button deletevalues"  onclick="DeleteSection(this)" data-id="{{cerifications.pk}}" data-title="cerifications">Delete</div>
      <a class="edit-button"  onclick="GetEditDetails(this)"  data-title="cerifications" data-id="{{cerifications.pk}}">Edit</a>
   </div>
   <h3 class="sub-heading-arows">{{cerifications.certificate_name}}</h3>
   <p>
      {% if cerifications.issued_by %}
      Issued by :{{cerifications.issued_by}}
      {% endif %}
   <div class="duration-cover">
      {% if cerifications.valid_from %}
      Issued from :
      <span class="duration-start-date date">{{cerifications.valid_from |date:'d-m-Y'}}</span>
      {% endif %}
      {% if cerifications.end_to %}
      <span class="to">to</span>
      <span class="duration-end-date date">{{cerifications.end_to |date:'d-m-Y'}}</span>
      {% endif %}
   </div>
   </p>
   <!--<div class="certifications-image-cover">-->
   <!--<div class="certification-image">-->
   <!--<a href="{% static 'images/cert-1.jpg' %}" title="Into The Blue">-->
   <!--<img src="{% static 'images/cert.jpg' %}" width="193" height="125" /></a>-->
   <!--</div>-->
   <!--</div>-->
</div>
{% empty %}
<div class="view-profile-single-section-nocontent">
   <p>No Certifications to show .. <a href="#small-dialog_addcertification" class="popup-with-zoom-anim edit-button">Add Certifications</a></p>
</div>
{% endfor %}