{% load static %}
{% for portfolio in request.user.portfolio.all %}
<div class="portfolio-single-cover view-clone-cover">
   <div class="action-cover">
      <div class="delete-button deletevalues" onclick="DeleteSection(this)"  data-id="{{portfolio.pk}}" data-title="portfolio">Delete</div>
      <a class="edit-button" onclick="GetEditDetails(this)"  data-title="portfolio" data-id="{{portfolio.pk}}">Edit</a>
   </div>
   <h3 class="sub-heading-arows">{{portfolio.project_name}}</h3>
   <p class="skills ">
      {% for skills in  portfolio.skills.all %}
      {{skills.name}}
      {% if forloop.counter < portfolio.skills.all.count %}
      ,
      {% endif %}
      {% empty %}
      {% endfor %}
   </p>
   <p class="description more">
      {{portfolio.description}}
   </p>
   <p class="category"> </p>
   <p class="sub-category"> </p>
   <a href="{{portfolio.project_url}}" target="_blank" class="portfolio-link">{{portfolio.project_url}}</a>
  <div class="upload_p_box portfolio-image-cover Get_portfolios">

   {% for portfolios in portfolio.portfoilid_id.all %}
   <div class="portfolio-image" data-id="{{portfolios.id}}">

     <img src="{{ portfolios.thumb_portfolio_image.url}}" alt="" class="pip"/>
      <a href="{{ portfolios.thumb_portfolio_image.url}}"  title="{{ portfolio.thumb_portfolio_image}}">
     <span  class="view-action portfolio-actions"></span></a>
     <span  class="delete-action portfolio-actions removePreviws" onclick="DeleteProfiles(this)" data-id="{{portfolios.id}}" data-pid="{{portfolio.id}}" data-title="portfolioimage"></span>
     </a>
     </div>
   {% endfor %}

   <!--<div class="upload-img portfolio-image-add {% if portfolio.portfoilid_id.count >= 8 %}hide{% endif %}">-->
         <!--<span  class="add-more" title=""></span>-->
      <!--<input type="file" multiple name="imagesupload" class="id_attachments">-->
     <!--<br><br><div onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">save</div>-->
   <!--</div>-->
      <div class="upload_p_con upload-img portfolio-image-add {% if portfoilio.count >= 8 %}hide{% endif %}">
		<div  class="add-more" title="" onclick="selectimage(this)">
			<span class="btn_a">+</span>
		</div>

		<input type="file" multiple name="imagesupload" class="id_attachments" value="" onchange="triggerbtn(this)">

		<!-- <a class="upload_img" onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a> -->

	</div>



    <div class="img_selected"> <!-- Show selected images goes here -->
        <div class="upload_img_con"> <!-- Upload/Save button goes here -->
            <a class="upload_img " onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a>
        </div>
    </div>
      <!--<div class="img_selected"> &lt;!&ndash; Show selected images goes here &ndash;&gt;-->
        <!--<div class="upload_img_con"> &lt;!&ndash; Upload/Save button goes here &ndash;&gt;-->
            <!--<a class="upload_img " onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a>-->
        <!--</div>-->
    <!--</div>-->
	<!--<div class="upload_img_con"> &lt;!&ndash; Upload/Save button goes here &ndash;&gt;-->
		<!--<a class="upload_img hide" onclick="SavePortfoilioImages(this)" data-id="{{portfolio.id}}">Upload</a>-->
	<!--</div>-->


</div>
</div>

{% empty %}
<div class="view-profile-single-section-nocontent">
   <p>No Portfolio to show ..  <a href="#small-dialog_addportfolio" class="popup-with-zoom-anim edit-button">Add Portfolio</a></p>
</div>
{% endfor %}