<div class="cancel-messgae-preview">
   <p>Quote Withdrawn You have withdrawn the quote submitted Your message for cancel the job is: <br> <span class="blue-text">
      {{job_cancel.cancel_message}}</span>
   </p>
</div>