{% load static %}
{% load create_array %}
<form id="freelancerProfile">
   <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}">
   <input type="hidden" name="method" value="Save_freelancer_profile">
   <div class="field-row">
      <h3 class="form-label-blue">Title</h3>
      <input type="text"   maxlength="25" name="title" placeholder="Title"
         value="{% if request.user.user_detail.get.title %}{{request.user.user_detail.get.title}}{% endif %}" />
      <span class="errors_title error"></span>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">About Me</h3>
      <textarea placeholder="About Me" rows="5" name="about">{% if request.user.user_detail.get.about %} {{request.user.user_detail.get.about}}{% endif %}</textarea>
      <span class="errors_about error"></span>
   </div>
   <div class="field-row">
      <div class="grid-50 padding-right-5">
         <h3 class="form-label-blue">Type of Work</h3>
         <select name="workcategory" class="work_category " data-id="{% if request.user.user_detail.get.workcategory.pk %} {{request.user.user_detail.get.workcategory.pk}}{% else %} 0 {% endif %}" data-type="1" onchange="Getsubcategory(this),GetSkills(this)">
         </select>
         <span class="errors_workcategory error"></span>
      </div>
      {% create_an_array request.user.user_detail.get.subcategory.all as variable %}
      <div class="grid-50 padding-left-5">
         <h3 class="form-label-blue">Sub Category</h3>
         <select name="subcategory"  multiple="multiple" class="sub_category js-example-basic-multiple" data-id="{{variable}}"  data-type="1">
         </select>
         <span class="errors_subcategory error"></span>
      </div>
   </div>
   <div class="field-row">
      {% create_an_array request.user.user_detail.get.skills.all as variable %}
      <h3 class="form-label-blue">Skills</h3>
      <select name="skills" multiple="multiple" class="skillsoptions js-example-basic-multiple" data-id="{{variable}}" data-type="1">
      </select>
      <span class="errors_skills error"></span>
   </div>
   <div class="field-row">
      <div class="grid-20 padding-right-5">
         <button type="button" onclick="SavefreelancerProfile()" class="blue-button">Save</button>
      </div>
      <div class="grid-20 padding-left-5">
         <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
      </div>
   </div>
</form>