{% load static %}
<form name="hourly" class="targetDiv" id="hourlyHide">
   <div class="field-row">
      <div class="grid-50 padding-right-5">
         <h3 class="form-label-blue">Hourly Rate ($)</h3>
         <input type="text" maxlength="8" class="number" onkeyup="hourlrate(this)" name="hourly_rate" data-name="Hourly Rate" placeholder="Hourly Rate"
            value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.hourly_rate}}{% endif %}" />
         <span class="error_msgs"></span>
      </div>
      <div class="grid-50 padding-left-5">
         <h3 class="form-label-blue">Actual Rate ($)</h3>
         <input type="text" value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate %}{{request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get.actual_rate}} {% endif %}"  disabled placeholder="Actual Rate"  class="actual_rate" name="actual_rate"/>
      </div>
   </div>
</form>
<form name="location" class="targetDiv" id="locationHide">
   <div class="field-row">
      <div class="grid-50 padding-right-5">
         <h3 class="form-label-blue">Country</h3>
         <select name="country" class="country" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.country.pk}}{% else %} 0 {% endif %}" onchange="GetState(this)">
            <option value="0">Country</option>
            <option>Country</option>
            <option>Country</option>
            <option>Country</option>
         </select>
      </div>
      <div class="grid-50 padding-left-5">
         <h3 class="form-label-blue">State</h3>
         <select name="state" class="state" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.state.pk}}{% else %} 0 {% endif %}" onchange="GetCity(this)">
            <option value="0">Select State</option>
            <option>Country</option>
            <option>Country</option>
            <option>Country</option>
         </select>
      </div>
   </div>
   <div class="field-row">
      <div class="grid-50 padding-right-5">
         <h3 class="form-label-blue">City</h3>
         <select name="city" class="city" data-id="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.pk %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.city.pk}}{% else %} 0 {% endif %}">
            <option value="0">Select State</option>
            <option>Country</option>
            <option>Country</option>
            <option>Country</option>
         </select>
      </div>
      <div class="grid-50 padding-left-5">
         <h3 class="form-label-blue">Zip Code</h3>
         <input type="text" value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.zip_code}} {% endif %}" placeholder="ZIP Code" maxlength="5" name="zip"/>
      </div>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Address</h3>
      <textarea placeholder="Address" name="address">{% if request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address %}{{request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get.address}} {% endif %}</textarea>
   </div>
</form>
<div class="field-row">
   <div class="grid-20 padding-right-5">
      <button type="button" onclick="SaveHourlyRate()" class="blue-button">Save</button>
   </div>
   <div class="grid-20 padding-left-5">
      <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
   </div>
</div>