<h2>Already applied for this job</h2>
<p>Cancel or edit applied quote?</p>
<div class="freelancer-actions-list-cover " id="tabs">
   <ul class="freelancer-actions-list-tabs">
      <li> <a href="#tabs-1">Update your  Quote</a> </li>
      <li> <a href="#tabs-2">Cancel Quote </a> </li>
   </ul>
   <div id="tabs-1" class="">
      <form method="post" id="myForm" action="." enctype="multipart/form-data">
         <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}">
         <input type="hidden" name="method" value="UpdateQuote">
         <input type="hidden" name="applyid" value="{{apply_jobdetails.id}}">
         <textarea name="description" placeholder="Enter the message here ..">{% if apply_jobdetails.description %}{{apply_jobdetails.description}}{% endif %}</textarea>
         <div class="field-row upload-row">
            <div class="grid-50 padding-right-10">
               <p>Estimated cost per hour ($)</p>
               <input name="estimated_cost" value="{% if apply_jobdetails.estimated_cost %}{{apply_jobdetails.estimated_cost}}{% endif %}" placeholder="Enter the cost" type="text">
               <span class="errors_estimated_cost error"></span>
            </div>
            <div class="grid-50">
               <p>Document</p>
               <div class="grid-90">
                  <input id="uploadFile" value="{% if apply_jobdetails.document %}{{apply_jobdetails.document}}{% endif %}"  onkeyup="ClearDocument()" placeholder="Choose File" type="text">
               </div>
               <div class="grid-10">
                  <div class="upload-field-cover">
                     <input class="upload" name="document" id="uploadBtn" type="file">
                     <span class="upload-button"></span>
                  </div>
               </div>
               <span class="errors_document error"></span>
            </div>
         </div>
         <div class="field-row">
            <div class="grid-10 padding-right-5"><input type="submit" onclick="ApplyJob()" value="Submit" class="submit"></div>
            <div class="grid-10">
               <input type="button" value="Cancel" class="cancel">
            </div>
         </div>
      </form>
   </div>
   <div id="tabs-2" class="">
      <div class="cancel-qoute">
         <form method="post" id="CancelForm" action="." enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}">
            <input type="hidden" name="method" value="CancelQuote">
            <textarea name="cancel_message" placeholder="Enter the message here .."></textarea>
            <div class="field-row">
               <div class="grid-10 padding-right-5"><input type="button" onclick="CancelForm()" value="Submit" class="submit"></div>
               <div class="grid-10"><input type="button" value="Cancel" class="cancel"></div>
            </div>
         </form>
      </div>
   </div>
</div>