{% load static %}
{% load create_array %}
<form id="freelancerProfile">
   <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}">
   <input type="hidden" name="method" value="Save_freelancer_company_profile">
   <div class="field-row">
      <h3 class="form-label-blue">Company Name</h3>
      <input type="text"   maxlength="25" name="company_name" placeholder="Company Name"
         value="{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name %}{{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name}}{% endif %}" />
      <span class="errors_company_name error"></span>
   </div>
   <div class="field-row">
      <h3 class="form-label-blue">Description</h3>
      <textarea placeholder="Description"  rows="5" name="description">{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description %} {{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.description}}{% endif %}</textarea>
   </div>
   <div class="field-row">
      <div class="grid-50 padding-right-5">
         <h3 class="form-label-blue">Type of Work</h3>
         {% create_an_array request.user.get_freelancer_company_intance.user.freelancer_company_user.get.workcategory.all as variable %}
         <select name="workcategory" class="js-example-basic-multiple work_category" multiple="multiple" data-id="{{variable}}" data-type="1" onchange="Getsubcategory(this),GetSkills(this)">
         </select>
         <span class="errors_workcategory error"></span>
      </div>
      {% create_an_array request.user.get_freelancer_company_intance.user.freelancer_company_user.get.subcategory.all as variable %}
      <div class="grid-50 padding-left-5">
         <h3 class="form-label-blue">Sub Category</h3>
         <select name="subcategory"  multiple="multiple" class="sub_category js-example-basic-multiple" data-id="{{variable}}"  data-type="1">
         </select>
         <span class="errors_subcategory error"></span>
      </div>
   </div>
   <div class="field-row">
      {% create_an_array request.user.get_freelancer_company_intance.user.freelancer_company_user.get.skills.all as variable %}
      <h3 class="form-label-blue">Skills</h3>
      <select name="skills" multiple="multiple" class="skillsoptions js-example-basic-multiple" data-id="{{variable}}" data-type="1">
      </select>
      <span class="errors_skills error"></span>
   </div>
   <div class="field-row">
      <div class="grid-20 padding-right-5">
         <button type="button" onclick="SavefreelancerProfile()" class="blue-button">Save</button>
      </div>
      <div class="grid-20 padding-left-5">
         <button type="button" onclick="Close()" class="light-grey-button">Cancel</button>
      </div>
   </div>
</form>