{% load static %}

{% for job in queryset %}

{% if listtype == 'Invitation' %}
<div class="portfolio-single-cover post-job freelancer-actions-list-row">
    <div class="grid-80">
    <h3 class="sub-heading-arows job-heading">{{job.job.job_title}}  </h3>
    <p class="rate-info"> {% if job.job.payment_type.type %}{{job.job.payment_type.type}} {% if job.job.payment_type.id == 2 %}(${{job.job.budget}} ){% else %} (${{job.job.hourly_min}} - ${{job.job.hourly_max}}){%endif %} -{%endif %}{{job.job.experiance_level}} {% if job.job.duration.date_range %}- Est. Time: {{job.job.duration.date_range}} {% endif %} {% if job.job.created_date %}- Posted: {{job.job.created_date}} {% endif %} </p>
    </div>
    <div class="grid-10 actions_status">
        {% if job.status.status == 'Accepted' %}
        <span class="job-status accepted">Accepted </span>
        {% elif job.status.status == 'Declined' %}
        <span class="job-status rejected">Declined </span>
        {% elif job.status.status == 'Cancelled' %}
        <span class="job-status rejected">Cancelled </span>



        {% endif %}
        </div>
    <div class="actions-cover grid-20 actions_button" id="data{{job.job.id}}">
        {% if job.status.status == None %}
        <a  class="cancel-button" onclick="GetAccept(this)" data-section="data{{job.job.id}}" data-list="{% url 'freelancer:jobdetailsview' job.job.slug %}" data-inviteid="{{job.id}}" data-title="Accept">ACCEPT </a>
        <a  class="cancel-button" onclick="GetAccept(this)" data-section="data{{job.job.id}}" data-inviteid="{{job.id}}" data-title="Decline">DECLINE </a>
         {% elif job.status.status == 'Accepted' %}
        {% if not job.job.id in quote_apply_array  %}
        <a  onclick="SetJobQuote(this)" data-id="tabs-3" href="{% url 'freelancer:jobdetailsview' job.job.slug %}" class="reply">Send Quote</a>
        {% else %}

         <a onclick="SetJobQuote(this)" data-id="tabs-2" href="{% url 'freelancer:jobdetailsview' job.job.slug %}" class="cancel-button">Cancel</a>
         <a  onclick="SetJobQuote(this)" data-id="tabs-1" href="{% url 'freelancer:jobdetailsview' job.job.slug %}" class="reply">Update</a>






        {% endif %}


        {% endif %}
        </div>
    <p class="description more">
    {{job.job.job_description}}
    </p>
    <div class="skills-cover">
     {% for skils in job.job.job_skills.all %}

            <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skils.name}}</span>
            {% endfor %}
            {% if job.job.job_skills.count > 10 %}
             <a  onclick="Moreskills(this)" class="more">more..</a>
             {% endif %}
    </div>
</div>

{% elif listtype == 'Applied' %}
<div class="portfolio-single-cover post-job freelancer-actions-list-row">
    <div class="grid-80">
    <h3 class="sub-heading-arows job-heading">{{job.job.job_title}}  </h3>
    <p class="rate-info"> {% if job.job.payment_type.type %}{{job.job.payment_type.type}} {% if job.job.payment_type.id == 2 %}(${{job.job.budget}} ){% else %} (${{job.job.hourly_min}} - ${{job.job.hourly_max}}){%endif %} -{%endif %}{{job.job.experiance_level}} {% if job.job.duration.date_range %}- Est. Time: {{job.job.duration.date_range}} {% endif %} {% if job.job.created_date %}- Posted: {{job.job.created_date}} {% endif %} </p>
    </div>
    <div class="grid-10 actions_status">
        {% if  job.job.id in quote_cancel_array %}


        <span class="job-status rejected">Cancelled </span>
        {% endif %}
        </div>
    <div class="actions-cover grid-20 actions_button" id="data{{job.job.id}}">

        {% if not job.job.id in quote_apply_array  %}
        <a  onclick="SetJobQuote(this)" data-id="tabs-3" href="{% url 'freelancer:jobdetailsview' job.job.slug %}" class="reply">Send Quote</a>


        {% else %}
         <a onclick="SetJobQuote(this)" data-id="tabs-2" href="{% url 'freelancer:jobdetailsview' job.job.slug %}" class="cancel-button">Cancel</a>
         <a  onclick="SetJobQuote(this)" data-id="tabs-1" href="{% url 'freelancer:jobdetailsview' job.job.slug %}" class="reply">Update</a>

        {% endif %}
        </div>
    <p class="description more">
    {{job.job.job_description}}
    </p>
    <div class="skills-cover">
     {% for skils in job.job.job_skills.all %}

            <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skils.name}}</span>
            {% endfor %}
            {% if job.job.job_skills.count > 10 %}
             <a  onclick="Moreskills(this)" class="more">more..</a>
             {% endif %}
    </div>
</div>
{% elif listtype == 'Hired' %}
<div class="portfolio-single-cover post-job freelancer-actions-list-row">
    <div class="grid-80">
    <h3 class="sub-heading-arows job-heading">{{job.client_job.job_title}}  </h3>
    <p class="rate-info"> {% if job.client_job.payment_type.type %}{{job.client_job.payment_type.type}} {% if job.client_job.payment_type.id == 2 %}(${{job.client_job.budget}} ){% else %} (${{job.client_job.hourly_min}} - ${{job.client_job.hourly_max}}){%endif %} -{%endif %}{{job.client_job.experiance_level}} {% if job.client_job.duration.date_range %}- Est. Time: {{job.client_job.duration.date_range}} {% endif %} {% if job.client_job.created_date %}- Posted: {{job.client_job.created_date}} {% endif %} </p>
    </div>
    <div class="grid-10 actions_status">


    </div>
    <div class="actions-cover grid-20 actions_button" id="data{{job.client_job.id}}">
        <a   href="{% url 'hire:hireviewsfreelancer' job.slug %}" class="reply">Contract</a>
        </div>
    <p class="description more">
    {{job.client_job.job_description}}
    </p>
    <div class="skills-cover">
     {% for skils in job.client_job.job_skills.all %}

            <span class="skill {% if forloop.counter > 10 %} hide skillslist {% else%}ff{% endif %}">{{skils.name}}</span>
            {% endfor %}
            {% if job.client_job.job_skills.count > 10 %}
             <a  onclick="Moreskills(this)" class="more">more..</a>
             {% endif %}
    </div>
</div>

{% endif %}

{% empty %}
<div class="view-profile-single-section-nocontent">
  <p>No Content to show ..</p>
</div>
 {% endfor %}
{% if page_obj.has_previous or  page_obj.has_next %}
            <div class="pagination-cover">
		<ul class="pagination">
         {% if page_obj.has_previous %}
        <li  data-attr="{{ page_obj.previous_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="prev paginate_by"> <a>Prev</a></li>
        {% else %}
         <li class="visited"><a>Prev</a></li>
        {% endif %}


        <!--<li >-->
            <!--<a href="#" class="dropdown-toggle pagination-drop paginate_num" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                <!--{{ page_obj.number }}-->
            <!--</a>-->

                {% for page_number in page_obj.paginator.page_range  %}

                                        <!--<li class="paginate_by {% if page_obj.number == page_number %} Active {% elif  page_obj.number < page_number %} {% else %} visited  {% endif %} " data-method="Search_autocomplete" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>-->

              <li class="paginate_by  {% if  page_obj.number|add:'5' > page_number and page_obj.number <= page_number %}show{% else %}hide{% endif %} data-method="Search_autocomplete" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>

               {% endfor %}

        <!--</li>-->
        {% if page_obj.has_next %}
        <li  data-attr="{{ page_obj.next_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="nex paginate_by"><a>Next</a> </li>
      {% else %}
        <li class="visited"><a>Next</a></li>
      {% endif %}

    </ul>
</div>
 {% endif %}