{% load static %}
<div class="">
    <div class="item">
        {% for invite in all_invited %}

        <div class="invited-row">
            <div class="invited-freenlancers-image image-space">
                {% if type == 'Freenlancers' %}
                {% if invite.user.user_detail.get.profile %}
                <img src="{{ invite.user.user_detail.get.profile.url}}" alt="">
                {% else %}
                <img src="{% static 'images/no-image.svg' %}" alt="">
                {% endif %}

                {% else %}
                {% if invite.user.client_user_detail.get.profile %}
                <img src="{{ invite.user.client_user_detail.get.profile.url}}" alt="">
                {% else %}
                <img src="{% static 'images/no-image.svg' %}" alt="">
                {% endif %}
                {% endif %}

            </div>
            <div class="invited-freenlancers-info">
                <h5>{{invite.user.first_name}} {{invite.user.last_name}} <span>({{type}})</span></h5>
                <p>{{invite.user.email}}</p>
                <div class="actions-cover">
					<a class="ChangeRole" data-roleid="{{invite.id}}" >Change Role</a> <span>I</span>
					<a id="ChangeActive{{invite.id}}" class="ChangeActive" data-roleid="{{invite.user}}" data-activation="{{invite.user.is_active}}" data-textid="ChangeActive{{invite.id}}">{% if invite.user.is_active == True %}Deactivate {% else %} Activate {% endif %}</a>
				</div>
            </div>
        </div>
         {% empty %}
        <div class="view-profile-single-section-nocontent">
				<p>No Members Added yet</p>
		</div>
        {% endfor %}

    </div>
    <div class="action-bar">
        {% if page_obj.has_next %}
        <a data-attr="{{ page_obj.next_page_number }}" class="nex paginate_bys ">Next &gt; </a> {% endif %} {% if page_obj.has_previous %}
        <a data-attr="{{ page_obj.previous_page_number }}" class="prev paginate_bys"> &lt; Prev</a> {% endif %}
    </div>

</div>