{% load static %}
 {% load create_array %}
<div class="milesonte-table-head">
    <h4>Timesheets</h4>
<div class="milesonte-table-head-action-cover">
    <select>
    <option>All Status</option>
    </select>
{% if request.user.active_account.type == 'FREELANCER' %}
    <!--<a class="positive-action table-action">Request Payout</a>-->
 {% endif %}
</div>
</div>
<div class="contarct-page-table">


<div class="table-head">
    <div class="grid-5"><label>No.</label></div>
    <div class="grid-40"><label>Week</label></div>
    <div class="grid-20"><label>Time Worked</label></div>
    <div class="grid-15"><label>Status</label></div>
    <div class="grid-20"><label>Action</label></div>


</div>
{% for timesheets in queryset %}
{% if request.user.active_account.type == 'FREELANCER' %}
<div class="table-row" data-milestone ="{{timesheets.id}}" data-milestonetype="0">
    <div class="grid-5"><label>{{ forloop.counter }}</label></div>
    <div class="grid-40"><label>{{timesheets.start_date | date:'d-m-Y' }}   -  {{timesheets.end_date | date:'d-m-Y'}}</label></div>
    <div class="grid-20"><label class="rate">{% if timesheets.week_sum %}{{timesheets.week_sum}}{% else %}0h 00m{% endif %}</label></div>
    <div class="grid-15">
        {% if timesheets.status.status  == 'Pending' %}
        <!--<span class="mile-stone-status pending">{{timesheets.status.status }}</span>-->
        <span class="">{{timesheets.status.status }}</span>
        {% elif timesheets.status.status  == 'Draft' %}
        <span class="mile-stone-status draft">{{timesheets.status.status }}</span>
        {% elif timesheets.status.status  == 'Approved' %}
        <span class="mile-stone-status approved">{{timesheets.status.status }} </span>
        {% elif timesheets.status.status  == 'Adjust' %}
        <span class="mile-stone-status pending">{{timesheets.status.status }}</span>
        {% elif timesheets.status.status == 'Payout Requested' %}
         <span class="mile-stone-status payed">{{timesheets.status.status }}</span>
        {% endif %}
    </div>
    <div class="grid-20">
        <div class="action-cover">
            {% if timesheets.status.status == 'Draft' or timesheets.status.status == 'Adjust' %}

                    <a onclick="EditTimesheet(this)" data-milestone ="{{timesheets.id}}"  class="edit"></a>

                    <a onclick="GetPopup(this)" data-type ="send" class="positive-action table-action">Send</a>
                    <!--<a href="" class="delete"></a>-->
                    {% elif timesheets.status.status == 'Pending' or  timesheets.status.status == 'Changed' %}
                     <a onclick="EditTimesheet(this)" data-milestone ="{{milestone.id}}"  class="edit"></a>

                    {% elif timesheets.status.status == 'Approved' %}
                    <a onclick="GetPopup(this)" data-type ="payout" class="positive-action table-action">Request Payout</a>


            {% endif %}
        </div>
    </div>
</div>
{% elif request.user.active_account.type == 'CLIENT' %}
    <div class="table-row" data-milestone ="{{timesheets.id}}" data-milestonetype="0">
    <div class="grid-5"><label>{{ forloop.counter }}</label></div>
    <div class="grid-40"><label>{{timesheets.start_date | date:'d-M-Y' }}   -  {{timesheets.end_date | date:'d-M-Y'}}</label></div>
    <div class="grid-20"><label class="rate">{% if timesheets.week_sum %}{{timesheets.week_sum}}{% else %}0h 00m{% endif %}</label></div>
    <div class="grid-15">
        {% if timesheets.status.status  == 'Pending' %}
        <span class="mile-stone-status pending">{{timesheets.status.status }} </span>
        {% elif timesheets.status.status  == 'Draft' %}
        <span class="mile-stone-status draft">{{timesheets.status.status }}</span>
        {% elif timesheets.status.status  == 'Approved' %}
        <span class="mile-stone-status approved">{{timesheets.status.status }} </span>
        {% elif timesheets.status.status  == 'Adjust' %}
        <span class="mile-stone-status pending">{{timesheets.status.status }}</span>
         {% elif timesheets.status.status == 'Payout Requested' %}
         <span class="mile-stone-status payed">{{timesheets.status.status }}</span>
        {% endif %}
    </div>
    <div class="grid-20">
        <div class="action-cover">
            {% if timesheets.status.status == 'Pending' or  timesheets.status.status == 'Changed' %}
                 <a onclick="GetPopup(this)" data-type ="approve" class="positive-action table-action">Approve <br>Timesheet</a>
                <a onclick="GetPopup(this)" data-type ="adjust" class="positive-action table-action">Request <br>for Change</a>
                {% elif timesheets.status.status == 'Approved' %}
               {% elif timesheets.status.status == 'Payout Requested' %}
               <a class="positive-action table-action">Payout</a>


            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% empty %}
        <div class="view-profile-single-section-nocontent">
          <p>No Content to show ..</p>
        </div>
{% endfor %}
    </div>
{% if page_obj.has_previous or  page_obj.has_next %}
            <div class="pagination-cover">
		<ul class="pagination">
         {% if page_obj.has_previous %}
        <li  data-attr="{{ page_obj.previous_page_number }}"data-method="Creating_Timesheet" data-search="freelancer_search" class="prev paginate_by"> <a>Prev</a></li>
        {% else %}
         <li class="visited"><a>Prev</a></li>
        {% endif %}


        <!--<li >-->
            <!--<a href="#" class="dropdown-toggle pagination-drop paginate_num" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                <!--{{ page_obj.number }}-->
            <!--</a>-->



                {% for page_number in page_obj.paginator.page_range %}

                                        <li class="paginate_by {% if page_obj.number == page_number %} Active {% elif  page_obj.number < page_number %} {% else %} visited  {% endif %} "data-method="Creating_Timesheet" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>

              <!--<li class="paginate_by  {% if  page_obj.number|add:'5' > page_number and page_obj.number <= page_number %}show{% else %}hide{% endif %} data-method="Search_autocomplete" data-search="freelancer_search" data-attr="{{page_number}}"><a>0{{page_number}}</a></li>-->

               {% endfor %}

        <!--</li>-->
        {% if page_obj.has_next %}
        <li  data-attr="{{ page_obj.next_page_number }}" data-method="Creating_Timesheet" data-search="freelancer_search" class="nex paginate_by"><a>Next</a> </li>
      {% else %}
        <li class="visited"><a>Next</a></li>
      {% endif %}

    </ul>
</div>
 {% endif %}


