<!-- dailoge-box add milestone-->

    <form class="weekly_time_form">
        <input type="hidden" name="week_id" value="{{ week_entries.week.id }}">
        <input type="hidden" name="id" value="{{ week_entries.id }}">
        <input type="hidden" name="method" value="Save_timesheet">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        <h3>Add Time</h3>

        <div class="add-time-row">
            <div class="add-time-grid">
                <h4>Monday</h4>
                <label>{{ week_entries.date_mon|date:'M d' }}</label>
                <input type="text" placeholder="00:00" class="{% if  week_entries.date_mon < today.date %}add-time-input{% endif %}" {% if  week_entries.date_mon > today.date %}disabled{% endif %} name="time_mon" value="{% if week_entries.time_mon %}{{ week_entries.time_mon}}{% else %}00:00:00{% endif %}">
            </div>
            <div class="add-time-grid">
                <h4>Tuesday</h4>
                <label>{{ week_entries.date_tue|date:'M d' }}</label>
                <input type="text" placeholder="00:00" class="{% if  week_entries.date_tue < today.date %}add-time-input{% endif %}" {% if  week_entries.date_tue > today.date %}disabled{% endif %} name="time_tue" value="{% if week_entries.time_tue %}{{ week_entries.time_tue}}{% else %}00:00:00{% endif %}">
            </div>
            <div class="add-time-grid">
                <h4>Wednesday</h4>
                <label>{{ week_entries.date_wed|date:'M d' }}</label>
                <input type="text" placeholder="00:00" class="{% if  week_entries.date_wed < today.date %}add-time-input{% endif %}" {% if  week_entries.date_wed > today.date %}disabled{% endif %} name="time_wed" value="{% if week_entries.time_wed %}{{ week_entries.time_wed}}{% else %}00:00:00{% endif %}">
            </div>
            <div class="add-time-grid">
                <h4>Thursday</h4>
                <label>{{ week_entries.date_thu|date:'M d' }}</label>
                <input type="text" placeholder="00:00" class="{% if  week_entries.date_thu < today.date %}add-time-input{% endif %}" {% if  week_entries.date_thu > today.date %}disabled{% endif %} name="time_thu" value="{% if week_entries.time_thu %}{{ week_entries.time_thu}}{% else %}00:00:00{% endif %}">
            </div>
            <div class="add-time-grid">
                <h4>Friday</h4>
                <label>{{ week_entries.date_fri|date:'M d' }}</label>
                <input type="text" placeholder="00:00" class="{% if  week_entries.date_fri < today.date %}add-time-input{% endif %}" {% if  week_entries.date_fri > today.date %}disabled{% endif %} name="time_fri" value="{% if week_entries.time_fri %}{{ week_entries.time_fri}}{% else %}00:00:00{% endif %}">
            </div>
            <div class="add-time-grid">
                <h4>Saturday</h4>
                <label>{{ week_entries.date_sat|date:'M d' }}</label>
                <input type="text" placeholder="00:00"  class="{% if  week_entries.date_sat < today.date %}add-time-input{% endif %}" {% if  week_entries.date_sat > today.date %}disabled{% endif %} name="time_sat" value="{% if week_entries.time_sat %}{{ week_entries.time_sat}}{% else %}00:00:00{% endif %}">
            </div>
            <div class="add-time-grid">
                <h4>Sunday</h4>
                <label>{{ week_entries.date_sun|date:'M d' }}</label>
                <input type="text" placeholder="00:00"  class="{% if  week_entries.date_sun < today.date %}add-time-input{% endif %}" {% if  week_entries.date_sun > today.date %}disabled{% endif %} name="time_sun" value="{% if week_entries.time_sun %}{{ week_entries.time_sun}}{% else %}00:00:00{% endif %}">
            </div>
        </div>

        <div class="pop-box-footer">
            <input type="button" class="solid-button-green time_entry_submit" value="Save">
            <input type="button" onclick="Close()" value="Cancel">
        </div>


    </form>

<!-- dailoge-box ends-->