<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <title> {% block title %} Atlancer {% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'admin/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css'  %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'admin/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static 'admin/vendors/animate.css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'admin/build/css/custom.min.css' %}" rel="stylesheet">
     <link href="{% static 'admin/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {% block style %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
  </head>
<body class="nav-md">

<div class="container body">
      <div class="main_container">
          <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% url 'index:home' %}" class="site_title"><i class="fa fa-paw"></i> <span>Atlancer</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="{% static 'admin/images/user.png' %}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{request.user.first_name}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              {% if request.user.is_superuser %}
              <div class="menu_section" >
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href="{% url 'siteadmin:AdmincreateList' %}"><i class="fa fa-home"></i> Role List </a>

                  </li>
                </ul>
              </div>
              {% endif %}
              <div class="menu_section">
                {% if request.user.is_superuser %}
                {% else %}
                <h3>General</h3>
                {% endif %}
                <ul class="nav side-menu">
                  <li><a href="{% url 'siteadmin:AdminClientList' %}"><i class="fa fa-bug"></i> Client List<!--span class="fa fa-chevron-down"></span--></a></li>
                  <li><a href="{% url 'siteadmin:AdminFreelancerList' %}"><i class="fa fa-bug"></i> Freelancer List<!--span class="fa fa-chevron-down"></span--></a></li>
                  <!--<li><a><i class="fa fa-sitemap"></i> Main Menu 3 <span class="fa fa-chevron-down"></span></a>-->
                    <!--<ul class="nav child_menu">-->
                        <!--<li><a>Level One<span class="fa fa-chevron-down"></span></a>-->
                                               <!--</li>-->
                        <!--</li>-->
                    <!--</ul>-->
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->

            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'admin/images/user.png' %}" alt="">{{request.user.first_name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">

                    <li><a href="{% url 'siteadmin:adminlogout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>


              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
          {% block content %}

          {% endblock %}
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Atlancer Admin <a href="">atlancer.com</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
 <!-- jQuery -->

    <script src="{% static 'admin/vendors/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'admin/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'admin/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'admin/vendors/nprogress/nprogress.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'admin/vendors/iCheck/icheck.min.js' %}"></script>



    <!-- Custom Theme Scripts -->
    <script src="{% static 'admin/build/js/custom.min.js' %}"></script>

</body>
</html>