<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <title> {% block title %} Atlancer {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/fav.ico' %}" type="image/gif" sizes="16x16">
    <!--frame styles-->
      <link rel="stylesheet" href="/static/css/jquery-ui.css"/>
     <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="{% static 'css/frame-work-styles.css' %}">

    <!--web styles-->
    <link rel="stylesheet" href="{% static 'css/atlancer-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/create-profile.css' %}">

    <!--J Query cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% block styles %}
    {% endblock %}{% block style %}
    {% endblock %}
   <style>
   .morecontent span {
          display: none;
      }
      .morelink {
          display: block;
      }
  </style>
   </head>
    <header>
      <nav class="nav-bar">
        <div class="container">
        <a href="{% url 'index:home' %}" class="navbar-brand"> <img src="{% static "images/atlancer-logo.svg" %}"  alt="" /> </a>
        <div class="mobile-menu">
              <span></span>
              <span></span>
              <span></span>
        </div>
        <div class="header-elents-cover">
               <!-- loggined-person-covers -->
            {% if request.user.is_authenticated and request.user.user_type != 'Site_admin' and not request.user.is_superuser %}
          <div class="loggined-person-covers drop-down-cover">
            <div class="drop-menu-link">
            <a href="#" class="loggined-person">{{request.user.first_name}} {{request.user.last_name}}<i></i></a>
            <div class="loggined-view-cover drop-menu">

              <div class="ac-content">
                <h4>Client Account</h4>

                <div class="ac-row-cover">
                  <div class="ac-row-inner">
                  <div class="ac-row">

                      {% if  request.user.client_user_detail.get.profile %}
                      <div class="ac-row-image">
                    <img src="{{ request.user.client_user_detail.get.profile.url}}" />
                          </div>
                    {% else %}
                      <div class="ac-row-image add-image">
                    <!--<img src="{% static 'images/profile-image.jpg' %}" />-->
                      </div>
                     {% endif %}

                    <div class="ac-row-info">

                        {% if request.user.client_user_detail.get.user  %}
                    <a {% if request.user.client_user_detail.get and request.user.client_user_detail.get.user.invite_type == 'OWNER'%} onclick="ActivateFreelancer(this)"  data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}"  data-activate="client" data-urls="{% url 'client:clientprofile' %}" {% else %}href="{% url 'client:clientprofile' %}" {%endif %} >  <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                        <span>Client Account</span></a>
                        {% else %}
                        <div class="ac-row-info">
                            <a {% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  and request.user.client_user_detail.get.user.invite_type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-activate="client" data-role="freelancer" data-urls="{% url 'client:clientprofile' %}" {% endif  %}class="add-profile">Add Client Account</a>
                          </div>

                        {% endif %}
                    </div>
                  </div>
                  <div class="ac-row">

                              {% if request.user.get_client_company_intance.logo %}
                       <div class="ac-row-image ">
                               <img src="{{ request.user.get_client_company_intance.logo.url}}" />
                                </div>
                              {% else %}
                              <div class="ac-row-image add-image"></div>

                              {% endif %}


                          <div class="ac-row-info">
                              {% if request.user.client_user_detail.get.user  %}
                              {% if request.user.get_client_company_intance  %}
                                <a  {% if request.user.client_user_detail.get and request.user.client_user_detail.get.user.invite_type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" data-activate="client" data-urls="{% url 'client-company:clientcompanyview' %}"{% else %} href="{% url 'client-company:clientcompanyview' %}"{%endif %} ><p>{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% endif %}</p> </a>
                              {% else %}

                            <a {% if request.user.client_user_detail.get  and request.user.client_user_detail.get.user.invite_type == 'OWNER'  %} data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="client" data-urls="{% url 'client-company:clientcompany' %}" {% else %}  href="{% url 'client-company:clientcompany' %}" {%endif %}  class="add-profile">Add Client Company</a>
                            {% endif %}
                             {% else %}
                               <a {% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %} onclick="ActivateFreelancer(this)" data-activate="client" data-role="freelancer" data-urls="{% url 'client:clientprofile' %}" {% endif  %}class="add-profile">Add Client Company</a>


                              {% endif %}
                          </div>
                        </div>
                  </div>
                </div>
              </div>

              <div class="ac-content">
                  <h4>Freelancers Account</h4>
                  <div class="ac-row-cover">
                    <div class="ac-row-inner">
                    <div class="ac-row">
                        {% if  request.user.user_detail.get.profile %}
                      <div class="ac-row-image">
                    <img src="{{ request.user.user_detail.get.profile.url}}" />
                          </div>
                    {% else %}
                      <div class="ac-row-image add-image">
                    <!--<img src="{% static 'images/profile-image.jpg' %}" />-->
                      </div>
                     {% endif %}

                        <div class="ac-row-info">
                        {%  if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all %}
                    <a {% if request.user.client_user_detail.get %}  data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %} client {% endif %}" onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer:freelancerprofileview' %}" {% else %} href="{% url 'freelancer:freelancerprofileview' %}" {%endif %}   >  <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                        <span>Freelancer Account</span></a>
                        {% else %}
                        <div class="ac-row-info">
                            <a {% if request.user.client_user_detail.get %} data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer:freelancerprofile' %}" {%else %} href="{% url 'freelancer:freelancerprofile' %}"{%endif %}   class="add-profile">Add Freelancer Account</a>
                          </div>

                        {% endif %}
                    </div> </div>
                        <div class="ac-row">
                               {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo %}
                              <div class="ac-row-image ">
                               <img src="{{ request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo.url}}" />
                                </div>
                              {% else %}
                              <div class="ac-row-image add-image"></div>

                              {% endif %}
                            <div class="ac-row-info">
                                {% if request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_user.get or request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all %}
                                {% if request.user.get_client_company_intance.user.freelancer_company_user.get  or request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get or request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get %}
                                <a {% if request.user.client_user_detail.get %} onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer-company:freelancercompanyview' %}" {% else %} href="{% url 'freelancer-company:freelancercompanyview' %}" {%endif %} ><p>{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name %} {{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name}}{% endif %}</p> </a>
                              {% else %}
                            <a {% if request.user.client_user_detail.get %} onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer-company:freelancercompany' %}" {% else %} href="{% url 'freelancer-company:freelancercompany' %}" {%endif %}  class="add-profile">Add Freelancer Company</a>
                              {% endif %}
                                {% else %}


                            <a {% if request.user.client_user_detail.get and request.user.client_user_detail.get.user.invite_type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer:freelancerprofile' %}" {%else %} {% if request.user.client_user_detail.get.user.invite_type == 'OWNER' %} href="{% url 'freelancer:freelancerprofile' %}"{% endif %}{% endif %}class="add-profile">Add Freelancer Company</a>

                                {% endif %}
                          </div>


                        </div>



                      <!--<div class="ac-row-image add-image">-->
                      <!--</div>-->
                      <!--<div class="ac-row-info">-->
                        <!--<a href="#" class="add-profile">Add Freelancers Account</a>-->
                      <!--</div>-->


                  </div>
                  </div>
              </div>
              <div class="action-cover">
                <a href="{% url 'logout' %}" class="logout">Logout</a>
                <a href="{% url 'logout' %}" class="settings">Settings</a>
              </div>
            </div>
          </div>
          </div>
            {% else %}
              <div class="pull-right login-register-buttons header-element">

              <a href="{% url 'index:login' %}">LOGIN</a>
              <a href="{% url 'index:register' %}">REGISTER</a>

           </div>
             {% endif %}
          <!-- loggined-person-covers -->
        <ul class="contact-info pull-left header-element">
               <li class="phone"> <i></i> + (0471) 4013112</li>
               <li class="mail"> <i></i> info@atlancer.com </li>
        </ul>
        <ul class="nav navbar-nav navbar-right header-element">
            <li>
              <a href="{% url 'client:clientjobs' %}">find jobs</a>
            </li>
            <li>
              <a href="">how it works</a>
            </li>
            <li>
              <a href="">post jobs</a>
            </li>
          </ul>
          <div class="language-selector header-element"><span><i></i>  English</span>
          <ul class="languages">
                  <li>Chinese</li>
                  <li>Spanish</li>
                  <li>English</li>
                  <li>Hindi</li>
                  <li>Arabic</li>
                  <li>Portuguese</li>
                  <li>Russian</li>
                  <li>Japanese</li>
                  <li>Arabic</li>
                  <li>Portuguese</li>
                  <li>Russian</li>
                  <li>Japanese</li>
              </ul>
          </div>
          </div>
           <!--<div class="pull-right login-register-buttons header-element">-->
               <!--{% if request.user.is_authenticated and request.user.user_type != 'Site_admin' and not request.user.is_superuser %}Welcome {{ request.user.first_name }}-->
               <!--<br><a href="{% url 'logout' %}">Logout</a>-->
<!--{% else %}-->
              <!--<a href="{% url 'index:login' %}">LOGIN</a>-->
              <!--<a href="{% url 'index:register' %}">REGISTER</a>-->
               <!--{% endif %}-->
           <!--</div>-->
          </div>
      </nav>
        {% block extra_html %}
        {% endblock %}


  </header>

     {% block content %}

     {% endblock %}
    <!--footer-->
    <footer>
         <div class="footer-strip full-strip">
         <div class="container">
             <div class="grid-25 about-text">
               <a href="index.html" class="navbar-brand"> <img src="{% static "images/atlancer-logo.svg" %}" alt=""> </a>
               <p>
                   We work with the motive to help <br>
                   individuals and companies advertise <br>
                   their jobs and find able developersto<br>
                   get your work done! <br>
                   individuals and companies
                 </p>
             </div>
             <div class="grid-20">
               <h5>COMPANY</h5>
               <ul>
                   <li>
                     <a href="">About</a>
                   </li>
                   <li>
                     <a href="">Find Freelancers</a>
                   </li>
                   <li>
                     <a href="">Find Jobs</a>
                   </li>
                   <li>
                     <a href="">Blogs</a>
                   </li>

               </ul>
             </div>
               <div class="grid-20">
               <h5>HELP</h5>
               <ul>
                   <li>
                     <a href="">How it works</a>
                   </li>
                   <li>
                     <a href="">Help Guides</a>
                   </li>
                   <li>
                     <a href="">Support</a>
                   </li>

               </ul>
             </div>
             <div class="grid-20">
               <h5>CONTACT</h5>
                 <p>
                   Work at Atlancer<br>
                   Apply as a Freelancer<br>
                   Send an Email <br>
                   Call: 0471-4013112
                 </p>

             </div>
             <div class="grid-10 pull-right footer-action-buttons">
               <a href="" class="hire-now"> HIRE NOW </a>
               <a href="" class="for-work"> FOR WORK </a>
             </div>
         </div>
       </div>

   <!--copy-right-strip-->
   <div class="copy-right-strip full-strip">
         <div class="container">
          <div class="float-left grid-50">
          <p class="float-left"> Copyright &copy; Atlancer. &nbsp; &nbsp;&nbsp; <a href="">Privacy Policy</a>  &nbsp;  |  &nbsp; <a href="">Website Terms</a></p>
          </div>
          <ul class="social-links pull-right">
            <li class="twitter">
              <a href=""></a>
            </li>
            <li class="instagram">
              <a href=""></a>
            </li>
            <li class="pininterst">
              <a href=""></a>
            </li>
            <li class="facebook">
              <a href=""></a>
            </li>
            <li class="g-plus">
              <a href=""></a>
            </li>
          </ul>
      </div>
    </div>
   </footer>
{% block extrajs %}
    {% endblock %}
  {% block extra_js %}
    {% endblock %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
   	$(document).ready(function(){
   	    $('#search-box').click(function(){
           $(this).val(' ');
        });
         var availableTags = [
                  {% autoescape off %}
                  {% for key in key_words_search %}
                  "{{key}}",
                  {% endfor %}
                  {% endautoescape %}

                ];
            $( "#search-box" ).on( "keydown", function( event ) {
            count = 0;

            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).autocomplete( "instance" ).menu.active ) {
              event.preventDefault();
            }
           })
           //appendTo: $(this).next()
          .autocomplete({
            minLength: 0,
            appendTo: $(".suggestCon"),
            source: function( request, response ) {
              response( $.ui.autocomplete.filter(
                availableTags, extractLast( request.term ) ).slice(0,15) );
            },
            focus: function() {
              // prevent value inserted on focus
              return false;
            },
            select: function( event, ui ) {
              var terms = split( this.value );
              // remove the current input
              terms.pop();
              // add the selected item
              terms.push( ui.item.value );
              // add placeholder to get the comma-and-space at the end
              terms.push( "" );
              this.value = terms.join( "," );
              $(".search_clear").fadeIn(500);
              return false;
            }
          });
           function extractLast( term ) {
               return split( term ).pop();
      }
      function split( val ) {
               return val.split( /,\s*/ );
      }

   	    $('.create-profile').ready(function() {
                  $(".loader,.loader-overlay").fadeOut("slow");
        });

        $(".drop-down-cover .drop-menu-link").click(function(){
                  //  $('.drop-menu').fadeOut('fast');
                 $(this).find(".drop-menu").slideToggle('fast');
        });

   			$(".mobile-menu").click(function(){
          $(".header-elents-cover").toggle('fast');
   			});


        $(".language-selector").click(function(){
          $(".languages").fadeToggle('fast');
        });


        $(".search-drop-button").click(function(){
          $(".search-dropdown").fadeToggle('fast');
        });

        $(".search-dropdown").click(function(){
          $(this).fadeToggle('fast');
        });

        $(".search-freelancers").on('click', function(){
          $("#search-box").val( $(this).html() + " : " );

        });

   	});
   	function HideDisplayMessage(){
 $(".status-message").fadeOut('fast');
}
   	</script>

</body>
</html>