{% load static %}
{% load create_array %}
<ul class="nav navbar-nav navbar-right header-element">

                   <li>
                     <a href="{% url 'client:searchfreelancer' %}">Find Freelancer </a>
                   </li><li>
                     <a href="{% url 'client:clientjobs' %}">My Jobs</a>
                   </li>

                   <li>
                     <a href="{% url 'client:clientjobpost' %}">Post jobs</a>
                   </li>
                   <li>
                         <!--{% Get_notification request.user.id as notification %}-->
                        <!--<a href="{% url 'notifications:notificationview' %}" class="notification-link notification_click" data-id="contents_count{{request.user.active_account}}{{request.user.id}}">-->
                            <!--<span class="{% if notification %} notification-count {% endif %} contents_count{{request.user.active_account}}{{request.user.id}}">{% if notification %}{{notification.count}}{% endif %}</span>-->
                        <!--</a>-->
                         {% Get_notification request.user.id as notification %}
                        <a  href="{% url 'notifications:notificationview' %}" class="notification-link notification_click" data-id="contents_count{{request.user.active_account}}{{request.user.id}}">
                            <span class="{% if notification %}notification-count{% endif %} contents_count{{request.user.active_account}}{{request.user.id}}">{% if notification %}{% if notification.count > 50 %}2+{% else %}{{notification.count}}{% endif %}{% endif %}</span>
                        </a>
                   </li>
                 </ul>