<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
      {% load create_array %}
    <title>Atlancer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="{% static 'images/fav.ico' %}" type="image/gif" sizes="16x16">

    <!--frame styles-->
     <link rel="stylesheet" href="{% static 'css/frame-work-styles.css' %}">

    <!--auto select -->
     <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
     <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!--web styles-->
    <link rel="stylesheet" href="{% static 'css/atlancer-styles.css' %} ">
    <link rel="stylesheet" href="{% static 'css/create-profile.css' %}">

    <!--fonts cdns-->
    <link href="https://fonts.googleapis.com/css?family=Sintony:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
    <!--<link href=" https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">-->
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:400,500,600,700" rel="stylesheet">
	  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;lang=en" rel="stylesheet">
    <!--<script src="{% static 'scripts/jquery.magnific-popup.js' %}"></script>-->
      {% block style %}
      {% endblock %}
      <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" media="all" />
      <link href="{% static 'css/select2.css'%}" rel="stylesheet">
      <link href="{% static 'css/jquerysctipttop.css'%}" rel="stylesheet" type="text/css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" rel="stylesheet" type="text/css">
<style>
   .morecontent span {
          display: none;
      }
      .morelink {
          display: block;
      }
</style>

   </head>
  <!--oncontextmenu="return false;" -->
    <body >
     <div class="create-profile-page">
          <header class="inner-pages">
      <nav class="nav-bar">
        <div class="container-fluid">
        <a href="{% url 'index:home' %}" class="navbar-brand"> <img src="{% static 'images/atlancer-logo.svg' %}"  alt="" /> </a>
        <div class="mobile-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header-elents-cover">

        <!--<div class="loggined-person-covers drop-down-cover">-->
          <!--<div class="drop-menu-link">-->
              <!--{% if request.user.is_authenticated and request.user.user_type != 'Site_admin' and not request.user.is_superuser %}-->
          <!--<a href="#" class="loggined-person ">{{request.user.first_name}} {{request.user.last_name}}<i></i></a>-->
          <!--<div class="loggined-view-cover drop-menu">-->
             <!--{% if  request.user.user_type == 'CLIENT' %}-->
               <!--<div class="flex-cover">-->
                <!--<div class="divider-box">-->
            <!--<div class="ac-content">-->
              <!--<h4>Client Account</h4>-->
              <!--<div class="ac-row-cover">-->
                <!--<div class="ac-row">-->
                    <!--{% if  request.user.client_user_detail.get.profile %}-->
                    <!--<img src="{{ request.user.client_user_detail.get.profile.url}}" />-->
                    <!--{% else %}-->
                    <!--<img src="{% static 'images/profile-image.jpg' %}" />-->
                     <!--{% endif %}-->

                  <!--<a href="{% url 'client:clientprofile' %}" ><p>{{request.user.first_name}} {{request.user.last_name}}</p></a>-->
                <!--</div>-->
                  <!--{% if request.user.get_client_company_intance   %}-->
                <!--<div class="ac-row">-->
                    <!--{% if request.user.get_client_company_intance.logo %}-->
                    <!--<img src="{{request.user.get_client_company_intance.logo.url}}" />-->
                    <!--{% else %}-->
                  <!--<img src="{% static 'images/company-logo.jpg' %}" />-->
                    <!--{% endif %}-->
                    <!--{% if request.user.get_client_company_intance  %}-->
                    <!--<a href="{% url 'client-company:clientcompanyview' %}" > <p>{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% else %} Company Name{% endif %}</p>-->
                    <!--</a>-->
				    <!--{% else %}-->
					<!--<a href="{% url 'client-company:clientcompany' %}" > <p>{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% else %} Company Name{% endif %}</p>-->
               <!--</a>-->
				    <!--{% endif %}-->
                  <!--</div>-->
                   <!--{% endif %}-->
              <!--</div>-->
            <!--</div>-->
             <!--</div>-->
            <!--</div>-->
              <!--{% else %}-->
              <!--<div class="flex-cover">-->
                <!--<div class="divider-box">-->
            <!--<div class="ac-content">-->
                <!--<h4>Freelancers Account</h4>-->

                <!--<div class="ac-row-cover">-->
                  <!--<div class="ac-row">-->
                   <!--{% if request.user.user_detail.get.profile %}-->
                    <!--<img src="{{request.user.user_detail.get.profile.url}}" />-->
                    <!--{% else %}-->
                    <!--<img src="{% static 'images/profile-image.jpg' %}" />-->
                     <!--{% endif %}-->
                     <!--{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all %}-->

                     <!--<a href="{% url 'freelancer:freelancerprofileview' %}" ><p>{{request.user.first_name}} {{request.user.last_name}}</p></a>-->
                      <!--{% else %}-->
                       <!--<a href="{% url 'freelancer:freelancerprofile' %}" ><p>{{request.user.first_name}} {{request.user.last_name}}</p></a>-->
                      <!--{% endif %}-->
                  <!--</div>-->
                    <!--{% if request.user.freelancer_company_user.get.all or request.user.freelancer_company_portfolio_user.all or request.user.freelancer_company_cerifications_user.all %}-->


                  <!--<div class="ac-row">-->
                      <!--{% if request.user.freelancer_company_user.get.logo %}-->
                    <!--<img src="{{request.user.freelancer_company_user.get.logo.url}}" />-->
                    <!--{% else %}-->
                    <!--<img src="{% static 'images/company-logo.jpg' %}" />-->
                     <!--{% endif %}-->
                      <!--{% if request.user.freelancer_company_user.get.all or request.user.freelancer_company_portfolio_user.all or request.user.freelancer_company_cerifications_user.all %}-->
              <!--<a href="{% url 'freelancer-company:freelancercompanyview' %}" ><p>{% if request.user.freelancer_company_user.get.company_name %} {{request.user.freelancer_company_user.get.company_name}}{% else %} Company Name{% endif %}</p>-->

                <!--</a>-->
                  <!--{% else %}-->

              <!--<a href="{% url 'freelancer-company:freelancercompany' %}" ><p>{% if request.user.freelancer_company_user.get.company_name %} {{request.user.freelancer_company_user.get.company_name}}% else %} Company Name{% endif %}</p>-->

                <!--</a>-->
                  <!--{% endif %}-->

                     <!--</div>-->
                    <!--{% endif %}-->
                <!--</div>-->
            <!--</div>-->
                <!--</div>-->
            <!--</div>-->
              <!--{% endif %}-->
              <!--<div class="flex-cover" >-->
            <!--<div class="action-cover">-->
              <!--<a href="{% url 'logout' %}" class="logout">Logout</a>-->
              <!--<a href="" class="settings">Settings</a>-->
            <!--</div>-->
            <!--</div>-->
          <!--</div>-->
               <!--{% endif %}-->
        <!--</div>-->
        <!--</div>-->
           <!-- loggined-person-covers -->
            {% if request.user.is_authenticated and request.user.user_type != 'Site_admin' and not request.user.is_superuser %}

            <div class="loggined-person-covers drop-down-cover">
            <div class="drop-menu-link">
            <a href="#" class="loggined-person">{{request.user.first_name}} {{request.user.last_name}}<i></i></a>
            <div class="loggined-view-cover drop-menu">
              <div class="ac-content">
                <h4>Client Account</h4>
                <div class="ac-row-cover">
                  <div class="ac-row-inner">
                 {% if request.user.client_user_detail.all  %}
                  <a {% if request.user.client_user_detail.all  and request.user.get_client_company_intance.user.invite_type.type == 'OWNER' or request.user.invite_type.type == 'OWNER' %} onclick="ActivateFreelancer(this)"  data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}"  data-activate="client" data-urls="{% url 'client:clientprofile' %}" {% else %} href="{% url 'client:clientprofile' %}" {%endif %} class="ac-row">
                    {% if  request.user.client_user_detail.get.profile %}
                      <div class="ac-row-image">
                    <img src="{{ request.user.client_user_detail.get.profile.url}}" />
                          </div>
                    {% else %}
                      <div class="ac-row-image ">
                    <img src="{% static 'images/no-image.svg' %}" />
                      </div>
                     {% endif %}
                    <div class="ac-row-info">
                      <p>{{request.user.first_name}}{{request.user.last_name}}</p>
                      <span>Client Account</span>
                    </div>
                  </a>
                      {% else %}
                      <a {% if   request.user.get_client_company_intance.logo or request.user.get_freelancer_company_intance.user.freelancer_company_user.get or request.user.invite_type.type == 'OWNER' %} {% if request.user.get_client_company_intance.user.invite_type.type == 'OWNER' or request.user.invite_type.type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-activate="client" data-role="freelancer" data-urls="{% url 'client:clientprofile' %}" {% endif  %} {% endif  %} class="ac-row">
                      <div class="ac-row-image add-image">

                      </div>
                      <div class="ac-row-info">
                      <p>Add Client Account</p>
                      <span>Client Account</span>
                      </div></a>

                      {% endif %}
                      {% if request.user.client_user_detail.all or  request.user.get_client_company_intance.logo %}
                      {% if request.user.get_client_company_intance  %}
                      <a {% if request.user.get_client_company_intance.user.invite_type.type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all or request.user.user_type == 'FREELANCER'  %}freelancer{%else %}client{% endif %}" data-activate="client" data-urls="{% url 'client-company:clientcompanyview' %}"{% else %} href="{% url 'client-company:clientcompanyview' %}"{%endif %}  class="ac-row">
                    {% if request.user.get_client_company_intance.logo %}
                       <div class="ac-row-image ">
                               <img src="{{ request.user.get_client_company_intance.logo.url}}" />
                                </div>
                              {% else %}
                              <div class="ac-row-image ">
                                  <!--<img src="images/profile-image.jpg" />-->
                              </div>

                              {% endif %}
                    <div class="ac-row-info">
                      <p>{% if request.user.get_client_company_intance.company_name %} {{request.user.get_client_company_intance.company_name}}{% endif %}</p>
                      <span>Client Company</span>
                    </div>
                  </a>
                      {% else %}
                      <a {% if request.user.client_user_detail.get  and request.user.client_user_detail.get.user.invite_type.type == 'OWNER'  %} data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="client" data-urls="{% url 'client-company:clientcompany' %}" {% else %} {%endif %} class="ac-row">
                    <div class="ac-row-image add-image">

                    </div>
                    <div class="ac-row-info">
                      <p>Add Client Company</p>
                      <span>Client Company</span>
                    </div>
                  </a>


                      {% endif %}

                      {% else %}
                      <a {% if   request.user.get_client_company_intance.logo or request.user.get_freelancer_company_intance.user.freelancer_company_user.get  %} {% if request.user.get_client_company_intance.user.invite_type.type == 'OWNER' or user.invite_type == 'OWNER'%} onclick="ActivateFreelancer(this)" data-activate="client" data-role="freelancer" data-urls="{% url 'client:clientprofile' %}" {% endif  %}{% endif  %} class="ac-row">
                    <div class="ac-row-image add-image">

                    </div>
                    <div class="ac-row-info">
                      <p>Add Client Company</p>
                      <span>Client Company</span>
                    </div>
                  </a>
                      {% endif %}


                  </div>
                </div>
              </div>
              <div class="ac-content">
                  <h4>Freelancers Account</h4>
                  <div class="ac-row-cover">
                    <div class="ac-row-inner">
                        {%  if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all %}
                         <a {% if request.user.client_user_detail.get or request.user.invite_type.type == 'OWNER'%}  data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer:freelancerprofileview' %}" {% else %} href="{% url 'freelancer:freelancerprofileview' %}" {%endif %}   class="ac-row">
                      {% if  request.user.user_detail.get.profile %}
                      <div class="ac-row-image">
                    <img src="{{ request.user.user_detail.get.profile.url}}" />
                          </div>
                    {% else %}
                      <div class="ac-row-image ">
                    <img src="{% static 'images/no-image.svg' %}" />
                      </div>
                     {% endif %}
                      <div class="ac-row-info">
                        <p class="add-profile">{{request.user.first_name}} {{request.user.last_name}}</p>
                          <span>Freelancer Account</span>
                      </div>
                   </a>
                        {% else %}
                        <a {% if request.user.client_user_detail.get and request.user.client_user_detail.get.user.invite_type.type == 'OWNER' or   request.user.get_freelancer_company_intance.user.freelancer_company_user.get.user.invite_type.type == 'OWNER' %} data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" onclick="ActivateFreelancer(this)" data-activate="freelancer" data-urls="{% url 'freelancer:freelancerprofile' %}" {%else %} {% if request.user.client_user_detail.get.user.invite_type.type == 'OWNER' %} href="{% url 'freelancer:freelancerprofile' %}"{%endif %} {%endif %}    class="ac-row">
                      <div class="ac-row-image add-image"></div>
                      <div class="ac-row-info">
                        <p class="add-profile">Add Freelancers Account</p>
                          <span>Freelancer Account</span>
                      </div>
                   </a>

                        {% endif %}
                        {%  if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all or request.user.get_freelancer_company_intance.user.freelancer_company_user.get %}
                        {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get or  request.user.get_client_company_intance.user.freelancer_company_user.get  or request.user.get_freelancer_company_intance.user.freelancer_company_portfolio_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_cerifications_user.all or request.user.get_freelancer_company_intance.user.freelancer_company_hourly_user.get or request.user.get_freelancer_company_intance.user.freelancer_company_location_user.get %}
                        <a {% if request.user.client_user_detail.get or   request.user.get_freelancer_company_intance.user.freelancer_company_user.get.user.invite_type.type == 'OWNER'%} onclick="ActivateFreelancer(this)" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" data-activate="freelancer" data-urls="{% url 'freelancer-company:freelancercompanyview' %}" {% else %} href="{% url 'freelancer-company:freelancercompanyview' %}" {%endif %}  class="ac-row">
                      {% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo %}
                              <div class="ac-row-image ">
                               <img src="{{ request.user.get_freelancer_company_intance.user.freelancer_company_user.get.logo.url}}" />
                                </div>
                              {% else %}
                              <div class="ac-row-image ">
                                  <!--<img src="{% static 'images/no-images.svg' %}" />-->
                              </div>

                              {% endif %}
                      <div class="ac-row-info">
                        <p class="add-profile">{% if request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name %} {{request.user.get_freelancer_company_intance.user.freelancer_company_user.get.company_name}}{% else %} Company Name{% endif %}</p>
                          <span>Freelancer Company</span>
                      </div>
                   </a>

                        {% else %}
                        <a {% if request.user.client_user_detail.get  %} onclick="ActivateFreelancer(this)" data-activate="freelancer" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" data-urls="{% url 'freelancer-company:freelancercompany' %}" {% else %} href="{% url 'freelancer-company:freelancercompany' %}" {%endif %} class="ac-row">
                      <div class="ac-row-image add-image"></div>
                      <div class="ac-row-info">
                        <p class="add-profile">Add Freelancer Company</p>
                          <span>Freelancer Company</span>
                      </div>
                   </a>

                        {% endif %}
                        {% else %}
                        <a {% if request.user.client_user_detail.get and request.user.client_user_detail.get.user.invite_type.type == 'OWNER' %} onclick="ActivateFreelancer(this)" data-activate="freelancer" data-role="{% if request.user.user_detail.all or request.user.employment_history.all or request.user.portfolio.all or request.user.cerifications.all  %}freelancer{%else %}client{% endif %}" data-urls="{% url 'freelancer:freelancerprofile' %}"  {%else %} {% if request.user.client_user_detail.get.user.invite_type.type == 'OWNER' %} href="{% url 'freelancer:freelancerprofile' %}"{% endif %}{% endif %} class="ac-row">
                      <div class="ac-row-image add-image"></div>
                      <div class="ac-row-info">
                        <p class="add-profile">Add Freelancer Company</p>
                          <span>Freelancer Company</span>
                      </div>
                   </a>

                        {% endif %}


                  </div>
                  </div>
              </div>
              <div class="action-cover">
                <a href="{% url 'logout' %}" class="logout">Logout</a>
                <a  class="settings">Settings</a>
              </div>
            </div>
          </div>
          </div>
            {% else %}
              <div class="pull-right login-register-buttons header-element">

              <a href="{% url 'index:login' %}">LOGIN</a>
              <a href="{% url 'index:register' %}">REGISTER</a>

           </div>


             {% endif %}


          <div class="language-selector  ">
            <div class="language-selector">
              <span><i></i> English</span>
              <ul class="languages">
                <li>Chinese</li>
                <li>Spanish</li>
                <li>English</li>
                <li>Hindi</li>
                <li>Arabic</li>
                <li>Portuguese</li>
                <li>Russian</li>
                <li>Japanese</li>
                <li>Arabic</li>
                <li>Portuguese</li>
                <li>Russian</li>
                <li>Japanese</li>
              </ul>
          </div>
         </div>
            {{  request.user.active_account.type}}
            {%  ifequal request.user.active_account.type 'CLIENT' %}
            {% include "client_header.html" %}
            {% endifequal %}
            {%  ifequal request.user.active_account.type  'FREELANCER' %}
            {% include "freelancer_header.html" %}
            {% endifequal %}



          </div>
          </div>
      </nav>
    </header>
         {% block content %}

         {% endblock %}
         <footer>
      <!--copy-right-strip-->
      <div class="copy-right-strip full-strip">
      <div class="container-fluid">
      <div class="float-left grid-50">
      <p class="float-left"> Copyright &copy; Atlancer. &nbsp; &nbsp;&nbsp; <a href="">Privacy Policy</a>  &nbsp;  |  &nbsp; <a href="">Website Terms</a></p>
      </div>
      <ul class="social-links pull-right">
      <li class="twitter">
      <a href=""></a>
      </li>
      <li class="instagram">
      <a href=""></a>
      </li>
      <li class="pininterst">
      <a href=""></a>
      </li>
      <li class="facebook">
      <a href=""></a>
      </li>
      <li class="g-plus">
      <a href=""></a>
      </li>
      </ul>
      </div>
      </div>
    </footer>
     <div class="loader-overlay"></div>



     </div>
    <!--J Query cdn-->
     <script src="{% static 'scripts/reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'scripts/jquery.cropit.js' %}"></script>
     <script src="{% static 'scripts/jquery.form.js' %}"></script>

    <!--multi-tags ends-->
	<!--zoom gallery-->
    <script src="{% static 'scripts/select2.js' %}"></script>
     <script src="{% static 'scripts/clone.js' %}"></script>
	<script src="{% static 'scripts/jquery.magnific-popup.js' %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.js"></script>


    <script>
      $(document).ready(function(){
       <!--$(document).keydown(function (event) {-->
            <!--if (event.keyCode == 123) {-->
            <!--return false;-->
            <!--}-->
            <!--else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {-->
            <!--return false;-->
            <!--}-->
       <!--});-->
        <!--$(document).on("contextmenu", function (e) {-->
            <!--e.preventDefault();-->
         <!--});-->
         <!--document.addEventListener('contextmenu', function(e) {-->
          <!--e.preventDefault();-->
        <!--});-->
        <!--document.onkeydown = function(e) {-->
            <!--if(event.keyCode == 123) {-->
            <!--return false;-->
            <!--}-->
            <!--if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){-->
            <!--return false;-->
            <!--}-->
            <!--if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){-->
            <!--return false;-->
            <!--}-->
            <!--if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){-->
            <!--return false;-->
            <!--}-->
         <!--}-->
      Notification_count();
      $(".drop-down-cover .drop-menu-link").click(function(event) {
			event.stopPropagation();
	  });

       $(".drop-down-cover .drop-menu-link").click(function() {
            $(".drop-menu").fadeToggle("fast");
       });
       $(document).click(function() {
            $(".drop-menu").fadeOut("fast");
        });
      paragraph();
      $('.create-profile').ready(function() {
                  $(".loader,.loader-overlay").fadeOut("slow");

        });

       DisplayMessage('success',"Successfully Updated");



      	 $('#tabs').tabs({show: 'fade', hide: 'fade'});
      	 datepicker();


         $('.image-editor').cropit();
         $('.image-editors').cropit();
         $('.portfolio-image-cover, .certifications-image-cover').magnificPopup({
          delegate: 'a',
          type: 'image',
          closeOnContentClick: false,
          closeBtnInside: false,
          mainClass: 'mfp-with-zoom mfp-img-mobile',
          gallery: {
            enabled: true
          },
          zoom: {
            enabled: true,
            duration: 300, // don't foget to change the duration also in CSS
            opener: function(element) {
              return element.find('img');
            }
          }

        });

		magnificPopUP();
      });
function datepicker(){
        $( ".start-dates" ).datepicker({

           //'minDate':new Date('11/02/2017'),
           onSelect:function (selectedDate) {
                       minDate =selectedDate ;
                       $(this).closest(".end-dates").datepicker( { 'minDate': new Date(selectedDate)})

               },
        });
         $( ".end-dates" ).datepicker({
           <!--'maxDate':new Date('11/04/2017'),-->
           onSelect:function (selectedDate) {


                    var minDate =selectedDate ;
                    console.log(minDate);
                    $(this).closest(".start-dates").datepicker(  { "maxDate":new Date(selectedDate)})


                },
        });

        $( ".start-date" ).datepicker({
               changeMonth: true,
               changeYear: true,


               onSelect:function (selectedDate) {
                       minDate =selectedDate ;
                       $(this).closest(".end-date").datepicker( "option", { minDate: minDate})

               },
                <!--beforeShow:function(textbox, instance){-->
                                     <!--$('#ui-datepicker-div').css({-->
                                        <!--position: 'absolute',-->
                                        <!--top:-20,-->
                                        <!--left:5-->
                                    <!--});-->
                                    <!--$(this).closest('.calanderCon').append($('#ui-datepicker-div'));-->
                                    <!--$('#ui-datepicker-div').hide();-->

                <!--}-->
        });


        $( ".end-date" ).datepicker({

               changeMonth: true,
               changeYear: true,


               onSelect:function (selectedDate) {


                    var minDate =selectedDate ;
                    console.log(minDate);
                    $(this).closest(".start-date").datepicker( "option", "maxDate", minDate);


                },
               <!--beforeShow:function(textbox, instance){-->
                                     <!--$('#ui-datepicker-div').css({-->
                                        <!--position: 'absolute',-->
                                        <!--top:-20,-->
                                        <!--left:5-->
                                    <!--});-->
                                    <!--$(this).closest('.calanderCon').append($('#ui-datepicker-div'));-->
                                    <!--$('#ui-datepicker-div').hide();-->

               <!--}-->


        });
}
function DisplayMessage(classs,text){
 if(localStorage.getItem('status_msg') == 'true' || localStorage.getItem('status_msg_company') == 'true'){
  pos = $(".status-message").offset().top;
 $("html,body").animate({scrollTop:pos-300}, 1000);
        $(".status-message").removeClass('failed');
        $(".status-message").removeClass('success');
        $(".status-message").addClass(classs);
        if(localStorage.getItem('status_msg_company_text') !=''){
            $("#messageStatus").html(localStorage.getItem('status_msg_company_text'));
            localStorage.setItem('status_msg_company_text', '');
        }else{
            $("#messageStatus").html(text);
            }
        localStorage.setItem('status_msg', 'false');
         localStorage.setItem('status_msg_company', 'false');
        $(".status-message").fadeIn('fast');
        setTimeout(function(){
             $(".status-message").fadeOut();
            // location.reload();

        }, 3000);

        }
}
function showmessage(text,status){
   localStorage.setItem('status_msg_company', 'true');
   DisplayMessage(status, text);

}
function HideDisplayMessage(){
 $(".status-message").fadeOut('fast');
}
function Close(){
$.magnificPopup.close();
}
function ActivateFreelancer(elm){


   $.ajax({
              url : "{% url 'index:activateaccount' %}", // the endpoint
              type : "POST", // http method
              data : {type:$(elm).data('activate'),role:$(elm).data('role'),method:'Activate_freelancer',csrfmiddlewaretoken:'{{ csrf_token }}'}, // data sent with the post request

              // handle a successful response
              success : function(data) {
                 if(data.status=='failed'){
                      $(".error").hide();


                 }else{

                  window.location.href = $(elm).data('urls');




                 }
              }
       });
}
function magnificPopUP(){
$('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',
           modal: true,

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',
          closeOnBgClick: false,

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
}
function HideErrors(){
           $('.error_msgs').html('');
           $('.error_msg').html('');
         }
  var moretext = "More";
   var lesstext = "Less";
   function Moreskills(elm){
    if ($(elm).hasClass("less")) {
                $(elm).removeClass("less");
                $(elm).html(moretext);
                $(elm).siblings('span.skillslist').each(function() {
                 $(this).addClass('hide');

                });
            } else {
                $(elm).addClass("less");
                $(elm).html(lesstext);
                 $(elm).siblings('span.skillslist').each(function() {
                 $(this).removeClass('hide');

                });
            }
   }
   function openPopup(elm){
   $.magnificPopup.open({
        items: {
            src: '#'+elm
        },
        type: 'inline'

    });
   }
   function paragraph(){

    var showChar = 250; // How many characters are shown by default
        var ellipsestext = "...";
        var moretext = "Show more ...";
        var lesstext = "Show less";


        $('.more').each(function() {
            var content = $(this).html();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });


        $(".morelink").click(function() {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
}



socket = new WebSocket("ws://" + window.location.host + "/product/");
socket.onmessage = function(e) {;
    var sum =  parseInt(localStorage.cont);

    var data = JSON.parse(e.data);
    console.log(data);

    <!--$('.notify_view').prepend("<br />");-->
    <!--$('.notify_view').prepend(data.message, " ");-->

    if ($('.contents_count'+data.type+data.user_id).text() ==''){
    var counts = '0';
    }else{
      var counts= $('.contents_count'+data.type+data.user_id).text();
    }

    var s = parseInt(counts) + parseInt(1);
    if (s >50)
    {
     s = "50+";
    }
    $('.contents_count'+data.type+data.user_id).addClass('notification-count');

    $('.contents_count'+data.type+data.user_id).text(s);

     $.ajax({
                 url : "{% url 'notifications:checkcount' %}", // the endpoint
                 type : "POST", // http method
                 data : {method:'Save_notification',csrfmiddlewaretoken: '{{ csrf_token }}',user_id:data['user_id'],created_by:data['created_by'],description:data['description'],title:data['title'],type:data['type'],url:data['url']}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {

                     var text = data.message
                   if (data.status == 'success'){
                   $("."+data.classs).removeClass('notification-count');
                   $("."+data.classs).text('');



				   }

                 }
     });
    }
     <!--localStorage.cont = 0;-->
<!--function view_count(){-->
    <!--$('.contents_count'+"{{request.user.id}}").html(0);-->
    <!--localStorage.cont = 0;-->
    <!--$('#myModal').modal('show');-->
<!--}-->
<!--$( document ).ready(function(){-->
    <!--$('.contents_count').html(localStorage.cont);-->
<!--});-->
function Notification_count(){

 $(document).on("click",".notification_click",function() {

var dataclass = $(this).data("id");


     if($(this).text() !='' && $(this).text()>0){
     $.ajax({
                 url : "{% url 'notifications:checkcount' %}", // the endpoint
                 type : "POST", // http method
                 data : {method:'Check_count',csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

                 // handle a successful response
                 success : function(data) {

                     var text = data.message
                   if (data.status == 'success'){
                   $("."+dataclass).removeClass('notification-count');
                   $("."+dataclass).text('');



				   }

                 }
     });
     }
 });
}
function notifictaion(messages){
             var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
               var ws_path = ws_scheme + '://' + window.location.host;
               var socket = new ReconnectingWebSocket(ws_path);
               socket.onopen = function(msg) {
                   <!--var messages = {-->
                    <!--message : "hello",-->
                    <!--}-->
                    socket.send(JSON.stringify(messages));
                    return false;
               }
               socket.error =function(err){
                    console.log(err);
                }
           }
        function selectimage(getImg){
			$(getImg).closest('.upload_p_con').find('input.id_attachments').trigger('click');
		}
		function triggerbtn(getChange){
			var GetPar = $(getChange).closest('.portfolio-image-cover');
			GetPar.find('.upload_img').addClass('active');
			GetPar.find('.img_selected').addClass('img_loaded');
		}


      </script>
       {% block extra_js %}
       {% endblock %}
    </body>
