article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

img{max-width: 100%;}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

*{outline: none !important;}

details,
menu {
  display: block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
}

@media print {
  *,
  *::before,
  *::after,
  p::first-letter,
  div::first-letter,
  blockquote::first-letter,
  li::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: normal;
}

img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*loader starts*/

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 999;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
}

.loader-overlay {
  background: rgba(255, 255, 255, 0.99) none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  width: 100%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*loader ends*/


.pull-left {float: left;}

.pull-right{float: right !important;}

.text-center{text-align: center;}

.text-left{text-align: left;}

.text-right{text-align: right;}

.full-strip{ width: 100%; float: left;}

.container{ width:100%; padding: 0 15px; margin: 0 auto; max-width: 1380px;}

.navbar-brand {
  float: left;
  margin: 0 3% 0 0;
}

.contact-info {margin: 5px 0 0 0; padding: 0;}

.contact-info li {
  float: left;
  font: 13px/18px "Sintony",sans-serif;
  list-style: outside none none;
  margin: 0 35px 0 0;
}
.contact-info li i {
  float: left;
  height: 18px;
  margin: 0 5px 0 0;
  width: 25px;
}

.contact-info li.mail {
  margin: 0;
}

.contact-info li.phone i {
  background: #fff url("../images/phone-icon.svg") no-repeat scroll 0 0;
}

.contact-info li.mail i {
  background: #fff url("../images/mail-icon.svg") no-repeat scroll 0 0;
}
nav {
  border-bottom: 1px solid #d9d9d9;
  float: left;
  padding: 18px 0;
  width: 100%;
}

ul.nav.navbar-nav {
  float: left;
  list-style: outside none none;
  margin: 0 0 0 4%;
  padding: 0;
}

ul.nav.navbar-nav li {margin: 0 18px; float: left;}

ul.nav.navbar-nav li a {
  color: #000;
  font: 600 14px/14px "Sintony",sans-serif;
  text-transform: uppercase;
}

ul.nav.navbar-nav li a:hover{ color: #0275d8; }

.login-register-buttons a {
  color: #000;
  margin: 0 0 0 8px;
  float: left;
  font: 600 12px/12px "Sintony",sans-serif;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 8px 12px;
 }

.language-selector {
    width: auto;
    float: left;
    margin: 0 0 0 4%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.language-selector span {  font: 400 15px/15px "Sintony",sans-serif; color: #000; cursor: pointer; }

.language-selector span:before {
    background: rgba(0, 0, 0, 0) url(../images/drop-arow.svg) no-repeat scroll 0 0;
    float: left;
    height: 12px;
    margin: 9px 4px 2px 0;
    width: 20px;
    position: absolute;
    content: '';
    right: -27px;
    top: -4px;
}

.language-selector i {
  background: rgba(0, 0, 0, 0) url("../images/language-icon.svg") no-repeat scroll center center;
  float: left;
  height: 20px;
  margin: 3px 5px 0 0;
  width: 15px;
}

ul.languages {
    background: #fff;
    border: 1px solid #eee;
    position: absolute;
    width: 180px;
    padding: 0;
    margin: 0;
    top: 52px;
    z-index: 9999999;
    border-width: 0px 1px 1px 0px;
    box-sizing: border-box;
    right: -30px;
    display: none;
    -webkit-box-shadow:  0 3px 6px -5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:  0 3px 6px -5px rgba(0, 0, 0, 0.45);
    box-shadow:  0 3px 6px -5px rgba(0, 0, 0, 0.45);

}

ul.languages li {
    list-style: none;
    width: 50%;
    float: left;
    font: 400 11px/24px "Sintony",sans-serif;
    border: 1px solid #eee;
    padding: 4px 13px;
    box-sizing: border-box;
    border-width: 1px 0 0 1px;
}

.mobile-menu {
  border: 1px solid #eee;
  height: auto;
  padding: 5px;
  position: absolute;
  right: 20px;
  width: 40px;
  top: 6px;
}
 .mobile-menu span {
  background: #107bc7 none repeat scroll 0 0;
  float: left;
  height: 3px;
  margin: 2px 0;
  width: 100%;
}

.login-register-buttons a:hover{text-decoration: none;   border: 1px solid #107bc7; color: #107bc7;}

/*search-strip*/

.search-strip {
  background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
  float: left;
  padding: 6px 0 4px;
  position: relative;
  width: 100%;
  z-index: 99999;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
}

.search-drop-button {
  background: rgba(0, 0, 0, 0) url("../images/drop-arow.svg") no-repeat scroll 0 0;
  float: left;
  height: 17px;
  margin: 9px 4px 2px 0;
  width: 25px;
}

.top-search-form {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.search-dropdown {
  border: 1px solid #eee;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 51px;
  color: #555;
  display: none;
  width: 100%;
  max-width: 480px;
}

.search-dropdown li {
  background: #fff;
  border-bottom: 1px solid #b7d7ee;
  float: left;
  font: 600 14px/20px "Sintony",sans-serif;
  padding: 12px 14px;
  cursor: pointer;
  width: 100%;
  color: #222;
  position: relative;
  border-bottom: 1px solid #eee;

}

.search-dropdown li::after {
  background: url("../images/left-arrow.svg") no-repeat;;
  content: "";
  float: left;
  height: 10px;
  position: absolute;
  right: 13px;
  top: 20px;
  width: 11px;
}

.search-dropdown li:hover { color: #107bc7;}

.search-strip input[type="text"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #000;
  font: 700 16px/16px "Sintony",sans-serif;
  max-width: 450px;
  min-height: 35px;
  width: 100%;
  float: left;
}

.search-strip input[type="button"] {
  background: rgba(255, 0, 0, 0) url("../images/search-blue-icon.svg") repeat scroll 0 0;
  border: medium none;
  float: left;
  height: 20px;
  margin: 8px 0 0;
  width: 20px;
  font-size:0;
}

.search-strip ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 1;
}

.search-strip ::-moz-placeholder { /* Firefox 19+ */
  color:  #000;
  opacity: 1;
  }

.search-strip :-ms-input-placeholder { /* IE 10+ */
  color:  #000;
  opacity: 1;
}
.search-strip:-moz-placeholder { /* Firefox 18- */
  color:  #000;
  opacity: 1;
}

/*slider*/

.slider {
  background: #fdfdfd url("../images/banner-image.jpg") no-repeat scroll 0 bottom / contain ;
  float: left;
  height: 670px;
  margin: -50px 0 0;
  width: 100%;
}

.slider .container{position: relative;}

.slider h1{color: #107bc7;  font: 500 40px/40px 'Rubik', sans-serif; text-transform: uppercase; margin: 200px 0 0 0;}

.slider h2{color: #000;  font: 700 32px/32px "Sintony",sans-serif; margin: 0 0 20px 0;}

.slider p {color: #4a4a4a;  font: normal 15px/20px "Sintony",sans-serif; margin: 0 0 35px 0;}

.slider a {padding: 10px 25px; margin: 0 10px 0 0; border: 2px solid #999999; color: #000; font: bold 14px/20px "Sintony",sans-serif; }

.slider a:hover {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #107bc7;
  color: #107bc7;
  text-decoration: none;
}

.verified-seal {
    background: rgba(0, 0, 0, 0) url(../images/verified-seal.svg) no-repeat scroll 0 0;
    height: 135px;
    position: absolute;
    right: 30px;
    top: 80px;
    width: 135px;
    background-size: 100%;
}

/*count-strip*/

.count-strip {
  background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
  float: left;
  margin: -90px 0 0;
  min-height: 90px;
  width: 100%;
  position: relative;
  z-index: 2;
  border-bottom :  1px solid #ddd;
  border-top : 1px solid #ddd;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11);
}

.count-strip .container {
  max-width: 1100px;
}

.count-single-cover {text-align: center;}

.count-single-cover.border {border-right: 1px solid #ddd;}

.count-strip .count-single-cover-child {
  float: none;
  margin: 0 auto;
  padding: 20px 0;
  display: inline-block;
  text-align: left;
}

.count-strip h4 {
  color: #000;
  font: 500 33px/31px "Rubik",sans-serif;
  margin: 0 0 5px;
}

.count-strip p {
  color: #535353;
  font: 14px/14px "Rubik",sans-serif;
  margin: 0;
  text-transform: uppercase;
}


/*video-tour*/

.video-tour {padding: 100px 0;}

.video-tour .container { width: 100%; max-width: 1040px; }

.video-tour h3{ color: #545657; font: 500 23px/23px "Rubik",sans-serif; margin: 5px 0 5px 0; text-align: right;}

.video-tour h2{ color: #000; font: 500 37px/37px "Rubik",sans-serif; text-align: right;}

.video-tour p {
  color: #4d4d4d;
  font: 14px/22px "Sintony",sans-serif;
  margin: 3px 0 0 4%;
}

.video-tour-inner {
  background: rgba(0, 0, 0, 0) url("../images/video-bg.jpg") no-repeat scroll center top;
  margin: 80px 0 0;
  padding: 63px 0 0;
  text-align: center;
  width: 100%;
}

.video-inner-cover iframe {
  margin:0;
}

.blue-bordered-button {
  color: #107bc7;
   background: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 2px solid #107bc7;
  font: 500 17px/17px "Rubik",sans-serif;
  padding: 15px 25px ;
  display: inline-block;
  margin: 80px 0 0;
  }

.blue-bordered-button:hover{ background: #107bc7; color: #fff;}

/*category-strip*/

.category-strip {background: #f9fcfd; padding: 100px 0; text-align: center;}

.category-strip .container{max-width: 1180px;}

h2.article-header { font: 500 28px/28px "Rubik",sans-serif; text-align: center;}

h2.article-header span { color: #787b7c; }

p.article-text {
  color: #4d4d4d;
  font: 15px/23px "Sintony",sans-serif;
  margin: 20px 0 0;
  text-align: center;
}
.category-icon i {
  background: #f6fbff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 75px 0 25px 0;
}
.category-icon.web-developer i {
  background: #e8f4fc url("../images/web-developer.svg") no-repeat scroll center center;
}
.category-icon.creative-designer i {
  background: #e8f4fc url("../images/creative-designer.svg") no-repeat scroll center center;
}
.category-icon.mobile-developer i {
  background: #e8f4fc url("../images/mobile-developer.svg") no-repeat scroll center center;
}
.category-icon.content-writer i {
  background: #e8f4fc url("../images/content-writer.svg") no-repeat scroll center center;
}
.category-icon.sales-n-marketing i {
  background: #e8f4fc url("../images/sales-n-marketing.svg") no-repeat scroll center center;
}
.category-icon.seo-analysts i {
  background: #e8f4fc url("../images/seo-analysts.svg") no-repeat scroll center center;
}
.category-icon.sales-n-marketing i {
  background: #e8f4fc url("../images/sales-n-marketing.svg") no-repeat scroll center center;
}
.category-icon.seo-analysts i {
  background: #e8f4fc url("../images/seo-analysts.svg") no-repeat scroll center center;
}

.category-icon.accountant-n-consulatnts i {
  background: #e8f4fc url("../images/accountant-n-consulatnts.svg") no-repeat scroll center center;
}
.category-icon.voice-n-chats i {
  background: #e8f4fc url("../images/voice-n-chats.svg") no-repeat scroll center center;
}

.category-icon p {
  font: normal 16px/16px "Sintony",sans-serif;
  color: #4d4d4d;
  margin: 0;
}
.category-icon .click-here {
  border: 1px solid #107ac6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font: 9px/9px "Sintony",sans-serif;
  margin: 17px 0 0;
  padding: 5px 7px;
}

.category-icon .click-here:hover {
  background: #107ac6 none repeat scroll 0 0;
  color: #fff;
  text-decoration: none;
}

.work-flow-strip {padding: 100px 0;}

.work-floe-icons-cover{padding: 55px 0 0 ;}

.work-floe-icons-cover h3 {
  font: 500 25px/25px "Rubik",sans-serif;
  margin: 25px 0 0;
}

.work-floe-icons-cover p {
    padding: 10px 0;
    font: normal 13px/20px "Sintony",sans-serif;
}

/*email*/


.email-sign-up-strip {
  background: #f6fafb none repeat scroll 0 0;
  padding: 70px 0;
}

.email-sign-up-cover {
    max-width: 645px;
    margin: 0 auto;
}

.email-sign-up-strip h5 {
  color: #080808;
  font: 22px/20px "Sintony",sans-serif;
  letter-spacing: 0;
  margin: 0 0 25px;
}

.email-sign-up-strip h5 span { font: 700 23px/23px "Sintony",sans-serif; }

.email-sign-up-strip input[type="text"] {
      background: #fff url("../images/mail.svg") no-repeat scroll 15px center;
      border: 1px solid #ccc;
      color: #000;
      font: 12px/16px "Sintony",sans-serif;
      max-width: 645px;
      padding: 16px 10px 16px 42px;
      width: 100%;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      float: left;
    }

.blue-button {
        background:#107bc7;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        font:600 13px/13px "Sintony",sans-serif;
        padding: 11px 16px;
        border: none;
        border-top:1px solid #37b9f1 ;
        margin: 7px 0 0 0;
}

.blue-button-bordererd {

  border: 2px solid #b8d5ea;
  background:#e1f3ff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #107bc7;
  font:600 13px/13px "Sintony",sans-serif;
}

.form-button-field { border-top: 1px solid #eee; padding: 10px 0 0 0; margin: 20px 0 0 0;}

.form-button-field button {margin: 5px 8px 0 0 ;}

.email-sign-up-strip .blue-button {
    margin: 7px 0 0 -100px;
  }

/*footer*/

.footer-strip {
  border-top: 1px solid #eee;
  float: left;
  padding: 65px 0 45px;
  width: 100%;
}

.footer-strip article {float: left; width: 100%;}

.footer-strip .navbar-brand {margin:0  0 20px 0;}

.footer-strip h5 {
  color: #000;
  font: 600 18px/22px "Sintony",sans-serif;
  letter-spacing: 1px;
}

.footer-strip p {
  color: #535757;
  font: 14px/23px "Sintony",sans-serif;
  float: left;
  width: 100%;
}

.footer-strip ul { padding: 0; list-style: none;   font: 14px/23px "Sintony",sans-serif;}

.footer-strip ul li {line-height: 26px;}

.footer-strip ul li a {  color: #535757;}

.footer-action-buttons a {
  font: 600 12px/12px "Sintony",sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 14px;
  margin: 5px 0;
  float: left;
  width: 100%;
  text-align: center;
  max-width: 100px;
  }

.footer-action-buttons a:hover {text-decoration: none; opacity: 0.7;}

.footer-action-buttons a.hire-now {color: #107bc7;  border: 2px solid #107bc7;}

.footer-action-buttons a.for-work {color: #fff; background: #107bc7; border: 2px solid #107bc7;}

.copy-right-strip {
  background: #f6fafb none repeat scroll 0 0;
  color: #777a7a;
  font: 14px/40px "Sintony",sans-serif;
  padding: 20px 0;
  margin: 0;
}

.copy-right-strip p {
  font: 14px/38px "Sintony",sans-serif;
  margin: 0;
}

.copy-right-strip a { color: #777a7a; }

.social-links {list-style: none; padding: 0; margin: 0; }

.social-links li {list-style: none; float: left;}

.social-links li a {
  background: #9b9c9c none repeat scroll 0 0;
  border-radius: 25px;
  float: left;
  height: 35px;
  margin: 0 7px;
  width: 35px;
  opacity: 1;
}
.social-links li.twitter a {
  background: #9c9d9e url("../images/twitter-icon.svg") no-repeat scroll center center;
}
.social-links li.instagram a {
  background: #9c9d9e url("../images/instagram-icon.svg") no-repeat scroll center center;
}
.social-links li.pininterst a {
  background: #9c9d9e url("../images/pininterst-icon.svg") no-repeat scroll center center;
}
.social-links li.g-plus a {
  background: #9c9d9e url("../images/g-plus-icon.svg") no-repeat scroll center center;
}
.social-links li.facebook a {
  background: #9c9d9e  url("../images/facebook-icon.svg") no-repeat scroll center center;
}
.social-links li.twitter a:hover,
.social-links li.instagram  a:hover,
.social-links li.g-plus a:hover,
.social-links li.facebook a:hover,
.social-links li.pininterst a:hover{
  background-color: #797979;
}
/*form styles*/

.register-cover, .login-cover {
  background: #fff url("../images/form-page-login.jpg") repeat top left;
}

.login-form-cover {
  margin:60px auto;
  max-width: 520px;
}

.form-cover{
  padding: 50px;
  width: 90%;
  border : 1px solid #ddd;
  background: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11);
}

.field-row {
  float: left;
  margin: 10px 0;
  width: 100%;
  color: #5d5d5d;
  font: 14px/18px "Sintony",sans-serif;
}

.field-row input[type="text"], .field-row input[type="password"] {
  background: #fcfcfc none repeat scroll 0 0;
  border: 1px solid #ccc;
  font: 13px/18px "Sintony",sans-serif;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 14px;
}

.register-form-cover {
    margin: 60px auto;
    max-width: 620px;
}

.register-form-cover .form-title {
    font: 100 30px/25px "Rubik",sans-serif;
}

.you-are-here-to {
  padding: 16px 0;
  width: 100%;
}

.you-are-here-to h4 {
    width: 100%;
    font: 14px/18px "Sintony",sans-serif;
    color: #107bc7;
    font: 600 17px/26px "Sintony",sans-serif;
    margin: 0 0 10px 0;
}

.you-are-here-row  {
  background: #e8f1f8 none repeat scroll 0 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 16px 18px;
  width: 100%;
}

/*radio-button styles*/

.inline-cover{
	  display: inline-block;
	}
	.inline-cover + .inline-cover {
	  margin-left:10px;
	}
	.radio{
	  color:#2d2d2d;
	  font-size:15px;
	  position:relative;
	}
  .radio span {
    padding: 2px 0 0 28px;
    position: relative;
  }
	.radio span:after{
	  content:'';
	  width:20px;
	  height:20px;
	  border:2px solid;
	  position:absolute;
	  left:0;
	  color:#107bc7;
	  top:1px;
	  border-radius:100%;
	  -ms-border-radius:100%;
	  -moz-border-radius:100%;
	  -webkit-border-radius:100%;
	  box-sizing:border-box;
	  -ms-box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  -webkit-box-sizing:border-box;
	}
	.radio input[type="radio"]{
	   cursor: pointer;
	  position:absolute;
	  width:100%;
	  height:100%;
	  z-index: 1;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
	}
	.radio input[type="radio"]:checked + span{
	  color:#555;
	}
	.radio input[type="radio"]:checked + span:before{
		content:'';
	  width:10px;
	  height:10px;
	  position:absolute;
	  background:#107bc7;
	  left:5px;
	  top:6px;
	  border-radius:100%;
	  -ms-border-radius:100%;
	  -moz-border-radius:100%;
	  -webkit-border-radius:100%;
	}

/*radio-button ends*/

.you-are-here-to label {margin: 0;}

.light-blue-border-button {
  border: 2px solid #b7d7ee;
  padding: 12px 8px;
  width: 100%;
  font: 500 16px/16px "Rubik",sans-serif;
  background: #fff;
  margin: 10px 0 0 0;
  color: #107bc7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
 }

.light-blue-border-button:hover {; color: #107bc7;   border: 2px solid #107bc7;}

 .light-grey-border-button {
   border: 2px solid #e1e1e1;
   padding: 12px 8px;
   width: 100%;
   font: 500 16px/16px "Rubik",sans-serif;
   background: #fff;
   margin: 10px 0 0 0;
   color: #777575;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
  }

 .light-grey-border-button:hover{  border: 2px solid #777575;}

.forgot-password{color: #107bc7;}

.sign-up-link {
    color: #107bc7;
    font: 600 17px/26px "Sintony",sans-serif;
    margin: 7px 0 0 3px;
  }

.form-title {
  font: 100 32px/25px "Rubik",sans-serif;
  margin: 30px 0 12px;
  text-align: center;
}
.form-cover p {
  color: #5d5d5d;
  font: 15px/23px "Sintony",sans-serif;
}

.form-description {
  color: #5d5d5d;
  font: 14px/18px "Sintony",sans-serif;
  margin: 15px 0 0;
  text-align: center;
}

.field-row input[type="text"], .field-row input[type="password"], .field-row select
 {
  background: #fcfcfc none repeat scroll 0 0;
  border: 1px solid #ccc;
  font: 14px/18px "Sintony",sans-serif;
  padding: 12px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.field-row select {
  background: #fcfcfc url("../images/drop-arow.svg") no-repeat scroll right center;
  border: 1px solid #ccc;
  font: 14px/18px "Sintony",sans-serif;
  padding:10px 12px;
  width: 100%;
  color: #777;
}

.form-cover form {
  float: left;
  padding: 50px 0;
  width: 100%;
}

.form-footer{padding: 20px 0 0 0; border-top: 2px solid #eee;}

/*cropit-preview*/

.image-editor {
  float: left;
  margin:0 0 5px 0;
}

.logo-image-upload button[type="submit"] {
  background: #eff8ff none repeat scroll 0 0;
  border: 1px solid #69b4ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #107bc7;
  font: 600 12px/16px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 5px 10px;
}

.logo-image-upload .cropit-preview {max-width: 230px !important; height: 100px !important;}

.cropit-preview {
      background-color: #f8f8f8;
      background-size: cover;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-top: 7px;
      width: 250px;
      height: 250px;
    }

    .cropit-image-input {
      border: 1px solid #eee;
      padding: 6px 7px;
      font: 13px/18px "Sintony",sans-serif;
      color: #888;
    }

    .cropit-preview-image-container {
      cursor: move;
    }

    .cropit-preview-image-container img {
      max-width: none;    }

    .image-size-label {
      margin-top: 10px;
    }

    input {
      display: block;
    }

    button[type="submit"] {
      margin-top: 10px;
    }

    #result {
      margin-top: 10px;
      width: 900px;
    }

    #result-data {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }

/*cropit-preview*/


@media (min-width:1000px) and (max-width:1180px) {
  .slider {
  height: 480px;
  }
  .slider h1 {
    margin: 100px 0 0;
  }
}

@media (min-width:1080px) and (max-width:1280px) {

  .language-selector {
    margin: 0 0 0 2%;
  }

  ul.nav.navbar-nav li a {
    font: 600 14px/15px "Sintony",sans-serif;
  }

  .contact-info li {
    font: 12px/18px "Sintony",sans-serif;
  }

  ul.nav.navbar-nav li {
    float: left;
    margin: 0 12px;
  }
}

@media (min-width:1180px) and (max-width:1400px) {

  .slider {
  height: 560px;
  }

  .slider h1 {
    margin: 180px 0 0;
    }
}

@media (min-width:1024px) and (max-width:1180px) {

  ul.nav.navbar-nav li a {
    font: 600 13px/15px "Sintony",sans-serif;
  }

  .navbar-brand {
    margin: 0 2% 0 0;
  }

  ul.nav.navbar-nav li {
    margin: 0 10px;
  }

  .contact-info li {
    margin: 0 10px 0 0;
}

ul.nav.navbar-nav {
  margin: 0 0 0 1%;
}

.language-selector span {
  font: 400 14px/15px "Sintony",sans-serif;
}

.language-selector {
  margin: 0 0 0 1%;
}

.login-register-buttons a {
  font: 600 11px/12px "Sintony",sans-serif;
  margin: 0 0 0 6px;
  padding: 8px;
}
ul.nav.navbar-nav li {
  margin: 0 8px;
}

.navbar-brand {
  margin: 0 15px 0 0;
}

.navbar-brand > img {
  max-width: 140px;
}
}

@media (min-width:768px) and (max-width:1024px) {
  .navbar-brand {
    margin: 0 1% 0 0;
  }
  .contact-info{display:none;}
    ul.nav.navbar-nav {
    margin: 0 0 0 1%;
  }
}

@media (min-width:769px) {
  .mobile-menu {
    display:none;
  }

  .header-elents-cover {
  width: 100%;
}
}

@media (max-width:840px) {
  .slider {
    position: relative;
  }
  .slider img {display: none;}
  .count-strip{margin: 0;}

.count-strip{margin: -25px 0  0 0;}

.navbar-brand {
    float: left;
    width: auto;
    max-width: 150px;
}

}

@media (max-width:999px) {

.slider {
  background: #fdfdfd url("../images/banner-image.jpg") no-repeat scroll left top;
  float: left;
  height: 670px;
  margin: 0;
  width: 100%;
  position: relative;
}

.email-sign-up-cover {
  margin: 0 auto;
  max-width: 645px;
  display: inline-block;
}

.slider .grid-50.pull-right {
  text-align: center;
  width: 100%;
}
.verified-seal {
  right: 0;
  top: 75px;
  left:0;
  margin: 0 auto;
}
.slider::before {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.slider h1 {
  margin: 240px 0 0;
}

}

@media (max-width:769px) {

  .navbar-brand {
    float: left;
    margin: 0;
    width: 100%;
  }
  .search-strip input[type="text"]{width: 85%;}

  .search-buttons-cover{ float:right; width: 15%;}

  .search-dropdown{width:90%;}

  .header-elents-cover{display: none;}

  ul.nav.navbar-nav {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  ul.nav.navbar-nav li {
    border-top: 1px solid #eee;
    float: left;
    padding: 12px 0;
    width: 100%;
    margin: 0;
  }
  .header-element {
  float: left;
  width: 100%;}

  .nav-bar .header-elents-cover {
  float: left;
  margin: 0;
  width: 100%;
  }
  .nav-bar .header-elents-cover .header-element {
      margin: 0;
      padding: 20px 0 0px 0;
      width: 100%;
  }
  .login-register-buttons {
    margin: 10px 0 0;
  }

  ul.nav.navbar-nav li {
  float: left;
  margin: 0 ;
}

.language-selector span::before {
  top: 0;
  right: 0;
}

ul.languages {
  left: 0;
  top: 44px;
  width: 100%;
}

ul.languages li{padding: 10px 20px; font: 400 13px/20px "Sintony",sans-serif;}

.login-register-buttons a {
  margin: 0 8px 0 0;
}

.footer-strip .container div {
  padding: 0 0 10px;
}

.footer-action-buttons a{ margin: 0 5px;}

  .slider {
    text-align: center;
  }

  .slider h1 {
    margin: 180px 0 0;
  }

  .slider h2 {
    color: #000;
    font: 700 32px/41px "Sintony",sans-serif;
    margin: 10px 0 20px;
  }

.video-tour {
    padding: 100px 0 50px;
  }

.video-tour p {
    margin: 25px 0 0;
    text-align: center;
  }

.count-single-cover.border {border-bottom: 1px solid #ddd; border-right: none;}

.count-strip label {text-align: center;}

.video-tour h3, .video-tour h2{ text-align: center;}

.video-tour-inner {background: none; margin: 0;}

.video-inner-cover iframe {
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.copy-right-strip p {
  font: 14px/38px "Sintony",sans-serif;
  margin: 0;
  text-align: center;
}

.social-links {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  margin: 5px 0 0 0 ;
}

.social-links li {
  display: inline-block;
  float: none;
  }

  .verified-seal {
    margin: 85px auto 15px;
    position: static;
  }

  .slider h1 {
    margin: 40px 0 0;
  }

  .register-cover .padding-left-5, .register-cover .padding-right-5 {
    padding: 10px 0 0;
  }

  .you-are-here-to label {
    margin: 10px 0 10px 5px;
  }

}

@media (max-width:480px) {

.navbar-brand {
  float: left;
  margin: 0;
  width: 100%;
}

.nav-bar .header-elents-cover .header-element {
    margin: 0;
    padding: 0 0 15px 0;
}

.contact-info {
  margin: 0 0 15px;
  padding: 0;
}

.contact-info li, .contact-info li.mail {
  margin: 20px 0 0;
  width: 100%;

}
.login-register-buttons {
  float: left;
  margin: 25px 0 0;
  width: 100%;
}

.slider img {display: none}

.count-strip, .top-search-form{background: #fff; margin: 0;}

}

@media (max-width:1024px) {
.web-view-element { display:none; }
.mob-view-element { display: inline;}
}

@media (min-width:1024px) {
  .web-view-element { display:inline; }
  .mob-view-element { display: none;}
  }
.hide{display:none;}