
input[type="button"], input[type="submit"], button{ cursor: pointer;}

input[type="button"]:hover, input[type="submit"]:hover, button:hover{opacity: 0.9;}

.create-profile-cover {
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    position: relative;
    height: 100%;
}
:-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::-webkit-input-placeholder {
    color: #797979;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #797979;
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #797979;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: #797979;
}

/*scroll-bar-styling */

.scroll-cover::-webkit-scrollbar {
    width: 4px;
}
.scroll-cover .form-step.ui-tabs-panel{padding:0;}

.scroll-cover::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e7f2f9;
}

.scroll-cover::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b0d2e7;
}
.scroll-cover::-webkit-scrollbar-thumb:window-inactive {
	background: #b0d2e7;
}

/*scroll-bar-styling ends*/


/*date picker*/

.ui-datepicker{
	background:#fff;
	padding:15px;
	border:1px solid #eee;
	font: 14px/18px "Sintony",sans-serif;
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

.ui-datepicker-title {
  border-bottom: 1px solid #eee;
  font: 15px/27px "Sintony",sans-serif;
  margin: 0 !important;
  padding: 3px 8px 8px 5px;
  text-align: center;
  width: 100%;
}

 .ui-datepicker td span, .ui-datepicker td a {font: 12px/18px "Sintony",sans-serif; padding:2px 5px;  color:#444; text-align: center !important;}

 .ui-datepicker th {
  border: 0 none;
  font: 600 13px/19px "Sintony",sans-serif;
  padding: 15px 3px;
  text-align: center;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #1ebdff !important;
  border: 1px solid #177dc8 !important;
  color: #fff;
}

/*date picker*/
.create-profile-page .container-fluid {
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
}
.create-profile-page nav {
  padding: 15px;
  position: relative;
  background: #fff;
  z-index: 999;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
  background: url("../images/calander-next-arrow.svg") no-repeat scroll 0 0;
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
  background: url("../images/calander-prev-arrow.svg") no-repeat scroll 0 0;
}

.ui-datepicker .ui-datepicker-title {
  line-height: 18px;
}

.ui-widget-header .ui-icon {
  height: 15px;
  width: 20px;
}

.create-profile-page ul.nav.navbar-nav,  .create-profile-page .language-selector  {
  float: right;
}

.create-profile-page ul.nav.navbar-nav li a {
  color: #333;
  font: 600 13px/14px "Sintony",sans-serif;
}
.create-profile-page ul.nav.navbar-nav li a:hover {
  color: #0d6fb4;
}
.create-profile-page .language-selector span {
  font: 400 13px/15px "Sintony",sans-serif;
}

.create-profile-cover .left-coll, .create-profile-cover .right-col {
  float: left;
  max-width: 352px;
  width: 18.4%;
}

.create-profile-cover .radio span::after {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .create-profile-cover .radio input[type="radio"]:checked + span:before{
    -webkit-border-radius:1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background: #7ebeeb;
	}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
  padding: 0;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav {
  list-style: outside none none;
  margin: 0;
  padding: 0 !important;
  text-align: center;
  line-height:0.8;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
  background: rgba(0, 0, 0, 0) url("../images/divider-arrow.svg") no-repeat scroll right center;
  display: inline-block;
  font: 600 14px/14px "Sintony",sans-serif;
  padding: 0 40px 0 10px;
  float:none;
}
.ui-tabs .create-profile-form-actions.ui-tabs-nav li:last-child { background:none;}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
  color: #555;
  display: inline-block;
  padding: 17px 15px 16px 45px;
  position: relative;
}

.ui-tabs .create-profile-form-actions li a::before {
  background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0;
  bottom: 0;
  content: "";
  float: left;
  height: 35px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 35px;
}

.ui-tabs .create-profile-form-actions li.ui-state-active a::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0;
}

.ui-tabs .create-profile-form-actions li.ui-state-active a { color: #0275d8;}


.ui-tabs .create-profile-form-actions li.ui-state-active, .ui-tabs .create-profile-form-actions li.ui-widget-content .ui-state-active,
.ui-tabs .create-profile-form-actions li.ui-widget-header .ui-state-active {
  color: #eb8f00;
  border:none;
  font-weight: bold;
}
.center-col {
    background: #fff none repeat scroll 0 0;
    position: relative;
    float: left;
    height: 100%;
    width: 63%;
  }

.grey-title-bar {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #d9d9d9;
    min-height: 50px;
    padding: 0;
    text-align: center;
    float: left;
    width: 100%;
}

.grey-title-bar h4 {
  font: 20px/40px "Sintony",sans-serif;
  margin: 0;
  padding: 4px 0 0 30px;
  text-align: left;
}

.grey-title-bar h4 span {
    font-weight: 600 ;
}



.list-grid-single {
  border-bottom: 2px solid #f6f9fc;
  float: left;
  padding: 14px 0;
  width: 50%;
}

.list-grid-single .img-cover {
  float: left;
  height: 115px;
  margin: 0 25px 0 0;
  overflow: hidden;
  width: 115px;
}

.list-grid-single .img-cover {
  float: left;
  height: 100px;
  margin: 0 25px 0 0;
  overflow: hidden;
  width: 100px;
}

.list-info {
  float: none;
  height: 100px;
  overflow: hidden;
  padding: 0;
}

.list-grid-single .skills-cover {
  border: medium none;
  float: left;
  margin: 5px 0 0;
  padding: 0;
  width: 100%;
}

.list-grid-single .skills-cover span.skill {
  float: left;
  font: 600 9px/16px "Sintony",sans-serif;
  margin: 3px 2px;
  padding: 1px 7px;
}
.list-grid-single p.location {
  background: rgba(0, 0, 0, 0) url("../images/location-pin.svg") no-repeat scroll left top;
  color: #424242;
  float: left;
  font: 11px/15px "Sintony",sans-serif;
  margin: 5px 0 0;
  padding: 0 0 0 20px;
  width: 100%;
}
.freelancer-list-single-cover h2 {
    color: #0275d8;
    font: 15px/15px "Sintony",sans-serif;
    margin: 5px 0 10px;
}

.list-grid-single .row {
  float: left;
  width: 100%;
}

.freelancer-list-single-cover .rate-info {
  color: #333;
  float: left;
  font: 600 14px/14px "Sintony",sans-serif;
  margin: 1px 10px 0 0;
  width: 70px;
}

.list-grid-single .star-ratings {
  float: left;
  line-height: 0;
  margin: 0 0 5px;
  padding: 0;
  width: auto;
}

.list-grid-single .skills-cover a.more {padding: 0 5px;}

/*profile-image-cover*/

.profile-image-cover {
  float: left;
  padding: 5px 10px 0;
  text-align: center;
  width: 100%;
}

.upload-photo-link {
  display: inline-block;
  float: none;
  height: 20px;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.profile-image {
    width: 170px;
    height: 170px;
    background: #eee;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
}
.cropit-preview.profile-image {
  background-position: center center;
  background-size: 100% auto;
}

.cropit-preview.profile-image.cropit-image-loaded {background: none !important;}

.cropit-preview-image-container{
  -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }

.upload-photo-link::before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c1daef;
  color: #0275d8;
  content: "Upload Photo";
  cursor: pointer;
  display: inline-block;
  font: 600 9px/9px "Sintony",sans-serif;
  left: 0;
  margin: 0;
  padding: 5px 0 4px 15px;
  position: absolute;
  right: 0;
  width: 65px;
  }

.profile-image-cover .cropit-image-input {
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 20px;
  opacity: 0;
  padding: 0;
  width: 63px;
}

.profile-image-cover .cropit-image-zoom-input-cover {
  float: left;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
}

.profile-image.cropit-image-loaded +  .crop-actions > .cropit-image-zoom-input-cover {
  display: inline;
}

.profile-image +  .crop-actions > .cropit-image-zoom-input-cover {
  display: none;
}

.cropit-preview + .crop-actions > .secondary-actions {
  display: none;
}

.cropit-preview.cropit-image-loaded + .crop-actions > .profile-image-actions.secondary-actions {
  display: inline;
}

.cropit-preview.cropit-image-loaded + .crop-actions > .profile-image-actions {
  display: none;
}

.profile-image.cropit-image-loaded + .cropit-image-zoom-input-cover {
  display: inline;
}

.cropit-image-zoom-input { display: inline-block; float: none; margin: 0 auto;}

.profile-image-actions {
  float: left;
  margin: 5px 0 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.profile-image-actions span.actions {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c1daef;
  border-radius: 3px;
  color: #0275d8;
  cursor: pointer;
  display: inline-block;
  font: 600 9px/13px "Sintony",sans-serif;
  margin: 0 1px;
  min-width: 65px;
  padding: 3px 2px 2px 13px;
  }

.actions.save-photo {
    background: #fff url("../images/save-icon.svg") no-repeat scroll 5px center;
  }

.profile-image-cover .actions {position: relative;}

.profile-image-cover .actions::before, .upload-photo-link::after {
  background-color: #e2eff9;
  content: "";
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.profile-image-cover .actions.cancel-photo::before {
  background: #e2eff9 url("../images/deactive-icon.svg") no-repeat scroll center center / 10px auto;
}
.profile-image-cover .actions.save-photo::before {
  background: #e2eff9 url("../images/active-icon.svg") no-repeat scroll left center / 14px auto;
}
.upload-photo-link::after {
  background: #e2eff9 url("../images/upload-icon.svg") no-repeat scroll 3px center;
  height: 18px;
  left: 1px;
  top: 1px;
}
.profile-image-cover .actions.delete-photo:before {
    background:  #e2eff9 url("../images/delete-icon.svg") no-repeat scroll 2px center;
  }

.profile-image-actions span.actions:hover { opacity: 0.8;}

.profile-image-cover p {
  color: #bcbcbc;
  float: left;
  font: 12px/16px "Sintony",sans-serif;
  margin: 10px 0 0;
  padding: 0 0 28px;
  text-align: center;
  width: 100%;
}

.client-basic-info{text-align: center; width: 100%; float: left; padding: 0 30px;}

.client-basic-info h5 {
  color: #111;
  font: 600 20px/17px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 0;
}

.client-basic-info p {
  font: 13px/18px "Sintony",sans-serif;
  margin: 0;
  padding: 5px 0 0;
  color:#888;
}

.create-company-cover{float: left; width: 100%; text-align: center;}

.create-company {
  background: #0275d8 none repeat scroll 0 0;
  border-radius: 18px;
  color: #fff;
  display: inline-block;
  font: 600 13px/13px "Sintony",sans-serif;
  margin: 30px 0 0;
  padding: 14px 35px 15px 60px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.invite-freenlancers {
  float: left;
  margin: 15px 0 20px 0;
  padding: 0 25px;
  text-align: center;
  width: 100%;
}
.invite-freenlancers .owl-theme .owl-nav [class*="owl-"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 3px;
  color: #0275d8;
  cursor: pointer;
  display: inline-block;
  font: 600 10px/15px "Sintony",sans-serif;
  margin: 5px 3px;
  padding: 3px 13px;
}

.small-dialog.invite-popup {
  max-width: 453px;
  padding: 4px 25px 16px;
}

.invite-freenlancers .owl-theme .owl-nav [class*="owl-"]:hover{  background: #fff none repeat scroll 0 0; color: #028ad8;}

.invite-freenlancers .action-bar {
  float: left;
  margin: 5px 0 0;
  width: 100%;
}

.invite-freenlancers .action-bar a {
  background: #f8fcff none repeat scroll 0 0;
  border: 1px solid #deebf4;
  border-radius: 2px;
  font: 9px/14px "Sintony",sans-serif;
  padding: 2px 7px;
  float:right;
  margin: 5px 0 0 5px;
  cursor:pointer;
}

.team-member-serach {
	border: 1px solid rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 5px 0 10px;
	padding: 8px;
	width: 100%;
	color: #555;
	font: 11px/15px "Sintony",sans-serif;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li, .skillsoptions {
  font-size: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  font-size: 10px;
  list-style: outside none none;}

.select2-results__options {font: 12px/18px "Sintony",sans-serif;}

.select2-results ul li{font: 12px/18px "Sintony",sans-serif;}


.team-member-serach-button {
  background: rgba(255, 0, 0, 0) url("../images/search-team-members.svg") no-repeat scroll left center;
  border: medium none;
  float: right;
  height: 19px;
  margin: -36px 5px 3px;
  position: relative;
  width: 19px;
  z-index: 88;
}

.invite-freenlancers h2 {
  color: #0275d8;
  font:600 15px/15px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 0 0 13px;
  text-align: left;
}

.create-company-cover .invite-freenlancers h3{margin:5px 0 0;}

.invited-freenlancers-image {
  float: left;
  height: 35px;
  margin: 0 10px 0 0;
  width: 35px;
}

.invited-row {
    border-bottom: 1px solid #edf4fa;
    float: left;
    padding: 10px 0;
    width: 100%;
}

.invited-row:last-child {border-bottom: none;}

.invited-freenlancers-image > img {
  float: left;
  height: 35px;
  overflow: hidden;
  width: 35px;
  border: 1px solid #eee;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.invited-freenlancers-info {
  text-align: left;
}
.invited-freenlancers-info h5 {
  font: 600 12px/14px "Sintony",sans-serif;
  margin: 4px 0 2px;
  width: 100%;
}
.invited-freenlancers-info span {
  background: #eee none repeat scroll 0 0;
  border-radius: 2px;
  color: #777;
  float: right;
  font: 8px/8px "Sintony",sans-serif;
  margin: 1px 0 -10px 3px;
  padding: 3px 8px 4px 5px;
  max-width:600px;
}
.invited-freenlancers-info p {
    margin: 0;
    padding: 0;
    font: 10px/14px "Sintony",sans-serif;
    text-align: left;
}
.invited-freenlancers-info p {
  font: 10px/14px "Sintony",sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}
.invite-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  bottom: 0;
  height: 280px;
  left: 0;
  margin: auto;
  max-width: 410px;
  padding: 25px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow:   0 0 22px rgba(0,0,0,0.2);
  -moz-box-shadow:   0 0 22px rgba(0,0,0,0.2);
  box-shadow:   0 0 22px rgba(0,0,0,0.2);  }

  .invite-box .field-row {
    margin: 5px 0;
  }

.client-company-profile-inner-cover{margin: 0 auto; float: none;}

.client-company-profile-view {
    width: 100%;
    padding: 60px 0;
    float: left;
    margin: 90px 0 0 0;
}

.client-company-profile-view  .profile-image { width: 180px; height: 180px;}

.client-company-profile-view .profile-image {margin: -120px 0 0 0;}

.client-company-profile-cover {
    margin: 0 auto;
    float: none;
    max-width: 700px;
    width: 85%;
  }

.client-company-profile-inner-cover {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #d9d9d9;
  float: left;
  padding: 0;
  width: 100%;
  max-width: 700px;
}

.client-company-profile-inner-cover h1 {
  color: #242424;
  display: inline-block;
  font: 100 35px/10px "Sintony",sans-serif;
  margin: 40px 0 70px;
  padding: 0;
}
.contact-address {padding: 30px 0; background: #f3f8fc; border-top: 1px solid #fff; border-top: 2px solid #e3f0fb; border-bottom: 2px solid #e3f0fb;}

.contact-address p {
  background: rgba(0, 0, 0, 0) url("../images/location-pin.svg") no-repeat scroll left top;
  color: #242424;
  display: inline-block;
  font: 600 14px/18px "Sintony",sans-serif;
  margin: 0;
  max-width: 600px;
  padding: 0 0 0 20px;
  text-align: justify;
}

.contact-number {padding: 25px 0; background: #fafcfe; border-top: 1px solid #fff;}

.contact-number p {
        font: 600 15px/18px "Sintony",sans-serif; margin: 0;
        color: #242424;
        display: inline-block;
        background: rgba(0, 0, 0, 0) url(../images/call-icon.svg) no-repeat scroll left top;
        padding: 0 0 0 20px;
}

.client-company-profile-inner-cover .description {
    padding: 35px;
    text-align: center;
}

.client-company-profile-inner-cover .description p {
    font: 13px/20px "Sintony",sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 600px;
}

/*delete-confirmation*/


.delete-confirmation h3 {
    font: 600 16px/15px "Sintony",sans-serif;
    margin: 0 0 12px 0;
}

.delete-confirmation p {
    font: 12px/15px "Sintony",sans-serif;
    margin: 20px 0 25px 0;
}

.delete-confirmation a {
    border: 1px solid #eee;
    padding: 7px 20px;
    font: 600 12px/15px "Sintony",sans-serif;
    margin: 0 4px 0 0;
    color: #333;
    text-align: center;
    border-radius: 3px;
	cursor:pointer;
}

/*delete-confirmation*/


.form-image-upload.profile-image-cover .image-editor{
  margin: 10px 0 5px;
  padding: 0;

}

.form-image-upload .image-editor {
  float: left;
  margin: 0;
}

.form-image-upload .profile-image {
  margin: 0;
  height: 150px;
  width: 150px;
  float: left;
}

.profile-image-cover.form-image-upload {
    padding: 0;
    margin: 0;
}

.form-image-upload.profile-image-cover .cropit-image-zoom-input-cover {
  float: left;
  margin: 70px 0 0 30px;
  text-align: center;
  width: auto;
}

.form-image-upload .profile-image-actions {
  float: left;
  margin: 65px 0 0 15px;
  padding: 0;
  text-align: center;
  width: auto;
}

.create-company:hover, .create-company:active { color: #fff; background: #1788d9; padding: 14px 40px 15px 65px;}

.create-company-cover h3 {
  font: 600 16px/22px "Sintony",sans-serif;
  margin: 60px 0 0;
}

.create-company::before {
  content: "+";
  font: 600 26px/17px "Sintony",sans-serif;
  left: 30px;
  position: absolute;
  top: 11px;
}

/*profile-image-cover*/

.create-profile-form-cover {
  width: 100%;
}

.create-profile-inner-form-cover{min-height: 800px; display: inline; float:left; width: 100%;}

.scroll-cover {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  float: left;
  height: 760px;
  max-height: 900px;
  overflow-y: auto;
  width: 100%;
}

.form-scoll-cover{
  max-height: 850px;
  height: 450px !important;
  min-height: 850px;
  padding: 60px 0;
}

.field-row .ui-state-default .ui-icon {
  background: #fff url("../images/muti-tag-close.svg") no-repeat scroll 0 0;
  float: right;
  height: 12px;
  margin: -3px -2px 0 9px;
  position: static;
  top: 0;
  width: 12px;
  z-index: 99999;
}
.grey-title-bar .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .grey-title-bar .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.grey-title-bar .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: pointer;
}

.form-step{ width: 100%; float: left; position: relative; min-height: 700px; padding: 0; text-align: center;}

.view-profil-page-cover .form-step {padding: 0;}

.create-profile-form {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 20px;
  text-align: left;
}

.client-console-cover {
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 90px 0 0;
  padding: 0;
  border: 1px solid #e9e9e9;
}

.create-profile-cover .client-console-cover .field-row {
  margin: 0;
}

.client-console-cover .field-row .grid-50, .client-console-cover .field-row .grid-1 {
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 22px 40px;
}

.client-console-cover .field-row .grid-50:nth-child(2n) {
  border-right: 0 none;
}

.field-row input[type="text"],
.field-row input[type="password"],
.field-row input[type="tel"],
.field-row input[type="number"],
.field-row select,
.field-row textarea {
  background: #fbfbfb none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  color: #505050;
  font: 12px/15px "Sintony",sans-serif;
  padding: 11px 8px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.field-row input[type="text"].ui-autocomplete-input{
	border:none;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
	padding:0 2px !important;
	height:auto !important;
  }

.inputfile + label{
  float: left;
  font: 600 11px/13px "Sintony",sans-serif;
  margin: 4px 0 0 0;
  padding: 10px 14px;
  background: #e8f3fb none repeat scroll 0 0;
  border: 1px solid #0275d8;
  color: #0275d8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }

  .inputfile {
  	width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
      background-color: #fff;
      border: 1px solid #2089d4;
  }

  .inputfile + label {
  	cursor: pointer; /* "hand" cursor */
  }

  .form-section {
    float: left;
    margin: 10px 0 25px;
    width: 100%;
  }

.form-section-row.open .form-section {
  display: inline-block;
}

.form-cloning-cover:first-child{ border: 0; padding: 0; margin: 0;}

.form-cloning-cover {
  border-top: 2px solid #dcf0ff;
  float: left;
  margin: 20px 0 0;
  padding: 20px 0 0;
  width: 100%;
  position: relative;
}

.form-cloning-cover:last-child .clone-close { display: none; }

.clone-close {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.01) url("../images/muti-tag-close.svg") no-repeat scroll center center;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	float: right;
	height: 27px;
	margin: 0 -57px -36px 0;
	position: absolute;
	right: -80px;
	top: 60px;
	width: 27px;
	
}

.field-row input.calander[type="text"] {
  background: #fbfbfb url("../images/calander.svg") no-repeat scroll 11px center;
  padding: 12px 0 12px 40px;
}
.field-row select {
  background: #fcfcfc url("../images/drop-arow.svg") no-repeat scroll right center;
  padding: 8px 15px 10px 8px;
}

.add-another {
  border: 1px solid #0275d8;
  border-radius: 3px;
  float: right;
  font: 10px/10px "Sintony",sans-serif;
  margin: 10px 0 0;
  padding: 7px 8px 6px 29px;
  position: relative;
  color:#0275d8;
  cursor: pointer;
  display: inline-block;
}

.add-another::before {
  background: #e7f2f9 url("../images/blue-plus-icon.svg") repeat scroll center center;
  content: "";
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.employment-fields-cover.form-row {
  border-bottom: 1px solid #f5f5f5;
  float: left;
  padding: 20px 0;
}

.employment-fields-cover.form-row:last-child {border-bottom:none; padding-bottom: 0;}

.employment-fields-cover.form-row:first-child {padding-top: 0;}

h3.form-label-blue, .ui-accordion h3.ui-accordion-icons.form-label-blue {
  color: #2c2c2c;
  float: left;
  font: 600 15px/14px "Sintony",sans-serif;
  margin: 12px 0 0;
  padding: 0 0 13px;
  width: 100%;
}

.ui-accordion h3.ui-accordion-icons.form-label-blue {
  color: #2c2c2c;
  float: left;
  font: 600 15px/17px "Sintony",sans-serif;
  margin: 5px 0 10px;
  padding: 0 0 16px;
  width: 100%;
}

.form-section-row.open h3 {
  border-bottom: 1px solid #eee;
}

.form-section-row {
  float: left;
  margin: 20px 0 0;
  width: 100%;
}

.form-label-blue{position:relative;}

.open .form-label-blue::before {
  background: #e7f2f9 url("../images/blue-minus-icon.svg") repeat scroll center center;
  content: "";
  float: right;
  height: 25px;
  position: absolute;
  right: 0;
  width: 25px;
  cursor: pointer;
}

.form-label-blue.open::before{
  background: #e7f2f9 url("../images/blue-plus-icon.svg") repeat scroll center center;
}
.ui-accordion.form-accordion .ui-accordion-content {
  border-top: 0 none;
  overflow: auto;
  height:auto;

}
.ui-accordion-content .form-section {
  float: left;
  margin: 0 -35px 25px;
  width: 112%;
}
.create-profile-cover .field-row {
  margin: 5px 0;
}

.create-profile-cover .email-sign-up-strip {
  background: #f6fafb none repeat scroll 0 0;
  padding: 25px;
  margin:25px 0 0 0;
}

.create-profile-cover .email-sign-up-strip h5 {
  font: 14px/20px "Sintony",sans-serif;
  margin: 0 0 10px;
}

.create-profile-cover .email-sign-up-strip h5 span {
  font-weight: 700;
}

.create-profile-cover .email-sign-up-strip input[type="text"] {
  float: left;
  font: 11px/13px "Sintony",sans-serif;
  padding: 12px 11px 11px 38px;
}

.create-profile-cover .email-sign-up-strip .blue-button {
  float: left;
  font: 600 11px/13px "Sintony",sans-serif;
  margin: 4px 0 0 -68px;
  padding: 8px 10px;
}

.create-profile-buttons {
  background: #f3f8fc none repeat scroll 0 0;
  bottom: 0;
  float: left;
  margin: 50px auto 0 auto;
  padding: 20px 0;
  position: static;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}
.create-profile-buttons.top-buttons {
  margin: 0 0 29px;
  padding: 8px 0;
}
.create-profile-buttons.top-buttons input[type="button"] , .create-profile-buttons input[type="button"] {
  font: 600 12px/16px "Sintony",sans-serif;
  padding: 8px 10px;
}
.create-profile-buttons .create-profile-form {margin: 0 auto;;}

.create-profile-buttons input[type="button"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #a7ceea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #0275d8;
  font: 600 13px/18px "Sintony",sans-serif;
  margin: 0 2px;
  padding: 8px 15px;
  float: left;
}

/* help-section */

.help-section {
  float: left;
  min-height: 360px;
  padding: 18px 10px 20px;
  width: 100%;
}
.help-section h2 {
  color: #0275d8;
  font: 600 18px/17px "Sintony",sans-serif;
  margin: 0 0 5px;
  text-transform: uppercase;
}
.help-section h4 {
  color: #444;
  font: 13px/16px "Sintony",sans-serif;
}
.help-accordion h3.ui-accordion-header {
  border-bottom: 2px solid #ebf4fa;
  color: #202020;
  cursor: pointer;
  font: 600 13px/13px "Sintony",sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 10px 21px 10px 0;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ui-accordion h3.ui-accordion-icons {
  padding-left: 0;
}

.ui-accordion.help-accordion .ui-accordion-content {
  border-top: 0 none;
  overflow: auto;
  padding: 5px 0;
}

.ui-accordion h3.ui-accordion-icons {
  padding-left: 0;
}
.help-accordion h3.ui-state-active.ui-accordion-header {
  border: medium none;
}
.help-accordion h3::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-drop-down-arrow.svg") no-repeat scroll 0 0;
  content: "";
  height: 15px;
  position: absolute;
  right: 0;
  width: 20px;
}
.help-accordion  h3.ui-state-active::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-drop-up-arrow.svg") no-repeat scroll 0 0;
}

.help-accordion p {
  color: #626262;
  font: 12px/17px "Sintony",sans-serif;
  margin: 0 0 18px;
  text-align: left;
  text-decoration: none;
}

/* help-section ends*


/*suscribe-membership starts*/

.suscribe-membership {
  float: left;
  padding: 5px 0 30px;
  text-align: center;
  width: 100%;
}
.suscribe-membership h2 {
  color: #343434;
  font: 600 18px/26px "Sintony",sans-serif;
  margin: 40px 0 0;
}

.suscribe-membership h4 {
  color: #777;
  font: 600 13px/18px "Sintony",sans-serif;
  margin: 0;
}

.suscribe-membership p {
  color: #343434;
  font: 12px/18px "Sintony",sans-serif;
  margin: 5px 0 0;
}

.suscribe-membership .light-blue-border-button {
  display: inline-block;
  font: 600 11px/19px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 4px 10px;
  width: auto;
}

/*suscribe-membership end*/

.post-job .skills-cover span.skill {
  background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
  border: 1px solid #eee;
  border-radius: 15px;
  color: #555;
  float: left;
  font: 600 10px/15px "Sintony",sans-serif;
  margin: 3px 2px;
  padding: 4px 12px;
  transition: all 0.2s ease 0s;
}




/*copy-right-strip*/

.copy-right-strip {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid #ddd;
  color: #777a7a;
  font: 14px/40px "Sintony",sans-serif;
  margin: 0;
  padding: 20px 0;
}

.copy-right-strip .container-fluid {padding: 0 25px;}

/*copy-right-strip*/


/*view-profile-cover*/

.view-profile-cover {
    margin: 0 auto;
    text-align: left;
}

.view-profile-company.view-profile-single-section.overview-cover {
  margin: 30px 0 0;
}

.view-profile-cover .scroll-cover {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  float: left;
  min-height: 750px;
  overflow-y: auto;
  padding: 0 65px;
  width: 100%;
}

.list-results-cover .scroll-cover{  padding: 0 145px;}

.scroll-cover.job-list-cover {
  padding: 0 130px;
}

.view-profile-single-section {position: relative;}

.left-side-info-box {
  float: left;
  margin:0 0 15px 0;
  padding: 0 30px;
  width: 100%;

  }
.left-side-info-row {
  border-bottom: 1px solid #f6f5f5;
  border-top: 1px solid #f6f5f5;
  float: left;
  padding: 5px 0 0 0px;
  width: 100%;
}

.left-side-info-row.address-block {border-top: none;}

.left-side-info-col {
  border-right: 1px solid #eee;
  float: left;
  padding: 5px 0;
  width: 50%;
}

.rate-info p.location {
  font: 11px/15px "Sintony",sans-serif;
  margin: 3px 0;
}

.job-heading.sub-heading-arows {
  color: #0275d8;
  font: 17px/18px "Sintony",sans-serif;
  margin: 15px 0 5px;
}

.rate-info {
  color: #333;
  float: left;
  font: 600 12px/14px "Sintony",sans-serif;
  margin: 1px 0 0;
  width: 100%;
}

.view-the-company {
  float: left;
  padding: 0;
  width: 100%;
}

.view-the-company-link {
  border: 1px solid #deebf4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  font: 600 12px/16px "Sintony",sans-serif;
  margin: 20px 0 0;
  padding: 12px 8px;
  text-align: center;
  width: 100%;
  background: #fff;
  color: #0275d8;
  background:#f8fcff none repeat scroll 0 0;
}

.left-coll .view-the-company {
  text-align: center;
}

.left-coll .view-the-company-link {
  background: #0275d8 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  display: inline-block;
  float: none;
  margin: 25px 0 0;
  padding: 10px 26px;
  width: auto;
}

.left-coll .view-the-company-link:hover{
	background: #2e94eb none repeat scroll 0 0;
	color:#fff;
 }

 .left-coll .view-the-company-link i {
   background: rgba(0, 0, 0, 0) url("../images/white-arrow.svg") repeat scroll 0 0;
   margin: 2px 0 0 10px;
 }

.scroll-cover.my-job-list { padding: 0 165px;}

.scroll-cover .post-job, .scroll-cover .post-job:last-child {
  border: 2px solid #edf4fa;
  float: left;
  margin: 0;
  padding: 10px 0 20px 35px;
  width: 100%;
}

.my-job-list .job-heading.sub-heading-arows {
  color: #0275d8;
  font: 18px/18px "Sintony",sans-serif;
  margin: 15px 0 7px;
}
.my-job-list .post-job:first-child {border-top: 0;}

.my-job-list .post-job:nth-child(2n+1) {
  background: #f9fcff none repeat scroll 0 0;
  border-top: medium none;
}

.portfolio-single-cover.post-job {
  padding: 10px 30px 20px 45px;
  border-top: 0;
}

.my-job-list .rate-info {
  color: #333;
  float: left;
  font: 600 11px/11px "Sintony",sans-serif;
  margin: 0;
  width: 100%;
}

.related-freelancers .skills-cover {
  border: medium none;
  margin: 5px 0;
  padding: 0;
}

.scroll-cover .post-job:last-child{border-top: 0;}

.related-freelancers h2 {
  border-bottom: 2px solid #edf4fa;
  color: #0275d8;
  font: 600 15px/16px "Sintony",sans-serif;
  margin: 0;
  padding: 14px 0 12px 13px;
}

.related-freelancers .skills-cover .skill {
  font: 600 9px/12px "Sintony",sans-serif;
  padding: 3px 7px;
  margin: 0 5px 0 0;
}

.related-freelancers .comment-text span.rate {
  float: left;
  text-align: left;
  width: 80px;
}

.related-freelancers .client-comment {
  border-bottom: 1px solid #dfeffb;
  margin: 0;
}

.related-freelancers .client-comment:nth-child(2n+1) {
  background: #f9fcff none repeat scroll 0 0;
}

.related-freelancers .star-ratings {
  float: left;
  margin: 1px 0 5px;
  width: auto;
}

.relative-freelaners .comment-img img, .relative-freelaners .comment-img {
  height: 35px;
  width: 35px;
}
.related-freelancers .comment-img, .related-freelancers .comment-img img {
  height: 35px;
  width: 35px;
}


.relative-freelaners .skills-cover span.skill {
  border: 1px solid #c1daef;
  border-radius: 15px;
  color: #0275d8;
  float: left;
  font: 600 10px/16px "Sintony",sans-serif;
  margin: 3px 2px;
  padding: 2px 9px;
  transition: all 0.2s ease 0s;
}

.view-the-company-link:hover, .load-more-cover a:hover, .view-profile-single-section-nocontent a:hover {
    background: #f8fcff none repeat scroll 0 0;
}

.view-the-company-link i {
  background: rgba(0, 0, 0, 0) url("../images/blue-arrow.svg") repeat scroll 0 0;
  float: right;
  height: 13px;
  margin: 0 5px 0 0;
  width: 22px;
}
.left-side-info-col:last-child {
  border-right: medium none;
  padding-left: 15px;
}

.left-side-info-col span {
  color: #5e5e5e;
  float: left;
  font: 12px/10px "Sintony",sans-serif;
  width: 100%;
}

.left-side-info-col label {
  color: #137dc8;
  font: 13px/20px "Sintony",sans-serif;
  margin: 5px 0 0;
}

.left-side-info-box h3 {
  color: #2c2c2c;
  float: left;
  font: 600 14px/16px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 0 0 10px;
  width: 100%;
}

.light-blue-background {
  background: #f8fcff none repeat scroll 0 0;
}

.job-filter {
  float: left;
  margin: 25px 0 0;
  width: 100%;
  padding: 0 25px;
}
.job-filter > ul {
  margin: 0;
  padding: 0;
}
.job-filter .checkbox input[type="checkbox"]:checked + span::before {
  background: #0275d8 none repeat scroll 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  content: "";
  height: 8px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 8px;
}

.job-filter .checkbox span::after{
   width: 16px;
  height: 16px;
  color: #92c3e6; -webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}

.job-filter h4 {
    color: #0275d8;
    font: 600 14px/13px "Sintony",sans-serif;
    margin: 5px 0 10px;
    text-transform: uppercase;
}

.job-range-slider{ width: 100%; float:left; padding: 0;}

.job-filter .job-range-slider > input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #555 !important;
  font: 600 12px/20px "Sintony",sans-serif !important;
  margin: 10px 0 5px;
}

.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eeeefd;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
  background: #6cb4e7 none repeat scroll 0 0;
  border-radius: 0;
}

.ui-slider-horizontal .ui-slider-handle {
  background: #107bc7 none repeat scroll 0 0;
  border-left: 1px solid #31a9ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0 0 0 -6px;
  top: -0.3em;
  width: 6px;
}

.ui-slider-horizontal .ui-slider-handle.ui-acttive {background: #eee; border: none !important;}

.job-filter .checkbox{margin: 0;}

.job-filter li {
  font: 13px/12px "Sintony",sans-serif;
  list-style: outside none none;
  padding: 7px 0;
}

.overview-cover{width: 100%; float: left; margin:10px 0 0 0; }

.overview-cover .action-cover {
  margin: 20px 0 -42px;
}
.action-cover {
  float: right;
  height: auto;
  position: relative;
  z-index: 45;
}

.rate-info .action-cover {
  margin: 20px 0 -32px;
}

.profile-introduction-cover{width: 100%; float: left; padding: 0;}

.freelancer-basic-info .profile-introduction .rate {
  font: 600 24px/24px "Sintony",sans-serif;
}
.overview-cover .freelancer-basic-info .action-cover {
  margin: 12px 0 -10px;
}
.company-logo-cover {
  float: left;
  width: 170px;
  }

.company-logo-cover {
  float: left;
  width: 170px;
  margin: 0;
  padding: 0;
  }

 .company-logo-cover > img {
  display: inline-block;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

 .company-logo-cover .cropit-image-zoom-input {width:100%;}

  .company-logo-cover .profile-image-actions {margin:0; }

.company-logo-cover .profile-image-cover {padding:0; margin:0;}

.company-logo-cover .profile-image {
	width:170px;
	height:170px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin:0;
	border:0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:1px solid #eee;
}

.cropit-preview-image-container{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	}

.company-info-cover {
  float: none;
  height: 170px;
  margin: 0;
  overflow: hidden;
  width: auto;
  padding: 30px 0 0 0;
 }
.company-info-cover-inner {
  padding: 0 0 0 10px;
}

.introduction-info {
  float: left;
  padding: 0 0 0 1%;
  width: 100%;
}

.action-cover .edit-button, .action-cover .delete-button {
  background-color: #fff;
  border: 1px solid #deebf4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #0275d8;
  float: left;
  font: 9px/12px "Sintony",sans-serif;
  height: auto;
  margin: 0 0 0 10px;
  padding: 3px 7px 3px 19px;
  position: static;
  width: auto;
  z-index: 999;
}

.view-clone-cover .action-cover {
  margin: 0 0 6px;
  position: relative;
  z-index: 999;
}

.edit-button {
  background: rgba(0, 0, 0, 0) url("../images/edit.svg") no-repeat scroll 7px center;
}

.delete-button {
  background: rgba(0, 0, 0, 0) url("../images/delete.svg") no-repeat scroll 7px center;
  cursor: pointer;
}

.edit-button:hover, .delete-button:hover {background-color:#f4fbff ;}

.view-profile-cover-inner {
  float: left;
  padding: 0;
  width: 100%;
}

.profile-introduction h2 {
  color: #222;
  font: 600 25px/25px "Sintony",sans-serif;
  margin: 0 0 5px;
}

.profile-introduction h4 {
  color: #222;
  font: 15px/25px "Sintony",sans-serif;
  margin: 0 0 5px;
}

.profile-introduction .rate {
  color: #000;
  float: right;
  font: 600 24px/24px "Sintony",sans-serif;
  margin: 0;
  text-align: right;
}

p.location {
  background: rgba(0, 0, 0, 0) url("../images/location-pin.svg") no-repeat scroll left top;
  color: #7f7f7f;
  font: 13px/15px "Sintony",sans-serif;
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

.skills-cover {
  border-top: 2px solid #edf4fa;
  float: left;
  margin: 15px 0 0;
  padding: 20px 0 10px;
  width: 100%;
}

.skills-cover ul{margin: 0; padding: 0;}

.skills-cover span.skill {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c1daef;
  border-radius: 15px;
  color: #0275d8;
  float: left;
  float: left;
  font: 600 11px/16px "Sintony",sans-serif;
  margin: 3px 2px;
  padding: 5px 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }

/*.skills-cover span.skill:hover { border: 1px solid #0275d8;}*/

.skills-cover a.more {color: #98abb9; text-decoration: underline;   font: 600 11px/25px "Sintony",sans-serif; float: left; padding: 7px 13px;}

.description {float: left; width: 100%; padding: 5px 0;}

.description p {
  color: #7f7f7f;
  font: italic 13px/20px "Sintony",sans-serif;
  margin: 5px 0 10px;
  padding: 0;
}

.clients-comments-cover {
  float: left;
  margin: 5px 0 25px;
  width: 100%;
}

.client-comment {
  background: #f3f8fc none repeat scroll 0 0;
  float: left;
  margin: 5px;
  padding: 10px 15px;
}

.star-ratings {
  float: left;
  line-height: 0;
  margin: 1px 0 5px;
  padding: 2px 0 0;
  width: 100%;
}

.client-comment h3 {
  font: 600 14px/23px "Sintony",sans-serif;
  margin: 0;
}

.comment-img {width: 50px; height: 50px ; overflow: hidden; float: left;}

.comment-img img {
  width: 50px;
  height: 50px ;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
 }

 .comment-text {
   float: left;
   margin: 0 0 0 15px;
   width: 80%;
 }

 .comment-text p.location {
  float: left;
  font: 11px/18px "Sintony",sans-serif;
  margin: 0;
  width: 100%;
}
.comment-text span.rate {
  color: #0275d8;
  float: right;
  font: 600 12px/20px "Sintony",sans-serif;
  text-align: left;
  width: 100%;
}
 .comment-text p {
   font: 13px/20px "Sintony",sans-serif;
   margin: 0;
 }

 .comment-text p .read-more {  font: 13px/20px "Sintony",sans-serif; color: #137dc8;}

 .load-more-cover {
   float: left;
   margin: 30px 0;
   text-align: center;
   width: 100%;
 }

 .load-more-cover a {
  border: 2px solid #deebf4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #0275d8;
  display: inline-block;
  font: 10px/10px "Sintony",sans-serif;
  padding: 7px 8px;
 }

.client-profile-view-strip {
    max-width: 767px;
    position: relative;
}

.client-profile-view-strip .status-message {top:62px;}

.client-profile-view {
  background: #fafafa none repeat scroll 0 0;
  display: inline-block;
  margin: 160px auto 50px;
  padding: 80px;
  text-align: center;
}
 .client-profile-view .profile-image-cover {
   margin: -102px 0 0;
   }

 .client-profile-view h1 {
   color: #2b96e3;
   display: inline-block;
   font: 20px/26px "Sintony",sans-serif;
   margin: 25px 0 15px;
 }

 .client-profile-view h1 span {
   color: #222;
   font: 32px/32px "Sintony",sans-serif;
 }

.client-profile-info-box {
  background: #fff none repeat scroll 0 0;
  float: left;
  width: 100%;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb;
}

.client-profile-view .action-cover {
  margin: 0 auto 25px;
  text-align: center;
  width: 100%;
}

.client-profile-view .action-cover .edit-button, .client-profile-view .action-cover .delete-button{float: none; display: inline-block;}

.client-company-profile-inner-cover .action-cover {
    width: 100%;
    text-align: center;
}
.client-company-profile-inner-cover .action-cover a {
    display: inline-block;
    float: none;
}
.client-profile-info-box-col {
  padding: 35px 15px;
}

.grid-100.client-profile-info-box-col {
  border-top: 1px solid #dbdbdb;
}
.grid-50.client-profile-info-box-col:first-child {
  border-right: 1px solid #dbdbdb;
}

.client-profile-info-box-col h4 {
  font: 600 16px/26px "Sintony",sans-serif;
  margin: 0;
}
.client-profile-info-box-col p { font: 13px/22px "Sintony",sans-serif; margin: 0;}

.links-cover {
  float: left;
  margin: 50px 0 0;
  width: 100%;
}
.links-cover a {
  background: #2b96e3 none repeat scroll 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font: 600 13px/26px "Sintony",sans-serif;
  margin: 0 2px;
  padding: 9px 14px;
  width: 32%;
}

.links-cover a.post-jobs {
  background: #2b96e3 url("../images/post-job-icon.svg") no-repeat scroll 35px center;
}

.links-cover a.search-view {
  background: #2b96e3 url("../images/search-job-icon.svg") no-repeat scroll 30px center;
}

.links-cover a.create-a-company {
  background: #2b96e3 url("../images/create-job--icon.svg") no-repeat scroll 10px center;
}

/*client-profile-view*/

 .view-profile-links ul {
   float: left;
   list-style: outside none none;
   margin: 0;
   padding: 0;
   width: 100%;
 }

 .view-profile-links ul li {
   border-bottom: 1px solid #eee;
   font: 600 14px/14px "Sintony",sans-serif;
   padding: 0 0 0 25px;
   position: relative;
 }

.view-profile-links ul li:hover{
  background: #f8fcff none repeat scroll 0 0;
}
 .view-profile-links ul li.active {
   background: #e7f5ff repeat scroll 0 0;
 }
 .view-profile-links ul li a.certifications {
   background: rgba(0, 0, 0, 0) url("../images/certification.svg") no-repeat scroll center left;
 }

 .view-profile-links ul li a.employement-history {
   background: rgba(0, 0, 0, 0) url("../images/employment-history.svg") no-repeat scroll center left;
 }

 .view-profile-links ul li a.portfolio {
   background: rgba(0, 0, 0, 0) url("../images/portfolio-icon.svg") no-repeat scroll center left;
 }

 .view-profile-links ul li a.overview {
   background: rgba(0, 0, 0, 0) url("../images/over-view.svg") no-repeat scroll center left;
 }
 .zoom-anim-dialog .field-row button {
   font: 500 12px/12px "Rubik",sans-serif;
   padding: 10px 18px;
   border: none;
 }

 .zoom-anim-dialog .field-row button {
   border: medium none;
   float: left;
   font: 600 12px/13px "Sintony",sans-serif;
   margin: 15px 0 0 0;
   padding: 10px 15px;
   width: 100%;
 }

 .zoom-anim-dialog .field-row button .light-grey-button{}

.light-grey-button {
     background: #9ba7b1 none repeat scroll 0 0;
     border-radius: 2px;
     color: #fff;
  }

.zoom-anim-dialog input[type="text"], .zoom-anim-dialog select {height: 36px;}

 .view-profile-links ul li.active::before {
  background: #137dc8 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  float: left;
  height: 65px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 4px;
}
.view-profile-links ul li a {
  color: #333;
  display: inline-block;
  margin: 0;
  padding: 20px 0 20px 40px;
  width: 100%;
}
 .portfolio-cover, .employement-history-cover, .certifications-cover {
   float: left;
   padding: 0;
   width: 100%;
 }

.portfolio-single-cover, .employement-history-single, .certifications-cover-single {
  border-bottom: 2px solid #edf4fa;
  float: left;
  margin: 0;
  padding: 10px 0 20px 35px;
  width: 100%;
}

.portfolio-single-cover:last-child, .certifications-cover-single:last-child, .employement-history-single:last-child {border: none;}

.view-profile-single-section-header {
    border-bottom: 2px solid #edf4fa;
    float: left;
    padding: 5px 0;
    width: 100%;
    margin: 20px 0 0 0;
  }

  .view-profile-single-section-header h2 {
    float: left;
    font: 600 17px/20px "Sintony",sans-serif;
  }

.view-profile-single-section-header span.add-another {margin: 0 0 5px 0;}


.view-profile-single-section-nocontent {
  background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;
  float: left;
  margin: 25px 0 0;
  padding: 35px 0;
  text-align: center;
  width: 100%;
}

.view-profile-single-section-nocontent p {
  font: 14px/20px "Sintony",sans-serif;
  margin: 10px 0 15px;
}

.view-profile-single-section-nocontent a {
  border: 2px solid #deebf4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #0275d8;
  display: inline-block;
  font: 11px/23px "Sintony",sans-serif;
   margin: 0 0 0 18px;
   padding: 2px 7px 2px 20px;
   position: relative;
   width: 115px;
}

.view-profile-single-section-nocontent a::before {
  background: #e7f2f9 url("../images/blue-plus-icon.svg") no-repeat scroll center center;
  content: "";
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}
.sub-heading-arows {
    float: left;
    font: 600 14px/18px "Sintony",sans-serif;
    padding: 0;
    position: relative;
    width: 100%;
}
 .sub-heading-arows::before {
   background: rgba(0, 0, 0, 0) url("../images/blue-arrow.svg") repeat scroll 0 0;
   content: "";
   float: left;
   height: 13px;
   left: -32px;
   position: absolute;
   right: 0;
   top: 0;
   width: 22px;
   z-index: 44;
 }

 .portfolio-single-cover .skills, .employement-history-single .role {
   color: #137dc8;
   float: left;
   font: 12px/18px "Sintony",sans-serif;
   margin: 0;
   width: 100%;
 }
 .portfolio-single-cover .description, .employement-history-single .description {
   color: #666;
   font: 12px/20px "Sintony",sans-serif;
   margin: 10px 0 1px;
   padding: 5px 0;
   text-align:justify;
 }

 .portfolio-single-cover .portfolio-link {
   background: rgba(0, 0, 0, 0) url("../images/link-icon.svg") no-repeat scroll left center;
   color: #8297a6;
   display: inline-block;
   font: 13px/19px "Sintony",sans-serif;
   margin: 5px 0 0;
   padding: 0 0 0 20px;
 }

.portfolio-image-cover, .certifications-image-cover {
  float: left;
  margin: 15px 0 0;
  width: 100%;
}

.certifications-cover-single p {
  color: #137dc8;
  float: left;
  font: 12px/13px "Sintony",sans-serif;
  margin: 0;
  width: 100%;
}

.portfolio-image-cover .portfolio-image, .certifications-image-cover .certification-image {
  float: left;
  margin: 0 10px 0 0;
  max-width: 235px;
}

.portfolio-image-cover .portfolio-image a, .certifications-image-cover .certification-image a {display: inline-block;}

.portfolio-image-cover .portfolio-image img, .certifications-image-cover .certification-image img {display: inline-block; border: 1px solid #eee;}

.duration-cover {width: 100%; float: left; margin: 15px 0 0 0; font: 12px/13px "Sintony",sans-serif;}

.duration-cover .date {
  background: rgba(0, 0, 0, 0) url("../images/blue-calander.svg") no-repeat scroll 0 0 / 15px auto;
  display: inline-block;
  font: 600 12px/12px "Sintony",sans-serif;
  margin: 0;
  padding: 3px 0 0 21px;
}

.duration-cover .to {
  color: #77797b;
  margin: 0 10px;
  text-align: center;
}

/*view-profile-cover*/

.search-result-cover > h2 {
  color: #333;
  font: 600 18px/15px "Sintony",sans-serif;
  margin: 5px 0 10px;
}

.search-result-cover > h2 span {color:#888;}

.list-search-cover {
    float: left;
    margin: 40px 2px 30px 0;
    width: 100%;
}

.list-search-cover input[type="text"] {
	background: #f8fcff none repeat scroll 0 0;
	border: 1px solid #b9d8ef;
	border-radius: 4px;
	font: 13px/13px "Sintony",sans-serif;
	padding: 14px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 3px 0 #eaf3fb inset;
	-moz-box-shadow: 1px 3px 0 #eaf3fb inset;
	box-shadow: 1px 3px 0 #eaf3fb inset;
	width: 100%;
	}
	
.list-search-cover input[type="button"] {
  border:none;
  border-left: 1px solid #b9d8ef;
  float: right;
  height: 30px;
  margin: -36px 5px 0;
  width: 35px;
   background: rgba(255, 0, 0, 0) url("../images/search-blue-icon.svg") no-repeat scroll center;
}
.search-result-heading {
  border-bottom: 2px solid #edf4fa;
  float: left;
  margin: 0 0 25px;
  padding: 0 0 10px;
  width: 100%;
}

.search-result-heading h2 {
  color: #000;
  font: 600 18px/18px "Sintony",sans-serif;
  margin: 0;
}

.search-result-heading h2 span{
    color: #696161;
}

@media (min-width:1025px) and  (max-width:1180px)  {

.profile-image {
    height: 160px;
    width: 160px;
  }

.create-profile-cover .left-coll, .create-profile-cover .right-col {
    float: left;
    max-width: 268px;
    width: 22%;
  }

.create-profile-form-actions li a {
  color: #555;
  padding: 15px 5px 18px 43px;
  position: relative;
}

.ui-tabs .create-profile-form-actions li a::before {
  background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0 / 100% auto;
  height: 25px;
  width: 25px;
}

.ui-tabs .create-profile-form-actions li.ui-state-active a::before {
    background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0/ 100% auto;
}

.create-profile-form-actions li.ui-state-active a::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0 / 100% auto;
}

.grey-title-bar h4 {
  font: 15px/15px "Sintony",sans-serif;
  padding: 20px 0;
}

.grey-title-bar h4 span {
  font: 600 15px/15px "Sintony",sans-serif;
}

.create-profile-form-actions li {
  background: rgba(0, 0, 0, 0) url("../images/divider-arrow.svg") no-repeat scroll right center;
  display: inline-block;
  font: 600 13px/13px "Sintony",sans-serif;
  padding: 4px 27px 5px 2px;
}
}

@media (max-width:1023px) {

.container-fluid, .container {min-width: 240px;}

.center-col{border: none;}

.profile-image-cover p {display: none;}

.language-selector {
      margin: 0 30px 0 0 !important;
  }


.view-profile-cover .scroll-cover {
  border-left: medium none;
  border-right: medium none;
  height: auto;
  max-height: auto;
  overflow-y: auto;
  padding: 0 10px;
  width: 100%;
}
.view-profile-company.profile-introduction .rate {
  margin: 15px 0 20px;
}
.company-info-cover {
  float: left;
  height: 178px;
  width: 100%;
}
.company-info-cover-inner {
  display: table-cell;
  vertical-align: bottom;
}

.client-profile-view {
  padding: 15px;
}

.links-cover a {
  margin: 5px 0;
  width: 100%;
  padding: 10px 5px;
}

.client-profile-view h1 span {
  float: left;
  width: 100%;
}

.links-cover {
  margin: 30px 0 0;
}

.links-cover a.create-a-company {
  background: #2b96e3 url("../images/create-job--icon.svg") no-repeat scroll 26px center;
}

.action-cover {
  margin: 0 0 25px;
  position:relative;
  z-index:88;
}

.view-profile-cover .scroll-cover {
  overflow: visible;
}

.overview-cover {
  margin: 10px 0 0;
}

.view-the-company-link { margin: 0 0 25px 0;}


/*view profile*/

.portfolio-image-cover .portfolio-image, .certifications-image-cover .certification-image {
  margin: 0 10px 0 0;
}

/*view profile*/

.profile-introduction .rate {
  margin: 10px 0 20px;
  text-align: left;
  float: left;
}

.scroll-cover {
    border:0;
    float: left;
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
}

.view-profile-links ul li a {
  color: #333;
  display: inline-block;
  margin: 0 25px;
  padding: 25px 0 25px 35px;
  width: 85%;
}

.clone-close {
    background-color: #eee;
    bottom: 5px;
    height: 25px;
    position: absolute;
    right: 50px;
    width: 25px;
    z-index: 99;
  }

.profile-image-cover {
    padding: 40px 10px 0;
  }

  .profile-image-cover {
      padding: 40px 10px 0;
    }




  .create-company {
      margin: 0 0 35px 0;
  }

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
      padding: 15px 15px 15px 35px;
  }

  .ui-tabs .create-profile-form-actions li a::before {
      background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0 / 100% auto;
      height: 25px;
      width: 25px;
  }

  .ui-tabs .create-profile-form-actions li.ui-state-active a::before {
      background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0 / 100% auto;
  }

  ul.languages {
      top: 38px;
  }

  .create-profile-page nav {
    padding: 10px 20px 14px;
  }

  .profile-image {
    height: 160px;
    width: 160px;
  }

  .scroll-cover .form-step.ui-tabs-panel {
    padding: 20px 0 0;
}

.right-col .grey-title-bar{display: none;}

.ui-autocomplete-multiselect.ui-state-default { width: 100% !important;}

.grey-title-bar{min-height: 40px;}

.grey-title-bar h4 {
    font: 18px/37px "Sintony",sans-serif;
    padding: 4px 0 0 0;
    text-align: center;
}

.create-profile-cover .left-coll, .create-profile-cover .right-col {
  max-width: 100%;
  width: 100%;
}
.center-col {
  height: 100%;
  position: relative;
  width: 100%;
}
.create-profile-form {
  max-width: 100%;
  position: relative;
}

.create-profile-form-actions li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  font: 600 14px/14px "Sintony",sans-serif;
  padding: 8px 50px;
  width: 100%;
}

.create-profile-form-actions li:last-child {border: none;}

.create-profile-form-actions li a {
  padding: 17px 15px 17px 47px;
  text-align: left;
  width: 100%;
}

.create-profile-cover .email-sign-up-strip input[type="text"] {max-width: 100%;}

.create-profile-form {
  margin: 0 auto;
  padding: 0 25px;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 3px 0 3px 25px;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li:last-child {border: none;}

.view-profile-cover-inner {
  padding: 0 15px 20px;
}
.form-step {
  padding: 0;
}

}

@media (min-width:1181px) and (max-width:1480px) {

  .create-profile-cover .left-coll, .create-profile-cover .right-col {
    max-width: 280px;
    width: 20%;
  }
 .center-col {
    width: 60%;
  }
  .ui-tabs .create-profile-form-actions.ui-tabs-nav li {
    font: 600 13px/14px "Sintony",sans-serif;
    padding: 0 16px 0 7px;
  }

  .grey-title-bar h4 {
    font: 15px/15px "Sintony",sans-serif;
    padding: 16px 0 16px 18px;
  }

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
  font: 600 13px/14px "Sintony",sans-serif;
  padding: 0 25px 0 10px;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
  color: #555;
  padding: 17px 15px 16px 45px;
}

.company-logo-cover .profile-image {width: 150px; height: 150px;  }

}



@media (min-width:1024px) and (max-width:1180px) {

  .profile-image-actions a {
    margin: 5px 0;
    padding: 7px 10px;
    width: 100%;
  }
  .language-selector {
    margin: 0 30px 0 0;
  }
  .profile-image-cover p {
    display: inline-block;
    margin: 0;
  }


  .create-profile-cover .left-coll, .create-profile-cover .right-col {
    max-width: 23%;
    width: 23%;
  }

.grey-title-bar h4 {
  font: 15px/15px "Sintony",sans-serif;
  padding: 15px 30px;
}

.center-col {
  width: 54%;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
  font: 600 12px/14px "Sintony",sans-serif;
  padding: 0 22px 0 0;
}

}


@media (min-width:1024px) and (max-width:1080px) {

  .grey-title-bar h4 {
    font: 15px/15px "Sintony",sans-serif;
    padding: 16px 30px;
  }

  .company-logo-cover {
    margin: 15px 2% 0 0;
    width: 170px;
  }


  .company-info-cover {
    padding: 60px 0 0;
  }

  }

@media (min-width:640px) and (max-width:1024px) {

  .ui-tabs .create-profile-form-actions.ui-tabs-nav li {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      padding: 0 0 0 20px;
      min-width: 24%;
      border: none;
      width: auto;
  }
}


@media (min-width:1024px) and (max-width:1280px) {

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
  color: #555;
  display: inline-block;
  padding: 15px 8px 15px 28px;
  position: relative;
}

.company-logo-cover .profile-image {width: 150px; height: 150px;  }

.ui-tabs .create-profile-form-actions li a::before {
  background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0 / 100% auto;
  height: 25px;
  width: 25px;
}
.ui-tabs .create-profile-form-actions li.ui-state-active a::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0 / 100% auto;
}
}

@media (max-width:768px) {

.create-profile-page ul.nav.navbar-nav, .create-profile-page .language-selector {
  float: right;
  margin: 0;
  width: 100%;
}

.create-profile-form .grid-50.padding-left-10, .create-profile-form .grid-50.padding-right-10 {padding: 10px 0;}


.inline-cover.radio {
  display: inline-block;
  margin: 18px 0;
}

.help-section {
  min-height: auto;
  padding: 40px 20px;
}

.profile-image-cover p{display: none;}

.profile-image-cover {
    padding: 26px 10px 0px 10px;
    width: 100%;
}

.language-selector {
      margin: 0 !important;
  }

.profile-image-cover p{display: none;}

}
.ui-autocomplete-multiselect.ui-state-default { width: 100% !important;}


@media(max-width:767px) {

.grid-50.client-profile-info-box-col:first-child {
  border-right: 0;
  border-bottom: 1px solid #dbdbdb;
}

.zoom-anim-dialog .field-row .grid-20.padding-left-5, .zoom-anim-dialog .field-row .grid-20.padding-right-5 {padding: 0;}


.view-profile-company.view-profile-single-section.overview-cover {
  margin: 0;
}

.overview-cover .action-cover {
  margin: 0 0 20px;
  text-align: center;
  width: 100%;
}

.action-cover .edit-button, .action-cover .delete-button {
  background-color: #fff;
  float: none;
  height: auto;
  padding: 3px 7px 3px 19px;
  width: auto;
  z-index: 999;
}

.profile-introduction-cover {
  float: left;
  padding: 0;
  text-align: center;
  width: 100%;
}

.company-logo-cover {
  display: inline-block;
  float: none;
  margin: 0 auto;
  padding: 5px;

}

.introduction-info {
  float: left;
  padding: 0;
  width: 100%;
}

.profile-introduction h2 {
  color: #222;
  font: 600 25px/25px "Sintony",sans-serif;
  margin: 0 0 5px;
}

.profile-introduction h4 {
  color: #222;
  font: 15px/25px "Sintony",sans-serif;
  margin: 0 0 5px;
  text-align: center;
}

.company-info-cover p.location {
  color: #7f7f7f;
  float: left;
  font: 12px/15px "Sintony",sans-serif;
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
}

.company-info-cover-inner {
  display: table-cell;
  padding: 0;
  width: 100%;
}

.view-profile-company.profile-introduction .rate {
  margin: 15px 0;
  text-align: center;
  width: 100%;
}



}

@media (min-width:1025px) and (max-width:1400px) {

.create-profile-cover .left-coll, .create-profile-cover .right-col {
  max-width: 360px;
  width: 20%;
}
.center-col {
  width: 60%;
}
.grey-title-bar h4 {
  font: 15px/15px "Sintony",sans-serif;
  padding: 17px 30px;
}
.view-profile-cover .scroll-cover {
  padding: 0 35px;
}
.client-comment {
  min-height: 135px;
}
.client-comment > h3 {
  font: 600 13px/20px "Sintony",sans-serif;
}
.description p {
  font: italic 12px/18px "Sintony",sans-serif;
  margin: 5px 0 10px;
}

.view-profile-links ul li {
  padding: 0 0 0 20px;
}
.view-profile-links ul li a {
  padding: 20px 0 20px 40px;
}

.profile-introduction h2 {
  font: 600 22px/25px "Sintony",sans-serif;
}
.profile-introduction .rate {
  font: 600 21px/18px "Sintony",sans-serif;
}
.skills-cover span.skill {
  font: 600 11px/16px "Sintony",sans-serif;
  margin: 3px 2px;
  padding: 4px 13px;
}
.comment-img  .comment-img img{
  height: 40px;
  width: 40px;
}
.comment-text p {
  font: 12px/18px "Sintony",sans-serif;
  margin: 0;
}
.profile-image {width: 180px; height: 180px;}

.view-profile-links ul li.active::before {height: 55px;}

.left-side-info-box h3 {
  font: 600 14px/15px "Sintony",sans-serif;
}
.comment-img, .comment-img img{
  height: 35px;
  width: 35px;
}

.comment-text p .read-more {
  display: inline-block;
  font: 12px/20px "Sintony",sans-serif;
}

.left-side-info-col label {
  font: 13px/16px "Sintony",sans-serif;
}

.left-side-info-col span {
  font: 10px/4px "Sintony",sans-serif;
  margin: 5px 0 0;
}

p.location {
  font: 12px/15px "Sintony",sans-serif;
}

.create-company-cover h3 {
  font: 600 14px/18px "Sintony",sans-serif;
  margin: 20px 0 0;
}

.create-profile-cover .email-sign-up-strip h5 {
  font: 12px/18px "Sintony",sans-serif;
  margin: 0 0 10px;
}

.suscribe-membership p {
  font: 11px/17px "Sintony",sans-serif;
  margin: 12px 0 0;
}

.invited-freenlancers-image{width: 35px; height: 35px;}

.invited-freenlancers-image, .invited-freenlancers-image > img{ width: 35px; height: 35px;}

.invited-freenlancers-info h5 {
  font: 600 10px/14px "Sintony",sans-serif;
}

.invite-freenlancers {padding: 0 10px;}

.client-company-profile-inner-cover .description p {
  padding: 0;
}
.client-company-profile-inner-cover h1 {
  font: 100 30px/12px "Sintony",sans-serif;
  margin: 10px 0 45px;
}

.client-company-profile-view .profile-image{width: 160px; height: 160px;}

.view-the-company-link {
  font: 600 11px/16px "Sintony",sans-serif;
}

.help-accordion p {
  font: 10px/15px "Sintony",sans-serif;
  margin: 0 0 18px;
}

.help-accordion h3.ui-accordion-header {font: 600 13px/18px "Sintony",sans-serif;}
}
.calanderPos{
  position: relative;
}
.calanderPos .ui-datepicker{
      top: 40px !important;
      left: 15px !important;
  }
}

@media (min-width:1600px) and (max-width:1980px) {

}

@media (min-width:1400px) and (max-width:1599px) {

}


@media (min-width:1200px) and (max-width:1399px) {

  nav {
    padding: 14px 0;
  }

  .login-register-buttons a {
    font: 600 10px/12px "Sintony",sans-serif;
    padding: 6px 12px;
  }

  ul.nav.navbar-nav li a {
    color: #000;
    font: 11px/9px "Sintony",sans-serif;
  }

  .count-strip {
    margin: -68px 0 0;
    min-height: 70px;
  }

  .video-tour h3 {
    font: 500 18px/7px "Rubik",sans-serif;
    margin: 5px 0;
  }
  .video-tour p {
    color: #4d4d4d;
    font: 12px/17px "Sintony",sans-serif;
  }

  p.article-text {
    font: 12px/18px "Sintony",sans-serif;
    margin: 10px 0 0;
  }


.profile-introduction h4 {
    font: 14px/25px "Sintony",sans-serif;
}

.blue-bordered-button {
  border: 2px solid #0275d8;
  font: 13px/13px "Sintony",sans-serif;
  margin: 80px 0 0;
  padding: 10px 17px;
}

.profile-introduction .rate {
  font: 600 17px/18px "Sintony",sans-serif;
}

.view-profile-links ul li {
  font: 600 13px/14px "Sintony",sans-serif;
}

.view-profile-links ul li a {
  padding: 16px 0 16px 40px;
}


.skills-cover span.skill {
  font: 600 12px/16px "Sintony",sans-serif;
  padding: 2px 12px;
}

.skills-cover span.skill {
  font: 600 11px/15px "Sintony",sans-serif;
  margin: 4px 1px;
  padding: 4px 10px;
}

.description p {
  font: italic 11px/17px "Sintony",sans-serif;
  margin: 5px 0 10px;
}

.view-profile-single-section-header h2 {
  float: left;
  font: 600 14px/20px "Sintony",sans-serif;
}

.view-profile-single-section-nocontent p {
  font: 10px/20px "Sintony",sans-serif;
}

.view-profile-single-section-nocontent a {
  font: 9px/16px "Sintony",sans-serif;
  padding: 1px 0 2px 17px;
  width: 103px;
}

.view-profile-single-section-nocontent a::before {
  height: 19px;
  width: 20px;
}

.left-side-info-box h3 {
  font: 600 12px/15px "Sintony",sans-serif;
}


.left-side-info-col label {
  font: 11px/16px "Sintony",sans-serif;
}

.view-the-company-link {
  font: 600 10px/16px "Sintony",sans-serif;
  padding: 8px;
}

.company-logo-cover {
  width: 150px;
}

.company-info-cover {
  height: 150px;
  margin: 0 0 0 150px;
}

.client-comment > h3 {
  font: 12px/20px "Sintony",sans-serif;
}

.comment-text p {
  font: 11px/15px "Sintony",sans-serif;
  margin: 0;
}

.client-comment {
  min-height: 100px;
}

.copy-right-strip p {
  font: 11px/32px "Sintony",sans-serif;
  margin: 0;
}

.copy-right-strip {
  padding: 10px 0;
}

.social-links li a {
  height: 30px;
  width: 30px;
}

.sub-heading-arows {
  font: 600 12px/13px "Sintony",sans-serif;
}

.portfolio-single-cover .description, .employement-history-single .description {
  font: 11px/18px "Sintony",sans-serif;
}

.portfolio-single-cover .skills, .employement-history-single .role {
  font: 11px/11px "Sintony",sans-serif;
}

.profile-image {
  height: 150px;
  width: 150px;
}

.add-another::before {
  height: 17px;
  width: 17px;
}

.add-another {
  font: 8px/7px "Sintony",sans-serif;
  padding: 6px 8px 5px 29px;
}
.create-profile-page .language-selector span {
  font: 600 12px/13px "Sintony",sans-serif;
}

.language-selector i {
  background: rgba(0, 0, 0, 0) url("../images/language-icon.svg") no-repeat scroll center center / 100% auto;
  float: left;
  height: 14px;
  margin: 8px 5px 0 0;
  width: 14px;
}

.contact-info li.mail i {
  background: #fff url("../images/mail-icon.svg") no-repeat scroll 0 0 / 100% auto;
  height: 15px;
  margin: 3px 5px 0 0;
  width: 15px;
}
.contact-info li.phone i {
  background: #fff url("../images/phone-icon.svg") no-repeat scroll 0 0;
  background-size: 100%;
  width: 12px;
  height: 15px;
  margin: 3px 4px 0 0  ;
}

.create-profile-page nav {
  padding: 11px 10px 17px;
}


.create-profile-buttons.top-buttons input[type="button"], .create-profile-buttons input[type="button"] {
	font: 600 12px/18px "Sintony",sans-serif;
	padding: 5px 15px;
}


h3.form-label-blue, .ui-accordion h3.ui-accordion-icons.form-label-blue {
  color: #111;
  margin: 12px 0 0;
  padding: 0 0 13px;
}

.field-row input[type="text"], .field-row input[type="password"], .field-row input[type="tel"], .field-row input[type="number"], .field-row select, .field-row textarea {
  font: 12px/18px "Sintony",sans-serif;
}

.field-row input[type="text"], .field-row input[type="password"], .field-row input[type="tel"], .field-row input[type="number"], .field-row select, .field-row textarea {
  padding: 8px 10px;
}

  .ui-tabs .create-profile-form-actions li a::before {
    background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0 / 100% auto;
    height: 25px;
    width: 25px;
  }


  .ui-tabs .create-profile-form-actions li.ui-state-active a::before {
    background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0 / 100% auto;
  }


  .grey-title-bar {
    min-height: 43px;
    width: 100%;
  }

  .client-company-profile-view .profile-image {
    height: 150px;
    width: 150px;
  }

  .client-basic-info h5 {
    font: 600 17px/17px "Sintony",sans-serif;
  }

  .client-basic-info p {
  font: 11px/14px "Sintony",sans-serif;
}

.client-company-profile-inner-cover h1 {
  font: 100 22px/12px "Sintony",sans-serif;
  margin: 10px 0 45px;
}

.contact-address {
  padding: 19px 0;
}

.contact-address p {
  font: 12px/15px "Sintony",sans-serif;
}

.contact-number {
  padding: 20px 0;
}

.contact-number p {
  font: 12px/18px "Sintony",sans-serif;
  padding: 0 0 0 20px;
}

.invited-freenlancers-image, .invited-freenlancers-image > img {
  height: 30px;
  width: 30px;
}

.invite-freenlancers h2 {
  color: #0275d8;
  font: 600 13px/15px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 0 0 5px;
}

.job-heading.sub-heading-arows {
  color: #0275d8;
  font: 14px/16px "Sintony",sans-serif;
  margin: 16px 0 10px;
}

.rate-info {
  color: #555;
  float: left;
  font: 12px/3px "Sintony",sans-serif;
  margin: 1px 0 0;
  width: 100%;
}

.next-arrow-button {
  font: 600 10px/15px "Sintony",sans-serif;
  min-width: 159px;
}

.client-comment h3 {
  font: 600 12px/23px "Sintony",sans-serif;
  margin: 0;
}

.comment-text span.rate {
  color: #0275d8;
  font: 600 10px/13px "Sintony",sans-serif;
}

.comment-text p.location {
  float: left;
  font: 10px/15px "Sintony",sans-serif;
  margin: 0;
  width: 100%;
}

.create-profile-buttons {
  padding: 12px 0;
}

.left-side-info-col {
  padding: 0 0 5px 0;
  width: 50%;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
  color: #555;
  padding: 13px 15px 13px 45px;
}

.grey-title-bar h4 {
  font: 15px/14px "Sintony",sans-serif;
  padding: 14px 30px;
}

.view-profile-cover .scroll-cover {
  min-height: 680px;
  height: 680px;
}

.create-profile-cover .email-sign-up-strip input[type="text"] {
  max-height: 48px;
  padding: 8px 11px 9px 38px;
}

.create-profile-cover .email-sign-up-strip .blue-button {
  font: 600 10px/13px "Sintony",sans-serif;
  margin: 4px 0 0 -73px;
  padding: 7px 14px;
}
.suscribe-membership h2 {
  font: 600 17px/23px "Sintony",sans-serif;
  margin: 40px 0 0;
}
.suscribe-membership p {
  font: 11px/17px "Sintony",sans-serif;
  margin: 4px 0 0;
}

.suscribe-membership .light-blue-border-button {
  font: 600 11px/19px "Sintony",sans-serif;
  padding: 4px 13px;
}


}


@media (min-width:1024px) and (max-width:1199px) {

}


nav.nav-bar{
    position: relative;
    z-index: 456;
}