
input[type="button"], input[type="submit"], button{ cursor: pointer;}

input[type="button"]:hover, input[type="submit"]:hover, button:hover{opacity: 0.9;}

.create-profile-cover {
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    position: relative;
    height: 100%;
}
:-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::-webkit-input-placeholder {
    color: #797979;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #797979;
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #797979;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: #797979;
}

/*scroll-bar-styling */

.scroll-cover::-webkit-scrollbar {
    width: 4px;
}
.scroll-cover .form-step.ui-tabs-panel{padding:0;}

.scroll-cover::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e7f2f9;
}

.scroll-cover::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b0d2e7;
}
.scroll-cover::-webkit-scrollbar-thumb:window-inactive {
	background: #b0d2e7;
}

/*scroll-bar-styling ends*/


/*date picker*/

.ui-datepicker{
	background:#fff;
	padding:15px;
	border:1px solid #eee;
	font: 14px/18px "Sintony",sans-serif;
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

.ui-datepicker-title {
  border-bottom: 1px solid #eee;
  font: 15px/27px "Sintony",sans-serif;
  margin: 0 !important;
  padding: 3px 8px 8px 5px;
  text-align: center;
  width: 100%;
}

 .ui-datepicker td span, .ui-datepicker td a {font: 12px/18px "Sintony",sans-serif; padding:2px 5px;  color:#444; text-align: center !important;}

 .ui-datepicker th {
  border: 0 none;
  font: 600 13px/19px "Sintony",sans-serif;
  padding: 15px 3px;
  text-align: center;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #1ebdff !important;
  border: 1px solid #177dc8 !important;
  color: #fff;
}

/*date picker*/
.create-profile-page .container-fluid {
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
}
.create-profile-page nav {
  padding: 16px 30px 18px;
  position: relative;
  background: #fff;
  z-index: 999;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
  background: url("../images/calander-next-arrow.svg") no-repeat scroll 0 0;
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
  background: url("../images/calander-prev-arrow.svg") no-repeat scroll 0 0;
}

.ui-datepicker .ui-datepicker-title {
  line-height: 18px;
}

.ui-widget-header .ui-icon {
  height: 15px;
  width: 20px;
}

.create-profile-page ul.nav.navbar-nav,  .create-profile-page .language-selector  {
  float: right;
}

.create-profile-page ul.nav.navbar-nav li a {
  color: #107bc7;
  font: 600 13px/14px "Sintony",sans-serif;
}

.create-profile-page ul.nav.navbar-nav li a:hover {
  color: #0d6fb4;
}


.create-profile-page .language-selector span {
  font: 400 13px/15px "Sintony",sans-serif;
}

.create-profile-cover .left-coll, .create-profile-cover .right-col {
  float: left;
  max-width: 350px;
  width: 18.5%;
}

.create-profile-cover .radio span::after {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .create-profile-cover .radio input[type="radio"]:checked + span:before{
    -webkit-border-radius:1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background: #7ebeeb;
	}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
  padding: 0;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav {
  list-style: outside none none;
  margin: 0;
  padding: 0 !important;
  text-align: center;
  line-height:0.8;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
  background: rgba(0, 0, 0, 0) url("../images/divider-arrow.svg") no-repeat scroll right center;
  display: inline-block;
  font: 600 14px/14px "Sintony",sans-serif;
  padding: 0 40px 0 10px;
  float:none;
}
.ui-tabs .create-profile-form-actions.ui-tabs-nav li:last-child { background:none;}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
  color: #555;
  display: inline-block;
  padding: 17px 15px 16px 45px;
  position: relative;
}

.ui-tabs .create-profile-form-actions li a::before {
  background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0;
  bottom: 0;
  content: "";
  float: left;
  height: 35px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 35px;
}

.ui-tabs .create-profile-form-actions li.ui-state-active a::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0;
}

.ui-tabs .create-profile-form-actions li.ui-state-active a { color: #107bc7;}


.ui-tabs .create-profile-form-actions li.ui-state-active, .ui-tabs .create-profile-form-actions li.ui-widget-content .ui-state-active,
.ui-tabs .create-profile-form-actions li.ui-widget-header .ui-state-active {
  color: #eb8f00;
  border:none;
  font-weight: bold;
}
.center-col {
    background: #fff none repeat scroll 0 0;
    position: relative;
    float: left;
    height: 100%;
    width: 63%;
  }

.grey-title-bar {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #d9d9d9;
    min-height: 50px;
    padding: 0;
    text-align: center;
    float: left;
    width: 100%;
}

.grey-title-bar h4 {
  font: 20px/40px "Sintony",sans-serif;
  margin: 0;
  padding: 4px 0 0 30px;
  text-align: left;
}

.grey-title-bar h4 span {
    font-weight: 600 ;
}

/*profile-image-cover*/

.profile-image-cover {
  float: left;
  padding: 10px 10px 0;
  text-align: center;
  width: 100%;
}

.upload-photo-link {
  display: inline-block;
  float: none;
  height: 28px;
  margin: 2px;
  position: relative;
  vertical-align: middle;
}

.profile-image {
    width: 200px;
    height: 200px;
    background: #eee;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
}

.cropit-preview.profile-image.cropit-image-loaded {background: none !important;}

.cropit-preview-image-container{
  -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;}

.upload-photo-link::before {
  border: 1px solid #107bc7;
  border-radius: 30px;
  color: #107bc7;
  content: "Upload Photo";
  display: inline-block;
  font: 600 12px/16px "Sintony",sans-serif;
  margin: 0 5px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  z-index: -1;
  cursor: pointer;
}

.profile-image-cover .cropit-image-input {
  float: left;
  font-size: 0;
  height: 30px;
  opacity: 0;
  padding: 0;
  cursor: pointer;
  width: 111px;
}

.profile-image-cover .cropit-image-zoom-input-cover {
  float: left;
  margin: 25px 0 0;
  text-align: center;
  width: 100%;
}

.profile-image + .cropit-image-zoom-input-cover {
  display: none;
}

.profile-image.cropit-image-loaded + .cropit-image-zoom-input-cover {
  display: inline;
}

.cropit-image-zoom-input { display: inline-block; float: none; margin: 0 auto;}

.profile-image-actions {
  float: left;
  margin: 20px 0 35px;
  padding: 0;
  width: 100%;
  text-align: center;
}
.profile-image-actions span.actions {
    border: 1px solid #107bc7;
    padding: 5px 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font: 600 12px/16px "Sintony", sans-serif;
    margin: 0 5px;
    color: #107bc7;
    display: inline-block;
  }

.profile-image-cover p {
  color: #bcbcbc;
  float: left;
  font: 12px/16px "Sintony",sans-serif;
  margin: 10px 0 0;
  padding: 0 0 28px;
  text-align: center;
  width: 100%;
}

.create-company-cover{float: left; width: 100%; text-align: center;}

.create-company {
  background: #107bc7 none repeat scroll 0 0;
  border-radius: 18px;
  color: #fff;
  display: inline-block;
  font: 600 13px/13px "Sintony",sans-serif;
  margin: 30px 0 0;
  padding: 14px 35px 15px 60px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.invite-freenlancers {
  float: left;
  margin: 15px 0 20px 0;
  padding: 0 25px;
  text-align: center;
  width: 100%;
}

.create-company-cover .invite-freenlancers h3{margin:5px 0 0;}


.invited-freenlancers-image {
  float: left;
  height: 45px;
  margin: 0 10px 0 0;
  width: 45px;
}

.invited-row {
  border-bottom: 2px solid #edf4fa;
  float: left;
  padding: 10px 0;
  width: 100%;
}

.invited-freenlancers-image > img {
  float: left;
  height: 45px;
  overflow: hidden;
  width: 45px;
  border: 1px solid #eee;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.invited-freenlancers-info {
  float: left;
  text-align: left;
  width: 70%;
}

.invited-freenlancers-info h5 {
  font: 600 14px/14px "Sintony",sans-serif;
  margin: 10px 0 2px;
  width: 100%;
}

.invited-freenlancers-info span {
  color: #777;
  font: italic 9px/10px "Sintony",sans-serif;
  padding: 3px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #eee;
}

.invited-freenlancers-info p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.invite-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  bottom: 0;
  height: 280px;
  left: 0;
  margin: auto;
  max-width: 410px;
  padding: 25px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow:   0 0 22px rgba(0,0,0,0.2);
  -moz-box-shadow:   0 0 22px rgba(0,0,0,0.2);
  box-shadow:   0 0 22px rgba(0,0,0,0.2);  }

  .invite-box .field-row {
    margin: 5px 0;
  }

.create-company:hover, .create-company:active { color: #fff; background: #1788d9; padding: 14px 40px 15px 65px;}

.create-company-cover h3 {
  font: 600 16px/22px "Sintony",sans-serif;
  margin: 60px 0 0;
}

.create-company::before {
  content: "+";
  font: 600 26px/17px "Sintony",sans-serif;
  left: 30px;
  position: absolute;
  top: 11px;
}

/*profile-image-cover*/

.create-profile-form-cover {
  width: 100%;
}

.create-profile-inner-form-cover{min-height: 800px; display: inline; float:left; width: 100%;}

.scroll-cover {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  float: left;
  height: 755px;
  max-height: 900px;
  overflow-y: auto;
  width: 100%;
}

.form-scoll-cover{
  max-height: 850px;
  height: 450px !important;
  min-height: 850px;
  padding: 60px 0;
}

.field-row .ui-state-default .ui-icon {
  background: #fff url("../images/muti-tag-close.svg") no-repeat scroll 0 0;
  float: right;
  height: 12px;
  margin: -3px -2px 0 9px;
  position: static;
  top: 0;
  width: 12px;
  z-index: 99999;
}
.grey-title-bar .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .grey-title-bar .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.grey-title-bar .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: pointer;
}

.form-step{ width: 100%; float: left; position: relative; min-height: 700px; padding: 0 0 30px 0; text-align: center;}

.create-profile-form {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 20px;
  text-align: left;
}

.client-console-cover {
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 90px 0 0;
  padding: 0;
  border: 1px solid #e9e9e9;
}

.create-profile-cover .client-console-cover .field-row {
  margin: 0;
}

.client-console-cover .field-row .grid-50, .client-console-cover .field-row .grid-1 {
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 22px 40px;
}

.client-console-cover .field-row .grid-50:nth-child(2n) {
  border-right: 0 none;
}

.field-row input[type="text"],
.field-row input[type="password"],
.field-row input[type="tel"],
.field-row input[type="number"],
.field-row select,
.field-row textarea {
  background: #fbfbfb none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  color: #505050;
  font: 13px/18px "Sintony",sans-serif;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.field-row input[type="text"].ui-autocomplete-input{
	border:none;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
	padding:0 2px !important;
	height:auto !important;
  }

.inputfile + label{
  float: left;
  font: 600 11px/13px "Sintony",sans-serif;
  margin: 4px 0 0 0;
  padding: 10px 14px;
  background: #e8f3fb none repeat scroll 0 0;
  border: 1px solid #107bc7;
  color: #107bc7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }

  .inputfile {
  	width: 0.1px;
  	height: 0.1px;
  	opacity: 0;
  	overflow: hidden;
  	position: absolute;
  	z-index: -1;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
      background-color: #fff;
      border: 1px solid #2089d4;
  }

  .inputfile + label {
  	cursor: pointer; /* "hand" cursor */
  }

  .form-section {
    float: left;
    margin: 10px 0 25px;
    width: 100%;
  }

.form-section-row.open .form-section {
  display: inline-block;
}

.form-cloning-cover:first-child{ border: 0; padding: 0; margin: 0;}

.form-cloning-cover {
  border-top: 2px solid #dcf0ff;
  float: left;
  margin: 20px 0 0;
  padding: 20px 0 0;
  width: 100%;
  position: relative;
}

.form-cloning-cover:last-child .clone-close { display: none; }

.clone-close {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.02) url("../images/muti-tag-close.svg") no-repeat scroll center center;
  border: 1px solid #ccc;
  border-radius: 2px;
  bottom: 0;
  cursor: pointer;
  float: right;
  height: 20px;
  margin: 68px -52px -40px -27px;
  position: absolute;
  right: 0;
  width: 20px;
  }
.field-row input.calander[type="text"] {
  background: #fbfbfb url("../images/calander.svg") no-repeat scroll 11px center;
  padding: 13px 0 12px 40px;
}
.field-row select {
  background: #fcfcfc url("../images/drop-arow.svg") no-repeat scroll right center;
  padding: 11px 15px 10px 8px;
}

.add-another {
  border: 1px solid #b7d7ee;
  border-radius: 3px;
  float: right;
  font: 10px/10px "Sintony",sans-serif;
  margin: 10px 0 0;
  padding: 7px 8px 6px 29px;
  position: relative;
  color:#728898;
  cursor: pointer;
  display: inline-block;
}

.add-another::before {
  background: #e7f2f9 url("../images/blue-plus-icon.svg") repeat scroll center center;
  content: "";
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.employment-fields-cover.form-row {
  border-bottom: 1px solid #f5f5f5;
  float: left;
  padding: 20px 0;
}

.employment-fields-cover.form-row:last-child {border-bottom:none; padding-bottom: 0;}

.employment-fields-cover.form-row:first-child {padding-top: 0;}

h3.form-label-blue, .ui-accordion h3.ui-accordion-icons.form-label-blue {
  color: #2c2c2c;
  float: left;
  font: 600 15px/17px "Sintony",sans-serif;
  margin: 12px 0 0;
  padding: 0 0 13px;
  width: 100%;
}
.ui-accordion h3.ui-accordion-icons.form-label-blue {
  color: #2c2c2c;
  float: left;
  font: 600 15px/17px "Sintony",sans-serif;
  margin: 5px 0 10px;
  padding: 0 0 16px;
  width: 100%;
}


.form-section-row.open h3 {
  border-bottom: 1px solid #eee;
}

.form-section-row {
  float: left;
  margin: 20px 0 0;
  width: 100%;
}

.form-label-blue{position:relative;}

.open .form-label-blue::before {
  background: #e7f2f9 url("../images/blue-minus-icon.svg") repeat scroll center center;
  content: "";
  float: right;
  height: 25px;
  position: absolute;
  right: 0;
  width: 25px;
  cursor: pointer;
}

.form-label-blue.open::before{
  background: #e7f2f9 url("../images/blue-plus-icon.svg") repeat scroll center center;
}
.ui-accordion.form-accordion .ui-accordion-content {
  border-top: 0 none;
  overflow: auto;
  height:auto;

}
.ui-accordion-content .form-section {
  float: left;
  margin: 0 -35px 25px;
  width: 112%;
}
.create-profile-cover .field-row {
  margin: 5px 0;
}

.create-profile-cover .email-sign-up-strip {
  background: #f6fafb none repeat scroll 0 0;
  padding: 25px 30px;
  margin:25px 0 0 0;
}

.create-profile-cover .email-sign-up-strip h5 {
  font: 15px/22px "Sintony",sans-serif;
  margin: 0 0 10px;
}

.create-profile-cover .email-sign-up-strip h5 span {
  font: 700 15px/18px "Sintony",sans-serif;
}
.create-profile-cover .email-sign-up-strip input[type="text"] {
    max-height: 45px;
    float: left;
    padding: 14px 11px 14px 38px;
}

.create-profile-cover .email-sign-up-strip .blue-button {
  float: left;
  font: 600 11px/13px "Sintony",sans-serif;
  margin: 4px 0 0 -76px;
  padding: 11px 14px;
}
.create-profile-buttons {
  background: #f3f8fc none repeat scroll 0 0;
  bottom: 0;
  float: left;
  margin: 50px auto 0 auto;
  padding: 20px 0;
  position: static;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}
.create-profile-buttons.top-buttons {
  margin: 0 0 29px;
  padding: 8px 0;
}
.create-profile-buttons.top-buttons input[type="button"] , .create-profile-buttons.top-buttons input[type="submit"] {
  font: 600 12px/16px "Sintony",sans-serif;
  padding: 8px 10px;
}
.create-profile-buttons .create-profile-form {margin: 0 auto;;}

.create-profile-buttons input[type="button"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #a7ceea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #107bc7;
  font: 600 13px/18px "Sintony",sans-serif;
  margin: 0 2px;
  padding: 8px 15px;
  float: left;
}

/* help-section */

.help-section {
  float: left;
  min-height: 360px;
  padding: 27px 10px 20px;
  width: 100%;
}
.help-section h2 {
  color: #107bc7;
  font: 600 20px/20px "Sintony",sans-serif;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.help-section h4 { font: 14px/18px "Sintony",sans-serif; color: #444;}

.help-accordion h3.ui-accordion-header {
  border-bottom: 2px solid #ebf4fa;
  color: #202020;
  cursor: pointer;
  font: 600 14px/18px "Sintony",sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 10px 21px 10px 0;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ui-accordion h3.ui-accordion-icons {
  padding-left: 0;
}

.ui-accordion.help-accordion .ui-accordion-content {
  border-top: 0 none;
  overflow: auto;
  padding: 5px 0;
}

.ui-accordion h3.ui-accordion-icons {
  padding-left: 0;
}
.help-accordion h3.ui-state-active.ui-accordion-header {
  border: medium none;
}
.help-accordion h3::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-drop-down-arrow.svg") no-repeat scroll 0 0;
  content: "";
  height: 15px;
  position: absolute;
  right: 0;
  width: 20px;
}
.help-accordion  h3.ui-state-active::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-drop-up-arrow.svg") no-repeat scroll 0 0;
}

.help-accordion p {
  color: #626262;
  font: 12px/17px "Sintony",sans-serif;
  margin: 12px 0 18px;
  text-align: left;
  text-decoration: none;
}

/* help-section ends*


/*suscribe-membership starts*/

.suscribe-membership {
  float: left;
  padding: 5px 0 30px;
  text-align: center;
  width: 100%;
}
.suscribe-membership h2 {
  color: #343434;
  font: 600 20px/29px "Sintony",sans-serif;
  margin: 40px 0 0;
}

.suscribe-membership h4 {
  color: #777;
  font: 600 13px/18px "Sintony",sans-serif;
  margin: 0;
}

.suscribe-membership p {
  color: #107bc7;
  font: 12px/18px "Sintony",sans-serif;
  margin: 15px 0 0;
}
.suscribe-membership p {
  color: #343434;
  font: 13px/19px "Sintony",sans-serif;
  margin: 15px 0 0;
}

.suscribe-membership .light-blue-border-button {
  display: inline-block;
  font: 600 13px/19px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 6px 13px;
  width: auto;
}

/*suscribe-membership end*/

/*copy-right-strip*/

.copy-right-strip {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid #ddd;
  color: #777a7a;
  font: 14px/40px "Sintony",sans-serif;
  margin: 0;
  padding: 20px 0;
}

.copy-right-strip .container-fluid {padding: 0 25px;}

/*copy-right-strip*/


/*view-profile-cover*/

.view-profile-cover {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.view-profile-cover .scroll-cover {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    float: left;
    height: 755px;
    max-height: 900px;
    overflow-y: auto;
    padding: 0 95px;
    width: 100%;
}

.view-profile-single-section {position: relative;}

.left-side-info-box {
  float: left;
  margin:0 0 15px 0;
  padding: 0 30px;
  width: 100%;
}
.left-side-info-row {
  border-bottom: 1px solid #f6f5f5;
  border-top: 1px solid #f6f5f5;
  float: left;
  padding: 3px 0;
  width: 100%;
}

.left-side-info-row.address-block {border-top: none;}

.left-side-info-col {
  border-right: 1px solid #eee;
  float: left;
  padding: 8px 0;
  width: 50%;
}

.view-the-company {
  float: left;
  padding: 0 20px;
  width: 100%;
}

.view-the-company-link {
  border: 1px solid #deebf4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  font: 600 13px/16px "Sintony",sans-serif;
  margin: 15px 0 0;
  padding: 14px 8px;
  text-align: center;
  width: 100%;
}

.view-the-company-link i {
  background: rgba(0, 0, 0, 0) url("../images/blue-arrow.svg") repeat scroll 0 0;
  float: right;
  height: 13px;
  margin: 0 5px 0 0;
  width: 22px;
}
.left-side-info-col:last-child {
  border-right: medium none;
  padding-left: 15px;
}

.left-side-info-col span {
  color: #5e5e5e;
  float: left;
  font: 12px/10px "Sintony",sans-serif;
  width: 100%;
}

.left-side-info-col label {
  color: #137dc8;
  font: 15px/16px "Sintony",sans-serif;
  margin: 0;
}

.left-side-info-box h3 {
  color: #2c2c2c;
  float: left;
  font: 600 16px/17px "Sintony",sans-serif;
  margin: 12px 0 0;
  padding: 0 0 13px;
  width: 100%;
}

.overview-cover{width: 100%; float: left; margin:50px 0 0 0; }

.action-cover {
  float: right;
  height: auto;
}
.company-logo-cover {
  border: 1px solid #d9d9d9;
  float: left;
  height: 200px;
  margin: 0 31px 20px 0;
  padding: 15px;
  width: 200px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:  0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow:  0 2px 5px rgba(0, 0, 0, 0.1);
  }

.action-cover .edit-button, .action-cover .delete-button {
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #333;
  float: left;
  font: 11px/11px "Sintony",sans-serif;
  height: auto;
  margin: 0 0 0 15px;
  opacity: 0.8;
  padding: 5px 10px 5px 25px;
  position: static;
  width: auto;
  z-index: 999;
}

.edit-button {
  background: rgba(0, 0, 0, 0) url("../images/edit.svg") no-repeat scroll 9px center;
}

.delete-button{ background: rgba(0, 0, 0, 0) url("../images/delete.svg") no-repeat scroll 9px center; cursor: pointer;}

.edit-button:hover, .delete-button:hover {opacity: 0.5;}

.view-profile-cover-inner {
  float: left;
  padding: 0;
  width: 100%;
}

.profile-introduction h2 {
  color: #222;
  font: 600 25px/25px "Sintony",sans-serif;
  margin: 0 0 5px;
}

.profile-introduction h4 {
  color: #222;
  font: 15px/25px "Sintony",sans-serif;
  margin: 0 0 5px;
}

.profile-introduction .rate {
  color: #222;
  float: right;
  font: 600 27px/25px "Sintony",sans-serif;
  margin: 60px 0 0;
  text-align: right;
}

p.location {
  background: rgba(0, 0, 0, 0) url("../images/location-pin.svg") no-repeat scroll left top;
  color: #7f7f7f;
  font: 12px/15px "Sintony",sans-serif;
  margin: 10px 0 15px;
  padding: 0 0 0 20px;
}

.skills-cover {
  width: 100%;
  float: left;
  padding: 20px 0 10px 0;
  border-top: 2px solid #edf4fa;
}

.skills-cover ul{margin: 0; padding: 0;}

.skills-cover span.skill {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #c1daef;
  border-radius: 15px;
  color: #107bc7;
  float: left;
  float: left;
  font: 600 11px/16px "Sintony",sans-serif;
  margin: 3px 2px;
  padding: 7px 13px;
  }

.skills-cover a.more {color: #98abb9; text-decoration: underline;   font: 600 11px/25px "Sintony",sans-serif; float: left; padding: 7px 13px;}

.description {float: left; width: 100%; padding: 5px 0;}

.description p {
  color: #7f7f7f;
  font: italic 13px/20px "Sintony",sans-serif;
  margin: 5px 0 10px;
  padding: 0;
}

.clients-comments-cover {
  float: left;
  margin: 25px 0;
  width: 100%;
}

.client-comment {
  background: #f3f8fc none repeat scroll 0 0;
  float: left;
  margin: 5px;
  padding: 15px 20px;
}

.star-ratings {
  float: left;
  line-height: 0;
  margin: 1px 0 5px;
  padding: 5px 0;
  width: 100%;
}

.client-comment > h3 {
  font: 600 15px/23px "Sintony",sans-serif;
  margin:  0;
}

.comment-img {width: 50px; height: 50px ; overflow: hidden; float: left;}

.comment-img img {
  width: 50px;
  height: 50px ;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
 }

 .comment-text {
   float: left;
   margin: 5px 0 0 10px;
   width: 80%;
 }

 .comment-text p {
   font: 13px/20px "Sintony",sans-serif;
   margin: 0;
 }

 .comment-text p .read-more {  font: 13px/20px "Sintony",sans-serif; color: #389be3;}

 .load-more-cover {
   float: left;
   margin: 30px 0;
   text-align: center;
   width: 100%;
 }

 .load-more-cover a {
  border: 2px solid #deebf4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #107bc7;
  display: inline-block;
  font: 11px/23px "Sintony",sans-serif;
  padding: 4px 7px;
  width: 115px;
 }


 .view-profile-links ul {
   float: left;
   list-style: outside none none;
   margin: 0;
   padding: 0;
   width: 100%;
 }

 .view-profile-links ul li {
   border-bottom: 1px solid #eee;
   font: 600 14px/14px "Sintony",sans-serif;
   padding: 0 0 0 30px;
   position: relative;
 }

 .view-profile-links ul li.active {
   background: #fafdff none repeat scroll 0 0;
 }
 .view-profile-links ul li a.certifications {
   background: rgba(0, 0, 0, 0) url("../images/certification.svg") no-repeat scroll center left;
 }

 .view-profile-links ul li a.employement-history {
   background: rgba(0, 0, 0, 0) url("../images/employment-history.svg") no-repeat scroll center left;
 }

 .view-profile-links ul li a.portfolio {
   background: rgba(0, 0, 0, 0) url("../images/portfolio-icon.svg") no-repeat scroll center left;
 }

 .view-profile-links ul li a.overview {
   background: rgba(0, 0, 0, 0) url("../images/over-view.svg") no-repeat scroll center left;
 }
 .zoom-anim-dialog .field-row button {
   font: 500 12px/12px "Rubik",sans-serif;
   padding: 11px 7px;
 }
 .view-profile-links ul li.active::before {
  background: #137dc8 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  float: left;
  height: 65px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 4px;
}
.view-profile-links ul li a {
  color: #333;
  display: inline-block;
  margin: 0;
  padding: 25px 0 25px 40px;
  width: 100%;
}
 .portfolio-cover, .employement-history-cover, .certifications-cover {
   float: left;
   padding: 0;
   width: 100%;
 }

 .portfolio-single-cover, .employement-history-single, .certifications-cover-single {
   border-bottom: 2px solid #edf4fa;
   float: left;
   margin: 0;
   padding: 25px 0 25px 35px;
   width: 100%;
 }

.portfolio-single-cover:last-child, .certifications-cover-single:last-child, .employement-history-single:last-child {border: none;}

.view-profile-single-section-header {
    border-bottom: 2px solid #edf4fa;
    float: left;
    padding: 5px 0;
    width: 100%;
    margin: 20px 0 0 0;
  }

  .view-profile-single-section-header h2 {
    float: left;
    font: 600 17px/20px "Sintony",sans-serif;
  }

.view-profile-single-section-header span.add-another {margin: 0 0 5px 0;}


.view-profile-single-section-nocontent {
  background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;
  float: left;
  margin: 25px 0 0;
  padding: 35px 0;
  text-align: center;
  width: 100%;
}

.view-profile-single-section-nocontent p {
  font: 14px/20px "Sintony",sans-serif;
  margin: 10px 0 15px;
}

.view-profile-single-section-nocontent a {
  border: 2px solid #deebf4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #107bc7;
  display: inline-block;
  font: 11px/23px "Sintony",sans-serif;
   margin: 0 0 0 18px;
   padding: 2px 7px 2px 20px;
   position: relative;
   width: 115px;
}

.view-profile-single-section-nocontent a::before {
  background: #e7f2f9 url("../images/blue-plus-icon.svg") no-repeat scroll center center;
  content: "";
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}
.sub-heading-arows {
  float: left;
  font: 600 14px/15px "Sintony",sans-serif;
  padding: 0;
  position: relative;
  width: 100%;
}


 .sub-heading-arows::before {
   background: rgba(0, 0, 0, 0) url("../images/blue-arrow.svg") repeat scroll 0 0;
   content: "";
   float: left;
   height: 13px;
   left: -32px;
   position: absolute;
   right: 0;
   top: 0;
   width: 22px;
   z-index: 999;
 }

 .portfolio-single-cover .skills, .employement-history-single .role {
   color: #137dc8;
   float: left;
   font: 12px/13px "Sintony",sans-serif;
   margin: 0;
   width: 100%;
 }
 .portfolio-single-cover .description,  .employement-history-single .description  {
   color: #666;
   font: 12px/20px "Sintony",sans-serif;
   margin: 10px 0;
 }

 .portfolio-single-cover .portfolio-link {
   background: rgba(0, 0, 0, 0) url("../images/link-icon.svg") no-repeat scroll left center;
   color: #8297a6;
   display: inline-block;
   font: 13px/19px "Sintony",sans-serif;
   margin: 5px 0 0;
   padding: 0 0 0 20px;
 }

.portfolio-image-cover, .certifications-image-cover {
  float: left;
  margin: 15px 0 0;
  width: 100%;
}

.certifications-cover-single p {
  color: #137dc8;
  float: left;
  font: 12px/13px "Sintony",sans-serif;
  width: 100%;
}

.portfolio-image-cover .portfolio-image, .certifications-image-cover .certification-image {
  float: left;
  margin: 0 10px 0 0;
  max-width: 235px;
  width: 33%;
}

.portfolio-image-cover .portfolio-image a, .certifications-image-cover .certification-image a {display: inline-block;}

.portfolio-image-cover .portfolio-image img, .certifications-image-cover .certification-image img {display: inline-block; border: 1px solid #eee;}

.duration-cover {width: 100%; float: left; margin: 15px 0 0 0; font: 12px/13px "Sintony",sans-serif;}

.duration-cover .date {
  background: rgba(0, 0, 0, 0) url("../images/blue-calander.svg") no-repeat scroll 0 0 / 15px auto;
  display: inline-block;
  font: 600 12px/12px "Sintony",sans-serif;
  margin: 0;
  padding: 3px 0 0 21px;
}

.duration-cover .to {
  color: #77797b;
  margin: 0 10px;
  text-align: center;
}

/*view-profile-cover*/


@media (min-width:1025px) and  (max-width:1180px)  {

.profile-image {
    height: 160px;
    width: 160px;
  }

.create-profile-cover .left-coll, .create-profile-cover .right-col {
    float: left;
    max-width: 268px;
    width: 22%;
  }

.create-profile-form-actions li a {
  color: #555;
  padding: 15px 5px 18px 43px;
  position: relative;
}

.ui-tabs .create-profile-form-actions li a::before {
  background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0 / 100% auto;
  height: 25px;
  width: 25px;
}

.ui-tabs .create-profile-form-actions li.ui-state-active a::before {
    background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0/ 100% auto;
}

.create-profile-form-actions li.ui-state-active a::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0 / 100% auto;
}

.grey-title-bar h4 {
  font: 15px/15px "Sintony",sans-serif;
  padding: 20px 0;
}

.grey-title-bar h4 span {
  font: 600 15px/15px "Sintony",sans-serif;
}

.create-profile-form-actions li {
  background: rgba(0, 0, 0, 0) url("../images/divider-arrow.svg") no-repeat scroll right center;
  display: inline-block;
  font: 600 13px/13px "Sintony",sans-serif;
  padding: 4px 27px 5px 2px;
}



}

@media (max-width:1024px) {

.container-fluid, .container {min-width: 240px;}

.center-col{border: none;}

.profile-image-cover p {display: none;}

.language-selector {
      margin: 0 30px 0 0 !important;
  }

  .view-profile-cover .scroll-cover {
    border-left: medium none;
    border-right: medium none;
    height: 755px;
    max-height: 900px;
    overflow-y: auto;
    padding: 0 10px;
    width: 100%;
  }


.view-the-company-link { margin: 0 0 25px 0;}


/*view profile*/

.portfolio-image-cover .portfolio-image, .certifications-image-cover .certification-image {
  margin: 0 10px 0 0;
  width: 28%;
}

/*view profile*/

.profile-introduction .rate {
  margin: 10px 0 20px;
  text-align: left;
  float: left;
}

.scroll-cover {
    border:0;
    float: left;
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
}



.view-profile-links ul li a {
  border-bottom: 1px solid #eee;
  color: #333;
  display: inline-block;
  margin: 0 25px;
  padding: 25px 0 25px 35px;
  width: 85%;
}

.clone-close {
    background-color: #eee;
    bottom: 5px;
    height: 25px;
    position: absolute;
    right: 50px;
    width: 25px;
    z-index: 99;
  }

.profile-image-cover {
    padding: 40px 10px 0;
  }

  .profile-image-cover {
      padding: 40px 10px 0;
    }

  .create-company {
      margin: 0 0 35px 0;
  }

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
      padding: 15px 15px 15px 35px;
  }

  .ui-tabs .create-profile-form-actions li a::before {
      background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0 / 100% auto;
      height: 25px;
      width: 25px;
  }

  .ui-tabs .create-profile-form-actions li.ui-state-active a::before {
      background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0 / 100% auto;
  }

  ul.languages {
      top: 38px;
  }

  .create-profile-page nav {
    padding: 10px 20px 14px;
  }

  .profile-image {
    height: 160px;
    width: 160px;
  }

  .scroll-cover .form-step.ui-tabs-panel {
    padding: 20px 0 0;
}

.right-col .grey-title-bar{display: none;}

.ui-autocomplete-multiselect.ui-state-default { width: 100% !important;}

.grey-title-bar{min-height: 40px;}

.grey-title-bar h4 {
    font: 18px/37px "Sintony",sans-serif;
    padding: 4px 0 0 0;
    text-align: center;
}

.create-profile-cover .left-coll, .create-profile-cover .right-col {
  max-width: 100%;
  width: 100%;
}
.center-col {
  height: 100%;
  position: relative;
  width: 100%;
}
.create-profile-form {
  max-width: 100%;
  position: relative;
}

.create-profile-form-actions li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  font: 600 14px/14px "Sintony",sans-serif;
  padding: 8px 50px;
  width: 100%;
}

.create-profile-form-actions li:last-child {border: none;}

.create-profile-form-actions li a {
  padding: 17px 15px 17px 47px;
  text-align: left;
  width: 100%;
}

.create-profile-cover .email-sign-up-strip input[type="text"] {max-width: 100%;}

.create-profile-form {
  margin: 0 auto;
  padding: 0 25px;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 3px 0 3px 25px;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li:last-child {border: none;}

.view-profile-cover-inner {
  padding: 0 15px 20px;
}
.form-step {
  padding: 0;
}

}

@media (min-width:1181px) and (max-width:1480px) {

.create-profile-cover .left-coll, .create-profile-cover .right-col {
    max-width: 360px;
    width: 24%;
  }
 .center-col {
    width: 52%;
  }
  .ui-tabs .create-profile-form-actions.ui-tabs-nav li {
    font: 600 13px/14px "Sintony",sans-serif;
    padding: 0 16px 0 7px;
  }

  .grey-title-bar h4 {
    font: 15px/15px "Sintony",sans-serif;
    padding: 16px 0 16px 18px;
  }

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
  font: 600 13px/14px "Sintony",sans-serif;
  padding: 0 25px 0 10px;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
  color: #555;
  padding: 17px 15px 16px 45px;
}

.grey-title-bar h4 span {
  font: 600 15px/15px "Sintony",sans-serif;
}
}

@media (min-width:1024px) and (max-width:1180px) {

  .profile-image-actions a {
    margin: 5px 0;
    padding: 7px 10px;
    width: 100%;
  }
  .language-selector {
    margin: 0 30px 0 0;
  }
  .profile-image-cover p {
    display: inline-block;
    margin: 0;
  }

  .create-profile-cover .left-coll, .create-profile-cover .right-col {
    max-width: 23%;
    width: 23%;
  }

.grey-title-bar h4 {
  font: 15px/15px "Sintony",sans-serif;
  padding: 15px 30px;
}

.center-col {
  width: 54%;
}

.ui-tabs .create-profile-form-actions.ui-tabs-nav li {
  font: 600 12px/14px "Sintony",sans-serif;
  padding: 0 22px 0 0;
}

}

@media (min-width:1024px) and (max-width:1080px) {

  .grey-title-bar h4 {
    font: 15px/15px "Sintony",sans-serif;
    padding: 16px 30px;
  }
  }

@media (min-width:640px) and (max-width:1024px) {

  .ui-tabs .create-profile-form-actions.ui-tabs-nav li {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      padding: 0 0 0 20px;
      min-width: 24%;
      border: none;
      width: auto;
  }


}


@media (max-width:768px) {
.create-profile-form .grid-50.padding-left-10, .create-profile-form .grid-50.padding-right-10 {padding: 10px 0;}
}


@media (min-width:1024px) and (max-width:1280px) {

.ui-tabs .create-profile-form-actions.ui-tabs-nav li a {
  color: #555;
  display: inline-block;
  padding: 15px 8px 15px 28px;
  position: relative;
}

.ui-tabs .create-profile-form-actions li a::before {
  background: rgba(0, 0, 0, 0) url("../images/grey-tick-icon.svg") no-repeat scroll 0 0 / 100% auto;
  height: 25px;
  width: 25px;
}
.ui-tabs .create-profile-form-actions li.ui-state-active a::before {
  background: rgba(0, 0, 0, 0) url("../images/blue-tick-icon.svg") repeat scroll 0 0 / 100% auto;
}


}


@media (max-width:768px) {

.create-profile-page ul.nav.navbar-nav, .create-profile-page .language-selector {
  float: right;
  margin: 0;
  width: 100%;
}

.inline-cover.radio {
  display: inline-block;
  margin: 18px 0;
}

.help-section {
  min-height: auto;
  padding: 40px 20px;
}

.profile-image-cover p{display: none;}

.profile-image-cover {
    padding: 26px 10px 0px 10px;
    width: 100%;
}

.language-selector {
      margin: 0 !important;
  }

.profile-image-cover p{display: none;}

}
.ui-autocomplete-multiselect.ui-state-default { width: 100% !important;}
