/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.wrapper {
    margin: 0 auto !important;
    width: 100% !important;
}
#myAutocomplete {
    width: 100%;
	float:left;
}

.ui-autocomplete-multiselect.ui-state-default {
  background: #fbfbfb none repeat scroll 0 0;
  border: 1px solid #ccc;
  cursor: text;
  display: block;
  min-height: 48px;
  overflow: hidden;
  padding: 8px;
  width: 100%;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
    float: right;
    cursor: pointer;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-radius: 4px;
	color: #333;
	display: inline-block;
	float: left;
	font: 600 11px/8px "Sintony",sans-serif;
	height: 28px;
	margin-bottom: 3px;
	margin-right: 2px;
	padding: 10px 8px 10px 10px;
	border:1px solid #ccc;
}

.ui-menu-item-wrapper.ui-state-active{border: none; color: #222; font-weight: 100;}


.ui-autocomplete-multiselect input {
    display: inline-block;
    border: none;
    outline: none;
    height: auto;
    margin: 2px;
    overflow: visible;
    margin-bottom: 5px;
    text-align: left;
}

.ui-autocomplete {

  background:#fff;
  padding:5px 10px!important;
  margin:150px 0 0 0;
  width:auto;
  max-width: 150px;
  border: 1px solid #ccc;
  top:25px;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }

  .ui-autocomplete li.ui-menu-item {
    border-bottom: 1px solid #eee;
    color: #333;
    display: inline-block;
    font: 11px/8px "Sintony",sans-serif;
    margin: 0;
    padding: 10px 0;
  }

.ui-autocomplete li:hover, .ui-autocomplete li:active, .ui-autocomplete li:focus{padding:10px 0 !important;}

.ui-autocomplete li:last-child {border-bottom: none;}

.ui-autocomplete li a {color: #333; padding:2px 5px !important;  margin:0 !important;}

.ui-autocomplete li a:hover {color: #333; padding:2px 5px !important; margin:0 !important;}


.ui-autocomplete-multiselect.ui-state-active {
  background: #fbfbfb none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075) inset;
  color: #505050;
  font: 14px/18px "Sintony",sans-serif;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.ui-helper-hidden-accessible {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
a, a:hover{
    text-decoration: none;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



