 {% load static %}
 {% load create_array %}
{% if queryset %}
{% for notifications in queryset %}


    <div class="notification-cover {% if notifications.status == '1' %} unread {% endif %}">
        <div class="notification-img-outer">
            <div class="notification-img round-cover">{% if request.user.user_type.type == 'FREELANCER' %}{% if  notifications.created_by.user_detail.get.profile %}<img src="{{notifications.created_by.user_detail.get.profile.url }}" alt="">{% else %} <img src="{% static 'images/no-image.svg'%}" alt="">{% endif %}{% else %} {% if notifications.created_by.client_user_detail.get.profile %}<img src="{{notifications.created_by.client_user_detail.get.profile.url }}" alt=""> {% else %} <img src="{% static 'images/no-image.svg'%}" alt="">{% endif %}{% endif %}</div>
        </div>
        <a href="{% if notifications.url  %}{{notifications.url }}{% endif %}" >
        <div class="notification-text-cover">
            <!--<a href="{% if notifications.url  %}{{notifications.url }}{% endif %}" class="more-button"></a>-->
            <p><span>{{ notifications.created_by.first_name }} {{ notifications.created_by.last_name }}</span> {{ notifications.title}}</p>
            <label class="notification-date"><i></i>{{ notifications.created_date}}</label>
        </div>
            </a>
    </div>
          {% empty %}
            <div class="view-profile-single-section-nocontent">
              <p>No Content to show ..</p>
            </div>
{% endfor %}

{% endif %}
 {% if page_obj.has_previous or  page_obj.has_next %}
            <div class="pagination-cover hide">
		<ul class="pagination">
         <!--{% if page_obj.has_previous %}-->
        <!--<li  data-attr="{{ page_obj.previous_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="prev paginate_by"> <a>Prev</a></li>-->
        <!--{% else %}-->
         <!--<li class="visited"><a>Prev</a></li>-->
        <!--{% endif %}-->




        <!--</li>-->
        {% if page_obj.has_next %}
        <li  data-attr="{{ page_obj.next_page_number }}" data-method="Search_autocomplete" data-search="freelancer_search" class="nex paginate_by"><a>Next</a> </li>
      {% else %}
        <li class="visited"><a>Next</a></li>
      {% endif %}

    </ul>
</div>

 {% endif %}
